[2020-10-06 00:10] g-luo commented on #606
Another question: why does running mmf_run show a counter that's lower than the size of my total test set? ie running `MMF_USER_DIR="." mmf_run config=./configs/text_foil_experiment_config.yaml \
        model=unimodal_text \
        dataset=foil \
        run_type=test \
        checkpoint.resume_file="./save/unimodal_text_final.pth" \
        checkpoint.resume_pretrained=False` shows x / the 621

[2020-10-06 00:38] apsdehal commented on #610
Hi,
Did you try passing:

[code]
?

[2020-10-06 01:52] yangapku commented on #594
Thank you very much! May I ask how long are the training process expected to take? I just began training and found it will take around 8 days in total to train 13 epochs on my server (8GPUs with 16GB memory each, use batch-size=32 and update_frequency=2).

[2020-10-06 03:54] #600 closed

[2020-10-06 04:00] #582 closed

[2020-10-06 19:39] jiany-ctrl opened #611 "AssertionError: Checksum of downloaded file does not match the expected checksum."
## ❓ Questions and Help

When I run command : mmf_convert_hm --zip_file /content/hm.zip --password *******

Getting checksum error while trying to run baseline for hateful memes dataset: AssertionError: Checksum of downloaded file does not match the expected checksum. Please try again.

Similar issue with closed #478 . In #478 , one comment said add --bypass_checksum and rerun, but after I run the

[2020-10-06 20:02] apsdehal commented on #611
Hi, Please use `--bypass_checksum=1`

[2020-10-06 20:24] jiany-ctrl commented on #611
Thanks for your quick response. I have another question here:

I just follow this mmf_hm_example.ipynb from Google Colab and there is an error indicating the dataset I builded was not a registered dataset builder. Can you please help me solve this problem? Thanks
![Screenshot from 2020-10-06 15-23-32](https://user-images.githubusercontent.com/72469440/95256061-ea9e1300-07e7-11eb-82a1-ce254934edc9.

[2020-10-06 20:31] apsdehal commented on #611
Please try to reload your runtime and try again. There are notes in the colab to troubleshoot the issues.

[2020-10-06 21:24] #611 closed

[2020-10-07 07:10] apsdehal commented on #606
Yes, you are right. The counter is specifically for the number of batches.

[2020-10-07 13:29] SwatiTiwarii opened #612 "Not able to build dataset for hateful memes"
## ❓ Questions and Help
Hi I am following steps present here :
https://medium.com/pytorch/bootstrapping-a-multimodal-project-using-mmf-a-pytorch-powered-multimodal-framework-464f75164af7

I have setup a Linux subsystem inside windows .
And I am able to download and convert dataset
![tempsnip](https://user-images.githubusercontent.com/46405184/95336846-c2d5aa80-08ce-11eb-8beb-6a2cd2e5cbd6.png)

Aft

[2020-10-07 14:42] aggiejiang commented on #590
It works after upgrading the torch version to 1.6.0+cu101. Thanks a lot!

[2020-10-07 15:19] aggiejiang opened #613 "failed convertion from .npy to .lmdb"
## ❓ Questions and Help

I plan to use a new dataset for visual-bert in mmf. After running extract_features_vmb.py, I got a folder with .npy files and _info.npy files extracted from my image dataset.

However, when I run lmdb_conversion.py, it seems no code error in the result. But the two mdb files (data.mdb and lock.mdb) seems empty.

The result sheet
[code]

My command for this file is
[code]

[2020-10-07 16:37] apsdehal commented on #601
Hi,
There is no concept of accuracy of description or confidence in captioning. You can take out probability of each word generated, all of which you will need to multiply to generate total probability. But this will decrease with longer sequences and doesn't make sense to calculate because the model is trained with teacher forcing and technically only cares about Markov Chain of 2nd order. So, ov

[2020-10-07 16:38] apsdehal commented on #601
Another point to be noted is that when there is a ground truth available for the caption, you can use generation metrics such as BLUE, METEOR and others to estimate how good of that generated description, but without ground truth at inference time this is not possible.

[2020-10-07 17:19] vedanuj commented on #613
Did the conversion complete? From the result it seems only 36 files were converted.

[2020-10-07 17:32] aggiejiang commented on #613
@vedanuj not yet. It stopped after that. I have no idea what happened. That's all result of 36 files processing I got after running the script.

[2020-10-07 17:35] vedanuj commented on #613
Did you try it again and did it fail at the same point? If so maybe there is some issue with particular file. You can try adding a try/catch block and check which file is causing the issue.

[2020-10-07 17:42] aggiejiang commented on #613
Okay. Thanks. I will have a try to figure out it as suggested and see what happen then. keep updating.

[2020-10-07 20:26] ajandrey commented on #601
Yes, I thought that would be the answer, but I wanted confirmation from you.
Thank you very much. It helped me a lot, thanks!

Should I close this issue or leave it open because of the demo captioning?

[2020-10-07 20:33] apsdehal commented on #601
No problem. Let's keep it open so that it is tracked.

[2020-10-08 05:14] apsdehal commented on #612
Hi,
To run MMF in interactive mode you need to also run `setup_imports`
Call this before running anything else:
[code]

[2020-10-08 06:32] apsdehal commented on #607
Hi,
The LXMERT pretrained weights haven't been uploaded as of now. But, there is a PR #561 that plans to fix it but is incomplete. The original LXMERT repo's weights won't match directly with what we have in MMF so it may not work out of the box. @vedanuj can help you in getting the correct weights, so I would wait on a response from him.

[2020-10-08 07:58] #594 closed

[2020-10-08 08:41] ChenyuGAO-CS opened #617 "Questions about VisualBert models"
## ❓ Questions and Help
Hi,
   I found there are several models' links in [models.yaml](https://github.com/facebookresearch/mmf/blob/master/mmf/configs/zoo/models.yaml), which one corresponds to the Task-specific Pre-training (on VQA 2.0) model of VisualBert, ie, after COCO pretrain and then VQA pretrain? Is there an accuracy report of three versions of VisualBert on VQA 2.0 under MMF?
1. COCO pre

[2020-10-08 09:01] NohTow commented on #607
Oh okay, that explains why loading my own trained weights is working but not LXMERT's original repo weights.
I'll look into the PR you mentionned and also wait for additionnal information from @vedanuj.

Thank you very much !

[2020-10-08 15:55] aggiejiang commented on #613
Is it correct that the output has nothing? (no error either any progress bar). I allocate larger memory to it and got this result. But I am not sure it finished the whole conversion. So I try to use this into MMF model as follows
[code]
I just try to put it into visual_bert and changed all data files.

got an error ---- KeyError: b'63859'

Does it seem some images are missing?

[2020-10-08 17:46] apsdehal commented on #617
Hi,
We didn't do task specific pretraining on VisualBERT for our paper https://arxiv.org/abs/2004.08744 as our experiments suggested it wasn't as beneficial as the time required to do it. But, you can do it on your own in MMF.

- Use MaskedCOCO to pretrain on COCO first
- Use MaskedVQA2 to pretrain on VQA2
- Finally, use VQA2 to finetune.

[2020-10-08 17:47] apsdehal commented on #617
in the model zoo, we have
- COCO pretrained model
- VQA2 pretrained model
- VQA2 finetuned from coco pretrained
- VQA2 finetuned from VQA2 pretrained

[2020-10-08 20:45] vedanuj commented on #613
Yes it seems those files are missing in the lmdb and hence the conversion isn't completed properly. You can also try to use the .npy files directly. Just point to the folder which contains those files in your config. lmdb is not a necessary requirement.

[2020-10-09 04:32] SwatiTiwarii commented on #612
thanks it worked.

[2020-10-09 04:32] #612 closed

[2020-10-09 15:58] rizavelioglu commented on #590
Hi @apsdehal,
I followed the steps you provided but still no result.

First, I ran the following bash script:
[code]

<details>
<summary><b><i>Then I had the following error:</i></b></summary>

[code]
</details>

---
Then I installed latest versions of `torch` and `torchvision` for `CUDA 10.01`:
[code]
and re-built vqa-maskrcnn-benchmark.

<details>
<summary><b><i>But then after running the extrac

[2020-10-09 20:22] vedanuj commented on #590
Can you share the details of your environment? It seems the installation cannot find GPUs.

[2020-10-10 21:37] aggiejiang commented on #613
Alright. I will try that. Thanks for your help!

[2020-10-11 08:01] g-luo opened #621 "Finetune Visual Bert pertained on COCO on VQA2"
Hello! I'm trying to fine-tune visual bert on VQA2, but I'm getting this error: "Key input_ids not found in the SampleList"
![Screen Shot 2020-10-11 at 12 57 17 AM](https://user-images.githubusercontent.com/36020488/95673402-fcbbe080-0b5c-11eb-84bd-4171b02450fc.png)

Here are my config files:
[Archive.zip](https://github.com/facebookresearch/mmf/files/5360745/Archive.zip)

I was running the comman

[2020-10-11 08:01] #606 closed

[2020-10-11 14:44] yangapku commented on #574
Hi, I met the same problem. The strange thing is that the problem does not happen on a local GPU server but occurs on the cluster.

[2020-10-11 22:49] vedanuj commented on #621
Hi can you paste a detailed error log?

[2020-10-11 22:54] g-luo commented on #621
![Uploading Screen Shot 2020-10-11 at 3.54.07 PM.png…]()

[2020-10-11 23:42] violetteshev commented on #574
I confirm, it only happens on the cluster. So that's what I noticed. When running on 4 x Tesla V100-SXM2-32GB (cuda 9.2.148, nvidia driver 410.48) total memory consumption is about 250 GB and it keeps growing during training. When training on 4 x Tesla M40-24GB (cuda 9.2.148, nvidia driver 396.44) the total memory is just 20-30 GB, and with num_workers=0 it fluctuates but doesn't exceed 30GB.

[2020-10-12 02:27] #566 closed

[2020-10-12 03:26] vedanuj commented on #607
Hello @NohTow , we do not have pertrained LXMERT model weights yet for mmf. As mentioned above, PR #561 has some pretrained models but that will require some work to make sure all the models are compatible. I will wait for a response from the author of the PR.

[2020-10-12 03:29] vedanuj commented on #621
You will need to override the `text_processor` to use `type: bert_tokenizer`. I can see you are doing that already in your configs. Make sure the indentations in the yaml file are proper and try again.

[2020-10-12 04:27] g-luo commented on #621
Thanks so much! My issue was that I was missing

[code]

What is the difference between the processors defined in the dataset config vs the actual train_val config? It it that fields in the dataset config are using when MMF is building the database vs things in the train_val config are using in the training itself?

[2020-10-12 23:04] g-luo commented on #621
@vedanuj I was also wondering if I could return bounding box info from VisualBERT on VQA2? I was looking through previous issues and it looks like if I add the following to the config it will work; could you confirm?

[code]

Thanks!

[2020-10-12 23:06] vedanuj commented on #621
@g-luo Processors defined in the dataset config are the default ones. You can override them in your train/experiment config.

For bounding box yes you can use `transformer_bbox_processor`. You can check the implementation of the processor to make sure that is the information you need in your model.

[2020-10-12 23:08] g-luo commented on #621
For bounding boxes, is there a function within the model we can use to see what is generated? Or can we only find them by querying the Dataset object for that data point?

[2020-10-13 08:52] guanyuhang8866 commented on #590
I had the same problem，and this is the information when i install  vqa-maskrcnn-benchmark:

running develop
running egg_info
writing maskrcnn_benchmark.egg-info/PKG-INFO
writing dependency_links to maskrcnn_benchmark.egg-info/dependency_links.txt
writing top-level names to maskrcnn_benchmark.egg-info/top_level.txt
reading manifest file 'maskrcnn_benchmark.egg-info/SOURCES.txt'
writing manifest fil

[2020-10-13 14:10] guanyuhang8866 commented on #584
here has a [queation](https://github.com/facebookresearch/mmf/issues/590) about how to create lmdb file,would you please answer us?

[2020-10-13 16:39] adeelahmad-co commented on #67
Go and change runtime to GPU then restart

[2020-10-13 21:40] g-luo commented on #621
@vedanuj I also had a question about the pretraining process--is it possible to reduce the amount of files generated in the "save" folder? I noticed that the "models" folder inside takes up a few GB, and it would be nice if MMF could not generate the folder and just output the best ckpt.

[2020-10-14 02:19] yangapku opened #626 "Training the movie+mcan model using the default config cannot reproduce the reported test-dev score on VQA."
## ❓ Questions and Help
Hi, I have trained a movie+mcan model on my own server using the default config yaml (batchsize=32, update_frequency=2, step=236000). Now I have many checkpoints which are saved every 1k steps. May I ask which one among them should be picked for inference and achieve better performance compared with others according to your experience? Will the movie_mcan_final.pth just be

[2020-10-14 02:23] apsdehal commented on #621
@g-luo You can set `checkpoint.max_to_keep` option to a lower number like 2 to only keep 2 maximum checkpoint at a particular time. https://github.com/facebookresearch/mmf/blob/master/mmf/configs/defaults.yaml#L273

[2020-10-14 03:11] vedanuj commented on #626
For the movie+mcan submission to VQA Challenge we picked the last checkpoint. You can also use the `movie_mcan_final.pth`.

[2020-10-14 05:48] gaotongxiao opened #627 "Running out of memory when training Lorra on VQA"
## ❓ Questions and Help
Hi,

I tried to retrain LORRA on VQA v2.0 with the provided configuration:

[code]

However, just after 1000 training steps and as the evaluation begins, the program gets killed since it allocates more than 230GB of memory, which is not affordable on my server. I turned off the evaluation but the program still explodes at some time between the first 1k~2k steps. I wondered

[2020-10-14 05:51] apsdehal commented on #627
Hi,
I would suggest running with `training.num_workers=0` if you are facing problems with memory. This would be slow but it should still work.

[2020-10-14 08:32] yangapku commented on #626
@vedanuj  Hi, I used the generated movie_mcan_final.pth checkpoint for inference. However, the test-dev score is much lower than expected (test-dev "yes/no": 86.96, "number": 56.23, "other": 62.52, "overall": 71.87). Can you help to figure out where the problem is? Thank you!

[2020-10-14 08:37] yangapku commented on #626
The training config: [link](https://yangan.oss-cn-beijing.aliyuncs.com/mmf_checkpoint/rerun_bs32_uf2_fixbug_seed16304007-16310113/config.yaml).

[2020-10-14 13:27] gaotongxiao commented on #627
Sorry but I forgot to mention that `training.num_workers` has been set to 0. That's why I felt surprised by the memory requirement.

[2020-10-14 19:04] apsdehal commented on #627
We will have to check this. We will get back to you.

[2020-10-14 23:53] g-luo commented on #621
@apsdehal Thanks! I had another question related to visual bert and its embeddings. I'm trying to run the pretrained model from the original Github repo for VisualBERT (https://github.com/uclanlp/visualbert), but I'm running into an issue where the embedding shape is incorrect somehow.

For context, the visual_embedding_dim: 1024 for their model. I was wondering if it may have something to do with

[2020-10-15 01:22] yangapku commented on #626
I also tried the last checkpoint (236000 steps), the performance is slightly better (test-dev yes/no: 87.16, number: 56.78, other: 63.01, overall: 72.25) but still not satisfying. Are there some implementation details I missed? Thank you very much!

[2020-10-15 02:11] vedanuj commented on #626
You are using batch_size=32 and update_frequency=2 and step=236000. You are essentially doing half the number of updates to the model since the max_updates=236000 which is kept constant as used with batch_size=64 in our original runs. You will need to double the number of steps or double your batch_size.

[2020-10-15 02:18] yangapku commented on #626
Thank you very much! Since the 16GB memory of my GPUs cannot hold batch_size=64, I think I should try to double the max_updates.

[2020-10-15 02:31] yangapku commented on #626
@vedanuj Hi, I noticed that in the implementation codes, it seems that the `num_updates` increases 1 when the batch passed `update_frequency` times. So does it mean the model essentially performed `max_updates` times of updates with "real batch size" `batch_size * update_frequency` rather than half of that?

[2020-10-15 02:48] vedanuj commented on #626
Sorry my bad! You are right. The number of epochs should be same irrespective of `update_frequency`. I will have to retrain and check why it is not giving the same result.

[2020-10-15 02:53] yangapku commented on #626
Okay, thank you very much! Look forward to the solution.

[2020-10-15 04:59] yangapku commented on #626
Hi, I notice that in the pull request #604, the `padded_feat` is actually created in the `read()` method of the reader but unused, where the unpadded `feat` is directly returned. Applying the fix during inference indeed helped us to reproduce the result of the provided checkpoint in the model zoo, but will it cause some problems if applied in training? I'm not very sure.

[2020-10-15 14:33] floschne opened #632 "Trying to work through the Bootstrap MMF Tutorial"
## ❓ Questions and Help
Hi,
I'm currently trying to work through you tutorial on [bootstrapping-a-multimodal-project-using-mmf](https://medium.com/pytorch/bootstrapping-a-multimodal-project-using-mmf-a-pytorch-powered-multimodal-framework-464f75164af7).

I downloaded the dataset as described from [https://www.drivendata.org/competitions/64/hateful-memes/data/](https://www.drivendata.org/competitio

[2020-10-15 22:52] vedanuj commented on #632
Can you add this before calling the `build_dataset` :

[code]

[2020-10-16 03:19] congchan opened #633 "The config hierarchy not works as expected"
## 🐛 Bug

The config hierarchy,
The config user passed by command line `config=/mmf/projects/visual_bert/configs/hateful_memes/from_coco.yaml` is
[code]
which includes `./defaults.yaml` contains:
[code]

I expected mmf would override the config and call `BertTokenizer`.

However the program still called the `vocab` type processor `VocabProcessor`, which was defined in `mmf/configs/datasets/hateful

[2020-10-16 07:47] floschne commented on #632
works like a charm :-) thank you very much! Can you recommend another tutorial where stuff like you comment get explained? :)

[2020-10-16 20:33] g-luo commented on #621
@apsdehal I had one last question about the coco features in the zoo (eg mmf://datasets/coco/defaults/features/trainval2014.tar.gz) --  I noticed that the bounding boxes have associated object #s, but I can't figure out what vocabulary this corresponds to. I was wondering how I can get the mapping between object #s and words?

[2020-10-16 21:04] apsdehal commented on #621
@g-luo Check out the comment at this line: https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py#L3

For the other question, you figured it out right. It won't work with their model out of the box, you will have to add a projection layer to project our features to 1024 before passing to the model.

[2020-10-16 22:21] g-luo commented on #621
Thanks so much! The corresponding vocabulary is https://dl.fbaipublicfiles.com/pythia/data/visual_genome_categories.json for anyone looking at this thread.

[2020-10-16 22:21] #621 closed

[2020-10-18 10:19] sha9189 commented on #632
@floschne,  you could read the source code to understand what `setup_imports()` is doing. As shown [here](https://github.com/facebookresearch/mmf/blob/master/mmf/utils/env.py#L96),  it is doing 2 things:
- registers the keys `pythia_path` and `mmf_path` equal to the root_folder, which would be `mmf/` in most cases.
- imports all the datasets, models and trainers at `mmf/*`, which would register al

[2020-10-19 03:09] yangapku commented on #626
@vedanuj @apsdehal  Hi, may I ask whether there is any progress on this issue? Thank you!

[2020-10-19 03:27] vedanuj commented on #626
I have started training the model. Once the training completes then we will debug if there is any issue.

[2020-10-19 04:41] woojeongjin opened #635 "Corrupted LMDB in VQA2"
## 🐛 Bug

Hello,
The VQA2 dataset was downloaded automatically, but I faced the following error.

`  File "/home/woojeong2/miniconda3/envs/mmf2/lib/python3.7/site-packages/torch/utils/data/_utils/fetch.py", line 44, in fetch
    data = [self.dataset[idx] for idx in possibly_batched_index]
  File "/home/woojeong2/miniconda3/envs/mmf2/lib/python3.7/site-packages/torch/utils/data/_utils/fetch.py", li

[2020-10-19 04:59] vedanuj commented on #635
Hi @woojeongjin .. can you make sure the LMDB file has been downloaded properly? I haven't seen this issue with our LMDB files for VQA yet.

[2020-10-19 05:04] woojeongjin commented on #635
Hi @vedanuj , the LMDB file was automatically downloaded. How can I make sure it has been downloaded properly?

[2020-10-19 05:54] vedanuj commented on #635
The sizes should be these :

[code]

[2020-10-19 06:02] vedanuj commented on #633
I just ran the same command and I don't see this issue. Can you provide any logs that shows `BertTokenizer` is not getting called?

[2020-10-19 06:08] congchan commented on #607
@NohTow Hello, I am also trying to finetune lxmert on hateful_memes, but encounter a TypeError
[code]

[2020-10-19 07:03] congchan commented on #633
I fix it, forgot to specify the tokenizer_config, thanks anyway

[2020-10-19 07:03] #633 closed

[2020-10-19 16:33] netw0rkf10w opened #639 "Segmentation fault when running the tests right after the installation"
Hello,

I obtained a `Segmentation fault (core dumped)` error when running the tests right after the installation. Please see the details below. Thank you in advance for your help!

## Instructions To Reproduce the Issue:

1. Clone the repo
[code]
2. Install in editable mode (locally):
[code]
3. Run the tests:
[code]

4. Output:
[code]

## Environment:

Provide your environment information using t

[2020-10-19 18:07] woojeongjin commented on #635
My datasets have the same sizes.
I think there is a file system issue on my side. I kept re-downloading them but it still happens...

Thanks for your help!

[2020-10-19 18:12] netw0rkf10w opened #640 "BUTD: How to NOT use bottom-up attention?"
Hello,

In the BUTD paper, the authors proposed a strong baseline without the "bottom-up" part. Could you please tell me if it's possible to activate this mode in MMF?

Thank you very much in advance for your help!

[2020-10-19 18:57] #635 closed

[2020-10-19 19:01] apsdehal commented on #635
@woojeongjin One alternative is to use npy files instead of lmdb for your usecase. You can convert the lmdb back to npy files by using lmdb extraction script in tools.

[2020-10-19 22:43] netw0rkf10w opened #643 "Option for using existing dataset files that are already locally available"
## 🚀 Feature

An option to take into account existing local copies of datasets (and to download only what's missing).

## Motivation

People working on other vision problems such as object detection or image segmentation probably already have a copy of popular datasets such as COCO. Re-downloading and keeping a second extracted copy for MMF seems sub-optimal (for large datasets, that would consume

[2020-10-20 03:32] g-luo opened #645 "Questions about COCO features in zoo"
## ❓ Questions and Help

Hello, I was just wondering what the models used to extract the coco_trainval2014  features were trained on (for both the resnet-152 and detectron versions)? Ie, were these models ever trained on the COCO dataset?

I seem to be getting data leakage where my validation data (split from the COCO training set) performs much better than test (for a visual bert model) when usin

[2020-10-20 07:51] NohTow commented on #607
@congchan Hello, I encountered an error like this during my test, but I can't really remember how I exactly solve it..
If I am right, it has to do with the config file. This error is due to your features not being in the right format.
I corrected it by adding
`dataset_config:
    hateful_memes:
      processors:
        text_processor:
          type: bert_tokenizer
          params:
            t

[2020-10-20 08:51] congchan commented on #607
@NohTow Thanks!! It did works!!
@vedanuj I am also looking forward for this pretrained parameters available in mmf. BTW, what is required for a model parameters to be compatible in mmf?

[2020-10-20 09:51] NohTow commented on #607
Hi again,
So I digged a bit into this issue and it seems that weights of the PR have the same "architecture" of mmf's implementation of LXMERT, yet there is a problem in their names.
When printing their name I got this structure : "bert.XXX.YYY" (XXX and YYY being layers' names).
Yet, when priting names from my tuned version of LXMERT (using mmf training procedure), the structure is "model.bert.XX

[2020-10-20 14:28] netw0rkf10w opened #646 "BUTD prediction: omegaconf.errors.ConfigAttributeError: Key 'in_dim' in not in struct"
## Instructions To Reproduce the Issue:

After a fresh installation, I tried running the provided pretrained BUTD model, following the [documentation](https://mmf.sh/docs/projects/butd/):

[code]

After having downloaded and extracted the data and the features, it produced an error:

[code]

Could you please help?

## Environment:

[code]

[2020-10-20 15:48] apsdehal commented on #646
Hi, can you try patching #644 to see if it fixes your issue?

[2020-10-20 15:59] netw0rkf10w commented on #639
It seems that MMF requested all the resources on the machine where launched it, but the user only has access to some of them:

[code]

[2020-10-20 16:10] netw0rkf10w commented on #646
@apsdehal Great. It's working now! Thank you!!

[2020-10-20 16:10] #646 closed

[2020-10-20 19:10] netw0rkf10w opened #647 "Outdated documentation"
Hello,

I'm reading the documentation to get started with MMF, and realized that some pages in the documentation are outdated.

I have to implement a new model for image captioning that requires not only image features but also the original images for the forward pass. Thus, I guess I'll have to create a new dataset (to include the images), and then of course a new model.

I've checked [Terminolog

[2020-10-20 20:02] g-luo commented on #645
Resolved. They seem to be trained on Visual Genome as seen in (https://arxiv.org/pdf/2004.08744.pdf)

"We extract 2048D region based image features from fc6 layer of a ResNeXT-152 based Faster- RCNN model [42, 54] trained on Visual Genome [22] with the attribute prediction loss following [3]"

[2020-10-20 20:05] apsdehal commented on #645
Yes, they are trained on VisualGenome. VisualGenome does have a small overlap with COCO 2014 validation set.

[2020-10-20 20:06] g-luo commented on #645
Thanks!

[2020-10-20 20:08] g-luo commented on #645
@apsdehal I had another question -- what is the difference between VisualBERT with a pretraining vs classification head?

[2020-10-20 23:11] vedanuj commented on #647
Most of the documentation has been updated. I think a few are not but we are working on them. I think the ones that are outdated have a "[Outdated]" tag. Others are updated.

[2020-10-20 23:16] vedanuj commented on #645
VisualBERT model can be used for pretraining(with Masked Language Modelling objective etc.) or it ccan be used for classification tasks like VQA etc. The difference is what losses are computed and which output from the base model is being used in these specific heads.

In this case it will train every layer of your model on the task you are training on. This model uses a cross entropy loss on the

[2020-10-20 23:16] netw0rkf10w commented on #647
@vedanuj Thanks for your reply! Yes I asked the question because I saw the [Outdated] tag. I just want to know if most of the information on those pages are still highly relevant (even though some of them are to up-to-date) so that I can read them confidently.

[2020-10-20 23:19] vedanuj commented on #643
If you want to use existing datasets you can override the paths to the dataset in the configs to point to your local dataset and disable `zoo_requirements` so it doesn't download anything. This is a two step process but it is possible to do this currently in MMF. Can you try that and if you feel the process is not user-friendly we can discuss more how to make it better.

[2020-10-20 23:24] vedanuj commented on #647
Yes rest of them are updated and you can read them confidently.

[2020-10-20 23:25] netw0rkf10w commented on #647
Awesome! Thanks a lot!

[2020-10-20 23:25] #647 closed

[2020-10-20 23:49] netw0rkf10w commented on #643
@vedanuj That seems to be a straightforward solution! I'll try that and get back. Thanks a lot!

[2020-10-20 23:57] netw0rkf10w opened #648 "Support for multi-node training on Slurm"
## ❓ Questions and Help

Hello,

First of all sorry for having asked many questions in the last few hours. I couldn't find answers to these questions in the documentation or on Google.

I would like to know if MMF supports multi-node training on Slurm out-of-the-box.

I tried submitting a training job on 2 nodes, each has 4 GPUs, thus 8 GPUs in total. In the logs I observed the following:

[code]

[2020-10-20 23:59] netw0rkf10w commented on #639
Apparently the issues lies in the restrictions of my account, as suggested in the above message.

[2020-10-20 23:59] #639 closed

[2020-10-21 00:02] g-luo commented on #645
@vedanuj  Thank you so much for the reply!

The main reason I started this thread is because I'm trying to debug a weird issue related to my validation accuracy. I was wondering if you had any insight into the behavior that is occurring:

**Context**: I am running VisualBERT on a new dataset (http://foilunitn.github.io), which essentially uses COCO 2014 images and generates its own set of annotati

[2020-10-21 07:02] #632 closed

[2020-10-21 07:06] apsdehal commented on #627
@gaotongxiao I tried replicating this, but couldn't. Can you provide me your server's specs?

[2020-10-21 09:58] congchan commented on #607
Follow your instruction and rename the lxmert author's weights from `mudule....` to `model.....`. Thanks, it works.
Although it turns out that the pretrained weight performs significantly worse than a vanilla one on hateful memes dataset.

[2020-10-21 12:48] galsk87 opened #650 "Issues with loading weights"
## ❓ Questions and Help
I'm training VisualBert with this command:
`mmf_run config=projects/visual_bert/configs/vqa2/defaults.yaml run_type=train_val dataset=vqa2 model=visual_bert training.find_unused_parameters=True
`

I'm trying to load weights this way:
`    mmf_model = VisualBERT("/home/gal/mmf/projects/visual_bert/configs/vqa2/defaults.yaml").from_pretrained('/home/gal/mmf/save/models/model_

[2020-10-21 14:20] jacenkow opened #651 "Multiple `lmdb` files?"
## ❓ Questions and Help

Hi,

Does the framework support multiple lmdb files for the same set?

I had to split my training set into a few lmdb files, but I am struggling to load all of them (I am getting key errors - training sample doesn't exist).

I have tried adapting my configuration file as following

[code]
and
[code]

But with no success. Am I missing on something?

[2020-10-21 14:21] gaotongxiao commented on #627
I use slurm to submit the job to server, which runs ubuntu 18.04 with E5-2630, 8 x titan-v GPUs and 260GB RAM. Here is part of the slurm script:
[code]

[2020-10-21 14:44] netw0rkf10w opened #652 "Training of BUTD produced very bad results"
Hello,

I tried training the BUTD model using the command provided in the [documentation](https://mmf.sh/docs/projects/butd/):

[code]

I didn't change anything except two minor configuration values in `defaults.yaml`:

[code]

The results are very very bad at the end, the best validation BLEU4 is 0.021671, which means the model didn't seem to learn anything:

`2020-10-21T07:49:06 | mmf.trainers.c

[2020-10-21 14:52] netw0rkf10w opened #653 "train.log should be replaced by <run_type>.log"
## 🚀 Feature

`train.log` should be replaced by `<run_type>.log`, i.e. when `train.log` when `run_type=train` and `val.log` when `run_type=val`.

## Motivation

I launched a training (on a Slurm server), which produced a log file at `save/train.log`. After the training has finished, I launched an evaluation of the trained model using (of course) the same configuration file: my training logs `save/

[2020-10-21 15:42] jacenkow commented on #651
I believe it's not possible to split a single subset into multiple `lmdb` files.

[2020-10-21 15:42] #651 closed

[2020-10-21 15:50] NohTow commented on #607
Yes, my experiments give the same conclusion as yours.
Although pre-trained models can perform worse, it seems that different pre-trained weights (from original authors and the different one in the PR) give same results. It might indicate that there is still an issue in the loaded weights (because they are expected to be at least a bit different, so results should also be). Maybe I am missing some

[2020-10-21 15:53] vedanuj commented on #607
Can you point me to which pretrained weights you are talking about here? Please provide the link. I can help check how to load them properly.

[2020-10-21 15:56] vedanuj commented on #648
Yes mmf does support slurm. Here is the tutorial : https://mmf.sh/docs/tutorials/slurm

[2020-10-21 15:58] netw0rkf10w commented on #652
I've tried running the evaluation using the provided pretrained model from the model zoo, and the results are also very bad: `val/coco/caption_bleu4: 0.0263`. It seems there's a bug in the computation of the metrics.

I also observed this warning:

`WARNING 2020-10-21T17:55:07 | py.warnings: /gpfsdswork/projects/rech/upf/ugt86fu/code/mmf/mmf/common/report.py:82: UserWarning: captions not found in

[2020-10-21 16:01] netw0rkf10w commented on #648
@vedanuj Thank you for your answer, but that tutorial is about hyperparameter tuning, I can't see clearly how to apply that to a regular multi-node training...

[2020-10-21 17:25] NohTow commented on #607
I tried the one on the original repo (https://github.com/airsplay/lxmert) which can be downloaded at this [link](https://nlp1.cs.unc.edu/data/model_LXRT.pth) and also tried #561 ones, available [here](https://drive.google.com/drive/folders/1ev-ZGjx0e6Mf5e6fbhHnoc1R5Nf46rNf), I tried both vqa2_pretrained and gqa_pretrained.

Let me know if you need more information. Again, thanks for looking into t

[2020-10-21 17:55] gaotongxiao opened #654 "Big performance gap between released Pythia model and paper?"
## ❓ Questions and Help
I downloaded [vqa2 train only](https://dl.fbaipublicfiles.com/pythia/pretrained_models/vqa2/pythia.pth) model and modified `batch_size` in `projects/pythia/configs/vqa2/defaults.yaml` from 512 to 256 and `num_workers` to 0. Then I used the following command to generate the prediction for validation set:
[code]

I used VQA's official script to evaluate the generated json but

[2020-10-21 18:48] vedanuj commented on #648
Please check the command to run in that tutorial. It shows how to run on multiple nodes.

[2020-10-21 21:20] netw0rkf10w commented on #648
@vedanuj Thanks. I have checked the [parameters](https://github.com/facebookresearch/mmf/blob/master/tools/sweeps/lib/__init__.py) of `sweeps` but there doesn't seem to have a parameter for the number of GPUs (or number of nodes) **per trial**.

For example, suppose I have 512 GPUs available and I would like to perform hyper-parameter tuning with 1000 trials. In addition, I would like each trial t

[2020-10-22 02:27] yangapku commented on #626
@vedanuj @apsdehal  Hi, may I ask whether the training of the model has beed finished? Is the reported test-dev/test-std score reproduced successfully? Thank you very much!

[2020-10-22 05:47] vedanuj commented on #626
@yangapku We finished training a model and we can get VQA test-dev score of 73.7. I am not yet sure if using the `update_frequency=2` is causing some type of regression in the final score. We are still investigating.

[2020-10-22 05:50] vedanuj commented on #648
If you check the tutorial in detail we have comments saying how to set number of GPUs and nodes. You are looking for the parameters `-g` and `-n`.

[code]

[2020-10-22 06:03] vedanuj commented on #640
Current implementation of BUTD isn't configurable to use without "bottom up" part. If you have cycles feel free to open a PR.

[2020-10-22 06:08] yangapku commented on #626
@vedanuj Thank you for the reply! May I ask the commit and branch information of the repo you use?

[2020-10-22 14:34] netw0rkf10w commented on #648
Hi @vedanuj,

Those parameters are for setting the total number of nodes and GPUs, but not per trial, which is the most important parameter here (that's why I put **per trial** in **boldface** in the previous comment). It's not clear **how much resources are devoted to each trial**.

[2020-10-22 17:09] g-luo commented on #650
Maybe try running

`
mmf_run config=projects/visual_bert/configs/vqa2/defaults.yaml run_type=train_val dataset=vqa2 model=visual_bert training.find_unused_parameters=True checkpoint.resume_file=/home/gal/mmf/save/models/model_1000.ckpt
`

It looks like it might think your file is a pretrained model in the zoo (for example a valid one would be `visual_bert.pretrained.vqa2.full`)

[2020-10-22 18:34] netw0rkf10w opened #657 "Spelling errors and typos in the documentation"
## 🐛 Bug

Hi,

I've spot some spelling errors and typos in the documentation. Let me create this issue to track and fix them (I will edit the post to update the list as it grows). I can submit PRs, but only in a few weeks because of some important upcoming deadlines.

1. There are a lot of "for e.g." in the documentation and in the code docstrings/comments. Searching in VS Code, there are currentl

[2020-10-22 18:39] vedanuj commented on #626
I am using the master branch and on commit 97f3c7d375881d73a6465ec8cbb7e0ad2a7230a7

[2020-10-22 18:54] apsdehal commented on #653
We usually run `run_type=train_val` or `run_type=train_val_test` and in most cases, I think all those should go into single log. That allows us to process multiple training logs together via glob patterns. I will have to discuss with team but I am not sure that we will make this change to keep things consistent. You can always select a different `env.save_dir` if you don't want logs to garble up.

[2020-10-22 18:56] apsdehal commented on #645
This probably can happen as VisualGenome does have some overlap with val2014. But, in general cases, this doesn't affect the test-dev performance on VQA2. We will have a look at your configs. But expect a delay in response as this is very custom request.

[2020-10-22 18:57] apsdehal commented on #645
Another question: Is the validation set that you sampled from train roughly balanced?

[2020-10-22 19:07] netw0rkf10w commented on #653
Hi @apsdehal ! Thanks for the reply.

It seems you misunderstood my proposal. I never proposed to split the logs into `train.log` and `val.log`.

If `run_type=train_val` then the log file should be `train_val.log`, and if `run_type=train_val_test` then the log file should be `train_val_test.log`. If `run_type=whatever_you_like` then the log file should be `whatever_you_like.log`. In general, the l

[2020-10-22 20:44] g-luo commented on #645
Correct, I made sure that all sets (training, validation, test) are exactly balanced (50/50 of each class). I also tried using both COCO features available in the MMF zoo (default / resnet-152) and it exhibited similar behavior.

Just to confirm, were the resnet-152 features also trained on Visual Genome?

Thank you so much for looking into this!

[2020-10-22 20:47] g-luo commented on #645
If it's helpful, all my code is in this repository:
https://github.com/g-luo/foil_mmf
https://github.com/g-luo/foil_mmf/blob/master/configs/foil_zoo.yaml

[2020-10-23 18:50] netw0rkf10w commented on #652
@vedanuj Could you please have a look at this issue that seems to be critical?

[2020-10-24 06:50] naykun opened #660 "Any support for mpi run?"
## ❓ Questions and Help
I'm trying to use mmf on a multi-node cluster which only supports mpi to launch jobs across nodes. It seems mmf_run doesn't work in that scenario, at least out of the box. Is there any suggestions or tutorial available for how to using mmf on a mpi cluster?
By the way, maybe handling mpi args such as "OMPI_COMM_WORLD_RANK", "OMPI_COMM_WORLD_SIZE", "OMPI_COMM_WORLD_LOCAL_RAN

[2020-10-24 19:03] netw0rkf10w commented on #652
Something is very wrong!

Running the provided pre-trained model on the validation set, I observed that the output json contains captions that start with either "a person that is standing..." or "a person sitting on..." for all the images!

[2020-10-24 19:40] vedanuj commented on #652
What is the Bleu score you are getting after running the pretrained model on the COCO validation set?

[2020-10-24 19:44] netw0rkf10w commented on #652
@vedanuj I obtained `0.0263`, as mentioned in my previous comment. It seems something is wrong in the decoding...

[2020-10-26 02:14] yangapku commented on #626
@vedanuj Hi, may I ask whether there is any progress on checking if using `update_frequency=2`, `batch_size=32` and `max_updates=236000` will cause some type of regression in the final score? Thank you very much!

[2020-10-26 03:23] aditya5558 opened #661 "Performance difference while running M4C pretrained model"
## ❓ Questions and Help

I ran the M4C pretrained model following the M4C documentation using the following command:

`mmf_run dataset=textvqa   model=m4c   config=projects/m4c/configs/textvqa/joint_with_stvqa.yaml   env.save_dir=./save/m4c   run_type=val   checkpoint.resume_zoo=m4c.textvqa.with_stvqa training.num_workers=1
`

I am getting a validation accuracy of 0.3882 as compared to 0.4055 whic

[2020-10-26 06:30] vedanuj commented on #652
We will look into it. Thanks for reporting the issue.

[2020-10-26 14:30] JayZhu0104 opened #662 "An error about reading database file"
## ❓ Questions and Help
When I was running the following command:
`mmf_run config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c env.data_dir=G:\datasets\TextVQA\data run_type=train_val`

An error has occurred:
![1603722036349](https://user-images.githubusercontent.com/40751213/97184108-87e1db00-17d9-11eb-9ca2-5af91f43d256.png)
There is no b'train\\e64a1fa5dc1353bf' key in s

[2020-10-27 00:48] apsdehal commented on #660
Hi,

This isn't currently available in MMF and isn't on our roadmap. But feel free to open up a PR for this. This should be easy to add if you take a look `mmf/utils/distributed.py` and related config options.

[2020-10-27 00:50] apsdehal commented on #662
Hi,
This is happening because of the windows path that MMF isn't expecting. Fixing this will take time. Would it be possible that you can run this in Ubuntu VM available inside Windows?

NOTE: PyTorch doesn't support distributed training on Windows so that limitation would still stay.

[2020-10-27 00:50] apsdehal commented on #661
Thanks for reporting this. We will have a look at this. This might be a regression caused by some recent changes.

[2020-10-27 00:55] apsdehal commented on #650
Thanks for the reply, @g-luo.

@galsk87 There isn't a smooth way to currently do this but is in work. You can do something like if you save_dir was `x`:

[code]

[2020-10-27 00:57] apsdehal commented on #648
`-g` specifies total number of GPUs per node. `-n` specifies total number of nodes.

If you have only 512 nodes and you say 16 GPUs for each job, you will have 512/16=32 jobs running and rest will have to wait for these ones to finish.

[2020-10-27 07:00] galsk87 commented on #650
`
self.mmf_model = VisualBERT("/home/gal/mmf/projects/visual_bert/configs/vqa2/defaults.yaml").from_pretrained('visual_bert.pretrained.coco')
ckpt = torch.load('/home/gal/save/models/model_10000.ckpt')
self.load_my_state_dict(ckpt['model'])
`
this is my workaround function:
`
def load_my_state_dict(self, state_dict):

        own_state = self.mmf_model.state_dict()
        for name, param in state

[2020-10-27 14:26] freeIsa opened #663 "Running M4C_captioner on sample images"
## ❓ Questions and Help
Hi there, I am starting to look into the task of image captioning and wanted to try out some pretrained models on a bunch of images I have.
Inspired by `mmf_hm_example.ipynb` notebook, I tried to load the M4C_captioner model with these instructions:
[code]

but after downloading model weights the execution failed with the following error:
[code]
(raised in class OmegaConf)

[2020-10-27 22:31] g-luo commented on #645
@apsdehal Hello! I just wanted to add a comment that this may be an issue with the dataset itself, which I have been looking into.

I just had one last question about the models within the zoo -- is MMBT the only multimodal model in MMF that can process image features (or are there others?). I also noticed that it uses the pretrained resnet152 (https://pytorch.org/docs/stable/torchvision/models.ht

[2020-10-28 13:05] JayZhu0104 commented on #662
OK！Thank you for your reply!

[2020-10-28 13:05] #662 closed

[2020-10-28 18:41] apsdehal commented on #654
I can confirm that this is indeed the case as of now and there seems to be a regression in the master. I will have further look into why this is happening.

[2020-10-28 19:16] apsdehal commented on #645
Hi,
By image features, do you means direct images or features extracted from images?
Currently, MMBT and MMF Transformer can take in direct image as inputs. They will be converted to features based on the image encoder used (which can be a resnet152 model as you mentioned).

[2020-10-29 03:30] vovocol opened #665 "Can I change the path to download the dataset file? Where to modify?"
## ❓ Questions and Help
Can I change the path to download the dataset file?
Where to modify?

[2020-10-29 03:38] apsdehal commented on #665
Please use `env.data_dir` to specify where you want to download the dataset file.

[2020-10-29 04:05] yangapku commented on #626
@vedanuj @apsdehal Hi, sorry to bother again. Are there any following ups about the issue of `update_frequency `?

[2020-10-29 06:26] vedanuj commented on #626
I am testing the model with update_frequency=2. Will respond here once the model finishes training.

[2020-10-29 07:13] vovocol commented on #665
Can you show me a concrete example?

[2020-10-29 10:08] floschne opened #667 "Any ideas how to perform ITM with MMF?"
## ❓ Questions and Help
Hi,
I want to do text-image retrieval and really would like to use your awesome framework :-)
But.. I haven't found a way to do so or at least I have no idea in my head how to do it because I can't find any Task, Project, Head, Model, or Layer that is related to ITM / IR.

Do you have any suggestions on how to do text-image retrieval within MMF? I would really appreciate yo

[2020-10-29 11:38] yangapku commented on #626
Okay! Thank you very much! 👍

[2020-10-29 18:11] apsdehal commented on #665
Try something like
`<your command> env.data_dir=/x/y/z`

[2020-10-29 19:25] apsdehal commented on #104
Closed in #580

[2020-10-29 19:25] #104 closed

[2020-10-29 23:25] apsdehal commented on #654
The models that you are using are outdated and use old features, that's why the performance is low. We will upload the new models to the model zoo but that can take time. If it is urgent we suggest that you train the model on your end.

[2020-10-29 23:26] apsdehal commented on #661
@aditya5558 #664 should fix this. You can patch and try.

[2020-10-29 23:28] apsdehal commented on #652
We have tested this locally and it should be fixed with #664. Please use the following command to test the BUTD model:

[code]

Make sure you run the evaluation on single GPU.

[2020-10-30 19:06] ytsheng commented on #663
In order to run image captioning on your custom images, you'd need to extract the image features from your custom images first. If you haven't done that, then you can use the scripts for it: https://github.com/facebookresearch/mmf/tree/master/tools/scripts/features

I am currently working on a tutorial for image feature extraction that I will publish and link here early next week. (November 2nd, 2

[2020-10-31 02:59] george-gca opened #669 "Problem when generating docker image"
I've been trying to use mmf inside a docker image. Installed everything successfully, then when I try to run the first example from the documentation:
[code]
I get:
[code]

The dockerfile I am using, while giving the root folder of mmf as build context:
[code]

[2020-10-31 04:27] ritwickchaudhry opened #670 "What does Unimodal Pretraining for VisualBERT mean?"
## ❓ Questions and Help
We're trying to extend the VisualBERT model to include extra features for each object for the Hateful Memes Challenge. I'm unable to understand what exactly the unimodal pre-training (config file path: `projects/hateful_memes/configs/visual_bert/direct.yaml`) for VisualBERT means.

In particular, (i) What parameters are included in the pre-trained weights (I want to know if

[2020-10-31 06:07] vedanuj commented on #670
Unimodal pretraining means the base model is initialized with BERT pretrained weights. For this we initialize the weights from bert-base-uncased model from Huggingface transformers library.

[2020-10-31 06:10] ritwickchaudhry commented on #670
So does that mean that the pre-trained weights are only used for the textual part? In other words, if we replace the visual object embeddings with some other embeddings, it should work fine?

[2020-10-31 06:16] vedanuj commented on #670
Not exactly. The whole transformer model is initialized with BERT pretrained weights. So both image and text use that depending on the model architecture. Without initializing these models with BERT weigths, they do not perform well when trained from scratch.

You can replace the visual embeddings with other embeddings and it should work. What type of embeddings are you trying to use?

[2020-10-31 06:17] #596 closed

[2020-10-31 06:17] ritwickchaudhry commented on #670
We are trying to concatenate the visual embeddings from a detector with embeddings from a concept graph like ConceptNet. So the size of the embeddings would change too.

[2020-10-31 06:19] vedanuj commented on #670
Yes that should be fine and should work. Let us know if you face any issues.

[2020-10-31 06:19] ritwickchaudhry commented on #670
Certainly will do. Thanks a lot for your help!

[2020-10-31 06:21] #670 closed

[2020-10-31 20:03] Abhiruchi commented on #261
I was also facing the same issue. Adding `--bypass_checksum 1` worked for now.

[2020-10-31 22:40] floschne commented on #667
Hi @ytsheng,

Thanks for you reply, I'm gonna have a look at the PR :)

Since I'm working on my master thesis, I have a more or less right schedule.. but I'll find a way :-)
When are you planning to add the retrieval components ?

Thanks for developing this awesome framework ;)

[2020-11-02 09:27] AMiiR93 opened #671 "Don't have enough hard disk memory for train and test in Colab for MMF"
## ❓ Questions and Help
My Dataset is about 30GB and I think i need 300GB at the end
Colab pro version can help me? or can i connect my google drive memory with Colab?
"""MY Code:

## ERROR: spacy 2.2.4 has requirement tqdm<5.0.0,>=4.38.0, but you'll have tqdm 4.19.9 which is incompatible.
##ERROR: google-colab 1.0.0 has requirement requests~=2.23.0, but you'll have requests 2.21.0 which is incomp

[2020-11-02 12:28] AMiiR93 opened #672 "Don't have enough hard disk memory for scene text visual question answering"
## ❓ Questions and Help
My Dataset is about 40GB and I think i need 350GB at the end
Colab pro version can help me? or can i connect my google drive memory with Colab?
"""MY Code:

!python tools/run.py --tasks vqa --datasets textvqa --model s_mmgnn --config ensemble/foo/s_mmgnn.yml -dev cuda:0 --run_type train
WARNING: Device specified is 'cuda' but cuda is not present. Switching to CPU version
Lo

[2020-11-02 19:41] ytsheng commented on #669
Hi! Please try installing the latest mmf from source. For details: https://www.internalfb.com/intern/staticdocs/mmf/docs/getting_started/installation/

You might have installed the older version of mmf.

[2020-11-02 19:42] apsdehal commented on #671
hi, @AMiiR93. The issues don't seem to be related to MMF repository and seems to be for a fork for it which we can't support actively.

[2020-11-02 19:43] apsdehal commented on #672
hi, @AMiiR93. The issues don't seem to be related to MMF repository and seems to be for a fork for it which we can't support actively.

[2020-11-02 19:44] apsdehal commented on #672
but based on your error, you can probably connect the Google drive to store the extra features. We don't have first class support of Google Drive though.

[2020-11-02 19:44] apsdehal commented on #671
Closing as duplicate of #672

[2020-11-02 19:44] #671 closed

[2020-11-02 20:04] sweta125 opened #674 "runtime error with Dataloader during m4c TextVQA inference"
## ❓ Questions and Help

Hi, I am running the following command from the Quickstart page to use the pertained m4c model for TextVQA inference:
mmf_predict config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=test \
    checkpoint.resume_zoo=m4c.textvqa.defaults

However, I keep running into the following error:

Traceback (most recent call last):

[2020-11-02 20:59] sweta125 commented on #661
Where are the pretrained models available as input to checkpoint.resume_zoo , specifically for m4c model? I checked the mmf model zoo documentation but cannot find this.

[2020-11-02 21:15] apsdehal commented on #674
Hi, this usually happens when you run out of memory. Can you post your system specs as mentioned in the bug template?

[2020-11-02 21:21] apsdehal commented on #665
Closing as resolved.

[2020-11-02 21:21] #665 closed

[2020-11-02 21:22] apsdehal commented on #650
Closing as resolved! Thanks for your solution @galsk87

[2020-11-02 21:22] #650 closed

[2020-11-02 21:49] sweta125 commented on #674
Hi, I am using a g4dn.xlarge AWS EC2 Instance (Deep Learning AMI (Ubuntu 16.04)) with added EBS storage.
(is there a link to the bug template?)

<img width="569" alt="Screen Shot 2020-11-02 at 3 44 29 PM" src="https://user-images.githubusercontent.com/34926001/97922599-5a89b580-1d22-11eb-8b06-b2bc862632b7.png">

[2020-11-02 22:11] #661 closed

[2020-11-03 00:31] ytsheng commented on #663
https://github.com/facebookresearch/mmf/pull/673/files Here is the tutorial code as promised. :) Let us know how else we can help.

[2020-11-03 00:52] sweta125 commented on #674
UPDATE: Resolved by setting training.num_workers = 1 (based on previous issues concerning memory)

[2020-11-03 00:52] #674 closed

[2020-11-03 08:07] #645 closed

[2020-11-03 22:11] ytsheng commented on #667
It's definitely on our list of things to do!
But, before we get to it, if your time allows, I strongly recommend that you help contribute the functionality to mmf. We will try our best to review your code!

Keep us posted on how we can support you better!

Thank you! 😄

[2020-11-04 14:20] freeIsa commented on #663
Hi there,
first of all thank you for the tutorial!
I was about to try it out but unfortunately the installation of `vqa_maskrcnn-benchmark` on my machine fails because of incompatible packages.
As `vqa_maskrcnn-benchmark` appears to have been deprecated in favor of `Detectron2`, I was wondering whether it'd be possible to extract features for MMF using Detectron2 instead...

[2020-11-04 15:43] george-gca commented on #669
But I am installing from source. If you look closely at my Dockerfile above you will see this part:
[code]

[2020-11-05 00:01] g-luo opened #676 "Question about Image Text Alignment"
Hi, I was wondering what the structure of the vector provided to the image_text_alignment field should be (https://github.com/facebookresearch/mmf/blob/7ce17a58e7b61b1bc2fc7384c1974e60967bd9fa/mmf/modules/embeddings.py#L369)?

From my understanding it's a num bounding boxes dim vector where each entry has the index of the corresponding token (outputted by the BERT tokenizer). I was wondering if yo

[2020-11-05 03:06] gaotongxiao commented on #627
I found that when loading the model, the virtual memory usage suddenly increases from ~4000MB to 350GB. I guess slurm has counted virtual memory into memory usage as well. What can be the cause of overwhelming virtual memory usage, and is there any way to fix it?

[2020-11-06 12:22] yangapku commented on #626
@vedanuj @apsdehal Hi, are there any evaluation results of training the model with `update_frequency=2`?

[2020-11-06 22:10] vedanuj commented on #626
Hey @yangapku,  I saw similar drop in performance with `update_frequency=2`. I got VQA accuracy around 72.73. There is an issue with gradient accumulation.

For now I recommend you use batch size 64 with same learning rate OR try lower learning rates with batch size 32. I will debug the issue with `update_frequency` but expect some delay in that.

[2020-11-07 02:23] yangapku commented on #626
Okay, thank you for your following up and suggestion! I will try to use batch size 64. Hope the issue can be tackled soon.

[2020-11-10 13:59] Anth0nyWu opened #678 "AttributeError: 'VisualGenomeDataset' object has no attribute '_get_absolute_path'"
## 🐛 Bug

 File "/home/ubuntu/vqa/GMN/mmf/mmf/datasets/builders/visual_genome/dataset.py", line 44, in __init__
    scene_graph_file = self._get_absolute_path(scene_graph_file)
AttributeError: 'VisualGenomeDataset' object has no attribute '_get_absolute_path'

## Command that i run in shell

CUDA_VISIBLE_DEVICES="0" mmf_run config=projects/gmn/configs/visual_genome/defaults.yaml model=gmn datasets

[2020-11-10 18:59] nbhalla93 opened #679 "Training Issues"
## ❓ Questions and Help
![Screen Shot 2020-11-10 at 1 58 20 PM (2)](https://user-images.githubusercontent.com/19534655/98718824-ecb23f00-235c-11eb-977d-e47f6f86ca60.png)
Facing this issue while running this command:
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val

Not able to understand what's going wrong here?

[2020-11-10 19:01] nbhalla93 opened #680 "Error in Training"
## ❓ Questions and Help
Facing this issue while training the M4C Model
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val

![Screen Shot 2020-11-10 at 2 06 55 PM](https://user-images.githubusercontent.com/19534655/98719698-11f37d00-235e-11eb-8bcd-f13730534674.png)

[2020-11-10 19:14] #679 closed

[2020-11-10 19:16] nbhalla93 commented on #680
@apsdehal Can you please help me with this?

[2020-11-10 19:53] apsdehal commented on #680
Hi, this is probably happening because you are running out of memory. FastText requires at least 8GB of memory to be loaded. Also, try setting `training.num_workers=0` to spawn less data workers.

[2020-11-10 19:54] apsdehal commented on #678
Hi, thanks for reporting this. This will need a fix. Would you like to open up a PR?

[2020-11-10 20:03] apsdehal commented on #676
Hi, apologies for the late reply. We don't currently use this in MMF as VCR is not implemented.

You can find more details of how it is originally created in VisualBERT in the original repo at https://github.com/uclanlp/visualbert/blob/master/dataloaders/vcr.py#L357.

It is hard to say whether this will affect. VisualBERT doesn't use masked region modeling but ViLBERT does which tries to predict o

[2020-11-10 22:24] nbhalla93 commented on #680
What is the right configuration of the system, to make this model work? I am getting this error too:
RuntimeError: CUDA out of memory. Tried to allocate 274.00 MiB (GPU 0; 11.17 GiB total capacity; 10.56 GiB already allocated; 85.44 MiB free; 10.73 GiB reserved in total by PyTorch)

[2020-11-12 01:25] nbhalla93 opened #681 "Issue with Training command"
## ❓ Questions and Help

**Ran this command fro training:**
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val \
    training.batch_size=16 \
    training.update_frequency=2

**got this error:**
**I am not able to understand the error here.**

![Screen Shot 2020-11-11 at 8 20 15 PM (2)](https://user-images.githubusercontent.com

[2020-11-12 02:58] vedanuj commented on #681
Can you retry with training.num_workers=0? That might give a better error log.

[2020-11-12 12:10] freeIsa commented on #663
Hello again,
after several attempts I am still unable to install `vqa_maskrcnn-benchmark` and to make `extract_features_vmb` work without failing because of version conflicts at some point.
Can someone please provide a working configuration (e.g. pytorch, torch-vision version number)?
I am working on a Linux Server with python 3.8 and CUDA 10.2 (though I also tried with a conda environment forced

[2020-11-12 16:36] wgmueller1 commented on #586
I'm also seeing some strange behavior involving the id field with mmf_predict.   I'm using a custom dataset where the ids are sequential integers, but some of the ids returned after running mmf_predict are very large negative integers.

[2020-11-13 12:53] TownWilliam commented on #680
I also have the same problem during training the model. The method I solve it is that I reduce the `num_workers` , cut down  the `batch_size` from 128 to 64 or 32 etc. and increase the `max updates` from 24000 to 40000etc. (in order to keep the training quality). You could try to modify those three parameters in the configs of that model.

[2020-11-13 21:45] chongduan commented on #353
I still get the same error. Is this fixed?

[2020-11-13 21:58] apsdehal commented on #353
Pytorch Windows doesn't have distributed backend available before version 1.7. We haven't tested it with 1.7 on Windows, you can try installing 1.7 and see if it works for you.

[2020-11-13 22:06] apsdehal commented on #680
Thanks @TownWilliam for the suggestions. Those will definitely help. You can also try batch size of 16, which should be able to give reasonable results for M4C on TextVQA. On Quadro GP100, I can usually fit only a batch size of 64 which has 16GB GPU memory.

[2020-11-16 06:02] nbhalla93 opened #682 "Train M4C Captioner using VizWiz"
## ❓ Questions and Help
Hello

I am trying to train the M4C Captioner using VizWiz:
On this page: https://mmf.sh/docs/notes/dataset_zoo/, it mentions that the VizWiz dataset is supported in MMF. Does this mean the dataset builder is available for Vizwiz? If Yes, what are the instructions to get this dataset? If No, what dataset builder can be used to create the dataset builder for VizWiz?

https:/

[2020-11-16 16:34] JoshuaPlacidi opened #683 "mmf_convert_hm gives FileNotFoundError"
## ❓ Questions and Help
Hi, I am trying to learn mmf and am following this [tutorial](https://medium.com/pytorch/bootstrapping-a-multimodal-project-using-mmf-a-pytorch-powered-multimodal-framework-464f75164af7).

I have installed mmf (on windows) and downloaded the hateful memes dataset. I am trying to run the tutorial in a Jupyter notebook. I have the following code:

`from mmf.utils.env import s

[2020-11-17 02:45] parambole opened #685 "Slack channel / open source messaging platform"
## ❓ Questions and Help
Hey, @apsdehal, is there a slack channel or a messaging platform to join to get our questions answered by the MMF community?

[2020-11-17 03:12] parambole opened #686 "Train m4c_captioner on vizwiz"
## ❓ Questions and Help

Hey @apsdehal, is it possible to train the m4c captioner on the VizWiz data set? If so, can you please tell me how to I go about doing it?

[2020-11-17 03:19] parambole commented on #682
@apsdehal Can you please find some time to answer this?

[2020-11-17 03:22] parambole commented on #258
@BTTHuyen Which image captioner did you use? Were you able to train it on VizWiz?

[2020-11-17 08:17] ckj1221 opened #687 "pythia: Object-level features and grid level features"
## ❓ Questions and Help
In pythiav0.1 ,"Object-level features and grid level features are separately fused with features from ques tions and then are concatenated to fed to classification" .How is this problem implemented in the code?
Can the extracted features be converted into compressed packages for other training models to use?

[2020-11-17 11:48] Yui010206 opened #688 "How can I evaluate on the dataset by batches?"
## ❓ Questions and Help
Hi, I want to know how can I evaluate on the dataset and output the evaluation by batches. I notice that the evaluation_loop()  in mmf/trainer/core/evaluation_loop.py call function accumulate_tensor_fields(). It seems to accumulate all output and target tensor and evaluation on the whole dataset which may cause out of memory when both my dataset size and output size are too

[2020-11-18 02:46] ChunCun opened #689 "how to change download location in hateful memes"
## ❓ Questions and Help
Hi, when I try to download things like features or extras, I know I can specify download path by using "env.data_dir=/x/y". However, when mmf tries to automatically download things like vectors, it always downloads them automatically under /home/UserName/.cache/torch/mmf. How can I avoid this situation? (the home directory is limited space due to my working environment) Tha

[2020-11-18 06:11] revantteotia commented on #663
@freeIsa Are you able to run M4C_captioner on sample images? I have extracted both object and ocr frcn features for my sample images but I am not able to figure out which config files to update so that it uses my custom extracted features.
Thanks!

[2020-11-18 09:16] vedanuj commented on #688
Currently this setup ensures that metrics that require evaluation on full dataset work and hence in general we accumulate the output and do the evaluation. We are aware that this sometimes leads to OOM when the dataset size is huge. We will address this issue soon.

Can you also let us know which metric you are using and what is the size of your evaluation set?

[2020-11-18 09:21] vedanuj commented on #687
This might be what you are looking for : https://github.com/facebookresearch/mmf/blob/2a0c567b6caadad3aface611f73849631ed2fbca/mmf/models/pythia.py#L272

Not sure what exactly you mean here. Do you want to first combine the features and then use?

[2020-11-18 09:22] vedanuj commented on #685
Currently we don't have a slack channel. Thanks for the suggestion, we will discuss and consider opening one.

[2020-11-18 09:25] vedanuj commented on #683
Are you able to extract the zip file manually with the password?

[2020-11-18 09:29] vedanuj commented on #689
You can change the location of cache directory as well. Use `env.cache_dir=<your_location>`.

[2020-11-18 09:30] JoshuaPlacidi commented on #683
Hi, yes I can extract it manually. I have also tried to run the mmf_convert_hm via cli and it just runs forever with "Extracting the zip can take time. Sit back and relax." and never completes.

[2020-11-18 09:31] JoshuaPlacidi commented on #683
Hi, yes I can extract it manually. I have also tried to run the mmf_convert_hm via cli and it just runs forever with "Extracting the zip can take time. Sit back and relax." and never completes.

[2020-11-18 09:34] vedanuj commented on #657
Feel free to open up the PR to fix these when you get cycles. Thanks!

[2020-11-18 09:34] vedanuj commented on #686
Duplicate #682

[2020-11-18 09:34] #686 closed

[2020-11-18 09:39] freeIsa commented on #663
@revantteotia sadly, not yet. I still couldn't find a way to install the vqa_maskrcnn-benchmark needed to extract features on my machine. From my understanding, after obtaining image features one should implement a new Dataset and DatasetBuilder class to add to MMF registry so that the new dataset can be passed to the model (https://mmf.sh/docs/tutorials/dataset). Good luck!

[2020-11-18 13:48] cyang31 commented on #689
Thanks! BTW, where can I find all the changeable variables in env?

[2020-11-18 14:28] cyang31 opened #691 "unpacking features get stuck / loading datasets get stuck"
## Instructions To Reproduce the Issue:

Check https://stackoverflow.com/help/minimal-reproducible-example for how to ask good questions. Simplify the steps to reproduce the issue using suggestions from the above link, and provide them below:

1. full code you wrote or full changes you made (`git diff`)
I didn't change the code.
2. what exact command you run:
I run this following code under a sing

[2020-11-18 20:07] vedanuj commented on #689
The configurable env variables are here : https://github.com/facebookresearch/mmf/blob/2a0c567b6caadad3aface611f73849631ed2fbca/mmf/configs/defaults.yaml#L182

[2020-11-19 03:17] apsdehal commented on #682
Hi,
It is unclear to me what exactly you are trying to do here. M4C Captioner is a captioning model while VizWiz is QA dataset. If you are trying to run it on VizWiz captions, easiest way to go here would be convert VizWiz Captions to the same format as of TextCaps's annotation file and just replace TextCaps's annotations files with those of the VizWiz Captions.

This would work but there are othe

[2020-11-19 03:20] apsdehal commented on #691
Hi,
For your command can you run it with this command to see if it solves your issue:
[code]

You don't need `training.fast_read`, it is for something else. Specifically, note `CUDA_VISIBLE_DEVICES=0` to run it on single GPU and `training.num_workers=0` to run it with only one dataset worker.

[2020-11-19 03:22] apsdehal commented on #687
I believe that @vedanuj already answered the question satisfactorily. About the features, yes they are used in multiple places and models in MMF. They are usually dataset specific though.

[2020-11-19 03:24] apsdehal commented on #683
Yes, this is expected on Windows given that windows doesn't have unzip command. Normal python zipfile module is very slow. You can try running in ubuntu terminal for windows to see if it helps. Alternatively, you can manually extract the files and place it in a way how the repo expects.

[2020-11-19 03:25] apsdehal commented on #681
This is happening probably due to memory issues. Closing this as duplicate of #680 as that one has better details as suggestions.

[2020-11-19 03:25] #681 closed

[2020-11-19 03:28] apsdehal commented on #663
@freeIsa  To install vqa-maskrcnn-benchmark, usually you need to install MMF first and then VQA-maskrcnn-benchmark. Did you try doing that?

[2020-11-19 04:07] ckj1221 commented on #687
sorry my English is not very good.  wonder if I can use this feature in my last project, just like bottom-up provides processed image features for us to download. Can the processed files be downloaded directly?

[2020-11-19 04:08] ckj1221 commented on #687
@vedanuj sorry my English is not very good. wonder if I can use this feature in my last project, just like bottom-up provides processed image features for us to download. Can the processed files be downloaded directly?

[2020-11-19 04:50] JerphyZ opened #692 "Error in code running，looking forward to your answer."
## ❓ Questions and Help
(mmf) J:\mmf>mmf_run config=projects/lorra/configs/vqa2/defaults.yaml run_type=train_val dataset=vqa2 model=lorra
2020-11-19T12:15:20 | mmf.utils.configuration: Overriding option config to projects/lorra/configs/vqa2/defaults.yaml
2020-11-19T12:15:20 | mmf.utils.configuration: Overriding option run_type to train_val
2020-11-19T12:15:20 | mmf.utils.configuration: Overriding

[2020-11-19 10:40] cyang31 commented on #691
Hi, I tried your suggested command, but it still gets stuck at the same place. If it is useful, I can smoothly launch the code only for baseline Image-Grid. I find that the similar issue always happens when it tries to unpack things, either extras.tar.gz or features.tar.gz. Those files can be automatically downloaded and during unpacking, the size of resulted files keeps growing then becomes stabl

[2020-11-19 18:35] apsdehal commented on #691
Something must be off in singularity because this works fine as it is. Can you try running the command outside of singularity?

[2020-11-20 13:59] JoshuaPlacidi commented on #683
@apsdehal Thanks for the help. Ill try a manual extraction first. Do you know where I can find out how the repo is expecting the data?

[2020-11-21 22:22] michael-a-green opened #694 "Receiving AssertionErrors after running `pytest ./tests/`"
## ❓ Questions and Help

I setup mmf following the instructions documented here:  https://mmf.sh/docs/getting_started/installation/

1. `conda create -n mmf python=3.7`
1. `conda activate mmf`
1. `git clone https://github.com/facebookresearch/mmf.git`
1. `cd mmf`
1. ` pip install --editable .`

I then run the tests with this command:

`pytest ./tests/`

I get the following assertion errors:

[code

[2020-11-22 16:48] #689 closed

[2020-11-23 03:28] tiffmkell opened #695 "Install error with "/tmp/pip-i0sfvtwm-build/""
<img width="1018" alt="Screen Shot 2020-11-22 at 8 56 25 PM" src="https://user-images.githubusercontent.com/8855593/99927103-09158a80-2d12-11eb-8338-87d355912e51.png">

[2020-11-23 16:44] JoshuaPlacidi commented on #683
Command does eventually successfully complete on windows just takes a while to run.

[2020-11-23 16:44] #683 closed

[2020-11-23 23:06] ytsheng commented on #692
It looks like your dataset structure is different from mine, mmf should have automatically downloaded the datasets if it cannot find the dataset. Here is my dataset structure for example, under: ```~/.cache/torch/mmf/data/datasets/coco```, I have:
[code]

[2020-11-23 23:09] ytsheng commented on #694
Hi, thanks for using mmf!

Do you mind doing a `which pytest` to make sure that your pytest is downloaded in the conda site packages?

Also, please paste the output of: `python -m torch.utils.collect_env` for us to better assist you.

[2020-11-23 23:11] ytsheng commented on #695
Hi! Thanks for using mmf!

Please checkout our `notebook` branch to see how you can use mmf in notebooks. 👯

for example:
https://colab.research.google.com/gist/apsdehal/062b779406208f87974b2175fc267ae7/mmf_hm_example.ipynb

[2020-11-24 06:54] apsdehal commented on #695
@tiffmkell Are you on Windows by any chance? Can you provide output `python -m torch.utils.collect_env` for our debugging purposes?

[2020-11-24 13:26] JoshuaPlacidi opened #696 "KeyError: 'targets' on inference"
## ❓ Questions and Help

I ran the command in windows cmd:
`mmf_run config=projects/hateful_memes/configs/unimodal/image.yaml model=unimodal_image dataset=hateful_memes`

While training I got the following warning every time a checkpoint was saved:
`WARNING 2020-11-23T20:36:26 | py.warnings: c:\python38\lib\site-packages\torch\optim\lr_scheduler.py:200: UserWarning: Please also save or load the st

[2020-11-24 13:48] JoshuaPlacidi commented on #353
I tried installing PyTorch 1.7 on windows but it leads to version errors with mmf. I have found a work around by putting lines 32 and 33 of `./mmf/mmf_cli/run.py` in an if statement:
[code]
and doing the same for lines 52-60 in `./mmf/mmf/trainers/core/device.py`:
[code]

[2020-11-24 19:35] ytsheng commented on #696
Hi! Thanks for using mmf 😄

Try adding: `evaluation.predict=true` in the command of mmf_run. Adding this converts the command to `mmf_predict`

Feel free to refer to the tutorial on BUTD on [here](https://mmf.sh/docs/projects/butd) to see how to run predict.

[2020-11-25 09:13] vincent1rookie opened #697 "Error when train pythia in vizwiz dataset(AssertionError: Number of feature encoders, 2 are not equal to number of features, 1.)"
I tried to run
[code]
But I got:

[code]

[2020-11-25 11:40] sharduls007 commented on #475
HI @apsdehal,
I am trying to run colab notebook in this thread but getting below error while running run(opts)
![image](https://user-images.githubusercontent.com/37594733/100223098-ef8f6100-2f12-11eb-975e-d6fb3a2d99a7.png)

[2020-11-25 13:23] vincent1rookie commented on #647
Hi, I found https://mmf.sh/docs/tutorials/dataset and https://mmf.sh/docs/notes/pretrained_models are still tagged as "Outdated". Is this possible to update those doc soon? Thanks

[2020-11-25 17:22] freeIsa commented on #663
@apsdehal I tried many things and I tried that too, but I keep finding conflicts between versions of python, CUDA, pytorch etc. I couldn't find any working configuration, alas!

[2020-11-25 20:58] ytsheng commented on #697
Hi @vincent1rookie, thanks for using mmf!

Our pythia implementation uses both the grid features together with the bottom-up features as indicated in section 2.5 of the Pythia [paper](https://arxiv.org/abs/1807.09956). So, we are expecting 2 image feature vectors are provided for this model. If you only wish to provide 1 image feature, you can remove 1 image_feature_encoder in the config so that t

[2020-11-25 21:00] #696 closed

[2020-11-26 01:13] #691 closed

[2020-11-27 11:32] michael-a-green commented on #694
[code]

[code]

[2020-11-28 06:22] Abhiruchi commented on #435
Running this command now generates 2000 rows. Is this expected? I hit the below error when I try to submit the baseline results.

<img width="746" alt="Screenshot 2020-11-28 at 11 51 37" src="https://user-images.githubusercontent.com/7767267/100495299-329a4000-3170-11eb-971a-48352ea6f76c.png">

[2020-11-29 03:33] vincent1rookie commented on #697
Thank you for your reply. I was using exactly the vqa2 pretrained vizwiz model you mentioned, and was using the default config in project/pythia/vizwiz. Does it mean the pretrained model is not consistent with the vizwiz dataset or or I just change the config somewhere?

[2020-11-29 06:59] graydove opened #701 "Will the framework support rtx30xx in the future？"
## ❓ Questions and Help
When I use rtx3090 for training model，I meet this error:

RuntimeError: CUDA error: no kernel image is available for execution on the device

Maybe it's a compatibility problem...so I'll try using other gpus for mmf.

[2020-11-29 07:17] Abhiruchi opened #702 "Visual BERT Baseline on test data generating 2000 rows"
I was trying to reproduce results from Visual BERT with COCO baseline for hateful memes.
However, I see a CSV with 2000 rows is generated which throws an error in the submission page that the expected rows are 1000 only.

<img width="708" alt="Screenshot 2020-11-29 at 12 45 52" src="https://user-images.githubusercontent.com/7767267/100535662-f1be2c00-3240-11eb-9920-c9338700ca7f.png">

Can anyone p

[2020-11-29 07:17] Abhiruchi commented on #435
Opened a new issue here - https://github.com/facebookresearch/mmf/issues/702 for this concern.

[2020-11-29 08:41] Abhiruchi commented on #702
NVM, got the issue resolved from here by updating the command for phase 1. https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes#predicting-for-phase-1
Seems like, by default, it predicts with phase 2 data but since the submissions are closed now, this update would be needed in command to predict for phase 1.

[2020-11-29 08:42] #702 closed

[2020-11-30 02:57] graydove commented on #511
I meet a same problem, which is:
<code>mmf_run config=projects/pythia/configs/visual_genome/defaults.yaml     datasets=visual_genome     model=pythia     run_type=train_val
2020-11-30T10:41:27 | mmf.utils.configuration: Overriding option config to projects/pythia/configs/visual_genome/defaults.yaml
2020-11-30T10:41:27 | mmf.utils.configuration: Overriding option datasets to visual_genome
2020-11-3

[2020-11-30 03:37] ChenyuGAO-CS opened #703 "Submitted TextVQA accuracy and local val accuracy have a gap"
## ❓ Questions and Help
Are the submitted results of TextVQA by you have a gap? Our local TextVQA val accuracy and submitted TextVQA accuracy always have a large margin (maybe > 1%), which bothers us a lot.

[2020-11-30 15:04] vedanuj commented on #701
This is not specifically a problem with mmf, but the pytorch version you are using and compatibility with the CUDA version supported for your GPU type.

[2020-11-30 15:08] graydove commented on #701
Thank you, maybe I should wait for a new version pytorch.

[2020-12-01 20:56] apsdehal commented on #701
Closing as this is upstream pytorch issue. If other issues persist, please open up a new issue.

[2020-12-01 20:56] #701 closed

[2020-12-01 21:29] apsdehal commented on #703
Hi,
We believe this should be fixed if you use metric as `textvqa_accuracy` but we can double confirm if this is the case.

[2020-12-01 21:31] apsdehal commented on #694
The error messages might be caused due to platform and GPU differences. Did you try a sample run to see if you can reproduce the results?

[2020-12-02 02:59] michael-a-green commented on #694
Hi apsdehal,

Not sure what you mean by "sample run." How do I run that?

[2020-12-02 23:24] fossil-ai opened #704 "outputting bounding boxes with visual and text input"
## ❓ Questions and Help
Is there anyway to support localization in this framework? As with any object detection framework except with textual guidance. e.g image and text input helps localize a box on the input image as seen in the referring expression task e.g MattNet.

[2020-12-03 21:35] MonsKim999 opened #705 "I want to see the code in detail"

[2020-12-03 21:44] #705 closed

[2020-12-03 21:50] MonsKim999 commented on #481
@apsdehal

  with open("./list") as f:
        lines = f.readlines()
        for line in lines:
            exclude[line.strip("\n").split(os.path.sep)[-1].split(".")[0]] = 1

this is a part of extract_resnet152_feat.py.
what is the ./list?
I can't find this file

[2020-12-03 21:52] apsdehal commented on #481
Hi,
You can `touch list` in the folder where you are running this command to create an empty file. List is used to exclude some files from feature extraction if needed. This probably needs to be handled more gracefully. We will open up a task for this. For now, you can use what I suggested i.e. an empty file.

[2020-12-03 21:57] MonsKim999 commented on #481
@apsdehal

Thank you for your help.
Can this file run in alone?

In fact, I want to reimplement the textvqa paper.
so I'd like to study the code in detail. but I can't find some parts of the project as like dataloader, preprocessing, dataset, extract feature.

Can you help me more? Thank you!

[2020-12-03 21:59] apsdehal commented on #481
Please open up a new issue.

[2020-12-03 21:59] MonsKim999 commented on #481
@apsdehal

Yes !

[2020-12-03 22:04] MonsKim999 opened #706 "Where is the specific code of TextVQA"
Hi, FAIR.

Thank you for opening the code.
I want to study and reimplement the code of TextVQA.However, I'm not familiar with this mmf system.
I can't find the specific module like data loader, preprocessing, extract_image_featue...

So, I need help where is the reference fo LoRRA.
Thank you!

[2020-12-04 19:00] apsdehal commented on #704
Hi,
You can possibly implement it. Adapt for example visual bert model to instead predict num_labels=100 and then loss is accordingly calculated based on softmax on whether it got it right or not. Similar framework, https://github.com/facebookresearch/vilbert-multi-task/blob/master/vilbert/vilbert.py should have an example on how to do this. @vedanuj can help with specifics.

[2020-12-04 19:06] apsdehal commented on #706
Hi,

- Code for TextVQA dataset is available in https://github.com/facebookresearch/mmf/tree/master/mmf/datasets/builders/textvqa
- Model code for LoRRA is available in https://github.com/facebookresearch/mmf/blob/master/mmf/models/lorra.py
- Required configs for the TextVQA and LoRRA are in https://github.com/facebookresearch/mmf/tree/master/projects/lorra

Let us know if something is confusing o

[2020-12-04 19:45] MonsKim999 commented on #706
@apsdehal

Hi, apsdehal.
Thank you for your kind reply.

I have some questions.
I succeeded to run the extract_features_vmb.py by looking at many issues in your repository.

1. Could you provide the final extracted image features ? it is because it takes so many times since my GPU resources are not enough.
2. Could I know the part of preprocessing the question tokens and OCR tokens?
3. Could I get

[2020-12-09 00:37] sweta125 opened #707 "Fine-tune M4C on TextVQA using m4c.ocrvqa.defaults (pretrained model on OCR-VQA)"
## ❓ Questions and Help
Hi I am trying to run the following to fine-tune M4C on TextVQA from a pre-trained version on OCR-VQA:

! mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val \
    checkpoint.resume_pretrained=True \
    checkpoint.resume_zoo=m4c.ocrvqa.defaults \
    env.save_dir=./save/m4c_final_yay

Is there a way to c

[2020-12-09 02:35] sweta125 commented on #707
It seems I should specify where to extract the ocrvqa embeddings in checkpoint.pretrained_state_mapping (model.mmt?) but its unclear to me how this should be done based on the documentation here: https://mmf.sh/docs/tutorials/checkpointing/

[2020-12-09 05:40] apsdehal commented on #706
1. If you download TextVQA dataset using MMF, it will automatically download the features you are looking for.
2. For preprocessing, please check the config you want in the folder I shared above and look for the processors configuration. Map this to processors present in `mmf/datasets/processors` folder.
3. We don't have pretrained model for LoRRA directly usable with current mmf as it was superse

[2020-12-09 05:43] apsdehal commented on #707
Yes, that's correct. So, mapping is used something like this:
if you mention
[code]
then a will be loaded from b, and c will be loaded from d. Rest of the state dict keys will be skipped. So, add rest of the keys except classifier and that should work.

[2020-12-09 17:04] #707 closed

[2020-12-09 19:12] MonsKim999 commented on #706
@apsdehal

Thank you. It was very helpful. I closed this issue :+1:

[2020-12-09 19:16] MonsKim999 opened #708 "Question about opening lmdb file to explore the data."
Hi,

I'd like to explore the dataset in detail.
But I'm not familiar with lmdb file format. I searched how to open and look into this file exactly, but It is not easy to find suitable answer.

Could you help me how to open and give me some examples? (examples as like file.begin().get('bbox'),  file.begin().get('image_id'))

Thank you!

[2020-12-09 20:29] apsdehal commented on #708
Hi,
Please check out our feature reader code to understand how we read the LMDBs. https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/databases/readers/feature_readers.py#L217

[2020-12-10 08:36] ytsheng commented on #706
closing as the author of this issue suggested.

[2020-12-10 08:36] #706 closed

[2020-12-11 11:55] MikeQ-hash opened #710 "Visual bert hateful memes model key , how do I add fined tuned visual bert instead of pretrained?"
## ❓ Questions and Help
Hi I have further trained the visual bert model with the hateful memes via command line as shown in the documentation. However I am having difficulty in understanding how I can add that model in main via a python code.

For example

model = MMBT.from_pretrained("mmbt.hateful_memes.images")

This works, but :

model = VisualBERT.from_pretrained('visual_bert.pretrained.hatefu

[2020-12-11 16:16] Rey74 opened #711 "i have 20 error when run pytest after installation"
Help me
Environment

    python: 3.7.4
    pytorch Version: 1.6.0+cu101
    CUDA Version: 10.2
     GPU: GeForce GTX 1650 ,4 GPUs

Problem:

I successfully installed the mmf from source with pip install --editable ..
After that, I run pytest ./tests/ which is suggested in the documents to check the library. Then I got the error as following:

collected 44 items / 20 errors / 24 selected

=========

[2020-12-12 07:58] JayZhu0104 opened #712 "Question about feature files in open_images file"
## ❓ Questions and Help
Hi!
Datasets and required files were downloaded automatically when I ran training. And I don't know the difference between a 'detectron.lmdb' file and a 'resnet152.lmdb' file in "open_images" file.
Is the feature in the detectron.lMDB file is extracted by the ResNeXt-152 or  ResNet-101 based Faster R-CNN model?

[2020-12-14 15:22] vecxoz opened #714 "Possible typo in models.yaml"
## ❓ Questions and Help

Hi,

It seems like there is a wrong URL and file name in the following lines:
https://github.com/facebookresearch/mmf/blob/master/mmf/configs/zoo/models.yaml#L25-L26

Based on logic it should be `visual_bert.pretrained.coco_ten_pc.tar.gz` instead of `visual_bert.pretrained.coco.tar.gz`. But I’m not sure, maybe it was intended for some purpose?

[2020-12-15 00:42] ytsheng commented on #710
Hi @MikeQ-hash, thank you for using mmf :)

We are currently working to consolidate all model interfaces. Do you mind sharing what your model folder contains under: $DATA_DIR (typically `~/.cache/torch/mmf/data/models/visual_bert.pretrained.hateful_memes`).

[2020-12-15 00:46] ytsheng commented on #711
Hi @Rey74, thanks for using mmf!

Can you please do the following checks:

1. share with us the output of `python -m torch.utils.collect_env`
2. did you install mmf within the conda environment? If so, make sure your pytest is installed in the same environment. You can know which conda environment you are currently on by doing `conda info`. From the error logs, you are using the pytest from anacon

[2020-12-15 00:51] ytsheng commented on #712
Hi @JayZhu0104 , thanks for using mmf!

Yes, we probably should have renamed them to be specific, but I believe the `detectron.imdb` files are resnet101 based FasterRCNN model.

[2020-12-15 03:41] ytsheng commented on #714
Thanks @vecxoz for using mmf!

You have a good eye! #715

[2020-12-15 07:40] JayZhu0104 commented on #712
Thanks for your reply!

[2020-12-15 07:40] #712 closed

[2020-12-15 09:56] MikeQ-hash commented on #710
Hi @ytsheng , thank you for your reply. I spent more time looking into the github and found out that the right way to call visual bert is as follows:

from mmf.common.registry import registry
model_cls = registry.get_model_class('visual_bert')
model_vbert = model_cls.from_pretrained("visual_bert.finetuned.hateful_memes.direct")

That would take care of the config and model file. Afterwards I would

[2020-12-15 13:05] #714 closed

[2020-12-15 17:24] apsdehal commented on #710
Can you try doing:

[code]
instead of
[code]
in your code?

[2020-12-16 10:49] danieljyj opened #717 "TypeError: 'NoneType' object is not callable when running hm_example_mmf"
## 🐛 Bug

I'm trying to run the hateful meme example, [hm_example_mmf](https://github.com/apsdehal/hm_example_mmf). But it seems that the model concat_vl wasn't registered.

## Command
The command that I used is: mmf_run config="configs/experiments/defaults.yaml"  model=concat_vl dataset=hateful_memes training.num_workers=0

I got this:

g:\mmf\mmf\utils\configuration.py:298: UserWarning: No model

[2020-12-17 01:42] ytsheng commented on #717
In your models folder, is there a concat_vl.py? ie., https://github.com/apsdehal/hm_example_mmf/blob/master/models/concat_vl.py

[2020-12-17 07:08] apsdehal commented on #717
Hi, did you export `MMF_USER_DIR` or set `env.user_dir` to point to where you cloned `hm_example_mmf`? Your command and logs suggests that you didn't.

[2020-12-17 07:10] apsdehal commented on #711
Hi,
This seems like an issue with pre-compiled libraries inside conda, checkout and try the solution provided in https://github.com/conda/conda/issues/6396. Let us know if that works.

[2020-12-17 10:08] MikeQ-hash commented on #710
Hi all,

I managed to make it work (I double checked the performance on test set)

Here is the code below for mmbt (visual bert requires the respective pre-processing):

[code]

[2020-12-17 18:53] danieljyj commented on #717
Hi,
Thank you! MMF_USER_DIR="." isn't recognised as a legal command by windows 10 so I thought I could ignore it.
If that's the problem, could you please tell me how to set the env.user_dir ? I am using windows 10 powershell.

[2020-12-17 18:55] apsdehal commented on #717
`env.user_dir=<path\where\you\have\installed\mmf>`. Note that we have limited support for Windows powershell. I would recommend using Ubuntu shell inside Windows for running MMF.

[2020-12-17 19:14] danieljyj commented on #717
I change a bit the __init__.py file:
`import processors.processors
import models.concat_vl

import sys
from mmf_cli.run import run
opts=[
    "config='./configs/experiments/defaults.yaml'",
    "model=concat_vl",
    "dataset=hateful_memes",
    "training.num_workers=0"
]
run(opts=opts)`

And I then run command:
`python ./__init__.py`
This time the model is registered, but I got error:

Traceback

[2020-12-17 19:46] danieljyj commented on #717
Sorry, this is my fault , one line is changed incidentally, missed a @classmethod decorator.
It's running without error now.

[2020-12-17 20:26] apsdehal commented on #717
Great that you got it working. I would suggest that better approach would still be using `env.user_dir`.

[2020-12-22 12:02] vecxoz opened #720 "Batch size affects feature values in extract_features_vmb.py"
## ❓ Questions and Help

Hi,

I get different feature values with different batch size using `extract_features_vmb.py`. What could be the reason? Please check this example:

[code]

[2020-12-23 03:55] g-luo opened #721 "vqa-maskrcnn-benchmark installation without GPU"
## ❓ Questions and Help

Hello! I was wondering if there was a CPU friendly version of `maskrcnn_benchmark.layers`? I'm running into an issue where I don't have apex installed, and I can't install it because I don't have a GPU available. For context, I'm only looking to run MMF's `extract_features_vmb.py` script with this repo.

I was wondering if there is possibly a CPU friendly alternative to th

[2020-12-23 17:17] g-luo commented on #721
Resolved, just refactor the code in the layers/ folder to remove all references to apex / amp (you can use this repo as a reference https://gitlab.com/meetshah1995/vqa-maskrcnn-benchmark/-/tree/master/maskrcnn_benchmark/layers)

[2020-12-23 17:17] #721 closed

[2020-12-26 18:24] #717 closed

[2020-12-27 12:22] hqsiswiliam opened #722 "How to truncate the dataset for demo running?"
## ❓ Questions and Help
Hi there,

Thanks for the great work, I'd like to ask how to truncate the dataset (for example `COCO`), so I can run part of it on my local machine instead of loading the full dataset.

[2020-12-27 14:42] hqsiswiliam opened #723 "How to deal with variable length input?"
## ❓ Questions and Help
Hi there,

Could somebody tell me how to deal with variable length input. Do I need to add padding to the input or the framework can do it automatically? Currently, I didn't add the padding to the input, and running it will throw an error shows:
[code]

[2020-12-29 21:22] ytsheng commented on #722
Hi @hqsiswiliam, thanks for using mmf!

You can do one of two things:
* If you need to include specific parts of the dataset, you can preprocess the data files available in your $DATA_DIR, typically `~/.cache/torch/mmf/data/datasets/coco/defaults/annotations/<coco_annotation_file>`.
*  We actually have subsets of coco already truncated and they are available [here](https://github.com/facebookresea

[2020-12-29 21:25] ytsheng commented on #723
Hi @hqsiswiliam, thanks for using mmf!

I am assuming that you are referring to sentence word tokens? If so, yes, either you need to truncate it or pad it to the same size. You can take a look at the code we have within [bert_processors.py](https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/processors/bert_processors.py) to see how we truncate/pad so that all the sequences are the sa

[2020-12-29 21:36] ytsheng commented on #694
Looks like your pytest is not installed in the `mmf` env, but rather `mmf2_venv` env, try install pytest in the `mmf` env and run pytest in the `mmf` env, and see if the error repros.

The sample run @apsdehal was talking about was probably the first step under [here](https://mmf.sh/docs/getting_started/quickstart) to make sure that mmf runs.

[2020-12-30 03:01] ytsheng commented on #720
Hi @vecxoz, thank you for using mmf!

So, you are right. In your example, the two feature values are different. This is because we expect the images within the same batch to have the same size. In your case, when batch_size = 1, the size of each image in the batch is that particular image's size. However, when batch_size = 2, the size of one of the image needs to be resized to match the other, the

[2020-12-30 03:01] #720 closed

[2020-12-30 14:32] hqsiswiliam commented on #722
Thank you. If I want to use a subset of coco instead of full, where can I find these files?

[2020-12-30 14:34] hqsiswiliam commented on #723
Ah, I see. I've noticed the padding part in the bert_processors, thank you.

[2020-12-30 14:34] #723 closed

[2020-12-30 20:15] ytsheng commented on #722
An example of how to find such a file is through looking at the dataset config files for subset of coco... ie.,

If you are looking for 50% of the coco files, you can check out the corresponding [yaml](https://github.com/facebookresearch/mmf/blob/master/projects/pretrain_vl_right/configs/vilbert/masked_coco/fifty_pc.yaml), and find the train annotations that is 50% of the original coco size. To do

[2020-12-30 20:18] hqsiswiliam commented on #722
Thanks, I will figure it out.

[2020-12-30 20:18] #722 closed

[2020-12-30 20:26] ytsheng commented on #722
Also, I forgot that we have the dataset split feature as well if you want to try it out, you can decide what percentage of the train dataset to use. The API is specified in the PR:

https://github.com/facebookresearch/mmf/pull/470

[2020-12-31 17:17] vecxoz commented on #720
Got it, many thanks for the help @ytsheng
MMF is great!

[2021-01-01 20:16] aka4rKO commented on #299
I was getting the same issue but when I tried installing from source I still get an error which doesn't allow me to download `torchtext==0.5.0`. However this error goes off when I change the `torchtext` version to `0.6.0`

Is this version ok?

ERROR: HTTP error 403 while getting https://download.pytorch.org/whl/torchtext-0.5.0-py3-none-any.whl (from https://download.pytorch.org/whl/torch_stable.ht

[2021-01-02 03:12] hqsiswiliam opened #725 "Recall Metrics will result in Recursion error"
## 🐛 Bug

## Command
Any running command
## To Reproduce

Steps to reproduce the behavior:

1. set model metrics to `r@5` (any recall metrics)
2. run command until validation run
3. There will be an error (*provided in Additional context section*)

## Expected behavior

Successfully validating at `r@5`

## Environment
Collecting environment information...
PyTorch version: 1.6.0
Is debug build: No

[2021-01-04 14:01] KaiPoChang commented on #586
Is there any modification ? I encountered this problem recently!

[2021-01-08 20:43] vedanuj commented on #725
Thanks for raising the bug. We will look into it.

[2021-01-13 01:59] mnbv7581 opened #729 "butd demo results "a close up of a white and white photo""
## ❓ Questions and Help

[https://colab.research.google.com/drive/1Z9fsh10rFtgWe4uy8nvU4mQmqdokdIRR?usp=sharing](url)

We implemented butd demo source by modifying the colab demo source. Using maskrcnnn_benchmark api, extract feature from COCO image and create a sample class. After setting with input data, the prediction progressed. Successful execution but learned by coco dataset Even though it i

[2021-01-13 21:57] ytsheng commented on #729
Hi @mnbv7581, thanks for using mmf!

I believe there was an issue with `max_features` that was recently fixed/merged along with [this](https://github.com/facebookresearch/mmf/pull/700/files) PR. Try it let us know if it works now, if not, please share more code (e.g,, the model loading code) with us so that we can better assist you with debugging!

Thank you!

[2021-01-14 00:22] mnbv7581 commented on #729
Thank you for your answers. There was some misunderstanding.  It has been confirmed to be normal for the pre-trained model. We will test again after completing the appropriate learning process.

[2021-01-14 20:53] kLabille opened #730 "ViLBERT training Hateful meme challenge - insufficient shared memory(shm)"
## ❓ Questions and Help

Hi,

I am trying to reproduce the baseline ViLBERT from the Hateful meme challenge (https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes) and I am running into an issue while training using the following command:

[code]
Error:

[code]

I have increased my shared memory to 100G, my swap memory to 80G, I have 15G of RAM.
 I have tried to set the batch

[2021-01-14 20:54] kLabille opened #731 "insufficient shared memory (shm) while training ViLBERT - Facebook hateful meme challenge"
## ❓ Questions and Help

Hi,

I am trying to reproduce the baseline ViLBERT from the Hateful meme challenge (https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes) and I am running into an issue while training using the following command:

[code]
Error:

[code]

I have increased my shared memory to 100G, my swap memory to 80G, I have 15G of RAM.
 I have tried to set the batch

[2021-01-14 20:55] kLabille opened #732 "Insufficient shared memory (shm) while training ViLBERT - Facebook hateful meme challenge"
## ❓ Questions and Help

Hi,

I am trying to reproduce the baseline ViLBERT from the Hateful meme challenge (https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes) and I am running into an issue while training using the following command:

[code]
Error:

[code]

I have increased my shared memory to 100G, my swap memory to 80G, I have 15G of RAM.
 I have tried to set the batch

[2021-01-14 20:56] #731 closed

[2021-01-14 20:56] #730 closed

[2021-01-16 08:10] ZJ-Zhao commented on #643
how can i disable zoo_requirements

[2021-01-18 03:49] hivestrung opened #737 "Can't reproduce Text BERT and Image-Grid validation set evaluations from paper"
I have an issue reproducing the baselines in the Hateful Memes Paper. Specifically I am trying to get the baselines for Text BERT but I am also not able to get the baselines for Image-Grid
## Instructions To Reproduce the Issue:

I ran this exact command for Text BERT, and ran it twice and got the same result
[code]

And this command for Image-Grid:
[code]

Log of TEXT Bert validation evaluation I

[2021-01-18 17:22] kLabille commented on #737
I believe the numbers reported in the FB paper was run on the phase 1 dataset (dev_seen/test_seen) while yours must be running on the phase 2 dataset (dev_unseen, test_unseen).

You can change the dataset in the yaml config file, mine was located at  /home/username/.local/lib/python3.8/site-packages/mmf/configs/datasets/hateful_memes/defaults.yaml
where you can change
[code]
to :
[code]

[2021-01-19 05:37] hivestrung commented on #737
Wow, thank you so much, I never thought to look at this. I was thinking the problem might have been the seed or something. I am getting much closer numbers now, though still not the same.

For example, Text BERT:

[code]

The accuracy reported in the paper is 58.26, AUROC 64.65. Mine is seemingly 58.80 and ROC_AUC is 65.28. Those are close but is there something else affecting the score?

[2021-01-19 05:45] kLabille commented on #737
You're welcome. I do have similar yet slightly different numbers as well. My image-grid validation results are actually way off compared to what the paper reports, the other baselines that I was able to run are much closer.

I have to train mine on much lower batch size because my machine can't handle large batch size. I suspect this is the reason why we get different accuracy and AUROC. It it clo

[2021-01-19 06:18] hivestrung commented on #737
Ahhh interesting. That's reassuring. How does one define "close enough" though? +/- 1?

I am trying to train now, but my task requires reimplementing. For a start I was using the pretrained models to see if I can reproduce the numbers as a sanity check before getting on with the other work.

I am able to "train" the Image-Grid but my machine is too slow so I terminated it. But it was making a run

[2021-01-19 06:39] apsdehal commented on #737
@kLabille Thanks for helping out @hivestrung with the issue.

@hivestrung You can't replicate the exact numbers in the paper because those are the averages over multiple runs with different seeds. That's why you will see a minor difference in the metrics but they should be in the ballpark.

[2021-01-19 06:42] apsdehal commented on #732
Hi @kLabille,

Thanks for your issue.

This unfortunately is not related to MMF but rather related to your system specifications. The issue has been well-documented in pytorch discussion and issue forums. Here is an example: https://discuss.pytorch.org/t/training-crashes-due-to-insufficient-shared-memory-shm-nn-dataparallel/26396/13

[2021-01-19 06:44] apsdehal commented on #729
Hi @mnbv7581,

Thanks for using MMF and your issue. This colab notebook would be really useful for people coming after you looking for a captioning demo. As you suggested, this is indeed expected. I am going to close this issue resolved for now. If you still face other issues or problems, please open up a new issue.

[2021-01-19 06:44] #729 closed

[2021-01-19 06:50] hivestrung commented on #737
@apsdehal Ahhh okay thank you. Can I also check, it's not super clear in the paper or maybe I am new to this and don't know the usual practice, but for those pre-trained models evaluated on the validation set, are they fine-tuned with the training data or not at all? Thank you very much!

[2021-01-19 06:58] hivestrung commented on #732
I have the same issue. But I will read @apsdehal 's link and try to debug.

[2021-01-19 12:56] Ifrahmaqsood opened #742 "How to load grid features in pythia VQA 2.0"
## ❓ Questions and Help
I have extracted grid features of coco dataset with restnet50. I want to load it in pythia VQA 2.0. I have three folders of extracted features train2014,val2014,test2015. **In which file do I need to give path of these folders?**

Also, please let me know how would it affect this training command as currently it is taking the default configuration

mmf_run config=projects/m

[2021-01-19 17:47] kLabille commented on #732
Unfortunately, as I said in my first post, I have tried what has been suggested in this link and was unable to fix the issue.

[2021-01-20 15:47] sandeepmte opened #743 "git clone https://github.com/facebookresearch/mmf.git"
## 🐛 Bug

(vqa_v1) F:\Pythia_V1\~\mmf\mmf_cli>python run.py --datasets TextVQA --model lorra --config \configs/vqa/textvqa/lorra.yaml
Traceback (most recent call last):
  File "run.py", line 9, in <module>
    from mmf.common.registry import registry
ModuleNotFoundError: No module named 'mmf.common'

[2021-01-20 15:51] sandeepmte opened #744 "git clone https://github.com/facebookresearch/mmf.git"
## 🐛 Bug
I am using above link to run mmf into my system for vqa (Visual questioning Answering) but i faced below error.
(vqa_v1) F:\Pythia_V1\~\mmf\mmf_cli>python run.py --datasets TextVQA --model lorra --config \configs/vqa/textvqa/lorra.yaml
Traceback (most recent call last):
  File "run.py", line 9, in <module>
    from mmf.common.registry import registry
ModuleNotFoundError: No module named '

[2021-01-21 01:43] vedanuj commented on #743
Duplicate of #744

[2021-01-21 01:43] #743 closed

[2021-01-21 01:43] vedanuj commented on #744
Can you please follow the Issue template for raising Bugs?

[2021-01-21 01:49] vedanuj commented on #742
The config where you change the paths to your extracted features should be this if you want to use ONLY resnet features to train the pythia model:

projects/pythia/configs/vqa2/resnet_only.yaml

There are also other configs in that folder if you want to use region_grid features etc.

[2021-01-21 09:12] sandeepmte commented on #743
[learnpythia-readthedocs-io-en-latest.pdf](https://github.com/facebookresearch/mmf/files/5848124/learnpythia-readthedocs-io-en-latest.pdf)
I am using this pdf documents

[2021-01-21 09:16] Ifrahmaqsood commented on #742
I am trying to implement paper **In Defense of Grid Features for Visual Question Answering**
I have done pretraining on visual_genome dataset and then loaded the model to extract features on coco dataset. Now my Grid features on resnet50 looks like this.
Each image is saved like this **388155.pth** under the respective folder i-e(train/test/val).

**for resnet-only.yaml config file i changed the f

[2021-01-21 11:26] sandeepmte commented on #744
[learnpythia-readthedocs-io-en-latest.pdf](https://github.com/facebookresearch/mmf/files/5848901/learnpythia-readthedocs-io-en-latest.pdf)

i am follow above pdf

[2021-01-21 14:45] MonsKim999 commented on #708
@apsdehal

Thanks a lot.

[2021-01-21 14:45] #708 closed

[2021-01-21 21:08] prashan opened #745 "Refer Expression for vilbert"
## ❓ Questions and Help
Is there a way to run train/eval for vilbert for the Refer Expression task?
In the original code repo(https://github.com/jiasenlu/vilbert_beta) it could be done by the below command

[code]

can these 2 operations be done using the mmf repo? If so whats the command for that? or should I simply use the old vilbert_beta repo?

[2021-01-21 21:47] ytsheng commented on #745
Hi @prashan, thanks for using mmf!

As far as I know, we currently do not have Refer Expression datasets implemented within mmf yet. You can submit a PR to integrate it if you want! We are happy to give it a review. As far as Vilbert, you can use it with some of our other datasets (conceptual caption and coco for example).

[2021-01-21 22:22] prashan commented on #745
ok Thanks for your prompt reply. For vilbert Refer Expressions the data/code seems to exist in https://github.com/jiasenlu/vilbert_beta/tree/master/data branch. It seems like it's a matter of porting it over.
Meanwhile i ll try the other datasets(e.g conceptual captions, coco)  you mentioned.

[2021-01-25 09:09] sandeepmte commented on #743
I try But getting Same Error like this below
(mmf) F:\Pythia_V2\mmf\mmf_cli>python run.py --datasets TextVQA --model lorra --config \configs/vqa/textvqa/lorra.yaml
Traceback (most recent call last):
  File "run.py", line 9, in <module>
    from mmf.common.registry import registry
ModuleNotFoundError: No module named 'mmf.common'

[2021-01-25 23:08] #725 closed

[2021-01-28 13:05] sikaiyin opened #753 "How the loss function is called by registry?"
## ❓ Questions and Help
Hi, I am conducting researches on custom loss function design. Basically, I want to map the sample_list['targets'] back through an embedding layer to calculate the loss during training(and this embedding layer parameters can be updated by pytorch).
I know that I can register a custom loss function in loss.py, but since I also need to change the network structure here with a

[2021-01-28 18:01] kLabille opened #754 "Error while training on own dataset: ValueError: Criteria used for early stopping (val/hateful_memes/roc_auc) is not present in meter"
## ❓ Questions and Help
Hi,

I was able to add my own dataset to mmf, however, when I try to train the unimodal image (Image Grid) model on it, I run into an error when evaluating the first epoch:

[code]
Any help is appreciated.
Thank you

[2021-01-28 21:41] #754 closed

[2021-01-29 05:15] ytsheng commented on #753
Hi @sikaiyin, thanks for using mmf!

I believe [this](https://github.com/facebookresearch/mmf/blob/master/mmf/models/base_model.py#L196) is what you are looking for. Yes, you do need to create a custom loss function in `loss.py`. Hope this helps!

[2021-01-29 07:59] g-luo opened #756 "mmf trainer loading datasets hangs with any more than 2 gpus"
## ❓ Questions and Help

Hello! I notice that any time I try running mmf with more than 2 gpus, mmf.trainers.mmf_trainer always hangs. Please note that my configs are identical (scaling batch size); the only difference is the number of gpus I make visible via `export CUDA_VISIBLE_DEVICES`. It always hangs at this point:

[code]

[2021-01-29 08:44] g-luo commented on #756
Resolved. It was my installed version of torch (1.7.0+cu101); reverting to torch1.6.0 fixed it.

[2021-01-30 07:10] vedanuj commented on #756
Please share the command you used and also please paste the error that you get if you interrupt the hanged state.

[2021-01-30 07:19] #577 closed

[2021-01-30 07:20] #626 closed

[2021-01-30 11:04] Ifrahmaqsood commented on #433
Have you been able to resolve this issue? I want to use it with python 3.6 .I am using Ubuntu server which has many users and python versions and i already have many packages installed in python3.6 folder. If i don't want to use conda environment what else could be the possible solution?

[2021-01-31 07:29] ytsheng commented on #667
Closing the issue - let us know how we can help more. :)

[2021-01-31 07:29] #667 closed

[2021-02-01 03:07] sikaiyin commented on #753
That helps! Thanks a lot!

[2021-02-01 03:07] #753 closed

[2021-02-02 06:46] g-luo commented on #756
MMF_USER_DIR="." nohup mmf_run config="./configs/experiments/foil_oscar.yaml" model=oscar dataset=foil run_type=train checkpoint.resume_pretrained=True > tamperednews_oscar_soft_attention_lr5e-5_x1e-2_n12.out &

Traceback if interrupted:
[code]

[2021-02-02 06:47] g-luo commented on #756
I also notice that this can happen with two GPUs as well, but is resolved when I switch to a different combination of GPUs (ie of 1,2 doesn't work 2,3 will). I wonder if this is a race condition happening somewhere or if it's specific to my hardware.

Thanks for looking into this!

[2021-02-02 08:49] Ifrahmaqsood opened #762 "Installed mmf in conda environment but it says "mmf_run" not found"
## ❓ Questions and Help
I have created conda environment with python 3.6 and then install mmf from source **pip install --editable .** . whenever I try to run in a mmf conda environment

 mmf_run config=projects/movie_mcan/configs/vqa2/defaults.yaml \model=movie_mcan \dataset=vqa2 \run_type=train

 it gives me error **-sh: 58: mmf_run: not found**

 please if you could help me.

the result of typi

[2021-02-02 10:56] #762 closed

[2021-02-03 07:39] mnbv7581 opened #763 "Butd Performance Using Coco Dataset Features"
## ❓ Questions and Help

We extracted coco dataset features and learned butd with RCNN model that learned coco dataset rather than vg dataset, but the performance is not good. Can I know what parts I need to check?
The current bleu4 score is 0.1157.

[2021-02-03 19:10] vedanuj commented on #763
BUTD model uses a Faster RCNN model that is trained with Visual Genome attributes. This was show to improve performance a lot [here](https://arxiv.org/abs/1707.07998). If you are using a COCO trained RCNN model, have you trained the BUTD model with your new features?

[2021-02-03 19:52] vedanuj commented on #756
I have tried this on my end but haven't been able to reproduce this. Is there any way you can check if all your GPUs are healthy? It will also be helpful if you can provide us how to reproduce this with any of the existing mmf model/datasets.

[2021-02-03 19:59] apsdehal commented on #756
This was one of the issues that was fixed 2-3 months back in user dir revamp based on issues from @g-luo and Disney. Make sure to rebase your existing MMF with master so that you have latest changes.

[2021-02-04 00:29] mnbv7581 commented on #763
@vedanuj Yes, I trained with new functions.

[2021-02-04 04:57] ytsheng commented on #672
Closing as the recommendation is to use Google Drive to store features. Feel free to reopen and let us know how we can help. Thanks!

[2021-02-04 04:57] #672 closed

[2021-02-05 09:43] Ifrahmaqsood opened #765 "Can I train mcan model with torch==1.4.0+cu100 and torchvision==0.5.0+cu100"
## ❓ Questions and Help
I have cuda 10.0 installed on my tesla server which I cannot change due to other members working on same server and due to this version i can only work with **torch==1.4.0+cu100 and torchvision==0.5.0+cu100** if I want to use cuda. Also, it gives an error **DistributionNotFound: The 'torchvision==0.7.0' distribution was not found and is required by mmf** when training with

[2021-02-05 21:03] HenryJunW commented on #650
Hello, i am new to pycharm, and I noticed that you run the commands 'mmf_run config=projects/visual_bert/configs/vqa2/defaults.yaml run_type=train_val dataset=vqa2 model=visual_bert training.find_unused_parameters=True' successfully using pycharm. May I ask how you edit the **Run Configuration**? Are you using Python interpretation or Shell script interpretation? From my point of view, I need to s

[2021-02-05 21:19] g-luo commented on #650
You can edit the config by setting `config=<local path to your config file>`. You can find an example config file [here](https://github.com/facebookresearch/mmf/blob/notebooks/mmf/configs/datasets/vqa2/defaults.yaml).  This command should be run on the shell; I believe to run mmf in python you need to use [mmf_cli/mmf/run.py] (https://github.com/facebookresearch/mmf/blob/f6bb22d97f0a1f6abd73e8b338

[2021-02-05 21:39] HenryJunW commented on #650
Thanks for your instant reply. I will give a shot using the code snippet you gave to deploy the command in the Pycharm.

[2021-02-05 21:45] apsdehal commented on #765
Hi @Ifrahmaqsood,

Yes, you can try doing this. Please clone from scratch and update requirements.txt to adjust to your environment if you can't pip install directly. You can also install right version of torch and torchvision for your CUDA version by adding proper version at the end. PyTorch does have 10.1 versions for 1.4. Do this before installing MMF.

Let me know if this doesn't work.

[2021-02-06 08:20] Ifrahmaqsood commented on #765
Thank You. The version dependency issue has been resolved.

[2021-02-06 08:20] #765 closed

[2021-02-07 09:50] Ifrahmaqsood opened #767 "changing requirement.txt to torch==1.4.0 and torchvision==0.5.0 leads to pytorch version error"
I am working in a conda environment
I have Cuda 10.0 installed on my tesla server and I installed torch==1.4.0+cu100 and torchvision==0.5.0+cu100 to make it compatible with cuda. Also, I changed the requirement.txt file with it and run
**pip install --editable .**

I gave the following command to train the MCAN model giving my own feature path of **Grid Features**

**CUDA_VISIBLE_DEVICES=0 mmf_run

[2021-02-08 17:33] vedanuj commented on #767
Hi .. as the error says it seems to be related to your version of pytorch installed and when the code tries to load torchvision models the file version is not supported. I recommend upgrading your PT version.

[2021-02-08 17:43] apsdehal commented on #767
If you can't update your cuda version, you can try installing PyTorch and torchvision from source in your conda environment. https://fb.workplace.com/groups/fair.nlp/permalink/3796903530428085

[2021-02-08 23:00] HenryJunW commented on #395
Hello, I would like to visualize the input image and the prediction answer as well on the textvqa dataset. I am wondering whether there is any existing jupyter notebook similar with that of hm dataset https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/mmf_hm_example.ipynb or code snippet. Thanks in advance.

[2021-02-09 13:05] Ifrahmaqsood commented on #767
thank you for your responses. I had to upgrade to cuda 10.1

[2021-02-09 13:05] #767 closed

[2021-02-09 18:31] Ifrahmaqsood commented on #756
I am facing similar issue. when I train my MCAN model with **2 GPUs** it gets stuck on **Loading Datasets**

Here is the result of my **nvidia-smi** command
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.64       Driver Version: 430.64       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| G

[2021-02-11 07:24] Ifrahmaqsood opened #772 "training and loading dataset stuck"
## ❓ Questions and Help
I am training a **movie_mcan** model and tried training a **pythia** model too. I have grid features of **coco** dataset(with resnet-50 architecture) saved on my **storage**. These are hundreds of **gbs** in total. **_with 2 gpu I waited 8 hours so i could load these features and atleast print something. But it didn't as it was stuck on loading datasets and couldn't go to s

[2021-02-11 19:02] g-luo commented on #772
I wonder if it's because your PyTorch version is 1.6.0+cu101, as the default mmf installation should be torch==1.6.0. I was also having similar dataloading issues with pytorch 1.7.1+cu101 that resolved when I reverted back to torch==1.6.0

[2021-02-11 19:03] g-luo commented on #756
@Ifrahmaqsood I wonder if it's because your PyTorch version is 1.6.0+cu101, as the default mmf installation should be torch==1.6.0. I was also having similar dataloading issues with pytorch 1.7.1+cu101 that resolved when I reverted back to torch==1.6.0

[2021-02-11 19:09] Ifrahmaqsood commented on #756
That you @g-luo . My question is, if I go back to torch==1.6 without cuda, then how can I use cuda with pytorch 10.1? I installed it due to cuda dependency

[2021-02-11 19:10] g-luo commented on #756
@apsdehal I am currently already running the latest version of mmf (ie installed using the git repo). @vedanuj I believe all my GPUs are healthy as mmf works when training on them individually (vs the issue arises when training on multiple gpus at once).

This could possibly be because I am using a custom dataset, I'll update this issue as I poke around.

[2021-02-11 19:12] g-luo commented on #756
@Ifrahmaqsood MMF should be able to run on your gpus with torch==1.6.0; if you want to have cu101 installed I think @apsdehal or @vedanuj would have a better answer.

[2021-02-11 19:20] g-luo opened #773 "Multi Sentence BERT Tokenizer"
## ❓ Questions and Help

Hello, I was trying to use the multi sentence BERT tokenizer in [bert_processors.py](https://github.com/facebookresearch/mmf/blob/2ff00626ec2bc6b56a543da0dc2869c548e81fec/mmf/datasets/processors/bert_processors.py#L176). I was wondering if the HuggingFace versions of BERT do not support 3+ segment ids, since when I tried using this as an input to the unimodal_text and visu

[2021-02-11 21:03] Ifrahmaqsood commented on #742
how can i get the annotations for grid features? Any direct link to them? As, I assume that it is causing issue because of annotation files that are saved with these names. I have my own grid features for coco dataset but not the annotation files for them

[2021-02-12 01:22] ytsheng commented on #772
Hi! You can try to set the `logger_level=debug` to see what is going on. It will print more useful error messages. On my end, it has also sporadically happened. I have not been able to pinpoint the issue. We will continue to keep an eye out to monitor this.

[2021-02-12 08:27] ytsheng commented on #773
Hi @g-luo, thanks for using mmf!

I believe we only support 3+ segment ids for models such as `mmf_transformer`. @vedanuj added mmf_transformer to support multimodality [here](https://github.com/facebookresearch/mmf/commit/31f0cc195ba25f69dd58fee6f9c714e7cd7418a1)

Perhaps he could share more. :)

[2021-02-12 13:22] #742 closed

[2021-02-12 19:44] Ifrahmaqsood commented on #772
@ytsheng  here is my result when I interrupt the training. Even with 0 num_worker.

### CUDA_VISIBLE_DEVICES=0,1 mmf_run config=projects/movie_mcan/configs/vqa2/defaults.yaml \model=movie_mcan \dataset=vqa2 \run_type=train \training.num_workers=0 \training.logger_level=debug

**2021-02-13T00:38:14 | mmf.utils.configuration: Overriding option config to projects/movie_mcan/configs/vqa2/defaults.yaml

[2021-02-12 19:54] g-luo commented on #773
Thanks so much! Does this model preserve the fact that the sentences are distinct and have different segment ids? It seems that the model is summing the embeddings for all the sentences, but not sure where the segment ids are used.

[2021-02-12 20:35] ytsheng commented on #773
Are you hoping to concat the sentences together after assigning them different segment IDs? In terms of how to process the input data to model input, the logic resides in processors. For text, it is in [bert_processor.py](https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/processors/bert_processors.py#L177), specifically, please take a look at our `MultiSentenceTokenizer`. You can sp

[2021-02-12 20:58] g-luo commented on #773
I think on a higher level, I want the transformer to understand that the embeddings are for different segment id types (eg if I am taking the concat of three sentences, each sentence comes from a different distribution). I just wanted to see if this implementation of mmf_transformer accounts for that?

[2021-02-12 21:13] apsdehal commented on #772
Hi @Ifrahmaqsood!

We will need some more debugging information from you. Have you tried running some other framework on your machines? For example, can you try running pytorch's imagenet example to see if it works fine for you. https://github.com/pytorch/examples/blob/master/imagenet/main.py

[2021-02-14 09:22] hivestrung opened #776 "Still can't reproduce Image-Grid Results from Paper"
So I previously had trouble reproducing the results using the pretrained models from the model zoo. Now that is fine. I moved on to trying to train the model myself and encounter problems reproducing the results using mmf.

## Instructions To Reproduce the Issue:

1. Train Image-grid
[code]
2. Evaluate on validation set
[code]

3. __full logs__ you observed:
4.

When training, I get these warnings

[2021-02-14 10:08] Ifrahmaqsood commented on #772
@apsdehal I tried training _https://github.com/facebookresearch/grid-feats-vqa_ with detectron2. **With 2 GPUS,** this model is also not working. What could be the possible reason? Is there some problem with Pytorch?

**the training command**
/home/anaconda3/envs/detectron2/bin/python train_net.py --num-gpus 2 --config-file configs/R-50-grid.yaml

**it just displays**
Command Line Args: Namespace(

[2021-02-14 14:02] hivestrung commented on #776
Here are some results I've gotten from training multiple times

[code]
As you'll see I don't get anywhere really close to the reported scores of acc 52.73 and auroc 58.79

[2021-02-14 16:13] apsdehal commented on #776
Hi @hivestrung ,

can you clarify which phase you are running the model on? Looking at your issue, my guess is that you are using MMF default which is phase 2 and the final baseline numbers for phase 2 are reported in https://proceedings.neurips.cc//paper/2020/file/1b84c4cee2b8b3d823b30e2d604b1878-Paper.pdf and arxiv need to be yet updated. The numbers in the NeurIPS version are matching with what

[2021-02-14 16:42] Rey74 commented on #711
Thank you for your comments, Your solution was very helpful and I can run the pytest ./tests/ now.

[2021-02-14 16:46] Rey74 commented on #711
@ytsheng
Thank you. Your solution was very helpful and  I can run the pytest ./tests/ now

[2021-02-14 16:46] #711 closed

[2021-02-14 17:05] rseraj opened #777 "Error in Training the M4C Model"
## ❓ Questions and Help

1. **Environment:**

python: 3.7.4
pytorch Version: 1.6.0+cu101
CUDA Version: 10.2
 GPU: GeForce GTX 1650 ,4 GPUs

C:\Users\mmf>nvidia-smi

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 441.93           Driver Version: 441.93             CUDA Version: 10.2     |
|-------------------------------+----------------------+---------

[2021-02-14 23:20] hivestrung commented on #776
Hi Amanpreet,

How do I check which phase I’m running it on? I changed the dev set to seen, rather than unseen, in the defaults.yaml somewhere within Python site packages/mmf. And I can verify that changing that affects the score.

Also, using the pretrained model From the zoo I do get around 57 for auroc.

Thanks

Best regards,
Shiv Godhia
________________________________
From: Amanpreet Singh <n

[2021-02-16 02:19] ytsheng commented on #777
Hi @Rey74, thanks for using mmf!

Do you mind sharing the full command that you are using? Typically in the `mmf_run` command, we need to pass in the `model` and `dataset` arguments. What you shared `mmf_run config=projects/m4c/configs/textvqa/defaults.yaml` did not have either the `model` nor the `dataset` argument so the code  is just asking you to provide the model you want to use. If you want

[2021-02-16 07:12] Ifrahmaqsood commented on #772
@apsdehal Any solution?

[2021-02-16 07:27] vedanuj commented on #773
@g-luo As @ytsheng mentioned, if you can choose to either **concat** the sentences or **stack** the sentences. If **concat** option is chosen then all the sentences are considered from the same source and hence are assigned same segment embedding. If **stack** option is chosen the each sentence has its own position and segment embeddings and the model considers they are from different distribution

[2021-02-16 07:30] vedanuj commented on #772
@Ifrahmaqsood Which version of NCCL do you have, as I suspect this is a NCCL communication error?

Since it is happening for you on other frameworks as well, we recommend you raise the issue on Pytorch forums/issue, as it is not specific to MMF.

[2021-02-16 08:03] Ifrahmaqsood commented on #772
@vedanuj
->torch.cuda.nccl.version()
**2408**

[2021-02-16 17:37] g-luo commented on #773
Gotcha; thank you!

[2021-02-16 17:37] #773 closed

[2021-02-17 08:11] apsdehal commented on #772
@Ifrahmaqsood  as @vedanuj suggested, I also think you should raise this to PyTorch forums/issues. I would suggest running the pytorch imagenet example I suggested before to confirm and then post your findings either on PyTorch issues or forums. This is no longer related to MMF rather your PyTorch setup. As far as I can tell, dist.barrier call is getting stuck.

[2021-02-17 11:15] hivestrung commented on #776
@apsdehal Apologies, I wasn't sure if you've managed to take a look at my latest comment regarding the phases? Thanks so much by the way!

[2021-02-19 04:48] Yulmart opened #784 "Absolute paths in VisualBERT configuration file"
## ❓ Questions and Help

My team and I were using the `visual_bert.pretrained.coco` model and ran into the following error.

[code]

We noticed that the cached model configuration file `~/.cache/torch/mmf/data/models/visual_bert.pretrained.coco.defaults/config.yaml` contains absolute paths that were causing the `PermissionError`. For example, there was an entry for `cache_dir: /private/home/vedanu

[2021-02-19 07:00] apsdehal commented on #776
Hi @hivestrung,

I can try running the exact command on my side to see if I can replicate the result. I would actually expect this within the range. Have you tried running the command multiple times to average?

[2021-02-19 07:39] apsdehal commented on #776
@hivestrung The difference is caused because the new train set (released in phase 2) is also different was reannotated to fix bad examples. You won't be able to replicate the exact results present in the arXiv. I would suggest that you use phase 2 and use the baselines in the NeurIPS paper. We will try to open up Phase 2 submissions soon and update the arXiv.

[2021-02-22 16:42] vedanuj commented on #784
Hi @Yulmart .. can you share the command you used to run?

[2021-02-22 17:35] Yulmart commented on #784
Hey, this is the code that we ran.

[code]

[2021-02-27 08:52] naveenchoudhary839 opened #790 "mmf_run showing problem while training"
## ❓ Questions and Help
**When i am running the following command,**
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val

**It is showing the error as,**
2021-02-27T13:58:58 | mmf.utils.configuration: Overriding option config to projects/m4c/configs/textvqa/defaults.yaml
2021-02-27T13:58:58 | mmf.utils.configuration: Overriding

[2021-02-27 13:57] tranvinhhung99 commented on #663
https://github.com/facebookresearch/mmf/blob/5c75d690ebbc0359a7e0b7719c0a8d4c996fd22e/mmf/models/m4c.py#L333

Hi, I also meet the same issue. I have found the about line is the cause of the error. Or at least I have found a way to load weight. I will try to see if I could infer in a later day.

In short, the existing config (which store in registry["config"]) for downloading model being modified b

[2021-02-28 03:39] vedanuj commented on #790
This seems to be an NCCL and pytorch version related issue. Please raise the issue in pytorch repo or ask in the forums.

[2021-02-28 05:22] apsdehal commented on #790
Also, in the logs it has a warning which is showing that the exact problem:

[2021-03-01 10:49] giulia95 opened #791 "Testing Baselines on personal dataset"
## ❓ Questions and Help
Hi,
I'm working on the Hateful Memes project; I'm trying to use the proposed pretrained models to make predictions on a personal dataset.
I've been able to reproduce the results using the documentation and the given dataset, but I'd like to make predictions on my own dataset.
How can I adjust mmf_predict command to run on my dataset? I've been using the command with the fol

[2021-03-01 20:58] apsdehal commented on #791
Hi,
You will have to update `dataset_config.hateful_memes.annotations.test[0]` to point to your annotation file. If the images have changed and you are using feature based models (such as VisualBERT), you will also have to generate features for those files using feature extractor scripts.

References:
- Config file for Hateful Memes: https://github.com/facebookresearch/mmf/blob/master/mmf/configs/

[2021-03-02 15:31] Mano2610 opened #792 "Error while Training - Textvqa"
Hi,
I am getting the below error when I tried to run the mmf-facebook.
I just downloaded the github and ran the commands , getting the below error.
(mmf) D:\PROJECT\New folder\mmf>mmf_run config=projects/lorra/configs/textvqa/defaults.yaml \    datasets=textvqa \    model=lorra \    run_type=train_val
2021-03-02T15:14:39 | mmf.utils.configuration: Overriding option config to projects/lorra/configs

[2021-03-02 17:27] apsdehal commented on #792
Hi,

Can you run this: `mmf_run config=projects/lorra/configs/textvqa/defaults.yaml datasets=textvqa model=lorra  run_type=train_val` (without the \)?

[2021-03-02 17:55] Mano2610 commented on #792
Yes, now the datasets are downloading...
But this is Lorra model, Can we try using m4c instead of lorra

[2021-03-02 17:57] apsdehal commented on #792
Sure, please follow M4C project's instructions: https://mmf.sh/docs/projects/m4c

[2021-03-03 05:57] HenryJunW opened #793 "M4C Pretrained Model Reproduced"
## ❓ Questions and Help
Fantastic job!

I try to train the M4C on Textvqa & Stvqa from scratch to reproduce the pre-trained model results. However, I can only get ~39.52% on the Textvqa validation set, **1 percent below** 40.65% achieved by the given pre-trained model. I am wondering whether there is any tricks to train the pre-trained model, i.e. more epochs? It would be very helpful if you can p

[2021-03-03 21:45] ytsheng commented on #793
Hi @HenryJunW, thanks for using mmf!

Two things:-
1. Depending on what you set as the training_seed, results may vary slightly. We recommend that you train your training run with random seed and average the results after 5 runs.
2. Are you using distributed training in your pretraining? In practice, with distributed training we also have observed some fluctuations in the results.

Hope this helps

[2021-03-03 22:09] HenryJunW commented on #793
Thanks for your reply, make sense!

I am currently using 4 V100 GPUs to do pretraining. In terms of distributed training, are you referring to that it is better to train using a single GPU? If so, do you recommend changing the lr in this case or simply using the provided config file?

[2021-03-04 08:38] ytsheng commented on #793
I am merely commenting on that the performance numbers will differ slightly, not that it is better. :)

[2021-03-04 08:40] apsdehal commented on #793
@HenryJunW It would be helpful if you can provide us the exact command you ran so we can better help you.

[2021-03-04 17:36] HenryJunW commented on #793
@ytsheng  I see, thanks for the clarification!
@apsdehal  Currently, I tried to reproduced the pretrained model validation result of joint_with_stvqa model. The commands i am using is,
[code]
I didn't change the default/joint_with_stvqa yaml files except I modified num_workers to be 2 from 4 in order to fit my CPU RAM limit. The validation result I got is mentioned in the original question. Thanks

[2021-03-06 18:44] shuaichenchang commented on #663
@ytsheng Hi, thank you for making the tutorial! The link about how to install MMF in maskrcnn_benchmark env seems internal, can you make it public? Thank you! The link is https://www.internalfb.com/intern/staticdocs/mmf/docs/getting_started/installation#install-from-source-recommended

[2021-03-09 16:13] MiriamFarber opened #802 "Visual question answering"
Is there a module in this repository that I can use that gets as an input question and image, and generates an answer as an output?
If not, are there any modules that have the generic structure of receiving image and text as an input, and generating another text as an output?

[2021-03-09 19:57] Mano2610 commented on #792
While Training the model, I am getting the following error,

2021-03-09T19:52:05 | mmf.utils.general: Total Parameters: 90850184. Trained Parameters: 90850184
2021-03-09T19:52:05 | mmf.trainers.core.training_loop: Starting training...
Traceback (most recent call last):
  File "C:\Users\kvman\anaconda3\envs\mmf\Scripts\mmf_run-script.py", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'c

[2021-03-09 20:19] ytsheng commented on #802
Hi @MiriamFarber,

Are you asking if there is a decoder built in that generates texts? People do use `mmf` for VQA, but they use it in a form of multiple choice.

[2021-03-10 08:06] Ifrahmaqsood opened #803 "Hardware requirements for Movie_Mcan"
## ❓ Questions and Help
Can you please let me know what are the least **Hardware requirements**  for Movie_Mcan model?

Like,
Gpu memory, RAM and Disk space?

[2021-03-10 12:56] MonsKim999 opened #804 "Textcaps demo notebook link"
Thank you for opening good work.

While I was going around the closed issue, I've heard the existence of a demo about the Textcaps model.
I'd like to have a look at the Textcaps model. However, I can't find where the link is. If the link exists, could you provide me a demo link?

Thank you.
Jungjun Kim.

[2021-03-10 15:33] giulia95 commented on #791
Hi,
Thank you for your help.
I've been trying to execute the following command on Colab to extract features for my images.
`python mmf/mmf/tools/scripts/features/extract_features_vmb.py --model_name=X-152 --image_dir=<FOLDER_PATH_TO_DATASET> --output_folder=<OUTPUT_FOLDER>`
but I got an error:

[code]

I think I have installed all the requirements; here's my code:

[code]

[2021-03-10 17:34] ytsheng commented on #804
Hi @MonsKim999,

An example: https://github.com/facebookresearch/mmf/blob/f6bb22d97f0a1f6abd73e8b3386a5541ac48e0d8/website/docs/projects/m4c_captioner.md#L4

[2021-03-10 17:43] Ifrahmaqsood commented on #803
@ytsheng I'm using **Coco dataset**. I have 1 GPU with 11 gb memory, RAM of 16 gb and 500gb disk space for training but it keep saying CUDA OUT OF MEMORY even at a **4 batch size**. I'm not sure if it's the RAM issue or the GPU memory

[2021-03-10 18:45] arjun-mani opened #807 "Running LXMERT on a custom dataset"
Hello,

I'm trying to apply LXMERT to a custom dataset that I've created, but the loss is stuck and not moving anywhere. Here's the main changes I've made to the config file:

`model_config:
  lxmert:
    training_head_type: classification
    num_labels: 2
    losses:
    - type: logit_bce`

`dataset_config:
  visual7w:
    return_features_info: true
    processors:
      text_processor:

[2021-03-10 18:48] ytsheng commented on #807
Hi @arjun-mani, thanks for using mmf!

Do you mind sharing your **complete** model and dataset config?

[2021-03-10 19:11] arjun-mani commented on #807
@ytsheng No problem. Here's my project config file:

<img width="399" alt="Screen Shot 2021-03-10 at 2 09 03 PM" src="https://user-images.githubusercontent.com/4947338/110683588-30517400-81aa-11eb-9807-1b04c249ad59.png">

Here's my dataset config file:

<img width="632" alt="Screen Shot 2021-03-10 at 2 10 43 PM" src="https://user-images.githubusercontent.com/4947338/110683785-6a227a80-81aa-11eb-8d

[2021-03-11 03:39] Mano2610 opened #810 "Error during training Textvqa"
## ❓ Questions and Help
Hi,

While I am trying the training code with m4c model, I am getting the following error,

2021-03-11T03:34:15 | mmf.utils.general: Total Parameters: 90850184. Trained Parameters: 90850184
2021-03-11T03:34:15 | mmf.trainers.core.training_loop: Starting training...
Traceback (most recent call last):
  File "C:\Users\kvman\anaconda3\envs\mmf\Scripts\mmf_run-script.py", line

[2021-03-11 06:58] MonsKim999 commented on #804
@ytsheng
Hi, I wonder about the colab demo for m4c_captioner(textcaps model).
I will be happy if you inform me of the existence of colab demo.
Thank you!

[2021-03-11 21:14] Ifrahmaqsood opened #811 "warning while starting training or resuming it from checkpoint"
## ❓ Questions and Help
Hi, I am working with **movie_mcan** model. Can you tell me, why does it give such warning. I didn't change anything in the code that could possibly bring this warning.

**When I start or resume training from checkpoint, it shows**

2021-03-12T01:58:18 | mmf.utils.checkpoint: Loading checkpoint
WARNING 2021-03-12T01:58:51 | mmf: Key data_parallel is not present in registry,

[2021-03-12 07:50] vedanuj commented on #811
These warnings can be ignored. If there was any issue in loading the checkpoint you would have got errors.

[2021-03-12 07:51] #811 closed

[2021-03-12 07:53] Ifrahmaqsood commented on #772
Thank you for the responses. Yes I had to change the backend from nccl to gloo and it worked

[2021-03-12 07:53] #772 closed

[2021-03-12 18:44] ifmaq1 opened #812 "While training Movie_mcan, model seems to be stuck at "Evaluation time. Running on full validation set...""
I am training Movie_mcan model on 2 GPUS

**I changed the backend from NCCL to gloo** because my training was getting stuck with NCCL. Also, I am using **8 batch size** due to 16GB RAM and 2 Tesla K-80 GPUS(each with 11 GB memory) and num_worker=2 is working for me.

When I run a command

**CUDA_VISIBLE_DEVICES=0,1 mmf_run config=projects/movie_mcan/configs/vqa2/defaults.yaml \model=movie_mcan \da

[2021-03-12 19:42] vedanuj commented on #810
Hello, can you verify if the dataset is downloaded properly in `~/.cache/torch/mmf/data/datasets/textvqa/defaults/features/` ?

[2021-03-12 19:44] vedanuj commented on #812
Hi .. can you try with `run_type=train_val` ?

[2021-03-12 19:46] Mano2610 commented on #810
Yes, I have checked and it's download completely. Also I have tried 3, 4 times. But getting the same error.

[2021-03-13 01:26] Ifrahmaqsood commented on #812
@vedanuj thank you for your response. I tried with **run_type=train_val** and again waited for 7 hours but no results.

**it ended with same results on interruption**

^CTraceback (most recent call last):
  File "/home/anaconda3/envs/mmf/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/home/new-mmf/mmf-master/mmf_cli/run.py", line 11

[2021-03-13 01:34] apsdehal commented on #810
Hi,
This is probably happening due to different file system on Windows. If possible, can you try on Ubuntu VM available in Windows 10 and higher?

[2021-03-13 01:44] Mano2610 commented on #810
I have only 300gb in my machine, will I able to have VM in windows 10. Also the data for mmf. I am little confused in allocating the space, so I am using windows.

[2021-03-13 01:47] apsdehal commented on #810
I am specifically talking about https://ubuntu.com/tutorials/ubuntu-on-windows#1-overview

[2021-03-13 06:58] vedanuj commented on #812
I am suspecting it might be due to python3.6. Can you try with python 3.7 or 3.8 once? Thanks for your patience!

[2021-03-13 16:24] Ifrahmaqsood commented on #812
@vedanuj I tried using both 3.7 and 3.8 and waited for 3-4 hours for each. I also kept on checking gpu utilization. Sometimes it rises to 90% each and other times it is 0% on both. I think that indeed gpus are in use and are loading data.

Also I am using my own features extracted from **resnet-50 on COCO** dataset and the path to features that I have given
**projects/movie_mcan/configs/vqa2/defau

[2021-03-14 08:44] anayavol commented on #812
@vedanuj also please let me know that can I train the model without evaluating it on validation set. Using batch_size=8 and same number of max_iterations=236000 and lr: 5e-05. Will it badly effect the accuracy?

[2021-03-14 08:46] Ifrahmaqsood commented on #812
@vedanuj also please let me know can I train my model without evaluating it on validation set. keeping batch_size:8 with default max_updates: 236000 and lr: 5e-05. Will it effect the accuracy badly?

[2021-03-16 09:54] Ifrahmaqsood commented on #812
@vedanuj please let me know if you find any solution?

[2021-03-16 19:48] vedanuj commented on #803
@Ifrahmaqsood You can use the training.update_frequency feature to accumulate gradients and have an effective batch size of 64 that MovieMcan uses.

[2021-03-17 03:22] vedanuj commented on #812
Batch size 8 will not give you the right accuracy. One way you can use larger batch sizes is by using `training.update_frequency`, which will accumulate gradients after the specified number of forward passes. Please check this for more details : https://github.com/facebookresearch/mmf/blob/master/mmf/configs/defaults.yaml#L51

[2021-03-17 03:28] vedanuj commented on #807
Hi @arjun-mani

There can be various factors affecting performance and convergence. Since this is a new dataset you are trying, you can try some hyperparameter sweeps to find a good set of parameters. One thing you can try is use some hyper parameters that others have found to be good for this datasets on similar transformer architectures. It might also make sense to look at the training and loss

[2021-03-17 03:33] vedanuj commented on #745
@prashan PRs are welcome if you want to add the Refer Expression support to MMF. One issue is the Refer Expression repo is still using Python 2 and will need to be updated.

[2021-03-17 04:40] arjun-mani commented on #807
Hi @vedanuj - thanks for the reply. That's exactly right, I was able to get it training after a lot of tweaking of the learning rate schedule. Closing this issue.

[2021-03-17 04:40] #807 closed

[2021-03-17 07:28] Ifrahmaqsood commented on #812
@apsdehal with batch size=4 num_workers=0

**CUDA_VISIBLE_DEVICES=0 mmf_run config=projects/movie_mcan/configs/vqa2/defaults.yaml \model=movie_mcan \dataset=vqa2 \run_type=train \training.num_workers=0**

after 2 hours at **mmf.trainers.core.training_loop: Evaluation time. Running on full validation set...**

**On interruption, my log**

^CTraceback (most recent call last):
  File "/home/anaconda3

[2021-03-17 07:29] Ifrahmaqsood commented on #803
@vedanuj thank you for your response

[2021-03-17 07:29] #803 closed

[2021-03-17 22:08] ytsheng commented on #812
Hi, thanks for reporting. This may be a recent memory leak that was introduced in the eval run. I am currently looking into this and will provide an answer shortly. We apologize for the inconvenience caused.

[2021-03-19 02:40] Mano2610 commented on #810
Hi @apsdehal ,

I have tried in ubantu and I have also allocated 4 gpu's for training but I am getting the below error, Kindly help me to resolve this issue,

**** GRID ENGINE GPU ASSIGNMENT: your job has been assigned GPU device(s): 0,1,2,3
[32m2021-03-19T02:19:53 | mmf.utils.configuration: [0mOverriding option config to projects/m4c/configs/textvqa/defaults.yaml
[32m2021-03-19T02:19:53 | mmf.

[2021-03-19 04:47] ytsheng commented on #812
Reporting back, so there does not seem to be a memory leak in the eval loop. The estimated time will be more accurate as more eval iterations are run.

[2021-03-19 04:50] ytsheng commented on #810
Hi @Mano2610, thanks for using mmf:

Can you try again with adding `training.num_workers=0` in the command line?

[2021-03-19 07:38] Ifrahmaqsood commented on #812
@ytsheng got it. Thank you for your time.

[2021-03-19 11:39] ifmaq1 opened #821 "Features used for pretrained Movie_Mcan "movie_mcan.grid.vqa2_vg""
## ❓ Questions and Help
Could you please tell me that, did you used **X-101** features for pretrained model of **Movie+Mcan**? and if I use a pretrained model I need the testing set for X-101 features of COCO2015 right? Testing can't be done with resnet-50 features if I use a pretrained model?

[2021-03-19 19:49] vedanuj commented on #821
Hi @Ifrahmaqsood, Movie MCAN model uses the features available in https://github.com/facebookresearch/grid-feats-vqa#pre-trained-models-and-features, specifically the X-152++ features. It is a X-152 model.

So if you are using a pretrained model then you will need the features available for X-152++ in the above link. Testing with any other features will not give same results.

[2021-03-22 10:21] Mano2610 commented on #810
Hi @ytsheng , Thank you for your help, it worked well. But after running the epochs, I am getting the below error,

[32m2021-03-22T07:40:41 | mmf.trainers.callbacks.logistics: [0mprogress: 23900/24000, train/textvqa/logit_bce: 0.4570, train/textvqa/logit_bce/avg: 1.1226, train/total_loss: 0.4570, train/total_loss/avg: 1.1226, max mem: 5475.0, experiment: run, epoch: 89, num_updates: 23900, itera

[2021-03-24 05:29] csbobby opened #824 "Reinstallation version issue of MMF codes"
## ❓ How to solve the version issue of a new installation on previously modified projects
Hi team,
Is there any way to make my previous MMF projects satisfy the new package requirements (PyTorch 1.6 and torchvision 0.7.0)?
I am moving my previously modified MMF projects to the new cluster. So I reinstalled the modified MMF project codes by the commend:
`pip install --editable .`
The installation r

[2021-03-24 16:40] tranvinhhung99 commented on #663
Hi @ytsheng,

Do the feature extractor (Faster RCNN)  with `default` of M4C Captioner use ResNet101 or ResNet152 as the backbone?

Thank you.

[2021-03-24 17:48] apsdehal commented on #824
Hi,
You can manually clone and edit the version requirements in requirements.txt and then install MMF to get unblocked. We will look for a better long term solution on our side.

[2021-03-24 17:49] apsdehal commented on #663
@tranvinhhung99 it is ResNext152 trained on Visual Genome with attribute loss.
@shuaichenchang The doc is here: https://mmf.sh/docs/tutorials/image_feature_extraction

[2021-03-25 06:05] tranvinhhung99 commented on #663
@apsdehal how about the OCR Feature FRCNN, as I believe they came from the same model?

Correct me if I am wrong, but AFAIK the code provided in https://github.com/ronghanghu/vqa-maskrcnn-benchmark-m4c/tree/bbox_feat_extract/maskrcnn_benchmark only support ResNext101.

Thank you a lots.

[2021-03-26 02:42] Mano2610 commented on #810
Hi @ytsheng  - I am able to train and evaluate using m4c model. What is the final accuracy will we be getting here.

Also when I try to run the test, I am getting the below error,

**** GRID ENGINE GPU ASSIGNMENT: your job has been assigned GPU device(s): 0,1,2,3
[32m2021-03-23T15:30:46 | mmf.utils.configuration: [0mOverriding option config to projects/m4c/configs/textvqa/defaults.yaml
[32m2021

[2021-03-27 15:38] Ifrahmaqsood opened #832 "How to get test accuracy for movie_mcan model for vqa2"
## ❓ Questions and Help
I have used the pretrained model and run the code on **test split** using

**mmf_predict config=projects/movie_mcan/configs/vqa2/defaults.yaml \
  dataset=vqa2 \
  model=movie_mcan \
  run_type=test \
  checkpoint.resume_zoo=movie_mcan.grid.vqa2_vg**

  now I have a file named **vqa2_run_test_2021-03-27T19:53:54.json**

  How can I get the accuracy on vqa2 with this file. W

[2021-03-28 05:31] vedanuj commented on #832
You will have to submit this to the EvalAI VQA server fo VQA2.0. https://eval.ai/web/challenges/challenge-page/830/submission

[2021-03-28 16:42] Ifrahmaqsood commented on #832
Thank you

[2021-03-28 16:42] #832 closed

[2021-03-29 00:57] shuaichenchang commented on #663
@apsdehal Thanks a lot for the reply! The document contains how to install maskrcnn_benchmark in a separate env, but I think to get the feature extractor run I need to install mmf and maskrcnn_benchmark in one env.  This section (https://mmf.sh/docs/tutorials/image_feature_extraction/#prerequisites-setup) referred to an internal document (https://www.internalfb.com/intern/staticdocs/mmf/docs/getti

[2021-03-29 08:01] 1144181135 opened #836 "tools/scripts/features/frcnn/extract_features_frcnn.py"
## ❓ Questions and Help
I try to extract bottom up features in a new dataset. The feature extraction in "mmf/tools/scripts/features/extract_features_vmb.py" is achieved by maskrcnn_benchmark but it shows deprecated. I found that the file "tools/scripts/features/frcnn/extract_features_frcnn.py". Can this file extract bottom-up features? If can, where is the MODEL_URL? If not, how to extract feature

[2021-03-30 02:30] sonuagarwal1008 commented on #678
Hi @apsdehal ,
I want to work on this issue. I observed that this issue is still there and there is **get_absolute_path** function available in the code.
Can I use the same function?

[2021-03-30 03:36] vedanuj commented on #836
Hi .. you can use `tools/scripts/features/frcnn/extract_features_frcnn.py` for extracting features. The script will automatically download the model file and config file from MODEL_URL defined in the script if you don't specify it in the run command.

[2021-03-30 10:12] hivestrung opened #840 "For inference: How do I load images?"
I want to use the models ConcatBert, Late Fusion, Text Bert, Image Grid and Visualbert COCO for inference of Hateful Memes, by building a website around those models which can take a jpeg/png and the caption and spit out a hatefulness score.

I read this https://github.com/facebookresearch/mmf/issues/364

I still don't really understand how to do this. It should be simple but it's really difficult

[2021-03-30 23:14] hivestrung commented on #840
I also don't really understand what transforms are being applied for each image that is being loaded. Like, what happens to each .png image?

@apsdehal Sorry to bother you, but would you be able to give me a quick rundown of the preprocessing done on the image file (and text, but I think I understand the text processing) for Hateful Memes dataset specifically?

[2021-03-31 00:27] vedanuj commented on #840
Hi @hivestrung .. You can check how the inference API has been implemented. Should be easy to extend this to your models. You will need to build the processors and pass your image and text wrapped in a SampleList to these processors and the output of the processor to the model. Check this out :

https://github.com/facebookresearch/mmf/blob/master/mmf/utils/inference.py

[2021-03-31 02:50] adi1999 commented on #588
Hi @apsdehal , I would like to work on adding the requested feature, Can you elaborate a bit!

[2021-03-31 10:26] hivestrung commented on #840
@vedanuj Thanks for your reply. I did check it out, and I do understand the thing about SampleLists, but it's a little trickier than that.

Currently I am working on extending it to ConcatBert and this is what has worked (for the image processing). By "worked" I mean that it actually compiles and gives me a prediction, it remains to be seen if I have processed images properly such that the predict

[2021-03-31 18:15] vedanuj commented on #840
Here are the image transforms we use for hateful memes models.

https://github.com/facebookresearch/mmf/blob/master/mmf/configs/datasets/hateful_memes/defaults.yaml#L46

You can build this image processor and pass your images to that.

[2021-04-01 08:10] jc138691 commented on #663
Dear mmf-team, I am trying out your example how to: Generate prediction file on the validation set, via
    # https://mmf.sh/docs/projects/m4c_captioner/
    # mmf_predict datasets=textcaps \
    #     model=m4c_captioner \
    #     config=projects/m4c_captioner/configs/m4c_captioner/textcaps/defaults.yaml \
    #     env.save_dir=./save/m4c_captioner/defaults \
    #     run_type=val \
    #

[2021-04-01 14:31] hivestrung commented on #840
@vedanuj One question, I notice that there is a processor for text too. This is different from what I see in the configs when I try to build the model.

For example for ConcatBERT I see this:

[code]

Which text processor should I use?

[2021-04-01 16:34] apsdehal commented on #663
@jc138691 Please open up a new issue.
@shuaichenchang We will fix that link. It is actually pointing to https://mmf.sh/docs#install-from-source-recommended.

[2021-04-01 16:39] Mano2610 commented on #810
Kindly Let me know if there is any update on the above error?

[2021-04-01 16:42] apsdehal commented on #810
@ronghanghu Can you check why this assertion error is happening?

[2021-04-01 16:50] ronghanghu commented on #810
Hi @Mano2610, the assertion error happens because the **test** set has no ground-truth labels. In the TextVQA task, you cannot evaluate locally on the test set. Instead, you should generate a prediction file and use the EvalAI server to evaluate it.

Please follow Point 3 in https://mmf.sh/docs/projects/m4c#training-and-evaluation for prediction file generation. The predictions should be submitted

[2021-04-02 01:15] HenryJunW commented on #754
Same problem, how do you solve this? Thanks!

[2021-04-02 05:05] jc138691 opened #847 "m4c_captioner val-run: TypeError: unsupported operand type(s) for -=: 'NoneType' and 'int'"
If you do not know the root cause of the problem, and wish someone to help you, please post according to this template:

## Instructions To Reproduce the Issue:

Check https://stackoverflow.com/help/minimal-reproducible-example for how to ask good questions. Simplify the steps to reproduce the issue using suggestions from the above link, and provide them below:

1. full code you wrote or full chan

[2021-04-02 15:54] hivestrung commented on #836
The script doesn't actually download the model file and config file from MODEL_URL, but I've been putting together an upgrade that has fixed most of those issues and will upload it in the next week or so.

[2021-04-02 17:09] hivestrung opened #848 "extract_features_frcnn: _save_feature call not correctly written"
## 🐛 Bug

Function call for _save_features will fail for single image

## To Reproduce
https://github.com/facebookresearch/mmf/blob/9d7696f49932b48f701e56aca4d32ffe279ee28f/tools/scripts/features/frcnn/extract_features_frcnn.py#L266
The function call doesn't have the right arguments...

[code]
## Who can help

@brettallenyo

[2021-04-02 19:15] kLabille commented on #754
@HenryJunW I solved the problem by changing the "training criteria" value in the config file of the model to train for my new dataset. For instance, to train the Image Grid model on my new dataset called "my_new_dataset", I would need to modify  the file  `projects/my_new_dataset/configs/unimodal/image.yaml ` and change the training.criteria parameter from  `hateful_memes/roc_auc`  to  `my_new_dat

[2021-04-02 20:53] vedanuj commented on #840
Yes for concat bert you should use this processor. Is that causing any issues?

[2021-04-02 23:28] brettallenyo commented on #848
Thanks so much for the catch, should be fixed with: https://github.com/facebookresearch/mmf/pull/850

[2021-04-03 03:26] ronghanghu commented on #847
fixed in #851

[2021-04-03 08:53] #847 closed

[2021-04-03 09:19] hivestrung commented on #840
Nope, no issues - just trying to make sure I'm using the right processors for everything. Thanks for the help!

[2021-04-03 09:19] #840 closed

[2021-04-03 09:52] junqi-jiang commented on #784
Hi, don't know if this has been resolved, but I solved this issue by modifying the config file that came with the downloaded pretrained checkpoint. Find that config.yaml under your default cache folder and change any attributes with 'home/private/xxx/...' to your own directories.

[2021-04-03 09:56] hivestrung commented on #848
Thanks for the fix, will test it out and close this if it works

[2021-04-03 11:33] junqi-jiang opened #852 "Cannot use mmf/utils/inference.py with existing configs"
## 1. Cannot use mmf/utils/inference.py with existing configs

I am doing a project that needs an interface to do inference on random images using vilbert and visual_bert models for the hateful_memes challenge.

In this pull request https://github.com/facebookresearch/mmf/pull/830 an interface was developed. When I tried to instantiate an Inference object with the pretrained visual_bert checkpoint

[2021-04-03 11:38] junqi-jiang commented on #852
wrong link, it was this pull request https://github.com/facebookresearch/mmf/pull/798 that did the interface

[2021-04-03 16:31] hivestrung commented on #848
@brettallenyo Seems to be ok, but you might need to modify img_tensorize like so:

Note the .convert("RGB"). I was uploading some of the Hateful Memes image for testing and it turns out they're "RGBA" which required this conversion. But I really don't know what's the best way to go about ensuring that formats are correctly input.

[code]

[2021-04-03 17:53] hivestrung commented on #852
Seconded. I'm further along and have gotten extract_features_frcnn to work and return features on an arbitrary file, but even then it is not possible to use those features for inference using visual bert.

[2021-04-03 18:11] hivestrung commented on #852
@junqi-jiang I've worked on the code and can solve some of your problems with feature extraction using mine: https://github.com/hivestrung/mmf/commit/6332a9803721a9a230913b6e2589fed172ae4778
I still have issues with actually using the features generated by extract_features_frcnn for creating the sample's image_feature_0 field a la `sample.image_feature_0`.

@vedanuj Would you be able to help advis

[2021-04-03 18:12] hivestrung commented on #836
@1144181135 Please check out my fork https://github.com/hivestrung/mmf/commit/6332a9803721a9a230913b6e2589fed172ae4778
This commit has code that will most likely solve your problems with using MODEL_URL to download the model

[2021-04-03 18:13] #776 closed

[2021-04-03 18:13] #737 closed

[2021-04-03 18:28] hivestrung opened #853 "[Visual BERT | Hateful Memes] Inference: Got extract_features_frcnn.py to work, can't create the sample"
Hi, I have been working on inference using a number of the baseline models. I've gotten it to work well on image+text but for VisualBert, because use_features is enabled, I need the features.

So I have been working on the extract_features_frcnn.py script and have modified a bunch of it to allow it to work on the fly to generate the features. I can confirm that all this works. The code is availabl

[2021-04-04 08:51] junqi-jiang commented on #852
@hivestrung Thanks! That's some great work to get the URL working. It seems I have downloaded the wrong file for the config lol.

To do inference you can also look at mmf/models/interfaces/mmbt.py and the from_pretrained( ) function in mmf/models/mmbt.py, I have been using that to interface with models that take images as input and I am extending it to vilbert and visualbert. It's quite convenient

[2021-04-04 12:12] adi1999 commented on #588
Hey @apsdehal  , I want to work on this feature, can you elaborate a bit!

[2021-04-04 12:15] adi1999 commented on #588
Hey @apsdehal  , I have created a PR #854  in which I've tried to achieve the goal of adding WandB logger feature by inheriting the logger object from logger.py,  let me know of any modifications are required.

[2021-04-04 14:39] junqi-jiang commented on #853
Hello @hivestrung, thanks for your help on the feature extraction, I adapted the interfaces and used pretrained visual_bert model to predict on raw images and text, please see https://github.com/junqi-jiang/mmf/commit/9386ea117ec7aaa038aa0ca35c8fd8a3af7fbbbf.

In the interfaces/image_features.py, the feature_list and info_list directly extracted by extract_features_frcnn.py are loaded and re-struc

[2021-04-05 11:45] uehara-mech opened #856 "[MoViE+MCAN training] warning: Key vqa2_num_final_outputs is not present"
I am trying to train MoViE+MCAN model as instructed in https://mmf.sh/docs/projects/movie_mcan .

When I run the training script `mmf_run config=projects/movie_mcan/configs/vqa2/defaults.yaml model=movie_mcan dataset=vqa2 run_type=train` , I get the following error message.

[code]

I suspect that there is something wrong with the config file for MoViE+MCAN ( https://github.com/facebookresearch/mm

[2021-04-05 12:32] dinhanhx opened #857 "[Hateful memes challenge] ValueError when training mmbt model"
## ❓ Questions and Help
Hello everyone, on Google Colab as of using in 2021 April Python version is Python 3.7.10

I set up things as follow
[code]

Then I downloaded and converted the dataset as follow
[code]

Then I tried to train a model
[code]

Starting from 500/22000, I notice that cross_entropy is `nan`
[code]

When it went to `| mmf.common.test_reporter: Predicting for hateful_memes`, it yi

[2021-04-05 16:00] hivestrung commented on #853
@junqi-jiang Man, thanks so much - your code helped me figure out what was wrong with mine.

One thing to note for integrating everything nicely is that when the feature is saved (specifically, feat_list) what is saved is feat_list.cpu().numpy(). Secondly, when loading, your code required me to apply torch.from_numpy to that.

I'm not sure if im_info is even needed though. But it's good that your

[2021-04-05 16:09] #853 closed

[2021-04-05 17:48] brettallenyo commented on #848
@hivestrung good catch, definitely want it to apply to those use cases, just updated the diff

[2021-04-05 20:52] vedanuj commented on #852
cc @brettallenyo  Can you please take a look at this?

[2021-04-05 22:17] #848 closed

[2021-04-05 23:32] brettallenyo commented on #852
Hi @hivestrung @junqi-jiang I am going to be uploading some models and configs to our model zoo in the coming days so you will be able to download and use those for the `mmf_transformer` and `visual_bert` checkpoints

[2021-04-06 07:10] vedanuj commented on #856
Thanks for reporting the issue. We are checking the on our end.

[2021-04-06 07:16] junqi-jiang commented on #852
@brettallenyo I would really appreciate that! Also, I have written an interface for visual_bert and vilbert to predict on raw images and texts, which has solved this issue another way https://github.com/junqi-jiang/mmf/commit/7f96f5b89ae14442656883ca3922d6a702beb85f.

[2021-04-06 07:32] vedanuj commented on #857
I can reproduce the issue. We are checking it. Thanks for reporting.

[2021-04-06 07:34] apsdehal commented on #856
Please make sure that you are on latest MMF. This issue should be fixed with recent commit 2379d0

[2021-04-06 08:27] uehara-mech commented on #856
I have just updated MMF and it worked! Thank you for your help!

[2021-04-06 08:27] #856 closed

[2021-04-06 10:01] vedanuj commented on #857
PR #855 Should fix this issue.

[2021-04-06 14:24] hivestrung opened #859 "Unimodal (BERT) output_attentions does nothing?"
## ❓ Questions and Help
I want to access the attention weights for the 12 attention heads in BERT to visualise what text is focused on most in making a hateful classification.

I can't seem to get this data from the model. I'm starting with unimodal and will expand to other models once I get this working. Toggling output_attentions in `mmf/mmf/configs/models/unimodal/bert.yaml` doesn't seem to do

[2021-04-06 21:45] #836 closed

[2021-04-07 00:49] hivestrung commented on #859
Solved: it's because in hf_layers:BertEncoderJit the forward function has been modified to have output_attentions and output_hidden_states set by default to False

The rationale given was:
[code]
Lines such as `if not torch.jit.is_scripting() and output_attentions` are used but they are not very effective. I don't know a thing about scripting, but when I was running in inference mode, this flag wa

[2021-04-07 00:52] hivestrung commented on #859
Another note: you would also need to modify the UnimodalText forward function. Currently it doesn't pass through the attentions and hidden states you would need. One fix that works for me is:

[code]

@vedanuj if you find that fixing this would be helpful, I can initiate a PR, but I don't know if outsiders are really meant to contribute to this repo, plus I do not have access to Fb build tools to

[2021-04-07 08:51] prachigarg23 commented on #567
Hi, I would like to work on this. This will be my first attempt at contributing. This feature is still required, right? Just to clarify, this feature will have to be incorporated at all instances of sample_list across the repository right?

[2021-04-07 17:17] Yulmart commented on #784
Hey @junqi-jiang, thanks for the followup. We ended up changing the attributes manually as well.

[2021-04-07 17:21] apsdehal commented on #567
Hi,
Thanks for your interest. This would happen inside the samplelist class itself, in the setter functions. Let me know if you don't understand anything.

[2021-04-08 01:15] gerardoalfredo2 opened #861 "problems running base train examples"
## ❓ Questions and Help
When I try to run any of the examples to train the models im receiving some messages about some configuration for the optimizers.

If I run the next CLI command:
[code]
I have the next warning on return after the model is loaded:
[code]

I was trying to figure out how to set up these parameters but I can't find an example.

[2021-04-08 02:46] #857 closed

[2021-04-08 02:49] vedanuj commented on #859
Hi @hivestrung  ... we welcome PRs from everyone. Feel free to push a PR for this and we can help test with FB build tools.

[2021-04-08 02:57] vedanuj commented on #861
Hi, are you on master branch of MMF? When I tested it works for me without any error.

[2021-04-08 03:02] gerardoalfredo2 commented on #861
No, I'm participating in the hateMeme challenge and i found that issue using the mmbt models

[2021-04-08 03:22] apsdehal commented on #861
I believe the problem is happening because @gerardoalfredo2 is on a windows system which would require specifying config as `config=projects\hateful_memes\configs\mmbt\defaults.yaml`. Since currently, it is specified in unix filesystem format, it is not picking it up.

[2021-04-08 17:15] gerardoalfredo2 commented on #861
No, the command doesn't have any problem with the windows system. I try with both and I received the same results.

My main question is about this message:
`
2021-04-08T12:06:24 | mmf_cli.run: Torch version: 1.6.0+cu101
2021-04-08T12:06:24 | mmf.utils.general: CUDA Device 0 is: NVIDIA GeForce RTX 2070
2021-04-08T12:06:24 | mmf_cli.run: Using seed 24580203
2021-04-08T12:06:24 | mmf.trainers.mmf_tra

[2021-04-08 17:38] gerardoalfredo2 commented on #861
I found out the problem, the configuration paths in the reference documents are wrong, change the command to:
`mmf_run config=projects/mmbt/configs/hateful_memes/defaults.yaml run_type=train_val dataset=hateful_memes model=mmbt`
 and now everything is working fine.

[2021-04-08 17:40] #861 closed

[2021-04-08 18:03] CCYChongyanChen opened #862 "Transformer version 2.3.0 or 3.4.0"
## ❓ Questions and Help
Hi, I could run the pythia/vilbert code before with transformers version 2.3.0, but after pulling the latest version,  I got error message like "cannot import name 'RobertaAttention' from 'transformers.modeling_roberta'". I checked  https://github.com/facebookresearch/mmf/pull/666 and changed the transformers version to 3.4.0 and now it complains "pkg_resources.Distribution

[2021-04-08 18:34] apsdehal commented on #861
@gerardoalfredo2 Great catch. This specifically happens because those paths are symbolic links and don't get cloned as it is. You have to `-c core.symlinks=True` to the git command to get those symlinks on Windows. There is a good discussion in https://stackoverflow.com/questions/11662868/what-happens-when-i-clone-a-repository-with-symlinks-on-windows. We have plans to get rid of these symlinks an

[2021-04-09 03:39] CCYChongyanChen commented on #611
Hi, is there a way to disable checksum for regular download (not for HM) like passing --bypass_checksum=1? It takes too long to checksum every time I run the model. Thanks!

[2021-04-09 03:41] CCYChongyanChen commented on #611
For now I just commented the checksum function in download.py entirely...

[2021-04-09 06:17] apsdehal commented on #862
Hi,
3.4.0 is the current version. After upgrading transformers, you will need to `pip install -e .` MMF again so that it can pick up new deps.

[2021-04-09 06:18] apsdehal commented on #611
Hi @CCYChongyanChen,
This feature is not yet available in MMF, can you open up a new issue for the feature request and we will work on that.

[2021-04-09 09:22] 2017210384 commented on #847
I had the same problem

[2021-04-09 10:00] ronghanghu commented on #847
@2017210384 This should have been addressed now. Could you try pulling the latest MMF after the fix in #851?

[2021-04-09 12:15] 2017210384 commented on #847
@ronghanghu Thanks.

[2021-04-09 12:22] sallypannn opened #864 "Any support for multi-class classification problem?"
## ❓ Questions and Help
Hi,

I am trying to implement mmf on a multi-class classification problem. I can only find flags for multi-label but not multi-class. And I did not find such an example in the given project list. May I know if you could provide a multi-class classification example so I could figure out how to properly modify the configuration files? Thanks!

[2021-04-09 13:00] nikhilbchilwant commented on #586
I ran the below command.

    mmf_predict config=projects/hateful_memes/configs/visual_bert/from_coco.yaml \
    model=visual_bert \
    dataset=hateful_memes \
    run_type=test \
    checkpoint.resume_file=./save/visual_bert_final.pth \
    checkpoint.resume_pretrained=False \
    training.batch_size_per_device=32 \
    dataset_config.hateful_memes.annotations.val[0]=hateful_memes/defaults/annot

[2021-04-09 14:58] 2017210384 commented on #810
Hi,
If I use Windows, is there any way to solve this problem?

Command:
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml    datasets=textvqa   model=m4c   run_type=train_val  checkpoint.resume_zoo=m4c.textvqa.with_stvqa     env.data_dir=D:/.cache   env.save_dir=D:/mmf/save/m4c

2021-04-09T21:21:52 | mmf.utils.general: Total Parameters: 90850184. Trained Parameters: 90850184
2021-04-09T21:

[2021-04-09 18:14] apsdehal commented on #864
Hi @sallypannn,

multi class is supported out of the box. You can set `num_labels` to number of your classes in the models that support it and then use `cross_entropy` loss with it. Visual Entailment is an example of dataset which requires multi class classification and here is an example config with VisualBERT model: https://github.com/facebookresearch/mmf/blob/master/projects/visual_bert/configs

[2021-04-09 18:15] apsdehal commented on #586
@nikhilbchilwant is there by any chance you are running this on multi-gpu machine? If yes, I would suggest that you do this on single GPU and report back here. We haven't been able to reproduce this on single GPU machine.

[2021-04-09 21:23] CCYChongyanChen commented on #862
Hi, thanks for the reply!
I clone it from github source and git pull to get the latest update instead of using pip. What should I do after upgrading transformers version? Thanks!

[2021-04-09 21:26] CCYChongyanChen opened #865 "Allowing bypass_checksum for dataset downloaded"
## 🚀 Feature

Hi, is there a way to disable checksum for regular download (not for HM) like passing --bypass_checksum=1?
## Motivation

 It takes too long to checksum every time I run the model. Thanks!

## Pitch

## Alternatives

## Additional context

[2021-04-09 23:57] dxu312 opened #866 "Install GPU for mmf"
Following the installation instruction on https://mmf.sh/docs, I got a CPU only mmf environment which does pass tests. I tried to follow the pytorch installation instruction from https://pytorch.org/get-started/locally/ to add cudatoolkit, but the tests did not run after that. Is there a way to install mmf with GPU on windows?

[2021-04-10 16:39] ronghanghu commented on #810
@2017210384 for a quick fix, you add an extra line as follows after https://github.com/facebookresearch/mmf/blob/2848ba37151fcb05bd85091966c446b08e67b289/mmf/datasets/databases/readers/feature_readers.py#L228
[code]

The cause is that Windows uses a different separator `\` (instead of `/` on Linux, where the feature dbs are generated). There might be more cases like this in the codebase.

[2021-04-11 08:06] 2017210384 commented on #810
@ronghanghu  Unfortunately, after I add the extra line, it still didn't work.The same problem reappears.Is there anything else I need to do?

[2021-04-11 16:10] 2017210384 commented on #810
@ronghanghu Thanks! It work!

[2021-04-11 18:02] apsdehal commented on #866
Hi,
Can you share what exact command you followed to install PyTorch?

Also, please share the output `python -m torch.utils.collect_env`.

[2021-04-11 18:02] apsdehal commented on #864
Closing this as I believe this is resolved. If you have other questions, please open up a new issue.

[2021-04-11 18:02] #864 closed

[2021-04-11 18:03] apsdehal commented on #862
As I mentioned, inside MMF folder please do `pip install -e .` so that you install MMF.

[2021-04-11 20:31] dxu312 commented on #866
Yes, I used "conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c conda-forge" to install pytorch with cuda which worked for me before. This ran successfully but obviously the versions of pytorch/torchvision wouldn't comply to mmf default. I wnder if the tests didn't run due to version conflicts. However if I modify the command with specific versions such as "pytorch=1.8.1"

[2021-04-12 04:59] KevinQian97 commented on #697
Hi, I am encountered with this problem too. Would you mind giving an explicit modification steps?

[2021-04-12 14:22] dxu312 commented on #866
Solved by installing previous pytorch version to avoid conflicts with MMF default setting

[2021-04-12 14:22] #866 closed

[2021-04-12 17:37] dxu312 opened #869 "CUDA out of memory error"
## ❓ Questions and Help
Hi there,
I got the following error when I followed the instruction of MMF to train a model. Googled online and people have suggested reducing batch size could help. However, in my situation reducing batch size only gets the number that it "tried to allocate" smaller and still all the GPU memory is occupied. Would you please indicate what I shall do to overcome this error?

[2021-04-12 17:49] apsdehal commented on #869
Hi,
The issue is indeed that you don't have enough memory to run the model you are running.

Some steps you can follow:
- Before running a new job, make sure to kill older lingering job to avoid any memory reservations from those jobs.
- Make sure that `training.pin_memory` setting is `False`.
- Start with smallest batch size possible to see if you can fit it in and then try mixing it with `traini

[2021-04-12 18:06] dxu312 commented on #869
Thanks a lot for a prompt reply! I was able to get the training up to running with a batch size of 6. Would you please help clarify where the parameters you mentioned (training.pin_memory or training_update_frequency) are in the files? I can't find them in the config files.

[2021-04-12 18:18] apsdehal commented on #869
You can override them through command line as well. Please check https://mmf.sh/docs/notes/configuration#command-line-dot-list-override

[2021-04-12 18:20] #869 closed

[2021-04-12 20:07] dxu312 opened #870 "Errors at checkpoint"
## ❓ Questions and Help
Hi,
Following the MMF instruction to train a SOTA model, I got the error message below at the 3rd checkpoint. The training continues normally after the 1st and 2nd checkpoint. Any advice to fix this?

2021-04-12T15:16:29 | mmf.trainers.callbacks.checkpoint: Checkpoint time. Saving a checkpoint.
2021-04-12T15:16:29 | mmf.utils.checkpoint: Checkpoint save operation started!
T

[2021-04-13 01:34] dxu312 commented on #870
I had another run with smaller batch size and got the error below, which actually occurred before the 3rd checkpoint.

Traceback (most recent call last):
  File "/home/tsurujan/miniconda3/envs/mmf/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/mnt/c/Users/xules/mmf/mmf_cli/run.py", line 133, in run
    main(configuration, predict=p

[2021-04-13 01:37] apsdehal commented on #870
Can you provide your full training log?

[2021-04-13 01:41] dxu312 commented on #870
Yes, please find below the training log of the latest error. I just omitted the loaded model description which is too long but keep everything else.

2021-04-12T20:16:39 | mmf.utils.configuration: Overriding option config to projects/hateful_memes/configs/mmbt/defaults.yaml
2021-04-12T20:16:39 | mmf.utils.configuration: Overriding option model to mmbt
2021-04-12T20:16:39 | mmf.utils.configuration:

[2021-04-13 01:54] dxu312 commented on #870
In fact I do have the log for the first error as well. Pasted below with only loaded model description omitted as well.

2021-04-12T14:01:59 | mmf.utils.configuration: Overriding option config to projects/hateful_memes/configs/mmbt/defaults.yaml
2021-04-12T14:01:59 | mmf.utils.configuration: Overriding option model to mmbt
2021-04-12T14:01:59 | mmf.utils.configuration: Overriding option datasets t

[2021-04-13 02:10] apsdehal commented on #870
For second error, it is more of a pytorch related issue which seems to stem from some sort of permission or quote issues on disk. See https://discuss.pytorch.org/t/torch-save-error/21094.

For the first one, it seems like a corrupted image, I would suggest that you log in image paths of what is being loaded and try to replicate the error to find which image is corrupted. Alternatively, you can red

[2021-04-13 02:31] dxu312 commented on #870
Thanks for the advice. I'll try redownloading the images. In terms of space, my C disk had 13GB+ left before the training but it's only 5.4GB now - will the mmf training take that much space? And if the space taken is not released after the training is aborted, how can I manually clean it?

[2021-04-13 02:34] apsdehal commented on #870
Yeah, the model will indeed require more than that if you don't have proper settings set. You can delete the `<save_dir>/models` directory and `<save_dir>/best.ckpt` and `<save_dir/current.ckpt>` to save memory. In further runs, use `checkpoint.max_to_keep=1` option to save memory on model saving.

[2021-04-13 14:13] ifmaq1 commented on #821
@vedanuj I am trying to extract the features for **test split of Coco dataset**. I used the pretrained model of **Backbone X-152++** in **https://github.com/facebookresearch/grid-feats-vqa**

to extract features I used
**python3.6 extract_grid_feature.py --config-file configs/X-152-challenge.yaml --dataset coco_2015_test MODEL.WEIGHTS /home/grid-feats-vqa-master/output/X-152pp.pth**

**and then la

[2021-04-13 15:45] dxu312 commented on #870
I downloaded the data set again but unzipping it does not overwrite the prior but takes another 4GB of my disk space. Do I need to delete the redundant data manually? Would you please suggest how to remove that?

[2021-04-13 18:52] apsdehal commented on #870
You can delete the folder under: `~/.cache/torch/mmf/data/datasets/hateful_memes` where `~` is your home directory. Note that this will delete all hm data and you will have to redo `mmf_convert` command.

[2021-04-13 23:54] gerardoalfredo2 opened #873 "Issues saving test predictions in Windows"
## ❓ Questions and Help
I'm finding some issues with the process to export CSV in Windows.
When I run the next command to do the predictions:
[code]
It returns the next logs:
[code]
I tried with the same command in Ubuntu and it works perfect.
My question is if this is an issue winth windows only.

[2021-04-14 11:19] dinhanhx opened #875 "[Hateful memes] How to train mmbt model on multiple gpus"
## ❓ Questions and Help

When I run these commands, according to this [doc](https://mmf.sh/docs/notes/concepts/#configuration), I specify `training.data_parallel=True` at the end
[code]
I got this error
[code]

How can I fix this? or How should I do to train on multiple gpus?

Thanks for your time

[2021-04-14 11:54] runzeer commented on #429
@CCYChongyanChen Have you experimented the VisualBert on the VizWiz datasets? How about the results? Better than pythia?

[2021-04-14 16:48] apsdehal commented on #875
Hi,
Don't specify `training.data_parallel` in the command. MMF should automatically pick up multiple GPUs if available and should launch a distributed data parallel based run.

[2021-04-14 18:41] nikhilbchilwant commented on #586
It works with single GPU

[2021-04-14 19:32] apsdehal commented on #586
Cool. I am going to close this issue as there isn't anything we can do about the order of ids in distributed settings. Expected solution for now is to run on single GPU.

[2021-04-14 19:32] #586 closed

[2021-04-14 20:22] apsdehal commented on #873
Thanks for reporting this bug. Yes, the issue is with windows only because ":" in the filename which is not acceptable in windows. We will look into fixing this.

[2021-04-14 23:26] dinhanhx commented on #875
Okay thank you. I manage to make it work. Shouldn't you to update the documentation?

[2021-04-14 23:30] apsdehal commented on #875
Can you point out where you found this command? If possible, can you open up a PR fixing the document. That would super great. Thanks.

[2021-04-14 23:32] apsdehal commented on #875
So, you can update the doc to use some other override. For example, `training.max_updates` to update maximum updates that will be done the model.

[2021-04-15 00:08] skakar-git opened #876 "New install - pytest .\tests\trainers\lightning\test_loss.py fails"
## ❓ Questions and Help
**Environment**
`PyTorch version: 1.8.1+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Education
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect

Python version: 3.7 (64-bit runtime)
Is CUDA available: False
CUDA runtime version: No CUDA
GPU models and conf

[2021-04-15 06:11] g-luo commented on #772
I just wanted to add that I was having this same problem and changing backend from nccl to gloo worked, ie adding to the config
[code]

(for anyone who takes look at this thread)

[2021-04-15 06:12] g-luo commented on #756
Resolved by https://github.com/facebookresearch/mmf/issues/772, ie changing backend from nccl to gloo.

[2021-04-15 06:12] #756 closed

[2021-04-15 06:59] ifmaq1 commented on #821
@vedanuj any solution please?

[2021-04-15 09:01] sallypannn commented on #864
Thanks. Problem solved!

[2021-04-15 11:23] CCYChongyanChen opened #877 "Unexpected bus error. This might be caused by insufficient shared memory"
## ❓ Questions and Help
Hi there, when running pythia and vilbert's for testing with the pretrained model, I meet the "dataloader worker (pid(s) {}) exited unexpectedly" error.

I am not sure why it happens. I only tried to predict one batch and changed the batch size to 4. Why does that still require large shared memory?(I am not sure how to specific the test batch size. I just changed the traini

[2021-04-15 13:42] pzdkn opened #878 "How to collate bounding boxes of differenz sizes ?"
## ❓ Questions and Help
I am training VilBert on a custom dataset that uses F-RCNN features. I followed the guidelines to implement a custom dataset and use the FeatureDatabase to fetch the features.

However, since the number of bbox proposals vary, I have problems when the bboxes are collated to a SampleList.  What is the recommended way of collating a list of bboxes that vary in sizes? Should I

[2021-04-15 17:24] apsdehal commented on #878
Hi,
Yes, the expected way is to pad them. Checkout  BBoxProcessor at `https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/processors/processors.py#L860` which automatically pads the bboxes upto a certain length. You can create a processor like that for your custom needs.

[2021-04-15 17:48] apsdehal commented on #877
Hi,
Can you post full logs?

[2021-04-15 17:49] apsdehal commented on #876
Thanks for reporting this. Looking into it.

[2021-04-15 18:03] CCYChongyanChen commented on #877
Sure! I attached it here. Thank you apsdehal!!!

(MMF2) cc67459@soi-edge:~/MMF2/mmf_8_2/mmf$ mmf_predict config=projects/vilbert/configs/vqa2/defaults.yaml \

/home/cc67459/MMF2/lib/python3.7/site-packages/omegaconf/dictconfig.py:252: UserWarning: Keys with dot (model.bert) are deprecated and will have different semantic meaning the next major version of OmegaConf (2.1)
See the compact keys issue

[2021-04-15 18:31] apsdehal commented on #877
Thanks for the logs. This is a general known issue where a machine's shared memory is not enough for pytorch usage. See this thread for possible solutions for increasing shared memory: https://discuss.pytorch.org/t/training-crashes-due-to-insufficient-shared-memory-shm-nn-dataparallel/26396/11 especially https://discuss.pytorch.org/t/training-crashes-due-to-insufficient-shared-memory-shm-nn-datapa

[2021-04-15 23:16] skakar-git commented on #876
Thank you @apsdehal. A friend who is working independently on this but on GCP with linux has the same error. So it seems the issue is platform independent.

[2021-04-15 23:23] CCYChongyanChen commented on #877
Thanks for the reply!
I checked "sysctl kernel.shmmax" and mine had already set to 18446744073692774399....I guess it is not where the problem is...

[2021-04-15 23:37] CCYChongyanChen commented on #877
I also tried "watch -n .3 df -h". It turns out that I have 32G for /dev/shm but the code stopped when it reaches 24K....@apsdehal

[2021-04-15 23:53] CCYChongyanChen commented on #877
1. I am using it just for testing. Could I set training.num_workers=0? Or is there command like testing.num_workers=0?
2. How to change test batch size in configures? I set the training batch size to 4 in the defaults.yaml and it seems that the testing batch size is the same as the training batch size.
3. How can I know whether the dataset is downloaded completely? As mentioned in  https://github.

[2021-04-16 00:21] CCYChongyanChen commented on #862
Thanks that solve the problem!

[2021-04-16 00:21] #862 closed

[2021-04-16 01:52] apsdehal commented on #876
Open up a PR to fix. In general, the test is broken due to other reasons and shouldn't affect anything on user side.

[2021-04-16 02:17] sxjscience opened #881 "[Installation] Install to user folder will still trigger permission error"
## Instructions To Reproduce the Issue:

1. To reproduce the error, open an instance and try to install MMF
[code]
This will run into the following error

[code]

2. To solve, I will need to use the following command:

[code]

I would recommend to update the installation guide accordingly: https://mmf.sh/docs/#install-from-source-recommended

## Environment:

Provide your environment information u

[2021-04-16 02:23] CCYChongyanChen commented on #877
I also tried https://github.com/facebookresearch/mmf/issues/772, which also complains issue about "nprocs=config.distributed.world_size" and "pid". I tried to change the backend to gloo but it still doesnt work.

[2021-04-16 04:26] rajpratyush commented on #151
Can I take up this issue?

[2021-04-16 06:09] apsdehal commented on #877
1. `training.num_workers` sets `num_workers` for all dataloaders.
2. This is currently not possible. training batch size is equal to testing batch size. This feature will be added sometime in future.
3. You can shasum the tar file downloaded for the features (lmdb) and compare it with the shasum in the zoo to make sure they are same.
4. The problem is not that. LMDB do need full dataset to load pr

[2021-04-16 06:11] apsdehal commented on #881
Hi,
Thanks for pointing this out. Would you be willing to open up a PR to fix this? A new paragraph under that section mentioned Permission Denied error with the solution would be good.

[2021-04-16 06:12] apsdehal commented on #881
Also, just to make sure, did you create a conda environment or virtual env before pip installing?

[2021-04-16 06:21] sxjscience commented on #881
I’m not using conda and is using the python3 provided by the OS. Also, I’ve tried --user and it’s the same. I can create a PR to improve the installation doc.

[2021-04-16 06:23] apsdehal commented on #151
@rajpratyush  Sure. Go ahead!

[2021-04-16 06:40] CCYChongyanChen commented on #877
Thanks for the reply!!!@apsdehal
For the question 5, I checked "sysctl kernel.shmmax" and mine had already set to 18446744073692774399.
I also tried "watch -n .3 df -h". It turns out that I have 32G for /dev/shm but the code stopped when it reaches 24K.
How large do you suggest me to resize the /dev/shm to?

[2021-04-16 06:44] apsdehal commented on #877
Try doubling it if you have that much memory?

[2021-04-16 07:51] #876 closed

[2021-04-16 08:11] ifmaq1 opened #883 "features from x-152pp pretrained model doesn't recreate the "movie_mcan.grid.vqa2_vg" test-dev results"
I am trying to extract the features for test split of Coco dataset. I used the pretrained model of Backbone **X-152++** in https://github.com/facebookresearch/grid-feats-vqa

**to extract features I used**
python3.6 extract_grid_feature.py --config-file configs/X-152-challenge.yaml --dataset coco_2015_test MODEL.WEIGHTS /home/grid-feats-vqa-master/output/X-152pp.pth

**and then later on tested wit

[2021-04-16 08:11] #821 closed

[2021-04-16 08:13] CCYChongyanChen opened #884 "Only download test dataset with pretrained model"
## 🚀 Feature

When set to "test" mode, only download test dataset.

## Motivation
Currently, even set to the test mode, the train/val dataset are also downloaded.
For example, running"mmf_predict config=projects/vilbert/configs/vqa2/defaults.yaml \
    model=vilbert \
    dataset=vqa2 \
    run_type=test \
    checkpoint.resume_zoo=vilbert.pretrained.vqa2\
       training.num_workers=0", coco_trai

[2021-04-16 09:08] ifmaq1 opened #885 "Could you please provide source for making .npy annotation files?"
I want to use 10k images from vqa2 dataset. I want to calculate grid features of them and train on movie_mcan model. For this, I want to make their annotations file. Can you provide the way through which you made i-e **imdb_val2014.npy** file?

[2021-04-16 14:15] jdsteen627 opened #886 "Colab zip extraction for Hateful Memes fails"
## 🐛 Bug

The hateful memes notebook example fails due to issues with extracting the zip file.
## Command

## To Reproduce

Steps to reproduce the behavior:

1. Open the example (https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/mmf_hm_example.ipynb)
2. Run the cells up to number 5
3. Running cell 5 as is leads to a checksum error
4. Adding --bypass_checksum=1

[2021-04-16 17:17] CCYChongyanChen commented on #877
Fixed. For future reference, can print the "self.base_path" to check which dataset is not loaded correctly.

See https://github.com/facebookresearch/mmf/issues/441

[2021-04-16 17:18] CCYChongyanChen commented on #877
= base_path

[2021-04-16 17:18] #877 closed

[2021-04-17 15:42] apsdehal commented on #885
Hi,
We don’t have exact source for that as it is very easy to create these annotation files from original json files. You can load the annotation file with `annotations = np.load("<file.npy>", allow_pickle=True)`. Now if you want to observe the samples; they start from index 1 (index 0 is metadata field which is not used anywhere as of now).

if you want to create a subset from this of let’s say 1

[2021-04-17 15:50] apsdehal commented on #884
Hi,
This is something that is actually dependent on how the dataset owner builds their zoo and not really in control of MMF. If the zoo files comes in as a single tar package then MMF can’t really split them beforehand anyways which is the case for VQA. Therefore, unfortunately, this is something we can’t fix as of now. We can look into splitting VQA files into multiple tar files into future but t

[2021-04-17 15:52] apsdehal commented on #883
Hi,
Can you post your full logs here?

[2021-04-17 15:56] ifmaq1 commented on #883
@apsdehal I am sorry I didn't understand. Full logs of which part?

[2021-04-17 16:13] apsdehal commented on #883
When you ran the `mmf_predict` command that you mentioned, some logs must have been produced to stdout. Can you provide those logs?

[2021-04-17 16:19] ifmaq1 commented on #883
Here are the logs

(mmf) $ **CUDA_VISIBLE_DEVICES=0,1 mmf_predict config=projects/movie_mcan/configs/vqa2/defaults.yaml \model=movie_mcan \dataset=vqa2 \run_type=test checkpoint.resume_zoo=movie_mcan.grid.vqa2_vg \training.num_workers=2 \training.batch_size=32**
2021-04-17T21:16:00 | mmf.utils.configuration: Overriding option config to projects/movie_mcan/configs/vqa2/defaults.yaml
2021-04-17T21:1

[2021-04-17 21:57] Katy-katy opened #887 "AssertionError: dev.jsonl doesn't exist in /root/.cache/torch/mmf/data/datasets/hateful_memes/defaults/images"
## ❓ Questions and Help
hello, I am using tutorial https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/mmf_hm_example.ipynb

But when I run the cell with "!mmf_convert_hm --zip_file /content/hm.zip --password $password --bypass_checksum=1", I got:

`
2021-04-17 21:43:35.622789: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dy

[2021-04-18 00:52] dinhanhx commented on #875
I think I don't have time for that.

[2021-04-18 11:15] ifmaq1 commented on #885
@apsdehal yes it worked. Thank you for your response

[2021-04-18 11:15] #885 closed

[2021-04-19 00:31] dxu312 opened #889 "How to set up different forward for train/val/test mode?"
Hi,
I'd like to add some weighting to the outputs of the models for the training, but not during validation and testing. Reading all instructions/codes, so far I can't figure out how I can separate like that in MMF. Would you please advice if there's a way? Thanks a lot!

Best,
Da

[2021-04-19 07:14] dinhanhx opened #890 "How to visualize train.log file with tensorboard?"
## ❓ Questions and Help

How can I use tensorboard to visualize `train.log` in `save` folder produced by this command `mmf_run config=projects/hateful_memes/configs/mmbt/defaults.yaml model=mmbt dataset=hateful_memes`?

[2021-04-20 07:23] #812 closed

[2021-04-20 08:53] 1144181135 opened #891 "Pythia model usage with VizWiz"
I want to convert my dataset to the 'vizwiz' format and use Pythia model. I found several difficulties.

1. I have extracted features as the intuition, and get a folder composed of "xxx.npy" and "xxx_info.npy". How to use "tools/scripts/features/lmdb_conversion.py" to convert npy feature to lmdb feature. What is the argument "--mode"? What enviroment it dpends?

2. I use the original vizwiz datase

[2021-04-20 09:20] ifmaq1 commented on #883
@apsdehal any updates please?

[2021-04-20 14:41] rajpratyush commented on #151
can you tell me which files to be changed?

[2021-04-20 18:07] apsdehal commented on #891
Hi,
You can also directly use the npy features with MMF, no need to convert to LMDB. `--mode=convert` is what you are looking for when converting npy files to LMDB.

Pythia model also requires ResNet152 grid features for which there is a script as well in tools. Alternatively, kick out the encoder from the model's config.