[2018-07-30 06:39] fristonio opened #4 "Can we have suppport for CPU based demo for pythia?"
It would be great if we can have support for CPU based demo for pythia.

[2018-08-07 10:21] rico93 opened #5 "How do you train the bottom up model with attributes"
Hi:

I want to know how you add predicting attributes in bottom up model,because i currently can't find it in repo. Would you mind providing the code for that ?

Best Wishes
Hanshan Zhang

[2018-08-07 17:26] endernewton commented on #5
We followed the same as the original bottom up model did: https://github.com/peteanderson80/bottom-up-attention/blob/master/models/vg/ResNet-101/faster_rcnn_end2end_final/train.prototxt. We predict the attribute with both the ground truth object class embedding and the bottom RoI features. Nothing new.

For the actual code to train the model, it is currently mixed with other efforts we current hav

[2018-08-07 17:26] #5 closed

[2018-08-07 17:27] endernewton commented on #4
We are actively working on a CPU demo now. Thanks for the patience.

[2018-08-07 17:31] endernewton commented on #5
IIRC, I had to fix a bug for predicting the attributes when implementing that (cannot recall what it exactly it is but it is related to the cross entropy loss). But it may work even work without that bug fixed.

[2018-08-08 04:05] rico93 commented on #5
Hi，

Can u recall the performance of predicting the attributes ? I want to compare it with my implementation

[2018-08-08 04:07] endernewton commented on #5
I did not check the prediction of attributes, I did check the detection performance though, which is in the same ballpark of what reported by Anderson.

[2018-08-08 04:43] rico93 commented on #5
Thanks for your help. I will look at it. Thanks again

[2018-08-15 03:19] lhwcv opened #6 "How can we extract image features instead of downloading large files?"
Can pythia provide pretrained  image feature model thus we  extract the features from the original image,  no  need to download image features' file , that's pretty large.    Thank you!

[2018-08-15 04:52] endernewton commented on #6
How long does it take to download the feature files now? If it can solve your problem, we can upload the features to somewhere that are easy for you to download.

[2018-08-15 08:25] lhwcv commented on #6
@endernewton  Upload to BaiduYun maybe?   Thank you very much!

[2018-08-15 15:43] YuJiang01 commented on #6
Add help information under [data_prep/data_preprocess.md](data_prep/data_preprocess.md),

[2018-08-15 15:46] #6 closed

[2018-08-16 00:43] lhwcv commented on #6
@YuJiang01   Thanks!

[2018-09-11 01:17] Cadene opened #8 "Out of memory issue"
Hello there,

I have a cuda runtime error after the end of epoch 3000 by running the following code:
[code]

Also I am running pytorch 0.3.1 on a single V100 (32G memory)
[code]

By any chance, did someone encounter this error?

Thanks for the help

Traceback:
[code]

[2018-09-11 16:51] YuJiang01 commented on #8
we ran experiments and selected the batch size based on 8GPUs. In your case, I would suggest to reduce the batch size and to adjust the learning rate to try it again

[2018-09-12 03:07] StepOITD opened #10 "rcnn_10_100.tar.gz download speed"
![image](https://user-images.githubusercontent.com/14295658/45399765-ef7d5080-b67b-11e8-8d9f-ecb7204ddf2a.png)
dying downloading

[2018-09-12 03:08] StepOITD commented on #10
Any faster source？

[2018-09-12 03:17] StepOITD commented on #10
So that file is actually the features extracted from origin data？

[2018-09-12 18:00] YuJiang01 commented on #10
Yes, for this one, we used features directly from https://github.com/peteanderson80/bottom-up-attention
for features from detectron, you can follow here to extract image feature: https://github.com/facebookresearch/pythia/blob/master/data_prep/data_preprocess.md#extract-image-features

[2018-09-12 18:00] #10 closed

[2018-09-28 05:31] #8 closed

[2018-09-29 02:54] Lausannen opened #11 "Some questions about the demo"
Hi , I am trying to run the demo, but when I load the pretrained model ,something is wrong,just like this:

RuntimeError: invalid argument 2: sizes do not match at /pytorch/torch/lib/THC/THCTensorCopy.cu:31
During handling of the above exception, another exception occurred:
RuntimeError: While copying the parameter named question_embedding_models.0.embedding.weight, whose dimensions in the model a

[2018-09-30 07:37] Lausannen commented on #11
Really thank you for your suggestion! I have run the code successfully.
However , when I used the pretrained model which was downloaded from Readme.md (detectron_100_resnet_most_data.tar.gz) , I found that the multi_modal_combine.Fa_image.main.0.weigth_v layer's dimension was [5000,4096],while the same layer's dimension in the model I was constructing was [5000,2048].
Finally , I changed the model

[2018-09-30 07:38] Lausannen commented on #11
@meetshah1995
Really thank you for your suggestion! I have run the code successfully.
However , when I used the pretrained model which was downloaded from Readme.md (detectron_100_resnet_most_data.tar.gz) , I found that the multi_modal_combine.Fa_image.main.0.weigth_v layer's dimension was [5000,4096],while the same layer's dimension in the model I was constructing was [5000,2048].
Finally , I cha

[2018-10-10 03:55] Ken-Con opened #12 "some errors about loading pretrained model"
Hi, when I loaded the detectron_100_resnet_most_data model, some problems happened:

`        While copying the parameter named "module.image_embedding_models_list.0.0.image_attention_model.modal_combine.Fa_image.main.0.weight_g", whose dimensions in the model are torch.Size([]) and whose dimensions in the checkpoint are torch.Size([1]).
        While copying the parameter named "module.image_embe

[2018-10-10 18:57] YuJiang01 commented on #12
@Ken-Con  which version of pytorch are you using?

[2018-10-23 15:01] back2yes opened #13 "403 Forbidden when downloading the models for ensembling"
Hi, thanks for sharing your excellent work.
I want to have a try on ensembling the 30 models which produces the highest score, however when I download the models hosted on https://s3-us-west-1.amazonaws.com/pythia-vqa/ensembled.tar.gz, it says: ` AccessDeniedAccess Denied052D4426298A2296MSgYIY2Ao5g//jFFqs6hZZnHxzzjrOE+h6yusooey8qvEDe0Ghy1IvDiXooZMwh3P97JEO84dgU= `

Is there a way that I can access

[2018-10-28 11:09] Cadene opened #14 "LR hyperparameters tuning method"
Hi,

Thanks again for your code. Unfortunately, I ran into a little issue. I can't reproduce some of your results because I am obliged to reduce my batch size (from 512 (yours) to 75). Thus I need to change the hyperparameters related to the learning rate.

Finding the right learning rate can be easily done by a little grid search. However, I would like to know how did you tune the [hyperparameter

[2018-10-31 21:43] YuJiang01 commented on #13
The permission should be correct now

[2018-10-31 21:43] #13 closed

[2018-10-31 21:45] YuJiang01 commented on #14
we roughly adjusted based on the number of epochs when changing batch size for wu_iters and lr_steps

[2018-10-31 21:45] #14 closed

[2018-11-08 09:53] hughperkins opened #15 "docker demo doesnt run"
Ran the instructions at https://github.com/facebookresearch/pythia#docker-demo :

[code]

then loaded localhost:8888 in my web-browser. This showed a file listing containing 'vqa_demo' and 'vqa_standalone_image_demo'. Tried opening both of these, and doing 'restart and run all'. Both gave errors, though different errors:

vqa_demo:
[code]

vqa_standalone_image_demo:
[code]

[2018-11-08 16:48] gaopeng-eugene opened #16 "Why dropout equals to zero?"

[2018-11-12 08:20] gaopeng-eugene opened #17 "Where is the bounding box?"

[2018-11-12 13:02] gaopeng-eugene opened #18 "Adding mirror data make the training worse"
data:
  batch_size: 512
  data_root_dir: data
  dataset: vqa_2.0
  image_depth_first: false
  image_fast_reader: false
  image_feat_test:
  - detectron_fix_100/fc6/vqa/val2014/
  image_feat_train:
  - detectron_fix_100/fc6/vqa/train2014/
  - detectron_fix_100/fc6/vqa_mirror/train2014
  image_feat_val:
  - detectron_fix_100/fc6/vqa/val2014/
  image_max_loc: 100
  imdb_file_test:
  - imdb/imdb_miniv

[2018-11-13 08:07] dandelin opened #19 "About the size of fc6"
In the paper, you've mentioned that

As far as I know, Detectron's original FPN 2MLP head uses 1024D as channel dim. (https://github.com/facebookresearch/Detectron/blob/master/detectron/core/config.py#L643)

Is there any reason you chose 2048D over 1024D? Will there be any performance degrading (mAP for genome or acc for VQA) for using 1024D feature?

Thanks!

[2018-11-22 18:26] curry111 opened #20 "Have you tried training the object detection and the VQA model in an "end to end" fashion ?"
Hi guys :sweat_smile: :sweat_smile:  I was just wondering, Have you tried doing that? If not, do you expect the accuracy to go down if we did that?

[2018-11-22 19:15] apsdehal commented on #16
We have observed that our ensemble results are whether when we overfit. You can set dropout to 0.2 for your single model runs.

[2018-11-22 20:14] curry111 commented on #10
@YuJiang01 Hi :sweat_smile: :sweat_smile: If you used the rcnn_10_100 features directly from the other project, then How could you get the vqa_mirror features? I saw 2 folders in the rcnn_10_100 directory,

[2018-11-22 22:47] curry111 opened #21 "What does "imdb" refer to?"
I know it's a silly question :sweat_smile:   And what is the `layout_max_len`, `vocab_layout_file` and the `has_gt_layout`? I mean, what is "layout"? :sweat_smile:

[2018-11-28 01:44] YuJiang01 commented on #21
IMage DataBase

[2018-11-28 01:44] #21 closed

[2018-11-28 01:46] YuJiang01 commented on #20
No, we didnot try that. It would be very slow if we train from end to end, but I believe it should be helpful to improve the accuracy

[2018-11-28 01:46] #20 closed

[2018-11-28 01:47] YuJiang01 commented on #19
we tried both 1024D and 2048D and found that using 2048D has better VQA performance

[2018-11-28 01:47] #19 closed

[2018-11-28 01:48] YuJiang01 commented on #17
for current model, we did not using bounding box info, but we will include them in the updated model

[2018-11-28 01:48] #17 closed

[2018-11-28 01:50] #16 closed

[2018-11-28 01:56] YuJiang01 commented on #18
when adding mirror data, the learning schedule also need to be adjusted. you can try our config file, which is included in https://s3-us-west-1.amazonaws.com/pythia-vqa/pretrained_models/most_data.tar.gz

[2018-11-28 01:56] #18 closed

[2018-11-28 13:10] curry111 opened #22 "Why do we we need to split config['data']['image_feat_train'][0]?"
In `train_model/helper.py`

[code]
although in `config` there is
`__C.data.image_feat_train = ["rcnn_10_100/vqa/train2014",
                             "rcnn_10_100/vqa/val2014"]`
So `config['data']['image_feat_train'][0]` is equal `"rcnn_10_100/vqa/train2014"`.
Why do we need to split that string using `.split(',')`?

Also, what does this if-condition mean?

[code]
This if-condition is false(I m

[2018-11-28 20:47] YuJiang01 commented on #22
`> num_image_feat = len(config['data']['image_feat_train'][0].split(','))`
This is used to allow multiple features, for example, object level feature and grid level feature, they are separated with ','
`> if hasattr(my_model, 'module'):

This is because the module is passes to GPU

[2018-11-28 20:47] #22 closed

[2018-11-28 21:37] curry111 commented on #22
@YuJiang01 I am sorry of opening this issue again but
In `train_model/model_factory.py`
There is this code (which sends the model to the GPU)
[code]
On the other hands, in
[code]
What do you mean by  "because the module is passed to GPU" :sweat_smile: . This condition `hasattr(my_model, 'module')` is false. I mean if you wrote a print statement inside the if-condition it won't be executed.
Even af

[2018-11-28 21:46] curry111 opened #23 "What is the average accuracy?"
`>  avg_accuracy += (1 - accuracy_decay) * (accuracy - avg_accuracy)`

I tired to search about "average accuracy" but I didn't find anything useful. I didn't find that in the paper also
Can anyone please tell me what this line is? and what is the "average accuracy"? Does it have multiple names in the literature because I did not find anything similar to it before?
I am not a deep learning expert

[2018-11-29 01:35] YuJiang01 commented on #23
it is just a metric for monitoring the program.

[2018-11-29 01:35] #23 closed

[2018-12-13 17:42] erobic opened #24 "Unable to download validation splits"
```wget https://s3-us-west-1.amazonaws.com/vqa-suite/val_split/v2_OpenEnded_mscoco_minival2014_questions.json``` is causing a 404 error.

[2018-12-14 06:09] meetshah1995 commented on #24
Sorry about that, we're looking into that.

Meanwhile you can generate the `minival` and `val2train` split by simply using [this](https://github.com/facebookresearch/pythia/blob/master/tools/subset_val.py) script.

[2018-12-17 17:40] curry111 opened #25 "Are the different kinds of attention in "image_attention.py" redundant?"
Hi :sweat_smile:
In `image_attention.py` There are three classes
[code]
But they are not being used at all and there is no place for them to be called in the code from other file or function.(I think we don't need them because we use the MFH model)
We only uses `top_down_attention` class in the `build_image_attention_module` function.
My questions are, Are they redundant? and If we wanted to use t

[2018-12-28 20:44] curry111 opened #26 "Why is the number of "visual genome" data is different than in the paper?"
```len(np.load("imdb_genome.npy"))```
```>> 682736```

But in the paper [Tips and Tricks for VQA](https://arxiv.org/abs/1708.02711) they said that their number is 485,000 questions. Why is there a difference?

[2018-12-30 19:01] #26 closed

[2019-01-01 22:50] YuJiang01 commented on #25
yes, currently we didnot use different attention mechanism

[2019-01-01 22:50] #25 closed

[2019-01-01 22:53] YuJiang01 commented on #24
we removed the bucket vqa-suite, please use this link: https://s3-us-west-1.amazonaws.com/pythia-vqa/val_split/v2_OpenEnded_mscoco_minival2014_questions.json

[2019-01-01 22:53] #24 closed

[2019-01-03 18:23] curry111 opened #27 "The training time increases for every iteration especially afrer 1000 iterations"
Hi guys,
I don't know why the training time increases for every iteration especially after 1000 iterations like that. Is that a bug?
[code]

[2019-01-03 20:46] curry111 commented on #8
@Cadene sorry for the late replay. Don't you think it's weird that the training in your model was ok(there was no memory issue) but after that a memory issue occurred?  I mean, the training was ok until iteration 3000.

[2019-01-04 13:39] Cadene commented on #8
@curry111 Yes, especially, I had the same problem when training on 8 GPUs.

[2019-01-06 19:12] #27 closed

[2019-01-07 06:24] fliu2013 opened #28 "404 File not found when downloading VQA2.0"
Hi, guys!
I was wondering why Annotations and Questions in VQA2.0 were unaccessible to me. I got
`ERROR 404: Not Found.`
when running file `download_vqa_2.0.sh`.
Any advice? Thanks!

[2019-01-07 06:48] meetshah1995 commented on #28
Download locations were changed for VQA dataset.

Have reflected the updates the paths now in latest commit.

[2019-01-07 06:48] #28 closed

[2019-01-07 16:03] curry111 opened #29 "Did you experience increase in time while training?"
In the code we print the time in `save_a_report` and `save_a_snapshot` functions. I find out the time increases while training (starts small and keep increasing with more iterations). and sometimes it increases dramatically.
**Example** in `save_a_snapshot`:
from [iteration 6000]
[code]
to [iteration 7000]
[code]
**Example** in `save_a_report`:
from [iteration 9200]
[code]
to [iterations 9300, 940

[2019-01-07 17:18] curry111 commented on #8
@Cadene I am sorry :sweat_smile:  just one question related to the memory issue. Did you experience increase in time while training(the time printed by `save_a_report` and `save_a_snapshot`)?  Maybe the memory and the time problems are related

[2019-01-07 17:20] Cadene commented on #8
I don't remember sorry :/
Best luck !

On Mon, Jan 7, 2019, 18:18 curry30 <notifications@github.com wrote:

[2019-01-07 17:42] apsdehal commented on #8
Hi,
This has been fixed in the new version that will be released soon. So, hang tight till then. :)

[2019-01-07 17:47] Cadene commented on #8
@curry111 Problem solved in 30 minutes, why are you so lucky? :P

@apsdehal Could you please give us a hint on what was causing this issue? Also when do you plan to release? :P

Thanks

[2019-01-07 17:51] apsdehal commented on #8
You can add two things at every report:
[code]

Release is planned to be out by this month's end (maybe sooner, some loose ends on our side).

[2019-01-07 20:18] apsdehal commented on #29
Check my comment on the issue #8. This will also be fixed in the new release.

[2019-01-07 20:18] #29 closed

[2019-01-30 14:49] chenxi116 opened #30 "Broken urls"
I tried on two of my computers, but the links after `wget` in "README/Quick Start" seem to be broken. Please check.

Also `mkdir data` seems unnecessary in "README/Quick Start".

Also in README, https://www.continuum.io/downloads seems to be an obsolete link to Anaconda.

[2019-02-02 13:11] ThegreatShible commented on #30
I have the same problem of broken URLs with /data_prep/data_preprocess.md, I think it's the same URLs.
For me it's:

-  https://s3-us-west-1.amazonaws.com/vqa-suite/val_split/v2_OpenEnded_mscoco_minival2014_questions.json

- https://s3-us-west-1.amazonaws.com/vqa-suite/val_split/v2_OpenEnded_mscoco_val2train2014_questions.json

[2019-02-02 18:44] ThegreatShible commented on #30
I found the solution for the two link i posted above in the issue #24.
Now I have found other problems with broken links when trying to download pretrained weights for detectron:

- https://s3-us-west-1.amazonaws.com/pythia-vqa/detectron/FAST_RCNN_MLP_DIM2048_FPN_DIM512.pkl

- https://s3-us-west-1.amazonaws.com/pythia-vqa/detectron/e2e_faster_rcnn_X-101-64x4d-FPN_1x_MLP_2048_FPN_512.yaml

[2019-02-03 08:03] KaihuaTang commented on #30
I got the same problem

[2019-02-05 10:34] yashkant commented on #30
Following.

[2019-02-08 05:02] abhayk1201 commented on #30
Following +1

[2019-02-15 16:42] Mohammed-Deifallah opened #31 "pythia/top_down_bottom_up/classifier.py"
https://github.com/facebookresearch/pythia/blob/18cd8b9c23db229d8e0e55b0a6c2d337cb66d2e3/top_down_bottom_up/classifier.py#L38

How this line works well? I think the right way is to check for 'pretrained_text' in kwargs, not 'pretrained_image'.

[2019-02-19 19:21] endernewton commented on #30
Actually we realized that due to internal changes of file services, we **lost the original copies** of the files. :(  Right now we are actively working on reproducing the models based on the features/data remaining on our side, but unfortunately it will 1) take a while, and 2) not be exactly the same for some models. Therefore, we are wondering if anyone who has downloaded the original files could

[2019-02-20 17:11] meetshah1995 commented on #30
The bucket links have been changed. Features, metadata files and Detectron models can be downloaded from:

* Data
    * https://dl.fbaipublicfiles.com/pythia/data/answers_vqa.txt
    * https://dl.fbaipublicfiles.com/pythia/data/imdb.tar.gz
    * https://dl.fbaipublicfiles.com/pythia/data/large_vocabulary_vqa.txt
    * https://dl.fbaipublicfiles.com/pythia/data/large_vqa2.0_glove.6B.300d.txt.npy

[2019-02-21 19:31] meetshah1995 commented on #30
All paths except ensembled predictions have been updated and the files are now accessible. Closing this issue for now.

[2019-02-21 19:31] #30 closed

[2019-02-22 06:55] YuJiang01 commented on #13
@back2yes , Did you download these ensembled files when the issue is fixed? If so, would you mind share us a copy? we recently lost these files

[2019-02-27 16:02] ThegreatShible opened #34 "fc7_w.pkl not found"
I am trying to run the vqa_standalone_image_demo. I have followed the steps to preprocess the data. But I there are some files apparently necessary, but there is no mention how to get them.
fc7_w.pkl and fc7_b.pkl are the one i am stuck with.

[2019-02-28 17:36] gaopeng-eugene opened #35 "when will you add bounding box?"

[2019-03-03 17:20] omarahmed10 commented on #34
You can find those files in detectron_fix_100 you can get this folder using
`
wget https://dl.fbaipublicfiles.com/pythia/features/detectron_fix_100.tar.gz
tar -xzf detectron_fix_100.tar.gz
`
Note: this folder is ~400GB after extraction

[2019-03-03 17:43] endernewton commented on #34
Thanks @omarahmed10, @meetshah1995 we can probably make the weight files separate from the feature ones?

[2019-03-07 00:36] TheShadow29 commented on #34
Here are the fc7 files (https://drive.google.com/open?id=1jp47MdcnJ3okZku0PJbWmlY6cCHfusaK) to avoid having to download and unzip the `detectron_fix_100.tar.gz`. It contains `fc7_b.pkl` and `fc7_w.pkl`. Add these to `data/detectron_fix_100/fc6/` and the demo should be working after that.

[2019-03-07 07:01] McGinn7 opened #36 "size of rcnn_10_100.tar.gz"
I download **rcnn_10_100.tar.gz** twice, and find that it's size is about 33.8 GB.
But it should be 71.0 GB according to **AWS s3 dataset summary**.

[2019-03-07 07:32] McGinn7 opened #37 "data_preprocess"
In the step **Preprocess dataset**，the first command is `cd ../../VQA_suite`.
But there is no such directory，I create the directory and run following commands.
First, I run command `python data_prep/vqa_v2.0/extract_vocabulary.py --input_files ../orig_data/vqa_v2.0/v2_OpenEnded_mscoco_train2014_questions.json  ../orig_data/vqa_v2.0/v2_OpenEnded_mscoco_val2014_questions.json  ../orig_data/vqa_v2.0/

[2019-03-07 07:57] fliu2013 commented on #37
Maybe you can make subtle changes and  try running in the pythia directory.

[2019-03-07 08:27] McGinn7 commented on #37
Thank you!
I try running in the pythia directory, and the cmd is `python data_prep/vqa_v2.0/extract_vocabulary.py --input_files ./orig_data/vqa_v2.0/v2_OpenEnded_mscoco_train2014_questions.json  ./orig_data/vqa_v2.0/v2_OpenEnded_mscoco_val2014_questions.json  ./orig_data/vqa_v2.0/v2_OpenEnded_mscoco_test2015_questions.json --out_dir data/`

[2019-03-07 08:27] #37 closed

[2019-03-07 08:27] meetshah1995 commented on #36
Thanks for pointing out. I will look into it and update the file if needed.

[2019-03-07 08:52] fliu2013 commented on #36
@meetshah1995 Also, I can't download detectron.tar.gz from：https://dl.fbaipublicfiles.com/pythia/features/detectron.tar.gz
Quick start only provides path for downloading detectron_fix_100.tar.gz

[2019-03-07 13:53] HuaizhengZhang opened #38 "Ask for more models to extract features"
It seems that the data preprocessing guide only provides a pre-trained fast_rcnn model. Do you have any plans to release the other pre-trained models like faster_rcnn? Thank you so much.

https://github.com/facebookresearch/pythia/blob/a494706946af278da37db4de367c62d827eacf08/data_prep/data_preprocess.md

[2019-03-09 09:23] yarinKuper opened #40 "Using detectron features"
Hi,

I am trying to run the model and i am unable to download the detectron or the detectron_fix_100 (gunzip detectron_fix_100.tar.gz outputs gzip: detectron_fix_100.tar.gz: Input/output error), is there different link to the detectron features?

Thanks!

[2019-03-16 05:21] gaopeng-eugene opened #42 "evaluation use more memory than training"
As the title implied

[2019-03-17 08:44] #34 closed

[2019-03-27 18:18] Willjay90 opened #43 "Does GRU be used in question embedding?"
In the paper, you mentioned about "we used 300D GloVe [11] vectors to initialize the word embeddings and then passed it to a GRU network and a question attention module to extract attentive text features"

However, in `question_embeding.py`, there are two methods for question embedding. As I noticed in the config, you're using `att_que_embed`, which does not  pass through a GRU layer.
[code]

[2019-04-13 11:13] vishalprabha commented on #11
@Lausannen What Model code did you change, could you share the changes.

[2019-04-17 04:53] aligholami commented on #38
I think that should be quite simple. Since the framework is **modular**. Its just another pre-trained model that maps every image to a bunch of images (of objects) and extracts their feature maps. Saving is the same. Loading the model is the same. I hope it will be added soon.

[2019-04-17 04:55] aligholami commented on #35
@gaopeng-eugene Would you elaborate a bit more on the question? What do you mean by a bounding box? Attentions may have bounding boxes, detected objects or something else is what you mean? Thanks.

[2019-04-20 07:52] #38 closed

[2019-04-29 16:43] apsdehal commented on #42
This shouldn't be an issue anymore with new version. Please reopen the issue if it still persists.

[2019-04-29 16:43] #42 closed

[2019-04-29 16:44] apsdehal commented on #40
The newer version contains updated links to the same. Please reopen the issue if it still persists.

[2019-04-29 16:44] #40 closed

[2019-04-29 16:45] apsdehal commented on #36
Please use newer links in updated README to download the same. Reopen if the issue still persists.

[2019-04-29 16:45] #36 closed

[2019-04-30 03:01] fanlyu opened #44 "Do I need to download the tremendous weights again?"
I see the updates of the code, so do I need to download the tremendous weights again?

[2019-04-30 03:06] apsdehal commented on #44
Mostly not except for the new model. Features can stay the same but it will require some directory refactor.

[2019-04-30 08:48] apsdehal commented on #4
This should now be fixed with Colab demo. Alternatively, pretrained models can also be run on CPU.

[2019-04-30 08:48] #4 closed

[2019-04-30 08:48] apsdehal commented on #31
No longer applicable in new version. Closing for now.

[2019-04-30 08:48] #31 closed

[2019-04-30 08:49] apsdehal commented on #15
Try colab based demo, it shouldn't require to install anything. Closing for now. Reopen if issue persists.

[2019-04-30 08:49] #15 closed

[2019-04-30 08:50] apsdehal commented on #11
No longer applicable after new version and colab demo. please reopen the issue if there is some issue with the new demo. Closing for now.

[2019-04-30 08:50] #11 closed

[2019-04-30 08:51] apsdehal commented on #43
Yup, you are correct. I am not sure but I think it is a typo in the paper. It should be more clear in newer  version. Please reopen if you have any more questions.

[2019-04-30 08:51] #43 closed

[2019-04-30 08:53] apsdehal commented on #35
Currently, we don't have plans for releasing bounding boxes for VQA 2.0 as we don't use them, maybe in future we will add support. But you can extract out your own features with bounding boxes if you want. TextVQA dataset has bounding boxes for both images as well as OCR boxes if that helps.

[2019-04-30 08:53] #35 closed

[2019-04-30 09:29] fanlyu commented on #44
I try the old version weights that put vqa/train2014 and vqa/val2014 into train_val_2014.
Then I run the code with model pythia as
`python tools/run.py --tasks vqa --datasets vqa2 --model pythia --config configs/vqa/vqa2/pythia.yml`

But I got the error as below, how to slove it?

[code]

[2019-04-30 09:46] apsdehal commented on #44
That's imdb related issue. It would be better if you download new imdbs, they are not that big. Alternatively, I also pushed a small change that will make sure not to load tokens even for answers when `use_ocr` is False.

[2019-05-03 02:04] TheShadow29 opened #45 "Pretrained model performance?"
Hi. Thanks for the resourceful repository.

I was wondering if you could share the pre-trained model performances for the validation and the test sets for the various datasets.

[2019-05-03 02:12] apsdehal commented on #45
Hi,

Yes, we plan to add them to pretrained models section in documentation and Readme. Expect an update from me soon.

[2019-05-03 09:27] fanlyu commented on #44
Hey, I addressed the problem, but find when do
[code]
It got error
[code]

That is weird, and result to failure inference.

[2019-05-08 04:49] apsdehal commented on #44
@fanlyu Can you check now, it should be fixed in the master?

[2019-05-09 11:54] fanlyu commented on #44
@apsdehal It works, thanks! I'd close the issue.

[2019-05-09 11:54] #44 closed

[2019-05-10 19:10] virginie-do opened #49 "image dataset to .npy"
How did you transform the vqa dataset to a .npy file available for download?

[2019-05-10 19:16] meetshah1995 commented on #49
The documentation about converting VQA dataset to the npy files provided is described [here](https://github.com/facebookresearch/pythia/blob/master/pythia/legacy/data_prep/data_preprocess.md)

Kindly close the issue if you feel your query has been answered.

[2019-05-10 20:25] apsdehal commented on #49
In simple terms, you put metadata as dict on first line and each question and its related data's dict on a separate line.

For saving, push all these dicts in an array and save using `np.save`.

[2019-05-11 10:56] virginie-do commented on #49
Thank you.

Are these scripts mentioned in the Readme available somewhere?
`data_prep/vqa_v2.0/build_vqa_2.0_imdb.py`
`data_prep/vqa_v2.0/extract_word_glove_embedding.py`
`data_prep/vqa_v2.0/download_vqa_2.0.sh`

[2019-05-14 02:12] dyngts opened #51 "What happen when you have duplicate class name to register?"
Let's say you register following classes:

[code]

i assume the class `LORRA_mod` will override class `LoRRA`. is my assumption correct?

[2019-05-14 02:13] apsdehal commented on #51
Yup. That is correct.

[2019-05-14 02:13] dyngts commented on #51
ok thanks @apsdehal for the confirmation!

[2019-05-14 02:13] #51 closed

[2019-05-14 12:11] guantinglin opened #52 "Error when setup"
Hi, I keep meeting this error and can not figure out what happen. Can you give me some suggestion to solve?

The below is the screen messages.

[code]

[2019-05-14 12:21] guantinglin commented on #52
I found the solution here. Sorry for my carelessness.

https://github.com/facebookresearch/pythia/#troubleshootingfaqs

[2019-05-14 12:21] #52 closed

[2019-05-15 03:25] goyalsaransh97 opened #53 "Unexpected EOF on extracting data tar"
I am getting unexpected EOF on extracting the tar file from https://dl.fbaipublicfiles.com/pythia/features/coco.tar.gz.
Could someone please help?

[2019-05-15 03:35] apsdehal commented on #53
Can you post output of `du -sh *`?
It is probably incomplete download size.

[2019-05-15 03:42] meetshah1995 commented on #53
Since these files are quite large it'd be great to add md5 checksums for them. I'll add them to the readme tonight.

[2019-05-15 05:43] goyalsaransh97 commented on #53
Yes, the file was small in size. I re-downloaded it. It's working fine now, thanks.

[2019-05-15 05:43] #53 closed

[2019-05-15 07:00] apsdehal commented on #45
Performance tables have been added to README and documentation. Please feel free to reopen if something is not clear. Thanks.

[2019-05-15 07:00] #45 closed

[2019-05-15 07:01] apsdehal commented on #49
Yup, they are in this folder: https://github.com/facebookresearch/pythia/tree/master/pythia/legacy/data_prep/vqa_v2.0

[2019-05-15 09:34] goyalsaransh97 opened #54 "Performance of pre-trained model"
On using the pretrained pythia model downloaded, I'm just getting 66.7% overall accuracy on test-dev, which is much lower than reported single-model accuracy. Am I doing something wrong?
I tried downloading train+dev model from https://dl.fbaipublicfiles.com/pythia/pretrained_models/textvqa/pythia_train_val.pth
but the link seems broken.

Also, how much GPU memory is needed to train the model with

[2019-05-15 17:32] apsdehal commented on #54
The correct link is https://dl.fbaipublicfiles.com/pythia/pretrained_models/vqa2/pythia_train_val.pth. Apologies for the confusion.

You wouldn't be able to fit whole 512 size batch on single v100. Decrease the batch size to 256. There would be minor performance loss, but not that much.

[2019-05-16 01:07] goyalsaransh97 commented on #54
Thanks for the updated link. How much accuracy should I expect for both the pretrained models?
I do have multiple V100s but Pythia doesn't seem to use them. Is there a simple solution to this? To train over multiple GPUs and retain original batch size?
For batch size of 256, how should the learning rate be modified?

[2019-05-16 01:09] apsdehal commented on #54
See the configuration section of the documentation. Specifically, for running on multiple GPUS, add `training_parameters.data_parallel True` to the end of your command. Accuracies for both versions are mentioned in the README.

[2019-05-16 02:43] goyalsaransh97 commented on #54
Thanks for the quick reply

[2019-05-16 03:58] goyalsaransh97 commented on #54
In training of the model with 3 V100 GPUs, I'm getting CUDA memory error after 5000 iterations. Could you suggest something w.r.t. this?

[2019-05-16 05:26] apsdehal commented on #54
This technically shouldn't be an issue as if it runs fine for 5000 iterations, it should run fine later on also. Can you post your log file here? Also, can try using even number of GPUs? (Use environment `CUDA_VISIBLE_DEVICES`)

Alternatively, you can try decreasing batch size to 256 and half the learning rate (but it can require more fine-tuning than that).

[2019-05-17 16:10] apsdehal commented on #49
Closing as resolved. @virginie-do if you have any other questions please open up a new issue.

[2019-05-17 16:10] #49 closed

[2019-05-20 21:29] apsdehal opened #56 "[feature] Allow inheriting the default trainer for custom trainers"
As seen in Meet's usecase, it will be useful to allow end-users to inherit default trainer to make their own customized trainers. This will allow users to write their own forward or backward pass.

[2019-05-22 04:28] goyalsaransh97 opened #58 "Inference on K40m GPU"
I tried running inference for pre-trained pythia mdoel on K40m. It didn't start for quite some time and then the ETA was oscillating around 10-15 hours.
So I enabled multi-GPU training using dataparallel flag. But now its not starting, I've waited for around 30 minutes before stopping it. I got the following errors on stopping:
"
File "/mnt/data_g/saransh/anaconda3/lib/python3.7/threading.py", lin

[2019-05-22 04:36] apsdehal commented on #58
Hard to say without testing on k40m. But for now can you try setting `training_parameters.num_workers` to 0.

[2019-05-22 05:03] goyalsaransh97 commented on #58
The problem persists after adding the numworkers flag.

[2019-05-22 19:05] apsdehal commented on #58
Following https://bugs.launchpad.net/designate/+bug/1782647, it seems like a bug with 3.7, can you try with 3.6?

[2019-05-22 19:05] apsdehal commented on #54
@goyalsaransh97 Should we close this?

[2019-05-22 19:10] apsdehal commented on #58
Related: https://github.com/pytorch/pytorch/issues/8388

[2019-05-23 01:22] goyalsaransh97 commented on #58
Thanks for your help.

[2019-05-23 01:22] #58 closed

[2019-05-23 01:26] goyalsaransh97 commented on #54
Does the Pythia pre-trained model contain grid-features and 100 b-boxes?
If yes, why is the test-dev score much lower than reported for single model? How can I push it to the reported ones?
If not, how can I train the model with and without the grid-features?

[2019-05-23 02:27] goyalsaransh97 opened #59 "Getting Object Labels"
Is there a way for getting the object labels for bounding boxes, given by the (fine-tuned) Detectron model?

[2019-05-23 03:25] apsdehal commented on #54
Yes, it contains both of them.
- What is the test-dev score you are getting?
- Are you using and training the one that uses both `train+val`?
- Which reported number are you referring to?

[2019-05-23 03:32] apsdehal commented on #59
Currently, we don't have this data present in our object features. You can check Colab demo to understand how to extract object features and every other information at your end. You can also look into maskrcnn-benchmark for extracting object features.

For TextVQA, we have some information including bounding boxes coordinates and other stuff in info files but it still doesn't contain object labels

[2019-05-23 03:59] goyalsaransh97 commented on #54
- I'm getting 68.3, same as mentioned in the Readme.
- Yes
- Shouldn't the score be 70.0, as mentioned in the paper?

[2019-05-23 04:03] apsdehal commented on #54
If you want to reproduce that number you will have to collect extra data from v0.1 tag. See https://github.com/facebookresearch/pythia/tree/5ad666f417684f8f1280029ac46e19dc8b5ddb0a. It contains extra data from visual genome as well as visual dialog and some augmentation data. We are not supporting that model with extra training data anymore in v0.3 and focusing on pure VQA training without additio

[2019-05-23 12:43] IgorBrehm-Lis opened #61 "m5sum checksum target values in wrong order?"
Hi, I downloaded yesterday the coco.tar.gz features file (240GB) and when I made the md5sum checksum I got _ab7947b04f3063c774b87dfbf4d0e981_ instead of the target _b22e80997b2580edaf08d7e3a896e324_ value. The funny thing is that _ab7947b04f3063c774b87dfbf4d0e981_ is the target value said to belong to the OpenImages features file, so I believe the target values where misplaced by accident. Is that

[2019-05-23 17:22] meetshah1995 commented on #61
Yes, thanks for pointing.

Fixed in aa8b8c0

[2019-05-23 17:22] #61 closed

[2019-05-23 23:27] deviparikh opened #63 "pre-trained VizWiz model"
Can we please share a model trained on VizWiz with Saqib Shaikh saqibs@microsoft.com? Thanks!

[2019-05-24 01:48] #54 closed

[2019-05-24 04:24] #63 closed

[2019-05-24 06:41] wangpengnorman commented on #6
Hi, I want to extract image features, however, "data_prep/data_preprocess.md" is not available any more.

[2019-05-24 07:22] apsdehal commented on #6
@wangpengnorman check https://github.com/facebookresearch/pythia/blob/0.1/data_prep/data_preprocess.md in branch 0.1.

[2019-05-26 05:23] LanceNorskog opened #67 "Colab demo fails"
The Colab demo fails. I believe the problem is that the CUDA version install now on Colab is not what this version of PyTorch uses. I noticed that in general the Colab Python package versions are ahead of what this demo uses.

If you want to have a permanently working Colab demo, I suspect that you need to _nuke & pave_ the standard Colab runtime. That is, remove everything installed by PIP, the C

[2019-05-26 05:43] apsdehal commented on #67
Hi,
Can you rerun the cell which threw this error? This error does happen sometime and when I rerun that cell it doesn't happen again.

[2019-05-26 21:15] LanceNorskog commented on #67
Thanks! It made it past this error on the second run, but the second run failed on a stack trace I failed to capture: the core error was "weak ref set changed during iteration". It ran the third time.

Somewhere in Pythia or its constituent packages is some code that uses weak reference sets in an unreliable way. (Note: a Weak Reference collection can have elements removed at random, asynchronousl

[2019-05-26 21:17] apsdehal commented on #67
Thanks. I believe this issue happens only in colab demo. I will spend some time this week to figure out what is the issue.

[2019-05-27 07:55] goyalsaransh97 commented on #59
Precisely which model(and version) are you using for object detection?

[2019-05-27 07:56] goyalsaransh97 opened #68 "Training Lorra on VQA2"
I'm trying to train Lorra model for VQA2 dataset but I'm getting the following error
ValueError: /raid/saransh/pythia/pythia/.vector_cache/wiki.en.bin cannot be opened for loading!

[2019-05-27 09:39] mineshmathew opened #69 "Question on TextVQA - Pythia vs LoRRA"
Hey

I have few questions on the ablation studies conducted for the LoRRA model.

In Table 2  in the TextVQA paper , what is  the difference between  `Pythia + O + C` and `Pythia + LoRRA`. Is it that the second one also gets to choose its answers from a fixed lexicon ( either SA or LA)? Is it the only difference between the two?

While reading section 3 of the paper  I get a feel that `LoRRA` has

[2019-05-27 17:15] apsdehal commented on #68
How are you running this? It should automatically download this file.

[2019-05-27 17:16] apsdehal commented on #68
For now you can also download it from https://dl.fbaipublicfiles.com/pythia/pretrained_models/fasttext/wiki.en.bin

[2019-05-27 17:21] apsdehal commented on #69
Yes, as you mentioned the difference is ability to choose from fixed answer space as well. The final model we have we call it LoRRA, for easy comparison and terminology.

Pythia + LORRA'S VQA component is Pythia and rest of the stuff is specific to Lorra module. We had to use this nomenclature to differentiate between BAN + LoRRA and Pythia + LoRRA.

[2019-05-27 17:26] goyalsaransh97 commented on #68
I simply changed the yml file and name of model in the training command. Should I have done something else?

[2019-05-27 17:28] apsdehal commented on #68
Can you post your exact command here so it is easy to debug?

[2019-05-27 17:35] goyalsaransh97 commented on #68
The exact command was
python tools/run.py --tasks vqa --datasets vqa2 --model lorra --config configs/vqa/vqa2/lorra.yml
I've downloaded the file and will start training tomorrow. Right now, I'm training the BAN model.
Also, what are the approx. scores I should expect for BAN and pythia models?

[2019-05-28 03:23] #69 closed

[2019-05-28 04:15] goyalsaransh97 commented on #68
Also, on training the model(BAN or Pythia), I'm getting the following warning at the end:
2019-05-28T19:37:47 WARNING: /raid/saransh/pythia/pythia/modules/losses.py:88: UserWarning: Sample list has not field 'targets', are you sure that your ImDB has labels? you may have wanted to run with --evalai_inference 1
  warnings.warn("Sample list has not field 'targets', are you "

2019-05-28T19:49:16 INF

[2019-05-28 18:47] apsdehal commented on #68
That warning is expected as if you run code without `--evalai_inference 1` and `--run_type` has inference option set, it will try to run the inference code. But, since if doesn't have any targets it can't compare predictions.

[2019-05-28 18:49] apsdehal commented on #68
Pythia and BAN accuracies are reported in the TextVQA paper. https://arxiv.org/abs/1904.08920

[2019-05-28 20:32] KushajveerSingh opened #70 "Broken link in README"
The link for BAN in the README is broken

Model Zoo: Reference implementations for state-of-the-art vision and language model including LoRRA (SoTA on VQA and TextVQA), Pythia model (VQA 2018 challenge winner) and BAN.

[2019-05-28 21:52] #70 closed

[2019-05-28 22:00] apsdehal commented on #70
Thanks for pointing this out.

[2019-05-29 10:50] liunian-harold-li opened #72 "Could you provide the result for the pythia_12k_iterations_no_resnet.yml configuration?"
Hi, could you provide the results (text-dev/test-std accuracy) for the pythia_12k_iterations_no_resnet.yml configuration? I wasn't able to find the corresponding result of that model in the Pythia paper (https://arxiv.org/pdf/1807.09956.pdf). I would greatly appreciate your help!

In addition, is it convenient for you to provide the adaptive detectron features (presumably the detectron.tar.gz file

[2019-05-29 15:56] apsdehal commented on #72
I don't have results on that configuration handy. To reproduce the results on original paper (the ensembles and the ones with extra data) use v0.1 branch. The current master only contains single models and corresponds to new pythia version introduced in https://arxiv.org/abs/1904.08920.

The detectron.tar.gz is the same as COCO features, the link for which you can find in Readme.

[2019-05-29 16:08] liunian-harold-li commented on #72
Thanks for the prompt response! That's really helpful!

It seems that the COCO feature file contains detectron_fix_100 and resnet152. The detectron_fix_100 has 100 features for each image. But from my understanding, in the original paper, there is a model using **adaptive** detectron features (not always 100 features for each image) and no ensembles or extra data (Detectron & Fine-tuning (§2.3) 68

[2019-05-29 16:10] apsdehal commented on #72
If you are looking to reproduce the best single model, please use fixed 100 bounding boxes and the current master branch. According to our experiments fixed 100 bounding boxes work better than adaptive ones.

The current master branch's pythia train and gal model will be able to give you similar accuracy when trained.

[2019-05-29 16:23] liunian-harold-li commented on #72
Thank you for the response! I will use the fixed-100 features. Just want to note that it might be helpful to have the adaptive features or the score for pythia_12k_iterations_no_resnet.yml but that's not an urgent request.

Sorry for the trouble!

[2019-05-29 16:23] #72 closed

[2019-05-29 20:32] mandliya opened #73 "ERROR: 'BaseTrainer' object has no attribute 'args'"
I followed the instructions on the https://learnpythia.readthedocs.io/ to setup. I seem to have everything installed, and I could run the collab notebook locally.

However, when I am trying to run the below command to try out inferences:

python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml \
--run_type val --evalai_inference 1 --resume_file data/

[2019-05-29 21:10] apsdehal commented on #73
Apologies, this broke in recent PR #65. We are fixing this asap.

[2019-05-29 22:35] #73 closed

[2019-05-29 22:35] apsdehal commented on #73
@mandliya this should be fixed now. Can you try again?

[2019-05-29 22:36] meetshah1995 opened #75 "[enchancement] Make single point of args merging in configuration flow"
Currently CLI args are used when building the trainer class and later in checkpointer class. CLI args should be merged into config.

All submodules should be configured from the frozen config and not have access to the raw CLI args.

[2019-05-29 22:37] meetshah1995 commented on #56
Fixed in #65

[2019-05-29 22:37] #56 closed

[2019-05-29 22:38] apsdehal opened #76 "[enhancement] Upgrade to PyTorch 1.2.0"
There are some issues related to `flatten_parameters` that are currently preventing this upgrade. I am looking into this.

[2019-05-29 23:26] mandliya commented on #73
Thanks for quick turnaround!

[2019-05-30 00:14] apsdehal commented on #76
Blocked by https://github.com/pytorch/pytorch/issues/21108 for now.

[2019-05-30 00:28] apsdehal commented on #67
The issue was occurring due to compatability issues with CUDNN, CUDA and PyTorch versions. Colab recommends users to use their default PyTorch version instead of installing their own which fixes this issue. I have modify the colab file accordingly. Please comment back or reopen if this issue persists.

[2019-05-30 00:28] #67 closed

[2019-05-30 04:28] CYYYYYYYYYYY opened #77 "I couldn't train the model just show the error ~/pythia/pythia/.vector_cache/wiki.en.bin cannot be opened for loading!"
2019-05-30T12:03:24 INFO: Fetching fastText model for OCR processing
2019-05-30T12:03:24 WARNING: /home/chenying/pythia/pythia/tasks/processors.py:397: UserWarning: No model file present at /home/chenying/pythia/pythia/.vector_cache/wiki.en.bin.
  warnings.warn("No model file present at {}.".format(model_file))

2019-05-30T12:03:24 INFO: Downloading FastText bin
2019-05-30T12:03:24 INFO: Loading f

[2019-05-30 04:29] CYYYYYYYYYYY commented on #77
If any one tell me what's wrong with this

[2019-05-30 07:02] goyalsaransh97 commented on #68
I've trained the models and reproduced(approx.) results on test-dev.
Thanks for your continued support.

[2019-05-30 07:02] #68 closed

[2019-05-30 07:06] apsdehal commented on #72
@liunian-harold-li I trained the model on pythia_12k_iterations_no_resnet.yml configuration and found the result to be 68.84. https://evalai.s3.amazonaws.com/media/submission_files/submission_23567/4d3990e1-a93a-458e-ba96-7735ed02c0ef.json. I hope this helps.

[2019-05-30 07:16] apsdehal commented on #77
@CYYYYYYYYYYY  Can you pull from master and try again? Thanks.

[2019-05-30 09:30] liunian-harold-li commented on #72
Thank you very much! That's quite helpful!

[2019-05-30 14:48] CYYYYYYYYYYY commented on #77
I download the file `wiki.en.bin` and put it in `/.vector_cache/` still error but error info changes

INFO: Loading fasttext model now from /home/chenying/pythia/pythia/.vector_cache/wiki.en.bin
2019-05-30T21:59:29 ERROR: DataLoader worker (pid 4347) is killed by signal: Killed.
Traceback (most recent call last):
  File "tools/run.py", line 94, in <module>
    run()
  File "tools/run.py", line 83,

[2019-05-30 14:50] apsdehal commented on #77
This is not related to pythia. This happens when you have insufficient memory (can happen due to other things also, but seeing your error, it seems like memory). Fasttext model itself is 8gb so you will require more than double of that.

[2019-05-31 01:30] LanceNorskog commented on #67
Cool!

[2019-06-01 17:58] apsdehal opened #79 "[docs] Update README and docs for Image Captioning"
For recent PR #55

[2019-06-01 17:59] apsdehal opened #80 "[tests] Add tests for Image Captioning"
For recent PR #55

[2019-06-01 19:08] mandliya commented on #77
Aman (@apsdehal), I am seeing this error on machine with 36 GB of RAM. May be it has something to do with config params for number of workers? I am using default params, but may be something needs to be changed?

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/torch/utils/data/dataloader.py", line 511, in _try_get_batch
    data = self.data_queue.get(timeout=timeo

[2019-06-01 23:41] apsdehal commented on #77
@mandliya  You can try adding `training_parameters.num_workers 0` to end of your command. Let me know if works for you.

[2019-06-02 00:01] apsdehal opened #81 "[dataset] Fix support for Visual Dialog"
## 🚀 Feature
Visual Dialog support is there but needs to be updated for the new version.

## Motivation

Visual Dialog is one of the main branches for Pythia. It would be good to have support for it as well.
## Alternatives

Starter code for visual dialog is a good alternative to be considered.

[2019-06-02 00:03] apsdehal opened #82 "[dataset] Add support for Visual Genome"
## 🚀 Feature
Add support for Visual Genome questions as well as possibly scene graphs.

[2019-06-03 17:25] apsdehal commented on #77
@CYYYYYYYYYYY Is it working now? Can we close this issue?

[2019-06-04 00:45] mandliya commented on #77
It worked for me. I played around with num_workers variable and it worked for me with 0 and 2. Not sure why it fails for higher number (I tried 4, 7(default).) I did not dig deeper. I am using Tesla K80. Let me know if you need more details or repro.

[2019-06-04 00:48] apsdehal commented on #77
The issue is probably memory. Default dataloader in PyTorch creates copy of the dataset for each of the workers. You can google it for more information and https://github.com/pytorch/pytorch/issues/13246. We currently don't plan to support tensor only output from the datasets but it should be easy to remove any strings that are being returned.

[2019-06-04 01:43] CYYYYYYYYYYY commented on #77
It worked when I try changing `num_workers` with 0; memory error happened when I  tried bigger numbers , such as 2, 4, 7.

Thanks a lot.

[2019-06-04 01:51] CYYYYYYYYYYY commented on #77
The issue is definitely memory.  CUDA out of memory.

[2019-06-04 01:53] apsdehal commented on #77
CUDA Memory Error is different. For that, you need to decrease the batch size as you GPU is unable to fit batch size of 512. Try decreasing it to 256 and try again.

[2019-06-04 02:31] CYYYYYYYYYYY commented on #77
It's ok.

Thanks.

[2019-06-04 02:34] #77 closed

[2019-06-04 22:34] apsdehal commented on #59
You can use the script here and follow the instructions to install. Comment out the lines to get all the relevant data other than features:
https://github.com/facebookresearch/pythia/blob/master/tools/extract_features.py#L190-L198

[2019-06-04 22:34] #59 closed

[2019-06-05 16:04] natsudalkr opened #85 "Reproducing LoRRA results on TextVQA"
I am trying to reproduce the results using this config file. https://github.com/facebookresearch/pythia/blob/master/configs/vqa/textvqa/lorra.yml
The only thing I changed is num_worker because I don't have enough memory (I changed num_worker to 2) but the accuracy I got is not as high as the pre-trained one. I only got around 0.16-0.17 on validation data while the pre-trained model got ~0.27.
Do y

[2019-06-05 18:53] apsdehal commented on #85
@natsudalkr Can you post the exact command you are using here as well as your config file?

[2019-06-06 05:36] apsdehal opened #86 "[feature] EvalAI Upload Integration"
## 🚀 Feature
We currently have a feature for evalai predict which creates predictions in EvalAI format for VQA and TextVQA challenges. It would be great if we can automatically support this using EvalAI CLI tool. https://github.com/Cloud-CV/evalai-cli

## Motivation

Motivation is just ease of usage. Login once and use it always.

## Pitch

Ideally, a parameters or flag `evalai_upload` should be t

[2019-06-06 13:32] wesfox opened #87 "[enhancement] Add an light config"
## 🚀 Feature

Add a light config

## Motivation

I'm trying to use this awesome framework to see how easy it is to build things on top of Pythia. The big issue that I'm struggling with is understanding the configurations available. To move forward, I decided to create by myself a simple config based on the base config [provided](https://github.com/facebookresearch/pythia/blob/master/pythia/common/

[2019-06-06 19:12] apsdehal commented on #87
I believe by adding a tutorial on how to add new dataset and a new model to Pythia should resolve this concern. Most of the configuration parameters which you don't need to use you can ignore safely. I will update the issue when I update the documentation for the same.

[2019-06-07 08:17] wesfox commented on #87
Great idea! When do you plan to do so?
As I said I'm working on it for personal and business purposes. I can send you my feedbacks on my understanding of Pythia, would you be interested?

[2019-06-07 15:01] apsdehal commented on #87
Yup, sure.

I plan to update the documentation by Monday.

[2019-06-07 16:49] #79 closed

[2019-06-07 17:31] LousyLory opened #90 "Eval test set"
Hi,

I'm sorry if this seems super dumb. I used then pre-trained model to generate JSON file for VQA2.0 using pythia. Since it just gets us the answers and not a score, I tried uploading the results in https://competitions.codalab.org/competitions/6961#participate-submit_results. I am always getting the following error:

WARNING: Your kernel does not support swap limit capabilities or the cgroup i

[2019-06-07 17:54] apsdehal commented on #90
@LousyLory The JSON file generated from Pythia is for VQA2.0 while the codalab is for VQA1.0 evaluation. I believe you wanted to use EvalAI for VQA2.0 evaluation? https://evalai.cloudcv.org/web/challenges/challenge-page/163/overview

[2019-06-07 19:12] LousyLory commented on #90
Okay that worked. Thanks! (and apologies for being naive)

[2019-06-07 19:12] #90 closed

[2019-06-07 20:43] mandliya commented on #87
@apsdehal Thank you so much! Appreciate it. I had tough time to plug in another model to Pythia. I was trying to get use a different OCR for TextVQA and see if it improves accuracy. A tutorial like that would be super helpful!

[2019-06-08 02:11] shubhamagarwal92 opened #91 "Generative Decoder"
## ❓ Questions and Help

Do we also have a generative decoder here? Can you point me to the path.

I can only see the discriminative decoder [here](https://github.com/shubhamagarwal92/pythia/blob/master/pythia/modules/decoders.py)

[2019-06-08 02:18] shubhamagarwal92 opened #92 "GAN style training"
## ❓ Questions and Help

How easy is it to code a GAN style model for image generation using Pythia? Do you have any pointers/docs as to how I can configure the trainer? In future do you plan to fully implement a structure similar to Allennlp where by we just need to create a dataset reader and config file for our use case?

[2019-06-08 04:07] zhiqwang commented on #92
Or combine the structure of [`fairseq`](https://github.com/pytorch/fairseq) ?

[2019-06-09 04:18] natsudalkr commented on #85
Sorry for the late response.

The command is
```python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml```

Below is the config file I used. I have tried with a few learning rate settings but got quite similar results.
Thank you very much!
[code]

[2019-06-10 21:33] apsdehal commented on #91
We do have one that was introduced in captioning PR. Check https://github.com/facebookresearch/pythia/blob/master/pythia/modules/decoders.py#L54. This is quite generic and should be able to handle most of the cases. Let us know if this doesn't work for your use-case.

[2019-06-10 21:37] apsdehal opened #94 "[enhancement] Add support for CLEVR"
## 🚀 Feature

CLEVR is one of the most of famous abstract reasoning datasets.

## Motivation

Something similar to VQA but should return direct image so that models are able to handle them on their own.

[2019-06-11 04:52] fliu2013 commented on #85
I found that the same code in pytorch 0.4 and pytorch 1.0 performs differently. I run `python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml` in pytorch 0.4 and got around 0.16 . Pytorch 1.0 gives better results. Maybe you can give a try.

[2019-06-11 09:08] Dawitmu opened #95 "About OCR features"
## ❓ Questions and Help
Within the lorra.py code, there is a sample_list. Is the OCR features within this list? if yes, which one is it? or where are they located?

[2019-06-11 15:38] apsdehal commented on #95
Hi,
They should be inside `sample_list.context`. You can print the sample list to see its contents.

[2019-06-11 15:39] natsudalkr commented on #85
@fliu2013 Thank you very much for your advice.
I used pytorch 1.0.0 for this project (and got ~0.16-0.17).

[2019-06-11 15:41] apsdehal commented on #85
Yes, this is a known issue. I am unable to reproduce the bug in my setup environment.  @natsudalkr can you run the command below and paste the output here:

[code]

[2019-06-11 16:05] natsudalkr commented on #85
@apsdehal Here is the output.
[code]

[2019-06-11 17:17] apsdehal commented on #85
@natsudalkr I tried reproducing your bug in my environment but couldn't. Can you try following things to check whether it helps:
- Your CUDA used to build PyTorch and your runtime CUDA version are different so reinstall pytorch to make them same.
- Use torch==1.0.1.post2 version by running `pip install torch==1.0.1.post2`.

Let me know if it helps.

[2019-06-12 17:30] apsdehal commented on #85
@natsudalkr Attaching the log file for reference here.
[vqa_textvqa_lorra_1234_2019-06-11T09:56:03.log](https://github.com/facebookresearch/pythia/files/3282509/vqa_textvqa_lorra_1234_2019-06-11T09.56.03.log)

[2019-06-13 18:03] LousyLory opened #97 "is there anyway I can choose the GPUs to use in config"
I am trying to train LoRRA for VQA2.0. When I set data_parallel to 1 the code grabs all the GPUs available to me. Is there any setting in config which I can use to use certain GPUs and leave others free?
 I am using the following command to train LoRRA: `python tools/run.py --tasks vqa --datasets vqa2 --model lorra --config configs/vqa/vqa2/lorra_train_and_val.yml --data_parallel 1 --device cuda`

[2019-06-13 18:05] apsdehal commented on #97
Hi,
We don't directly support as it possible to support this using env vars. See https://discuss.pytorch.org/t/select-gpu-device-through-env-vars/318.

So, basically if you want to use device 0 and 1, do `CUDA_VISIBLE_DEVICES=0,1 [command] here`.

[2019-06-13 18:12] LousyLory commented on #97
Worked! I thought I was missing some setting from the config flags. I guess it would be useful if you add this to the documentation (just a suggestion).

[2019-06-13 18:13] apsdehal commented on #97
Sure. Once I complete distributed related changes, I plan to write a separate documentation on multi-gpu training. I will mention this there. Closing for now.

[2019-06-13 18:13] #97 closed

[2019-06-14 05:33] natsudalkr commented on #85
By changing pytorch version to torch==1.0.1.post2, now it works!
(I haven't fixed the CUDA version mismatch yet)

Thank you very much. @apsdehal @fliu2013

[2019-06-14 06:25] apsdehal commented on #85
Great. Closing then. Open up a new issue if you face any other problems.

[2019-06-14 06:25] #85 closed

[2019-06-14 07:01] ggaemo opened #98 "Object class of detectron?"
## ❓ Questions and Help
What are the value of the objects that are given by the detectron? I am trying to use the code in tools/extract_features.py

Only indices are given and the actual <idx2class > are not given.
It is the objects variable in the following code snippet.
It has 1601 classes. Where can I find the dictionary of index to vocab?

Thank you.

`
with c2_utils.NamedCudaScope(0):

[2019-06-14 07:08] endernewton commented on #98
It is at: https://github.com/peteanderson80/bottom-up-attention/tree/master/data/genome/1600-400-20
You can find objects and attributes list there.

[2019-06-14 07:13] apsdehal commented on #98
Thanks @endernewton, also direct link here for future reference: https://dl.fbaipublicfiles.com/pythia/data/visual_genome_categories.json

[2019-06-14 07:28] ggaemo commented on #98
Thank you so much!! Just one more thing. The object scores have 1601 categories. Does the first category correspond to the background?

[2019-06-14 07:57] apsdehal commented on #98
Yes, you are right.

[2019-06-14 08:00] #98 closed

[2019-06-14 19:25] LousyLory opened #99 "Result of LoRRA on VQA2.0"
## ❓ Questions and Help
Hi, thanks a lot for addressing all the querries.

I know that LoRRA is SoTA for textVQA. Is it also SoTA for VQA2.0? I re-trained LoRRA for VQA2.0 (using the provided config file) and the test results are the following:

yes/no | 85.44
number | 48.5
other | 58.67
overall | 68.54

This is very similar to original Pythia results.

Thanks in advance!!

[2019-06-14 20:17] apsdehal commented on #99
There might be differences due to number of GPUs being used. Our original config on 8 GPUs does lead to 69.21% for a single model performance which is better than Pythia. But I agree the border is a little blurry that's why we don't claim SoTA in paper and just say that LoRRA leads to performance improvements.

[2019-06-14 20:31] LousyLory commented on #99
Cool, thanks!!

[2019-06-14 20:31] #99 closed

[2019-06-15 12:11] ggaemo opened #100 "Detectron configs for demo"
## ❓ Questions and Help
What are the exact configurations for the detectron used in the demo for vqa2.0?
!wget -O ~/pythia_home/content/model_data/detectron_model.pth  https://dl.fbaipublicfiles.com/pythia/detectron_model/detectron_model.pth

The download link does not show the exact configurations

[2019-06-15 22:55] apsdehal commented on #100
Hi, please fine it here https://dl.fbaipublicfiles.com/pythia/detectron_model/detectron_model.yaml

[2019-06-16 07:01] ggaemo commented on #100
So this configuration is not the configuration that is used to win the VQA 2.0 challenge, right? The backbone is "R-101-FPN". Is it just for explaining how the 'basic and simple' version of pythia works?

In pythia/configs/vqa/vqa2/pythia.yml the following shows.

 image_feature_encodings:
    - type: finetune_faster_rcnn_fpn_fc7
      params:
        bias_file: detectron/fc6/fc7_b.pkl
        wei

[2019-06-16 07:58] apsdehal commented on #100
The configuration linked above is the one used to extract out features which are further used in training the pythia model. Features are *separately extracted* and detector is not trained *end to end with the pythia model*. The layer that you are seeing in the pythia config is used for finetuning. We extract features from fc6 layers and thus fc7 layer is finetuned.

Again to clarify, detectron con

[2019-06-16 08:25] #100 closed

[2019-06-18 11:04] zszazi opened #101 "UnicodeDecodeError: 'ascii' codec can't decode byte ..."
## ❓ Questions and Help

I am facing this issue , When I run the VQA colab notebook it works perfectly well , but when I run the same notebook in a cloud service provide in jupyter lab env it throws me this error but the Pythia Captioning notebook runs without throwing an error in the cloud service provider's jupyter lab
`UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 1496: o

[2019-06-18 22:00] apsdehal commented on #101
@zszazi Can you try the suggestion here: https://stackoverflow.com/a/40346898/2428889?

[2019-06-18 22:01] apsdehal commented on #101
Alternatively, this can also be done: https://stackoverflow.com/a/46851339/2428889

[2019-06-18 22:01] apsdehal commented on #95
Closing as I believe this has been resolved. Please open up a new issue if you face any other problems.

[2019-06-18 22:01] #95 closed

[2019-06-19 04:13] zszazi commented on #101
@apsdehal I did try both of this before posting the issue here and none of these worked,
Although when I checked the default encoding seems to be '`utf-8`' in the Jupyter lab

[2019-06-19 05:14] apsdehal commented on #101
I am unable to reproduce it but can you change line 124 in vocab.py to be something like:

[code]

This is definitely an issue related to utf8-decoding and it would great if you can isolate out the main issue. For isolation and for making sure that the issue is with the decoding, you can directly try loading the vocabulary_100k.txt which is causing the issue. Try:

[code]

Check if this causes any

[2019-06-20 19:43] apsdehal opened #104 "[enhancement] Explicitly warn about parameters requiring grad not registered to optimizer"
## 🚀 Feature

If a parameters of a model has `requires_grad=True` but is not registered to an optimizer, Pythia should throw a warning.

## Motivation

Currently, if `get_optimizer_parameters` is implemented in the model, Pythia will registered parameters to the optimizer based on that, but if not it takes `model.parameters()` which contains all of the parameters. The problem arises when user inhe

[2019-06-21 13:02] zszazi commented on #101
@apsdehal  I don't know what's happening but this is an interesting problem
I downloaded and tried to open the vocabulary_100k.txt , it works perfectly with specifying encoding
![image](https://user-images.githubusercontent.com/41579863/59923793-e9f63780-9451-11e9-85fd-dd7c59a7610f.png)

but the same error pops up when I do it in Pythia about the
[code]

Is there any other way other than manually

[2019-06-21 13:56] zszazi opened #105 "Error(s) in loading state_dict for Pythia"
## ❓ Questions and Help

@apsdehal
Initially I had a unicode decode error so I removed all the non-ascii characters present in `vocabulary_100k.txt` file
now when trying to build the object for pythia class `demo = pythiaclass()` all the data is getting downloaded but I get this error stopping at` 100%|█████████▉| 399832/400000 [01:12<00:00, 5519.20it/s]`
 The full error is as follows

[code]

I t

[2019-06-21 14:01] zszazi commented on #101
I removed all the non-ascii characters from the vocabulary_100k.txt file
using the command `tr -dc '\0-\177' <vocabulary_100k.txt > newfile.txt` and then load the newfile.txt

[2019-06-21 15:03] apsdehal commented on #101
This will mess up the initial embedding and won't work. Can you look at the replacement I mentioned above. This needs to be fixed properly for #105 to be fixed.
Can you do the exact replacement I mentioned above to:
[code]

[code]

[2019-06-21 15:25] zszazi commented on #101
Thanks That solved the unicodedecode error but gave this error ` 'str' object has no attribute 'decode`

[code]

[2019-06-21 15:31] zszazi commented on #101
Thanks That solved the unicodedecode error but gave this error` 'str' object has no attribute 'decode`

[code]

[2019-06-22 03:10] lixiangpengcs opened #106 "Confusion about dealing fast-rcnn feature when running textvqa"
## ❓ Questions and Help
I found in your code the dimension of faster rcnn feature is: batchsize x 137 x 2048. But the provided feature is 100 x 2048 and I saw you padding the other 37-dimension as 0. I don't know why you process features as this.

[2019-06-22 03:43] apsdehal commented on #106
That's just a left over artifact from our research code, it shouldn't matter. You should consider them as 100 and you can change it to 100 if you are training from scratch.

[2019-06-22 06:33] lixiangpengcs commented on #106
Thank your for your reply!

[2019-06-22 06:33] #106 closed

[2019-06-22 06:35] #105 closed

[2019-06-22 06:54] apsdehal commented on #101
Can you remove `.decode("utf-8").strip("\n")` to `.strip("\n")` only and check if it works?

[2019-06-22 06:55] zszazi commented on #101
I tried it doesn't work..

[2019-06-22 07:10] apsdehal commented on #101
Can you post the error here? Also, can you post the output of `python -m torch.utils.collect_env` from where you run your jupyter notebook?

[2019-06-23 09:40] SelinaFelton opened #107 "Questions about test accuracy of LoRRA"
## ❓ Questions and Help
What is the test accuracy of LoRRA in TestVQA dataset ?I only saw val accuracy in README.
How can I get test accuracy ? I have not saw any file which can calculate test accuracy yet.

[2019-06-23 13:25] apsdehal commented on #107
Test accuracy has been reported in the paper https://arxiv.org/abs/1904.0892. You can calculate it on your end following challenge participation instructions at https://learnpythia.readthedocs.io/en/latest/tutorials/challenge.html. Do keep in mind that only 5 submissions are allowed on test-std.

[2019-06-24 03:21] biexiangduo opened #108 "c++extension failed to allocate memeory"
## ❓ Questions and Help
my gpu is gtx1060 6g, memory is 16g
when I run following command ,it occurs error.I don't know where is the problem ,my gpu memory too small? I try minimize batchsize to 1,it occur another problem.

pf@pf-N95TP6:~/pythia$ python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml
WARNING: Device specified is 'cuda' but cuda is no

[2019-06-24 04:38] apsdehal commented on #108
Hi. Yes, this is a memory issue. You atleast require 8GB memory to fit fastText.

[2019-06-24 04:39] #91 closed

[2019-06-24 15:36] LousyLory commented on #86
Hey the following file will help, I think. I guess the option to select submission phase should be used as a flag in the main code, else everything seems to work. I also think this should be called from `./pythia/trainers/base_trainer.py` line 461. Let me know for issues.

[evalai_submit.txt](https://github.com/facebookresearch/pythia/files/3321529/evalai_submit.txt)

[2019-06-24 23:55] yash0307 commented on #108
@apsdehal , I am having the same issue. I checked and my system has 435GB available (p3.16x). Can something else cause this ? For instance, [This issue](https://github.com/salestock/fastText.py/issues/115) suggests that it can also be due to version conflicts.

[2019-06-25 02:00] apsdehal commented on #108
@yash0307 For FastText I am on commit 25c3994. Can you checkout that commit on your end (rerun the fasttext installation) and try again. Let me know if that works and I can push a fix with that specific version of fastText used in installation.

[2019-06-25 02:07] apsdehal commented on #108
I discussed with some other users, I don't think it is an issue with fastText version. It is most probably an issue with your wiki.en.bin version. Can you post the md5 checksum for your wiki.en.bin file by running:
[code]

It should be 92341f7f94c1801db19bb6b114fddff9.

[2019-06-25 14:48] zszazi commented on #101
python -m torch.utils.collect_env
Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration: GPU 0: GeForce GTX 1080 Ti
Nvi

[2019-06-25 17:15] yash0307 commented on #108
md5sum returned the same sting: 92341f7f94c1801db19bb6b114fddff9

[2019-06-25 17:16] apsdehal commented on #108
And what commit you are on for fastText?

[2019-06-25 19:50] apsdehal opened #109 "[evaluation] Fix the gap between evaluation on EvalAI and in Pythia"
## 🐛 Bug

Due to contractions and other stuff there is always a gap in between the validation performance on Pythia side and EvalAI side. This gap should probably be fixed at the end evaluation for the validation and test accuracies calculation.

## Expected behavior

Accuracies from Pythia and EvalAI should be same.

[2019-06-25 19:50] apsdehal commented on #107
Closing as resolved. Please open up a new issue if you face anything else. Thanks.

[2019-06-25 19:50] #107 closed

[2019-06-25 20:15] apsdehal commented on #101
Ok let's try this, it seems to work:

Replace

[code]

with

[code]

[2019-06-26 04:33] SelinaFelton commented on #107
Thanks for your reply!
I saw the TextVQA dataset provided test dataset, can I calculate test accuracy directly using this test dataset?

[2019-06-26 04:36] SelinaFelton opened #110 "Question about TextVQA dataset's test part"
## ❓ Questions and Help
I saw the TextVQA dataset provided test dataset, can I calculate test accuracy directly using this test dataset?

[2019-06-26 05:05] apsdehal commented on #110
Hi,
The test set provided has only questions. To evaluate accuracy on test set, you will have to upload to EvalAI. Follow instructions in challenge participation to generate json file for your model and upload it to EvalAI.

[2019-06-26 06:01] SelinaFelton commented on #110
Thanks, my problem is solved.

[2019-06-26 06:01] #110 closed

[2019-06-26 07:42] orchardchang opened #111 "How to get the fc7 layer"
## ❓ Questions and Help
After reading paper _Pythia v0.1: the Winning Entry to the VQA challenge 2018_, I have some questions:

- How to fine tune the fc7 layer when I get the fc6 features?

- Do you mean learning rate is 0.1 times when training pythia model with fine-tuned features?

- How the grid-features and object-features concatenated when training? Could you provide the code in Pythia?

[2019-06-26 09:04] lixiangpengcs commented on #106
I saw you provide Faster-RCNN feature including boxes, boxes feature and their confidences.  But there is no box corresponding labels in provided feature. Could you provide box labels feature of textVQA dataset?

[2019-06-26 18:58] apsdehal opened #112 "[bug] Call synchronize after building the dataset only in main process"
## 🐛 Bug

Currently, all builder instances will be calling build for the dataset when only one in the main process should be doing so. Check for main process and call synchronize after it is done.

[2019-06-26 20:10] apsdehal commented on #111
For your questions, you should have a look at Pythia model at https://github.com/facebookresearch/pythia/blob/master/pythia/models/pythia.py and description of new model in TextVQA paper at https://arxiv.org/abs/1904.08920

Replying inline:

The image encoder layer inside the pythia model is the one you are looking for. We take the weights of the fc7 layer from faster-rcnn and finetune them in our

[2019-06-26 20:14] apsdehal commented on #106
We don't provide them out of the box, but you can use the feature extraction scripts:
- https://github.com/facebookresearch/pythia/blob/master/tools/extract_features.py and https://github.com/facebookresearch/pythia/blob/master/tools/extract_features.md for extracting this information. Uncomment this part: https://github.com/facebookresearch/pythia/blob/master/tools/extract_features.py#L190...L198

[2019-06-27 01:40] lixiangpengcs commented on #106
Thank your for your reply!

[2019-06-27 03:05] brentbiseda commented on #4
Can you please provide an example of CPU inference?

[2019-06-27 05:08] orchardchang commented on #111
Thank you for your help.

How could I get the weights of the fc7 layer or design a fine-tuning layer from faster-rcnn if I prepare to fine tune the pre-trained features by myself? In fact I want to know the procedure of fine-tuning in faster rcnn.

[2019-06-27 06:33] apsdehal commented on #4
Append this behind your command : `training_parameters.device cpu`. So, if your command is `[command]`, use `[command] training_parameters.device cpu`.

[2019-06-27 16:34] apsdehal commented on #111
Weights for fc7 layer are present at http://dl.fbaipublicfiles.com/pythia/data/detectron_weights.tar.gz.
We take fc6 layer's features and fine-tune the fc7 layer.

[2019-06-29 08:23] #111 closed

[2019-07-01 18:10] angelaslin opened #113 "Incorrect model and config files in extract_features_vmb.py"
## 🐛 Bug

There is a mismatch between the model and config file used in pythia/pythia/scripts/features/extract_features_vmb.py.

## Command

python3 pythia/scripts/features/extract_features_vmb.py --image_dir data/images --model_file data/detectron_model.pth --config_file data/detectron_model.yaml

## To Reproduce

Steps to reproduce the behavior:

1. Download the model and config file in extract_

[2019-07-01 18:21] apsdehal commented on #113
Hi,
The problem is the version of maskrcnn-benchmark that you are using. Apologies for the confusion. Can you reinstall with our inhouse version of maskrcnn-benchmark from http://gitlab.com/meetshah1995/vqa-maskrcnn-benchmark and try again?

Thanks.

[2019-07-01 23:27] #94 closed

[2019-07-01 23:27] #112 closed

[2019-07-02 00:38] angelaslin commented on #113
Thank you! It works now.

You should change `_save_feature()` function in the script to save the `info` dictionary as a different format such as the pickle format. I get this error (`ValueError: Array can't be memory-mapped: Python objects in dtype.`) when I try to load the `info` dictionary from the npy file.

[2019-07-02 00:38] #113 closed

[2019-07-02 06:40] apsdehal commented on #113
How are you loading them? Use `np.load("<info_file_path.npy>", allow_pickle=True)`.

[2019-07-02 11:57] DangDinhQuocTrung opened #115 "Where is the module to detect and read text tokens?"
## ❓ Questions and Help
Hi, could you please tell me where the OCR module is located in the code?
I read that the OCR module is Rosetta. This module is in the code, or is it located in another repository or service?
Is there anyway that I can change it to other OCR modules?

[2019-07-02 16:01] angelaslin commented on #113
I used `features = np.load("output/<info_file_path.npy>", "r", allow_pickle=True)`. The object loads correctly when I use the command you suggested. Thank you!

[2019-07-02 19:02] apsdehal commented on #115
Rosetta is an internal FB OCR system which is not public. You can read more upon it at https://code.fb.com/ai-research/rosetta-understanding-text-in-images-and-videos-with-machine-learning/. If you want to change it to other OCR modules, I would suggest you to update and create new IMDBs from original TextVQA IMDBs where you replace the `ocr_tokens` key with the tokens you generate. An example of

[2019-07-03 05:26] #115 closed

[2019-07-03 08:51] SelinaFelton opened #116 "How can I train LoRRA on TextVQA dataset using multi-GPUs?"
## ❓ Questions and Help
I try to only set data_parallel=true, then I got:
`2019-07-03T16:03:40 INFO: Starting training...
2019-07-03T16:03:40 INFO: Fetching fastText model for OCR processing
2019-07-03T16:03:41 INFO: Loading fasttext model now from /media/userdisk1/wy/Document/GraduationProject/TestVQACode/pythia/pythia_v03/pythia03_2/pythia/pythia/.vector_cache/wiki.en.bin
2019-07-03T16:03:52 INF

[2019-07-03 11:31] SelinaFelton commented on #116
When I set distributed=true, and use command:
`
export CUDA_VISIBLE_DEVICES=4,5,6,7
export NGPUS=4
python -m torch.distributed.launch --nproc_per_node=$NGPUS tools/run.py --tasks vqa --
datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml
`
The ERRORs are:
`
2019-07-03T18:02:55 INFO: Starting training...
2019-07-03T18:02:55 INFO: Fetching fastText model for OCR processing
2019-07-

[2019-07-03 15:43] sarahallen111 opened #117 "Preparing a New Dataset for Image Captioning Training"
## ❓ Questions and Help
I'm sorry if this is very basic, but I'm new to the machine learning research community and have never done training before. I did go through the tutorial on how to use the pre-trained model for the image captioning (works fine), and read through the documentation about where to put the data and the commands for training. It seems the main things one needs is the features f

[2019-07-03 17:47] apsdehal commented on #116
For using data_parallel, make sure you are on the version 1.0.1.post2 of PyTorch. Either that, or use the nightly build. There was an issue in PyTorch which creates issues with flatten_parameters. Refer https://github.com/pytorch/pytorch/issues/21108

About distributed, I will look into it. I am actually preparing a patch for fixing some issues with distributed.

[2019-07-03 17:52] apsdehal commented on #117
Hi,

If you are planning to use the BUTD model, detectron features alone can work. Yes, you can use that function or use the script for extraction https://github.com/facebookresearch/pythia/blob/master/tools/extract_features.py.

Yes, you are right. So, in ImDB, you put stuff which you require in your dataset class. It can be done without ImDB too but that will require implementing dataset from sc

[2019-07-03 20:52] ishan-maheshwari opened #118 "[Feature] Nucleus Sampling algorithm for text decoding"
## 🚀 Feature

Nucleus Sampling is a new text decoding strategy that avoids likelihood maximization. Rather, it works by sampling from the smallest set of top tokens which have a cumulative probability greater than a specified threshold. (https://arxiv.org/pdf/1904.09751.pdf)

## Motivation

Present text decoding strategies like beam search do not work well on open-ended generation tasks (even on s

[2019-07-04 03:37] SelinaFelton commented on #116
Thanks, I will install 1.0.1.post2 of PyTorch and try to use data_paralle again.

[2019-07-05 09:13] SelinaFelton commented on #116
I installed 1.0.1.post2 of PyTorch, but when I using data_parallel=true I got another error:

2019-07-05T16:20:55 INFO: Fetching fastText model for OCR processing
2019-07-05T16:20:55 INFO: Loading fasttext model now from /media/userdisk1/wy/Document/GraduationProject/TestVQACode/pythia/pythia_v03/pythia03_2/pythia/pythia/.vector_cache/wiki.en.bin
2019-07-05T16:21:09 INFO: Finished loading fasttext

[2019-07-06 03:50] apsdehal commented on #116
Issue you are facing is related to https://bugs.python.org/issue25872. This happens if you edit files while you are training something.

[2019-07-08 06:37] SelinaFelton commented on #116
Thanks for your reply， it works.

[2019-07-08 06:37] #116 closed

[2019-07-08 17:49] yash0307 commented on #108
Sorry for the late response. The issue was with the fastText version, I reversed the changes to commit 25c3994 and it worked fine.

[2019-07-08 19:26] LousyLory opened #119 "Object features per image"
## ❓ Questions and Help
Hi,

Where can I find/extract the object features per image (for each batch) for either of pythia or lorra models?

Thanks for the help and the awesome code!

[2019-07-09 05:35] ronghanghu opened #120 "[bug] Wrong image size extracted in extract_features_vmb.py"
## 🐛 Bug

The image width and image height extracted with extract_features_vmb.py in https://github.com/facebookresearch/pythia/blob/64ac866210241d769a36a02f89d25e5b244d579b/pythia/scripts/features/extract_features_vmb.py#L118-L119 are wrong. The "image_width" and "image_height" keys in the extracted *_info.npy files do not match the actual image size.

This can cause errors if one would like to c

[2019-07-09 05:57] meetshah1995 commented on #120
@ronghanghu - Thanks for pointing this out. This bug (or feature) is present to imitate Detectron like behaviour.

Without this change, I observed a difference in features extracted from C2 models (extracted using C2) and features extracted from C2 models converted to Pytorch (extracted using Pytorch). I explicitly added this [line](https://gitlab.com/meetshah1995/vqa-maskrcnn-benchmark/blob/2d636

[2019-07-09 06:12] ronghanghu commented on #120
Thanks for the explanation! I think as a workaround one can directly extracting the image height and width from `_image_transform` in extract_features_vmb.py, instead of recomputing them from the vqa-maskrcnn-benchmark outputs.

[2019-07-09 06:42] endernewton commented on #120
@meetshah1995 does the change in features affect pythia performance? I mean if one can either go with the C2 tradition or go with the PT benchmark, but make sure the features extracted are *consistent* for training and testing.

[2019-07-09 07:38] meetshah1995 commented on #120
Yes, the change in features (if not using the above fix) affects Pythia performance by (-ve) 2.5 in VQA score on test-dev.

[2019-07-09 18:23] LousyLory commented on #119
I got it. they are here:
line 251: https://github.com/facebookresearch/pythia/blob/master/pythia/models/pythia.py

[2019-07-09 18:23] #119 closed

[2019-07-12 00:08] apsdehal opened #121 "[bug] Distributed Training doesn't converge"
## 🐛 Bug

Distributed training in Pythia currently doesn't converge perfectly for Pythia. The issue occurs due to https://github.com/facebookresearch/pythia/blob/master/pythia/utils/general.py#L115 where we don't check if model is instance of `DistributedDataParallel`.

## Command

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run the command above and compare with the results of t

[2019-07-12 17:46] apsdehal opened #122 "[bug] Fixing seed currently doesn't ensure true determinism in all cases"
## 🐛 Bug

`torch.backends.cudnn.deterministic = True` also needs to be set.

[2019-07-12 20:18] #121 closed

[2019-07-12 21:32] angelaslin opened #125 "[bug] Incorrect class labels predicted in extract_features_vmb.py"
## 🐛 Bug

extract_features_vmb.py saves the wrong class labels in the "objects" key in the info dictionary.
File: `pythia/scripts/features/extract_features_vmb.py`
Line 133: `objects = torch.argmax(scores[keep_boxes], dim=1)`

This line does not exclude the background class (index 0 of the `scores` vector). Sometimes the score for the background class is larger than the confidence scores saved in

[2019-07-12 23:45] apsdehal commented on #125
Thanks @angelaslin. Would you like to make a PR for this?

[2019-07-13 05:39] Zzmonica commented on #111
Do I need to download the weights of `detectron_fix_100.tar.gz`
It seems a little big to download.

[2019-07-13 18:26] apsdehal commented on #111
You need this http://dl.fbaipublicfiles.com/pythia/data/detectron_weights.tar.gz.

[2019-07-15 23:42] angelaslin commented on #125
I have created a pull request!

[2019-07-17 18:12] apsdehal commented on #125
Closed via #127.

[2019-07-17 18:12] #125 closed

[2019-07-18 15:20] mathfinder opened #128 "Support GQA dataset"
Will you provide a dataloader for GQA?

https://cs.stanford.edu/people/dorarad/gqa/download.html

[2019-07-18 15:24] meetshah1995 commented on #128
Hi @mathfinder

A script to convert GQA into a Pythia-consumable dataset is available [here](https://github.com/facebookresearch/pythia/tree/master/pythia/scripts/gqa)

@apsdehal - I think it would be great to have a registered dataset class for GQA?

[2019-07-23 20:05] xymtxwd opened #129 "Unable to achieve VizWiz accuracy of 54.72 as reported in the paper"
## ❓ Questions and Help
Hi,

Thanks a lot for sharing the codes and models. The performance is amazing. However, I am unable to obtain the accuracy of 54.72 on VizWiz as reported in your paper on Arxiv. I can only achieve 54.22 accuracy. I was wondering is there anything I might have missed? Or is this a typo?

Thanks again.

[2019-07-23 20:14] apsdehal commented on #109
FWIW, this only happens in LoRRA based architecture as Pythia based architectures use VQA vocabularies which are already processed using `process_answers.py`.

[2019-07-23 20:25] apsdehal commented on #129
Hi,

The model trained in the paper is v0.1 branch which is trained on more data (including Visual Dialog, Visual Genome and VQA). That's why you see some gap in the final accuracy after transferring. I will keep this open for now as there isn't a way to reproduce it in v0.3 except taking model from v0.1 and running it.

[2019-07-23 20:30] xymtxwd commented on #129
Hi,

Thanks for the comments. However in the paper, it says:

VizWiz Accuracy
BAN[25] 51.40
Pythia v0.3 (Ours) 54.72

I think here it suggests it's v0.3 branch which achieves 54.72 accuracy. Should this be v0.1 (a typo?) Thank you very much.

[2019-07-23 20:32] apsdehal commented on #129
We do have imdbs, so it is easy to use it. But, we don't yet have them released in a manner that it is usable by end users.

[2019-07-23 20:35] apsdehal commented on #129
I have updated my comment above.

[2019-07-23 20:55] xymtxwd commented on #129
Hi,

Thanks a lot for sharing the information. That makes sense to me. I'm closing this - thanks again.

[2019-07-23 20:55] #129 closed

[2019-07-24 04:10] fliu2013 opened #130 "Why is the value of bounding box in ocr_info so small?"
## ❓ Questions and Help
In imdb of textvqa, I find that figures of bounding box in ocr_info is almost less than 1 even for a 1024 * 667 image. I wonder how you guys process those figures. How can I get the original image region according to the bounding box?

[2019-07-24 07:12] apsdehal commented on #130
I am not sure I understand what exactly you mean. You need to multiply the coordinates provided in ocr info with image's width and height.

[2019-07-24 07:13] apsdehal commented on #108
Closing as this indeed seems like an issue with fasttext version.

[2019-07-24 07:13] #108 closed

[2019-07-24 07:14] apsdehal commented on #118
@ishan-maheshwari do you plan to work on this? Because at the moment we atleast don't have this on the Roadmap.

[2019-07-24 09:03] fliu2013 commented on #130
Thanks a lot!

[2019-07-24 09:03] #130 closed

[2019-07-24 12:17] ishan-maheshwari commented on #118
Hi! Yes, I'm currently working on this. 🙂

[2019-07-27 07:03] #122 closed

[2019-07-29 03:09] SelinaFelton opened #131 "Continue Training Question"
## ❓ Questions and Help
Can LoRRA's training continue after the model is interrupted? If it can, how should I do it?

[2019-07-29 04:19] apsdehal commented on #131
Use `--resume 1`, keeping rest of the arguments same.

[2019-07-29 07:04] SelinaFelton commented on #131
Thanks, I will try.

[2019-07-29 07:34] SelinaFelton commented on #131
I have another problem, how can I train LoRRA faster?  When I use 1 GPU(1080Ti, batch_size=128) to train LoRRA, it train 1000 iterations using 2 hours.
When I set data_parallel=true to use multi-gpus, I meet the same problem as [https://github.com/facebookresearch/pythia/issues/77](url). Only num_workers<=2 works for me.
Setting distributed=true still dose not work for me.

[2019-07-29 07:50] Vimos opened #132 "More evaluation metrics for captioning"
In README, the line `BLEU 1 - 76.02, BLEU 4 - 35.42 , METEOR - 27.39, ROUGE_L - 56.17, CIDEr - 112.03 , SPICE - 20.33` shows several evaluation metrics, while only `BLEU 4` is offered in `pythia`.

Is there any plan adding other evaluation metrics? Or the users are required to implement their own?

[2019-07-29 08:16] SelinaFelton commented on #131
When I use commond:

This is my out put:

Traceback (most recent call last):
  File "tools/run.py", line 94, in <module>
    run()
  File "tools/run.py", line 83, in run
    trainer.train()
  File "/media/userdisk1/wy/pythia-0715/pythia/trainers/base_trainer.py", line 232, in train
    should_break = self._logistics(report)
  File "/media/userdisk1/wy/pythia-0715/pythia/trainers/base_trainer.py",

[2019-07-29 17:08] apsdehal commented on #132
You can use this script: https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/coco/coco_caption_eval.py to calculate all of the metrics. We don't calculate anything other than BLEU4 at the runtime due to computational constraints.

[2019-07-29 17:16] apsdehal commented on #131
This issue occurs only when you have less memory than expected for a batch size of 128. You will have to play with batch size and learning rate in that case so as to be able to fit smaller batch sizes in your memory. The distributed setup should work after the latest changes, make sure to pull and merge them. As you increase num_workers the memory consumption is bound to increase. Keep an eye on `

[2019-07-29 17:22] #117 closed

[2019-07-29 17:23] #101 closed

[2019-07-29 18:29] vedanuj commented on #109
Running the evaluation code here : `https://github.com/GT-Vision-Lab/VQA/blob/master/PythonEvaluationTools/vqaEvaluation/vqaEval.py` gives a different accuracy compared to EvalAI for TextVQA.

Test run on Validation phase with [submission file](https://evalai.s3.amazonaws.com/media/submission_files/submission_31880/506102f4-5916-48f2-94c8-d76bd53355e6.json) gives an accuracy of 27.4 whereas runnin

[2019-07-29 18:38] apsdehal opened #133 "[bug] Feature Extraction script doesn't use confidence threshold"
## 🐛 Bug

The feature extraction script currently has confidence threshold but doesn't use it.

[2019-07-29 20:57] #120 closed

[2019-07-29 20:57] #133 closed

[2019-07-30 01:26] #132 closed

[2019-07-30 02:18] SelinaFelton commented on #131
Thanks! It's It is indeed my memory problem.

[2019-07-30 02:18] #131 closed

[2019-08-01 02:01] liiiiiiiiil opened #136 "About the copy module of LoRRA"
## ❓ Questions and Help
I read your 'text-vqa' paper, in which the copy module attract me a lot. But I can't find this module in your code. Did you opensource this code or rename it? thanks!

[2019-08-01 02:01] tienthegainz opened #137 "Do Pythia support training on other language beside English?"
## ❓ Questions and Help
As the title desscribed, I want to train the model for my VQA dataset in Vietnamese. Does the OCR part and Embedding part support Vietnamese. Or I have to customize it myself?

[2019-08-01 02:57] apsdehal commented on #136
The copy mechanism works this way: You add a dynamic answer space to your model (this means that original VQA answer space will be extended by the size of your dynamic answer space, in this case, 50 for OCR tokens). Then when you are predicting the final answer, if the model predicts from this dynamic answer space, you copy the OCR token at the selected location.

Related source code points:
SoftC

[2019-08-01 03:02] apsdehal commented on #137
It is possible to do this. You will have to change three things:
- Since, we don't have a public version of Rosetta OCR model, I will suggest you to extract out the OCR tokens using Google Cloud Vision API. Create an imdb for your questions in same format as the one for TextVQA with the OCR tokens you just extracted out. Checkout https://cloud.google.com/vision/docs/ocr (specifically 'Specify a la

[2019-08-01 05:56] liiiiiiiiil commented on #136
thank you very much!

[2019-08-01 05:56] #136 closed

[2019-08-01 17:18] apsdehal opened #138 "[question] TextVQA Upper Bounds"
## ❓ Questions and Help

How do I reproduce val number for TextVQA upper bounds.

[2019-08-01 17:18] apsdehal commented on #138
Leaving this here just in case someone needs this: https://colab.research.google.com/drive/1szmipJ6ugEHjJg0ie30j_nChworMYlKx

[2019-08-01 17:18] #138 closed

[2019-08-02 07:22] tienthegainz commented on #137
Thanks man. I'll give it a try

[2019-08-02 07:22] #137 closed

[2019-08-03 03:34] ayumiymk opened #141 "[Questions] Could you please offer the location info for the detected objects?"
## ❓ Questions and Help
Hi, thanks for such great work. I want to conduct some experiments on TextVQA. From the released code, I find the location info of OCR results is given. How about the detected objects? I think it is important to take the location info into consideration for this task.

[2019-08-04 03:49] mathfinder opened #142 "Will MAC-Network and NSM be supported soon?"
## ❓ Questions and Help
Thanks for this open-source project.

I wonder to know if these two works will be supported?

mac-network:

Neural State Machine:

[2019-08-05 06:15] liiiiiiiiil opened #143 "some question about extracting features?"
## ❓ Questions and Help
I wan't use the dataset named "ST-VQA", so I should extract the feature myself. I have some question:
1. what's the difference between pythia/scripts/extract_features_vmb.py and tools/extract_features.py ?
2. I tried to use tools/extract_features.py and I use docker to build detectron environment. But when I run the extract_features.py, it says there are modules named commo

[2019-08-05 15:02] sarahallen111 opened #144 "Training crashing after ~2000 iterations"
## ❓ Questions and Help
I am doing training on the captioning task using a new dataset (whose data has been formatted like the coco dataset). For the most part, training has been working fine; however, I seem to get an error about every ~2000 iterations very consistently. The error message always looks like the following (I'll post the full message down below):

`RuntimeError: Function 'X' returne

[2019-08-05 17:08] apsdehal commented on #142
We don't have plans to support these as of now but we are always looking for contributions. :)

[2019-08-05 17:10] apsdehal commented on #141
Let me get back to you. I will have to extract them out and upload them unless you want to extract them out yourselves using https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/features/extract_features_vmb.py

[2019-08-05 17:11] apsdehal commented on #143
For 2. you need to have detectron in your PYTHON_PATH.
Ideally, for now you should use `extract_features_vmb.py` which is based on our custom fork of maskrcnn-benchmark.

[2019-08-05 17:17] apsdehal commented on #144
Even though it is saying 10000, technically it is at 12000th iteration because what we currently save in the checkpoint is the best iteration instead of current iteration. For now, you can assume that 10000th is the 12000th iteration. Let me think more about what we want to save inside the checkpoint. @vedanuj  Can you look into the other error?

[2019-08-05 17:28] apsdehal commented on #144
My two cents: in most of the cases when this error happens it is due to very high learning rate. Try decreasing your learning rate and run again.

[2019-08-05 17:44] sarahallen111 commented on #144
I set my learning rate (lr) as the default value, which was 0.01, so it seems like it is pretty small already... but I suppose I could make it smaller? Though if changing the defaults means I have to start over with training, then I may just keep with what I have so I don't have to start over from scratch again.

[2019-08-05 17:49] apsdehal commented on #144
Yeah, but you can override default learning rate by adding `optimizer_attributes.params.lr LR_VALUE_HERE`  at the end of your command or use lr scheduler. And people do decrease learning rate as they get close to the convergence point and it seems a good choice for you at the moment. Thus, you should try decreasing it.

[2019-08-05 17:50] sarahallen111 commented on #144
Could you give a recommendation of what value to set it to? I'm very new to machine learning so I don't really have a sense of it. 0.001? Smaller?

[2019-08-05 18:17] vedanuj commented on #144
@sarahallen111 You seem to be using a different dataset. Are you sure there are no corrupt images in the dataset? Did you check running the training with COCO dataset and if the problem occurs with COCO?

[2019-08-05 18:20] apsdehal commented on #144
And for LR, moving in the steps of 0.1 multiplier seems reasonable. Though, I will suggest reading more literature e.g. https://machinelearningmastery.com/learning-rate-for-deep-learning-neural-networks/

But, first, I will go through comments made by @vedanuj

[2019-08-05 19:59] sarahallen111 commented on #144
It is a new dataset, though I formatted the dataset to match the format of COCO. There shouldn't be any corrupt images in the dataset, because one of my lab partners did separate training (for another task) using it and it worked.

I unfortunately was not able to do any training using the COCO dataset itself. The COCO dataset is large, and because of space concerns on our GPU server I couldn't try

[2019-08-06 01:40] ayumiymk commented on #141
Thank you very much! I will also do it. But could you please also offer the predicted category of each box? I have some troubles while using detectron. Of course, I will keep trying `extract_features_vmb.py` to process my own datasets.

[2019-08-06 05:56] liiiiiiiiil commented on #143
thanks very much!

[2019-08-06 07:54] mineshmathew opened #145 "Visualizing Attention maps on input images"
## ❓ Questions and Help
I was wondering if there is any way to visualize the attention weights over the original inputs for vqa or captioning. I see such figures in   papers.

Is there a script already available for this.

[2019-08-07 01:36] liiiiiiiiil commented on #143
I run this extract_features_vmb.py, however it's **incompatible** with the new version of maskrcnn-benchmark.
when I load the detectron_model.pth,the error shows like this:
KeyError: 'Non-existent config key: MODEL:BACKBONE.OUT_CHANELS

[2019-08-07 01:40] apsdehal commented on #145
No, we don't have these scripts. But you can save attention weights from the model and use the functions below to plot attention weights on image:
[code]

Might have some errors though.

[2019-08-07 01:41] apsdehal commented on #143
You have to use vqa_maskrcnn_benchmark https://gitlab.com/meetshah1995/vqa-maskrcnn-benchmark/

[2019-08-07 02:56] liiiiiiiiil commented on #143
Sorry to disturbing you, but I really want to use your code to do some work. I have some other question.
1. Why the standard maskrcnn-benchmark can not be use and What is the bigget difference between vqa-maskrcnn-benchmark with maskrcnn-benchmark?
2. When I install vqa-maskrcnn-benchmark by dockerfile, I found that the dockerfile still work for standard maskrcnn-benchmark, so how to install it?
t

[2019-08-07 03:17] #145 closed

[2019-08-07 04:15] #82 closed

[2019-08-07 05:03] liiiiiiiiil commented on #120
hi， could you please answer me a question? How did you install the vqa-maskrcnn-benchmark, I check the install.md  that is the same with maskrcnn-benchmark. please!

[2019-08-07 05:15] liiiiiiiiil commented on #120
Could you please tell me how to install the vqa-maskrcnn-benchmark, I check the install.md that is the same with maskrcnn-benchmark. please!

[2019-08-07 05:47] apsdehal commented on #143
1. We use extra attribute based loss to train this detector and it is trained on visual genome.
2. See the how we install in the demo here: https://colab.research.google.com/drive/1Z9fsh10rFtgWe4uy8nvU4mQmqdokdIRR

[2019-08-07 05:48] liiiiiiiiil commented on #143
Thanks a lot!!!

[2019-08-07 05:48] #143 closed

[2019-08-08 18:32] yashkant opened #146 "Validation Accuracy on LoRRA not matching the reported score"
## ❓ Questions and Help

As per the metrics reported in readme [https://github.com/facebookresearch/pythia/#pretrained-models]  LoRRA achieves 27.4% on val set.

However, using the `lorra_best.pth` checkpoint achieves only `15.60%` vqa accuracy. All the code is the same as master, I am using the below command to run inference:

[code]

Output:

`
2019-08-08T14:31:54 INFO: textvqa: full val:, 0/240

[2019-08-08 21:27] apsdehal commented on #146
I just ran it. I got 0.2747.
![image](https://user-images.githubusercontent.com/3616806/62739019-a303d780-b9e8-11e9-8c64-5302c9dbe2b9.png)

[2019-08-08 21:31] apsdehal commented on #80
@vedanuj Any updates on this?

[2019-08-08 21:37] vedanuj commented on #80
I have to add the test for BeamSearch module. I will add it soon.

[2019-08-08 21:39] vedanuj commented on #76
Pytorch 1.2 Stable is released today. We can update pythia to use 1.2 now. I have been testing with 1.2 nightly and haven't found any issues till now.

[2019-08-08 21:40] apsdehal commented on #76
Yup, I have been actually working on this and a lot of other relevant fixes.

[2019-08-09 02:27] haoopan opened #147 "Segmentation Fault（coredump）"
## ❓ Questions and Help
Hi ：
  Thank you first to read my question. I set the num_works=0,but get the fault of 'Segmentation Fault（coredump）'. When set the num_works>0, It get the error of 'RuntimeError: DataLoader worker (pid(s) 10306) exited unexpectedly'.
  So, could please give me some tips. Thanks!

[2019-08-09 02:43] apsdehal commented on #147
Seems like a memory issue. This is a common bug with low memory. Google for it. :) You would either want to use num_workers=0 or increase your memory
..

[2019-08-09 03:26] liiiiiiiiil opened #148 "Could extract features by multi GPU?"
## ❓ Questions and Help
The speed of extracting features by single GPU and seting batch_size=2 or 4 is very slow.

[2019-08-09 06:54] liiiiiiiiil opened #149 "How do you build your vacabulary?"
## ❓ Questions and Help
For dataset text-vqa, you have two answers vocabulary: answers_textvqa_8k.txt and answers_textvqa_more_than_1.txt.
I tried to build a "more than 1" vocab on text-vqa's answers, but I find my vocab(12318) is  much bigger than your vocabulary(3997)?
And how to build the 8k vocabulary?

[2019-08-09 08:53] liiiiiiiiil commented on #149
I find the answer in your paper,
"  For our approach, we use a vocabulary SA of size
3996, which contains answers which appear at least twice
in the training set. For the baselines that don’t use the copy
mechanism, this vocabulary turns out to be too limited. To
give them a fair shot, we also create a larger vocabulary
(LA), containing the 8000 most frequent answers.  "

[2019-08-09 14:15] SelinaFelton opened #150 "Feature extract question"
## ❓ Questions and Help
I follow these steps to run extract_features_vmb.py:
[code]
But I got:

Have you ever met such a bug?

[2019-08-09 18:51] apsdehal commented on #148
Would you like to open up a PR for this? It might take a while before get to this on our side.

[2019-08-09 18:52] apsdehal commented on #150
Memory issues probably. Check your memory size. Segmentation fault normally happen due to memory issues. You should on the side check output from htop and see if it reaches your memory limit when you run this command.

[2019-08-09 18:53] apsdehal opened #151 "[docs] Add FAQ for segmentation fault."
## 🚀 Feature
Add information about debugging segmentation fault to README and docs FAQ.

A lot of people are getting this error. It should be easy to debug this using htop memory output.

[2019-08-10 00:21] apsdehal commented on #76
Related https://github.com/pytorch/pytorch/issues/24137

[2019-08-10 05:55] SelinaFelton commented on #150
I have checked my memory, it's enough.

[2019-08-10 06:11] apsdehal commented on #150
can you point to the exact image on which encountered the bug. I haven't seen it unless I am out of memory.

[2019-08-10 11:58] gao-ye commented on #150
I use commond to process TextVQA dataset, the images are download from: [TextVQA](https://textvqa.org/)

But I got Errors:

[2019-08-10 12:40] SelinaFelton commented on #150
I tried 4 images in TextVQA dataset, all of them output Segmentation fault (core dumped), image_ids are:

Maybe any picture will be given such an error  in my enviorment

[2019-08-10 12:46] gao-ye commented on #150
I guess this code process 2 images each time, my code stop at images:

[2019-08-10 12:47] gao-ye commented on #150
I guess this code process 2 images each time, my code stop at images:

[2019-08-10 12:59] gao-ye commented on #150
I print the image path to check.
When process test set of TextVQA, it also has errors and stop at:

data/TextVQA/test_images/78513e6212eb2887.jpg
Traceback (most recent call last):
  File "pythia/scripts/features/extract_features_vmb.py", line 236, in <module>
    feature_extractor.extract_features()
  File "pythia/scripts/features/extract_features_vmb.py", line 229, in extract_features
    featur

[2019-08-10 18:13] apsdehal commented on #150
I have encountered this bug locally. Some JPG images have four channels. For now patch it locally like this:

Replace `_image_transform` function with following code:
[code]

[2019-08-12 02:56] liiiiiiiiil commented on #150
I met this bug too，and further more，this line code `files = glob.glob(os.path.join(image_dir, "*.jpg"))` shows that it can not handle some images like '1.JPEG'

[2019-08-12 03:15] liiiiiiiiil commented on #149
I tried to build a vacab for answers as you did, but my vacab is biger than yours? did you provide code for extracting answers vocab? Or just use the code "pythia->pythia->scripts->extract_vacabuary.py" ,but I find this code is for extract question vocab.

[2019-08-12 18:27] apsdehal commented on #149
Try the following colab: https://colab.research.google.com/drive/1szmipJ6ugEHjJg0ie30j_nChworMYlKx
It has code for generating the answer vocabs.

[2019-08-13 01:37] #148 closed

[2019-08-13 01:37] #149 closed

[2019-08-13 12:21] yashkant commented on #146
I had made two slight changes into the code to fix the below errors:

**1. I got the error:**
[code]

I changed the `with open(vocab_file, "r") as f:` to `with open(vocab_file, "r", encoding="utf-8") as f:` on this [line](https://github.com/facebookresearch/pythia/blob/master/pythia/utils/vocab.py#L123).

---

**2. Next, I got the error:**

[code]

I changed the module name from `fastText` to `fas

[2019-08-13 18:17] apsdehal commented on #146
make sure you have correct fasttext bin as it keeps on updating time to time. For the 1., I am not sure. Check if you still have same answer space after loading (Take a diff).

[2019-08-14 03:10] SelinaFelton opened #153 "Environment support question"
## ❓ Questions and Help
Can Pythia train on 2080ti? If it can, which version of CUDA and cudnn should be installed?
This is my server's environment information:

It works well on 1080ti. I have tried to to configure Pythia on a 2080ti server yesterday, but when I ran train command, I got cudnn error.

2019-08-14T11:05:43 INFO: CUDA Device 0 is: GeForce RTX 2080 Ti
2019-08-14T11:05:49 ERROR: cuDNN

[2019-08-14 08:16] ak-kat opened #154 "Error in executing train.py"
python3 train.py --config config/cycle_consistency/pythia_cycle_consistent.yml

unkown key:failure_predictor, in new config string

Thanks in advance.

[2019-08-14 16:56] apsdehal commented on #154
@meetshah1995 Can you look into this?

[2019-08-14 16:59] apsdehal commented on #153
Please install pytorch using conda, it will automatically figure best version for you. See https://pytorch.org/get-started/locally/.

[2019-08-15 09:49] ak-kat commented on #154
From here [https://github.com/facebookresearch/pythia/tree/project/cycle-consistency/config/cycle_consistency], when I am trying to execute train.py it is giving an error in:
**unkown key:failure_predictor, in new config string**

[(https://github.com/facebookresearch/pythia/blob/project/cycle-consistency/config/cycle_consistency/pythia_cycle_consistent.yml)]  (In line number 28)

CUDA_VISIBLE_DEV

[2019-08-15 10:12] meetshah1995 commented on #154
@ak-kat -- Are you cloning the `project/cycle-consistency` branch and running the code?

The cycle-consistency config (in the `project/cycle-consistency` branch) is from an older version of pythia and hence not usable with the `master` branch.

failure_predictor as you can see is a valid config option [here](https://github.com/facebookresearch/pythia/blob/project/cycle-consistency/config/config.py

[2019-08-15 12:33] ak-kat commented on #154
Thanks.
So could you please tell how can I use cycle consistency code.
I will be thankful.

[2019-08-15 15:38] apsdehal commented on #154
Inside pythia, run `git checkout project/cycle-consistency` and then run the commands.

[2019-08-15 22:33] yashkant commented on #146
I built the environment from scratch and re-run the command, I am still facing the `2.` error from above^^ and used the same method to fix as before.

My result:
![image](https://user-images.githubusercontent.com/17530895/63131258-ad226900-bfda-11e9-95db-b67297ac70a2.png)

Any possible reason for 4% decrease?

[2019-08-15 22:38] yashkant commented on #146
Just noticed it is not deterministic, on the second run with exact same command and no changes I get:

![image](https://user-images.githubusercontent.com/17530895/63131493-87e22a80-bfdb-11e9-9d48-4fe11c2734f1.png)

[2019-08-15 22:43] yashkant commented on #146
Third run:
![image](https://user-images.githubusercontent.com/17530895/63131662-21a9d780-bfdc-11e9-8afc-aa47e7759b43.png)

[2019-08-16 00:04] apsdehal commented on #146
Please check https://github.com/facebookresearch/pythia/commit/d6c4c52dea0dd3fe36000ff2654ef479abfd4246. Set the seed to 1234 for exact results.

[2019-08-16 02:45] SelinaFelton opened #155 "learning rate config question"
## ❓ Questions and Help
How can I use `lorra.yml` to change my learning rate?
I want to set the initial learning rate to be 0.001, which decays by a factor of 10 every 6000 iterations.
Maybe I should change the value of: `lr, lr_steps, lr_ratio or weight_decay`

But I don't know how to set these values, thanks for your reply and help!

[2019-08-16 10:35] mineshmathew opened #156 "Need more Info : Detectron Feature Info"
## ❓ Questions and Help
Hey,
I have been trying to understand the  _info data for  pre-extracted detectron features,
Inside the _info numpy file in addition to image width and height details and coordinates of the bounding boxes of 100 objects, I see two more fields -  object ( 100x 1 ) and cls_scores ( 100 x 2).

What do these fields contain/represent ?
 (I am not quite familiar with the object d

[2019-08-16 16:48] yashkant commented on #146
With `-seed 1234` added to the previous command I am getting `0.2724`. There's still ~ 0.2% difference from the reported score.

Now, I am suspecting whether the type of encoding `UTF-8` that I am using is correct.

Could you explain more what you meant by the below line:

Across what two things I should take the diff?

[2019-08-17 08:45] SelinaFelton commented on #155
I have solved this problem.

[2019-08-17 08:45] #155 closed

[2019-08-17 11:52] yashkant commented on #146
@apsdehal, @dexter1691:

I think there is a bug with the [Meter](https://github.com/facebookresearch/pythia/blob/master/pythia/common/meter.py#L47) class, to calculate a metric we are storing a running list of its values across batches and the final value of the metric is reported as the simple average of these values.

If the last batch is partial (i.e.  `len(last_batch) < batch_size` ), which ha

[2019-08-17 16:48] ak-kat commented on #154
Thanks.

[2019-08-17 18:27] apsdehal commented on #146
Sorry, I couldn't reply yesterday, but yes this is a known issue. This is not a bug in implementation of Meter class but just how base trainer is. Once #152 lands, this can be evaluated separately.

For now, what you should do is resume with batch size 1 on single gpu for val run_type.

[2019-08-19 23:06] vikshree opened #157 "TopDownAttentionLSTM not working for Visual QA"
## ❓ Questions and Help
Earlier, I trained Pythia for VQA with **NonLinearElementMultiply()** function for combining text and image features, and it worked fine. However, using the **TopDownAttentionLSTM()** function spits an error in the **layers.py** file. Apparently, there is no item in the registry which ends with the name "_lstm_state". So, the function call in **line 318** returns a **None**

[2019-08-19 23:16] apsdehal commented on #156
Please ignore those for now. I will be uploading new features soon according to the current feature extraction script.

[2019-08-19 23:17] vedanuj commented on #157
`TopDownAttentionLSTM` is used in BUTD captioning model. You need to initiate the LSTM hidden states if you want to use `TopDownAttentionLSTM` as done in `butd.py` model `get_data_t` method.

[2019-08-19 23:35] vikshree commented on #157
Thanks!

[2019-08-19 23:43] vikshree commented on #157
For the VQA task, based on your experience, is it possible to get performance boost by using `TopDownAttentionLSTM` or `TwoLayerElementMultiply`, rather than `NonLinearElementMultiply`?

[2019-08-20 02:58] apsdehal commented on #157
We don't have results of replacing `NonLinearElementMultiply` with `TwoLayerElementMultiply` but we already using a variant of `Top Down Attention` which contains `NonLinearElementMultiply`.

[2019-08-20 03:33] #156 closed

[2019-08-20 13:34] #154 closed

[2019-08-22 21:39] rmrao opened #158 "Minor bug in object detections in extract_features_vmb.py"
## 🐛 Bug

I believe this was introduced by the #127, but there's a slight numpy indexing issue that causes the objects to still be detected incorrectly.

The line in question is [here](https://github.com/facebookresearch/pythia/blob/12f67cd4f67499814bb0b3665ff14dd635800f63/pythia/scripts/features/extract_features_vmb.py#L165). It currently reads

[code]

However, `scores` is a tensor of `[num_obje

[2019-08-22 21:47] #158 closed

[2019-08-23 16:24] SelinaFelton commented on #146
I also met this problem.
I build my model based on lorra, during the training, I got best val accuracy 28.66%,

but when run commond
`python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml --run_type val --resume_file save/vqa_textvqa_lorra_1234/best.ckpt`
, I got 28.19%,

then I set batch_size=1, the val accuracy became 27.14%.
I'm very confused ab

[2019-08-24 19:31] yashkant commented on #146
@SelinaFelton your val accuracy of `27.14%` with batch_size = 1 matches my observation too.

[2019-08-26 20:27] apsdehal opened #160 "Advanced MultiTasking Support"
MultiTasking module needs to be refactored out to be in a better shape before v0.4. This involves following points that need to be completed:
- Remove concept of 'tasks', only datasets will be the main level citizen
- DataLoader will take care of whether a particular scenario is using multitasking or not
- Update configs to reflect no longer used tasks config
- Updates to documentation and code.
-

[2019-08-26 20:30] apsdehal opened #161 "[feature] Add support for PyTorch transformers"
## 🚀 Feature

Add dependency on PyTorch transformers so that we can import stuff related to pretraining. https://github.com/huggingface/pytorch-transformers

It will be required for adding support for VilBERT.

[2019-08-26 20:32] apsdehal opened #162 "[feature] Add fusion techniques"
## 🚀 Feature

Fusion techniques for multimodal fusion are an important component of VQA models. Remi's repo https://github.com/Cadene/block.bootstrap.pytorch has most of them implemented beforehand. We can add it as a dependency and import whatever is required.

[2019-08-26 20:33] apsdehal opened #163 "[dataset] Add support for Conceptual Captions"
## 🚀 Feature

Adding support for Conceptual Captions is required for VilBERT pretraining. We can use Jiasen's repo to add support directly based on that.

[2019-08-26 20:34] apsdehal opened #164 "[Pretraining] Support VilBERT"
## 🚀 Feature

Add support for VilBERT, see https://github.com/jiasenlu/vilbert_beta.

This depends on #163 #161

[2019-08-26 20:36] apsdehal opened #165 "[feature] Automatic downloads for VQA2, COCO, TextVQA, VizWiz"
## 🚀 Feature

VisualGenome PR #140 introduces automatic downloads for Visual Genome features and IMDb. We need to add the same support for the other datasets mentioned in the title.

[2019-08-26 20:37] apsdehal opened #166 "Update features for VQA, TextVQA, and other datasets"
After recent fixes for feature extraction script, we need to update the feature for all of the datasets.

[2019-08-26 20:38] apsdehal opened #167 "[docs] Add a table for current best model in the repo for particular datasets"
For e.g. it is not clear to people that LoRRA is the best model for VQA2.0 inside the repo and not pythia. We need a table for clarifying this.

[2019-08-26 20:41] apsdehal opened #168 "[feature] Integration with PyTorch Hub"
## 🚀 Feature

Before v0.4, we plan to integrate Pythia with PyTorch hub. We want to also include end2end version of all of the models present in Pythia. This will also require building the detection model from vqa-maskrcnn-benchmark.

[2019-08-26 20:42] apsdehal opened #169 "[docs] Tutorial on MultiTasking"
We need to add tutorial for this to make it clear how to use multitasking.

[2019-08-26 20:47] apsdehal opened #170 "[feature] Faster Feature Loading"
## 🚀 Feature

Load features faster than current implementation

## Motivation

Currently, features are saved as one feature per image which requires a lot of disk reads per batch. This leads to very slow feature loading and can make I/O as bottleneck. Find a faster way of loading the features

## Pitch

The current options for us are based around LMDB and HDF5. We can use tensorpack or DALI for lo

[2019-08-26 20:49] apsdehal opened #171 "[feature] ParlAI Integration on Pythia side"
## 🚀 Feature

This has been a long requested feature internally. With current architecture and SampleList, this should be really easy to tackle. ParlAI datasets all have build function.  For #163, this should be looked into first.

[2019-08-26 20:50] apsdehal opened #172 "[docs] Merge README and Documentation"
Currently, there are two source of truth. One is readme and one is documentation. For each PR, we have to make sure both are consistent which is hard. There should be only one single source of truth.

We should point to documentation from README for any getting started tutorial.

[2019-08-28 03:14] mineshmathew opened #174 "LoRRA : Dynamic Output Vocabulary"
## ❓ Questions and Help
Kindly please clarify the dynamic output vocabulary concept in LoRRA.
It is mentioned in the Text VQA paper that , to incorporate the OOV words, a dynamic vocabulary of M ocr tokens are added to the fixed N size output vocabulary.

1.  Isn't  'M' fixed?  How was this number fixed? Is it based on the max number of ocr tokens found in the training set?
2. How are the tokens i

[2019-08-28 05:40] Patil2099 commented on #172
@apsdehal Can I work on it?

[2019-08-28 05:52] Patil2099 commented on #165
@apsdehal Can I work on this issue?

[2019-08-28 07:14] #174 closed

[2019-08-29 16:04] apsdehal commented on #172
@Patil2099 Sure. Go ahead.

[2019-08-29 16:05] apsdehal commented on #165
@Patil2099 Sure. Go ahead.

[2019-08-31 16:34] Patil2099 commented on #165
@apsdehal Can you help me a little bit?
Thanks!

[2019-09-04 01:14] apsdehal commented on #165
@Patil2099 Do you have any specific questions?

[2019-09-04 06:49] Patil2099 commented on #165
@apsdehal Do I have to make .yml file or I have to do more?
Thanks!

[2019-09-04 11:17] pidugusundeep commented on #117
@apsdehal Please update the link for `extract_features.py`

[2019-09-04 12:28] pidugusundeep opened #175 "Trying to train BUTD model with a different dataset"
## ❓ Questions and Help
I want to train the model with a different dataset altogether and I want to know how do I create the features set and `.npy` files for images and captions respectively?

[2019-09-04 12:35] pidugusundeep commented on #144
@sarahallen111 Can you please let me know how did you create a dataset thats similar to coco format ? #175

[2019-09-04 12:46] sarahallen111 commented on #144
It was mostly a "copy whatever COCO is using" kind of job. I looked at the imdb files of COCO to make sure my dataset (what I called cuhk) was organized into the same format. Then I went through the code, copying whatever files were required, placing it into the appropriate spots (often in some captioning/cuhk folder) making as minimal changes as I could to get it to actually run (changing coco --

[2019-09-04 13:06] pidugusundeep commented on #144
how do I create the features set and `.npy` files for images and captions respectively?

[2019-09-04 13:10] sarahallen111 commented on #144
I can help you on the separate issue topic you posted, but you probably shouldn't be posting unrelated questions in other people's issues pages... You only put up the question like an hour ago, it takes time for people to respond.

[2019-09-04 13:15] pidugusundeep commented on #144
You are correct will be waiting for people to respond to the new issue will remove my unrelated comments here as well

[2019-09-04 13:28] sarahallen111 commented on #175
So for the captioning (at least what I did), was model my dataset to match COCO, since that was the dataset used for the BUTD model.

For the image database (imdb), I suggest downloading COCO's files to look at. Don't worry, the imdb files aren't very large. Then, you can see what the files look like opening up python and saying:

[code]

Once you look at data_list, you can see that it's just a li

[2019-09-04 13:34] pidugusundeep commented on #175
Thanks a ton for spending your time, will try implementing the same.

[2019-09-04 14:04] pidugusundeep commented on #175
Should i even generate the `vocabulary_captioning_thresh5.txt` file as well? or can I use the existing?

[2019-09-04 16:18] sarahallen111 commented on #175
You can use the existing, but if there are any words that are in the vocabulary of your dataset that aren't in `vocaulary_captioning_thresh5.txt` , then you should probably add them. I'm not sure what would happen if the trainer comes across a word it doesn't know... It might learn the meaning of the word, or it might just say it's an unknown (<unk>) and move on. So to be safe, add any extra words

[2019-09-04 17:16] apsdehal commented on #175
@sarahallen111 Thanks for explaining this in detail.
@pidugusundeep   Some other things: for features, you can directly use the feature extraction script https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/features/extract_features_vmb.py which uses vqa-maskrcnn-benchmark - same as what is used in the demo.

For vocabulary, if some word is not inside your vocabulary, it will be c

[2019-09-04 17:18] apsdehal commented on #175
Also, a more detailed tutorial for adding your own dataset to pythia is available at https://learnpythia.readthedocs.io/en/latest/tutorials/dataset.html

[2019-09-04 17:21] apsdehal commented on #144
FYI, a simple solution to this problem in general is to add a try-catch to "tools/run.py" and requeue your job with `--resume 1` :)

[2019-09-04 17:25] apsdehal commented on #165
@Patil2099 Currently, for training on the datasets mentioned in the title of this issue, one has to first download imdbs, features and vocabularies for them which is overall tedious and cumbersome. Ideally, running the training command should automatically download everything needed for training. In VisualGenome, for the first time we added this capability. We want to replicate the same functional

[2019-09-06 06:15] pidugusundeep commented on #175
@apsdehal Do I need a GPU to generate the feature set ??

[2019-09-06 07:10] pidugusundeep commented on #175
@apsdehal Tried generating the features with https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/features/extract_features_vmb.py but the resultant output directory is always empty

https://github.com/facebookresearch/pythia/blob/2df9160c6daa84830973a12a41f9109bc25e498d/pythia/scripts/features/extract_features_vmb.py#L89

Replaced this with `cpu`
As I am running the code on my lo

[2019-09-06 17:39] apsdehal commented on #175
It only picks up .jpg images. Make sure you have those in the folder. Can you upload set of some of your images somewhere so I can test?

[2019-09-07 08:26] xinke-wang opened #176 "Question about OCR info"
## ❓ Questions and Help

Hi, thanks for the work. I noticed that the textVQA imdb provides ocr results obtained by the rosetta system, which includes both ocr tokens and their position. The format of the ocr token position is defined as ['top_left_x', 'top_left_y', 'width', 'height', 'rotation', 'yaw', 'roll', 'pitch'].

However, I found that the 'build_bbox_tensors' function in pythia/utils/datas

[2019-09-09 04:52] #176 closed

[2019-09-09 05:52] pidugusundeep commented on #175
I'm using this dataset for my training - https://github.com/facebookresearch/pythia/issues/175 I am trying to pick up `.png` files instead.

[2019-09-09 06:14] pidugusundeep commented on #147
Even with using `num_workes=0` it stops running with just showing `Killed`, is memory the only reason? as iam running on 20G memory and 4 cores machine.

[2019-09-09 09:17] pidugusundeep opened #177 "Unable to train BUTD model"
## ❓ Questions and Help
Traceback (most recent call last):
  File "/glob/intel-python/python3/lib/python3.6/multiprocessing/util.py", line 262, in _run_finalizers
    finalizer()
  File "/glob/intel-python/python3/lib/python3.6/multiprocessing/util.py", line 186, in __call__
    res = self._callback(*self._args, **self._kwargs)
  File "/home/u28740/PYTHIA2/lib/python3.6/shutil.py", line 486, in rm

[2019-09-09 09:51] pidugusundeep commented on #175
I somehow generated the .npy files with the script and now i have an issue with training it has an error
`IndexError: index 52 is out of bounds for dimension 1 with size 52` do i need to have the note of the max number of words ?? in a caption or is it related to the vocab?

[2019-09-09 11:33] pidugusundeep commented on #175
@sarahallen111 @apsdehal I have been using my own vocab file and that has less number of words when compared to the already existing
[code]
What exactly could be the issue here ?

[2019-09-09 11:57] pidugusundeep commented on #175
Earlier I was trying to use it from the demo script now changed it to .png and trying to generate the features

[2019-09-09 19:02] apsdehal commented on #177
@vedanuj Can you look into this?

[2019-09-09 19:05] apsdehal commented on #175
The error here is clear, you are trying to load a pretrain model with different word embedding size into your model. So it won't work.

[2019-09-09 19:06] apsdehal commented on #176
In general, you can update the processor to handle rotation. But, in whatever experiments I conducted I passed rest of them as features, because some of them are 3d transforms.

[2019-09-09 19:09] vedanuj commented on #177
@pidugusundeep Can you share the config you are using to train the model? Did you make any changes to the default setup for BUTD in Pythia?

[2019-09-09 21:55] #109 closed

[2019-09-10 04:40] pidugusundeep commented on #177
Nope i just added the `imdb_train.npy` with my own data and had the `.npy` files for each image file

[2019-09-10 06:02] pidugusundeep commented on #177
I generated the features for the images using https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/features/extract_features_vmb.py (changed to .png for my images) and then created the `imd_train.npy` as specified in this comment https://github.com/facebookresearch/pythia/issues/175#issuecomment-527900634

I had the same coco.yml file to run the training on my own data.

[2019-09-11 09:12] vedanuj commented on #177
In `coco.yml` there is a param `max_length: 52`. Can you try changing it to maximum length of captions in your dataset?

[2019-09-11 09:44] pidugusundeep commented on #177
Tried changing and it started running without any errors, Thanks. How much time does it take for the training normally?( estimate based on the number of images please provide system requirements as well).

[2019-09-11 12:39] pidugusundeep commented on #177
![Screenshot from 2019-09-11 18-06-54](https://user-images.githubusercontent.com/10946649/64697708-15bc1300-d4bf-11e9-9ff6-667db4a1014f.png)
I have been training and it's almost `03:04:20` hours and the process doesn't show any progress is that normal? iam running on a CPU machine with multicore and not using GPU.

[2019-09-11 17:48] vedanuj commented on #177
You can reduce the batch size and check if you see any iterations and numbers. I have never trained these networks on CPU so I don't have an estimate on the time it will take. But it will be very slow for sure on a CPU. Usually we train on multiple GPUs.

[2019-09-12 05:19] pidugusundeep commented on #177
Thanks for the information btw how many sets of images are you using for training ??

[2019-09-29 12:13] mineshmathew opened #178 "[Question] Using GloVE for word tokens in the Question"
## ❓ Questions and Help
For LoRRA it is mentioned that GloVe embeddings are used to first represent the individual tokens and then the sequence of tokens are encoded using a bi-RNN to represent the entire question.

But while reading the code what I understand is that the text tokens are first converted to integer indices based on a vocabulary and then used  with an nn.Embedding layer. I suppose t

[2019-09-29 21:18] apsdehal commented on #178
See this line: https://github.com/facebookresearch/pythia/blob/master/pythia/models/pythia.py#L36. It takes embedding's weight based on text processor's vocab which is set to glove by default in textvqa. https://github.com/facebookresearch/pythia/blob/2c911a32b0f8d4f9169444d18f2999461ab51d57/pythia/common/defaults/configs/tasks/vqa/textvqa.yml#L27

[2019-09-30 00:25] mineshmathew commented on #178
Thank you.
So the pretrained glove vectors are loaded at this step
https://github.com/facebookresearch/pythia/blob/master/pythia/utils/vocab.py#L191 right?

If that is the case I was wondering why is there are a GloveProcessor class in https://github.com/facebookresearch/pythia/blob/master/pythia/tasks/processors.py

I dont see it being used anywhere.

[2019-09-30 20:48] apsdehal commented on #178
Yes, you are right about the line.

I don't think we use GloVeProcessor anywhere as of now. But it is present in case you want to load embeddings before hand similar to how we do it with FastTextProcessor.

[2019-10-01 07:50] #178 closed

[2019-10-01 16:35] lecidhugo opened #179 "extract features error"
## ❓ Questions and Help
Hi,
I tried extract_features.py as described in:
https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/features/extract_features.md

python extract_features.py --cfg e2e_faster_rcnn_X-101-64x4d-FPN_1x_MLP_2048_FPN_512.yaml \
--wts FAST_RCNN_MLP_DIM2048_FPN_DIM512.pkl \
--min_bboxes 100 --max_bboxes 100 \
--feat_name gpu_0/fc6 \
--output_dir ~/temp_out $INPUT

[2019-10-01 18:34] apsdehal commented on #179
Which commit are you using?

Also, can you use https://github.com/facebookresearch/pythia/blob/master/pythia/scripts/features/extract_features_vmb.py to extract features. You will need to install [vqa-maskrcnn-benchmark](https://gitlab.com/meetshah1995/vqa-maskrcnn-benchmark/) first.

[2019-10-02 15:01] lecidhugo commented on #179
Thank you @apsdehal,
In fact I used a prebuilt Detectron docker image (https://hub.docker.com/r/housebw/detectron). I run extract_features.py from inside the container. I do not know which commit has been used to build the image.
So, you propose that I use vqa-maskrcnn-benchmark instead of Detectron?

[2019-10-02 19:29] apsdehal commented on #179
As mentioned in the README for extracting features, you need a specific commit of Caffe2 and Detectron. It won't work without that.

I would recommend using the extract_features_vmb.py script because we will be mostly supporting that one in future.

[2019-10-03 09:18] dtchantao opened #180 "fast_read problem (doesn't help training speed)"
## ❓ Questions and Help

Hi. I'm currently training my own network. Initially, fast_read = false and the training speed is quite slow and GPU_util is quite low. I thought it is due to data loading bottleneck. After I set fast_read=true, the training speed doesn't change. I thought it should speed up the training speed since all the data have been loaded at the beginning right? Anything I missed ou

[2019-10-03 23:49] apsdehal commented on #180
I would suggest using distributed mode and start using torch.distributed.launch with `training_parameters.distributed True` appended at the end of the command. `.to('cuda')` calls are expensive and take a lot of time. Another thing that I can suggest is setting `training_parameters.pin_memory` to True.

[2019-10-04 01:57] dtchantao commented on #180
Thanks for your quick reply. Could I ask what does the "fast_read" do? Should the training speed become faster? Thanks!!

[2019-10-04 02:08] apsdehal commented on #180
It does what you wrote initially i.e. preload all of the samples (including features). You will only get speedup if you io bound. I am working on performance bottleneck and will probably land changes by next week into v0.4 if you can wait that long.

[2019-10-04 03:29] dtchantao commented on #180
After I enabled "distributed", error happened:
![image](https://user-images.githubusercontent.com/44595164/66178896-7fcc7000-e699-11e9-9446-2c0b586ed4bc.png)

But when change to "data_parallel", it works fine.

[2019-10-04 03:57] apsdehal commented on #180
Sorry about that can you add this above that line in taskloader:

`batch = SampleList(batch)`

Import Samplelist from `pythia.common.sample` if needed.

[2019-10-04 06:33] dtchantao commented on #180
This error happened aft I add this line.
![image](https://user-images.githubusercontent.com/44595164/66186060-d5157b00-e6b3-11e9-902a-075c05afd231.png)

I have 4 gpus, it seems the code only see 1 GPU.

[2019-10-04 06:35] apsdehal commented on #180
How did you launch your job?

[2019-10-04 06:42] dtchantao commented on #180
![image](https://user-images.githubusercontent.com/44595164/66186555-21ad8600-e6b5-11e9-9d9b-f8a47089b4c0.png)

![image](https://user-images.githubusercontent.com/44595164/66186503-fc207c80-e6b4-11e9-8299-40dc4e38e0a5.png)

This is what I did.

[2019-10-04 06:43] dtchantao commented on #180
![image](https://user-images.githubusercontent.com/44595164/66186597-40138180-e6b5-11e9-92ff-a7bdd71f5d62.png)
![image](https://user-images.githubusercontent.com/44595164/66186602-443f9f00-e6b5-11e9-8072-09d84925d867.png)

This is what I did.

[2019-10-04 06:49] apsdehal commented on #180
Run it like this:

[code]

[2019-10-04 06:50] apsdehal commented on #180
nproc_per_node is usually equal to number of gpus you have.

Also, an easy way to update config is to use command line override, like for enabling distributed, you would append `training_parameters.distributed True` to the end of your command.

[2019-10-07 03:55] dtchantao commented on #180
Thanks for your suggestions! I tried in the following two cases:

1. fast_read = true. It seems the size of the read data becomes 4 times as large as the previously (without distributed enabled). It is normal? 4 GPU distributed -> 4 X dataset size?
The dataset is too large and therefore stuck.

2. fast_read = false
following error appears
![image](https://user-images.githubusercontent.com/44595164

[2019-10-07 04:06] apsdehal commented on #180
Can you post the full error log which is cut from your screenshot?

[2019-10-07 05:35] dtchantao commented on #180
hi I attached my error.log for your information
[error.log](https://github.com/facebookresearch/pythia/files/3695660/error.log)

[2019-10-07 05:39] dtchantao commented on #180
Attached my error log for your information
[error.log](https://github.com/facebookresearch/pythia/files/3695666/error.log)

[2019-10-07 05:45] apsdehal commented on #180
Thanks for the log. At the line https://github.com/facebookresearch/pythia/blob/master/pythia/trainers/base_trainer.py#L135 can you add parameter to DistributedDataParallel `find_unused_parameters=True`.

These kind of issues are fixed in v0.4 but there are lot of breaking changes.

[2019-10-07 05:50] dtchantao commented on #180
Thanks! I will try that. And for the case 1, in the distributed mode, is it true that the dataset will copied/read for 4 times? Means if I have 4 GPU, every GPU will need copy 1 dataset?

[2019-10-07 05:52] apsdehal commented on #180
Yes. DDP requires spawning one process per GPU so each process will have its own copy. So, don't fast read.

[2019-10-09 04:23] mineshmathew commented on #150
@apsdehal I have one question related to the feature extraction script using MaskRCNN benchmark. The script is running fine for me. I wanted to know how to modify the script or the model config file to run the inference on multi gpus ( data parallel) so that i can go for larger batch sizes) ?

[2019-10-09 08:09] apsdehal commented on #150
You can try encapsulating it with DataParallel and see if it helps. Otherwise you can run multiple scripts by adapting `CUDA_VISIBLE_DEVICES` environment variable.

[2019-10-09 08:10] apsdehal commented on #150
Also, I would suggest opening a new issue instead of spamming this one.

[2019-10-09 08:10] #150 closed

[2019-10-10 02:50] #161 closed

[2019-10-11 04:27] ishan-maheshwari commented on #118
Can this issue be closed @apsdehal?

[2019-10-11 19:05] apsdehal commented on #118
Thanks for reminding @ishan-maheshwari. Looking forward to more contributions from you in future.

Closed via #135.

[2019-10-11 19:05] #118 closed

[2019-10-11 19:07] #147 closed

[2019-10-11 19:07] #153 closed

[2019-10-12 17:18] ronghanghu opened #182 "[Minor] validation time calculation during training"
## Misleading display in "validation time"

The current implementation displays "validation time" as the time elapsed for all the training and validation iterations between two full validation runs. I find this a bit misleading.

It's my understanding that to compute the actual time spent on running a full validation, this line (https://github.com/facebookresearch/pythia/blob/d6c4c52dea0dd3fe36000

[2019-10-14 13:24] idansc opened #183 "Does CLEVR features extracted from detectron?"
## ❓ Questions and Help
The README is a bit confusing.

[2019-10-14 15:46] apsdehal commented on #183
We don't have extracted out features for CLEVR. Our supported model for now is CNNLSTM which uses a CNN architecture to extract out features for the image on the fly. If you want to extract out features using detectron, you will have to do it at your end using feature extraction scripts we have.

[2019-10-14 15:47] apsdehal commented on #183
Alternatively, you can use pretrained models from torchvision for extracting out features on the fly.

[2019-10-15 13:09] SelinaFelton opened #184 "TextVQA challenge question"
## ❓ Questions and Help
I followed the step of `https://learnpythia.readthedocs.io/en/latest/tutorials/challenge.html` to submit my result, but when I go in ‘My submissions’ section and click on ‘Result file’ to check your results, the result always is 'None'.

[2019-10-15 17:11] apsdehal commented on #184
I have pointed this out to evalai folks. Once they get back to me, I will provide an update to you.

[2019-10-15 18:27] apsdehal commented on #184
Should be fixed now. Let me know if the issue persists.

[2019-10-15 20:43] apsdehal commented on #184
Going to close this. Let us know if there is some other issue.

[2019-10-15 20:43] #184 closed

[2019-10-15 20:44] apsdehal commented on #182
Thanks. This was fixed in dev version and should land in next version. I will keep it open until then.

[2019-10-16 03:05] SelinaFelton opened #185 "Restoring checkpoint error"
## ❓ Questions and Help
I met an error when training after the max iterations：

2019-10-12T20:02:45 INFO: Restoring checkpoint
2019-10-12T20:02:49 ERROR: CUDA out of memory. Tried to allocate 39.12 MiB (GPU 0; 10.76 GiB total capacity; 9.71 GiB already allocated; 5.56 MiB free; 10.13 MiB cached)
Traceback (most recent call last):
  File "tools/run.py", line 94, in <module>
    run()
  File "tools/

[2019-10-16 18:58] apsdehal commented on #185
That's seems odd. I think your GPU didn't had any memory left by the time if came to restore (it has to load two state_dicts at that time). I would suggest to resume with `--resume 1` and using `--run_type inference` to just run the inference.

[2019-10-17 05:12] mineshmathew opened #186 "Help: Understadning Image + Text Feature Fusion"
## ❓ Questions and Help
Hey,

This is regarding the way logits are computed for a Pythia/LoRRa style VQA model.
Once we compute a joint embedding as in https://github.com/facebookresearch/pythia/blob/37b2dc5d745fd752ba0c574e246856f03e49fb6d/pythia/models/lorra.py#L55,  a joint embedding of question  + image features  + ocr tokens is obtained and is of size N x 10000 for LoRRA.

Now in the `LogitCl

[2019-10-17 05:17] apsdehal commented on #186
It is there due to historical reasons. At some point, I believe original Pythia authors tried to use pretrained linear layers to encode information specific to text in `f_o_text` and specific to image in `f_o_image`. We didn't end up using those in final model though. Also, empirically, this worked better in past then just a simple MLP.

[2019-10-18 03:22] #183 closed

[2019-10-18 14:24] #186 closed

[2019-10-19 03:55] mineshmathew opened #187 "Help: Scores for Answers"
## ❓ Questions and Help
While reading about [VQA evaluation metric](https://visualqa.org/evaluation.html) what I understand is that an answer gets a score of 1 if at least 3 human annotators gave the same answer.

But in https://github.com/facebookresearch/pythia/blob/37b2dc5d745fd752ba0c574e246856f03e49fb6d/pythia/tasks/processors.py#L639 where scores for each unique answer is computed , it is do

[2019-10-24 04:04] teslacool commented on #180
After adding `find_unused_parameters=True` and replacing `broadcast_scalar` function, this code can run successfully.

[2019-10-25 07:06] pushkalkatara commented on #172
Hi @Patil2099 Are you working on this issue?
@apsdehal If @Patil2099 iss not working on this issue, can i work on it?

I notice that README is the same as the [quickstart](https://learnpythia.readthedocs.io/en/latest/tutorials/quickstart.html) section of the documentation without the tables. What changes are to be made?

[2019-10-25 20:38] pushkalkatara commented on #162
Hi, can I work on this issue?
I notice that in the models fusion layers are imported from [modules/layers.py](https://github.com/facebookresearch/pythia/blob/37b2dc5d745fd752ba0c574e246856f03e49fb6d/pythia/modules/layers.py#L165). Do these need to be replaced by remi's repo?

[2019-10-26 03:10] apsdehal commented on #162
Hi,
Thanks for working on this. You don't have to replace that file. Instead, you have to expose layers from Remi's repo into this file. So, that one can directly import these from pythia. It might be better to create a new file in modules folder named fusions

[2019-10-26 03:13] apsdehal commented on #172
Plan is to keep only introduction and citation in README. Quickstart should point to documentation and there shouldn't be any other replication.

[2019-10-30 11:49] pushkalkatara opened #188 "MemoryError: std::bad_alloc while loading fasttext model."
## ❓ Questions and Help

I think i don't have enough memory to load the fasttext model in the memory. Is there a workaround through this?
[code]

Initially, i made 2 changes
1. Renaming fastText to fasttext
2. Changing NUM_WORKERS = 1 in lorra.yml config file (https://github.com/facebookresearch/maskrcnn-benchmark/issues/195)

[2019-10-30 13:06] apsdehal commented on #188
You can try with new english bin file: https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz.

You might have to change some stuff to make this work. Other than that, we can't do much on this issue.

[2019-10-30 13:13] apsdehal commented on #188
Alternative option is to use student credits available from one of sponsors of GitHub education pack: https://education.github.com/pack to spin up a gpu instance.

[2019-10-30 14:06] apsdehal commented on #187
Apologies for the late reply. I have been traveling recently.

The 10 choose 9 sets of human annotators concept is to make sure outliers don't affect the scores. That's why each of the answers are evaluated on 9 different set where you remove on answer.

What you are saying will also work. But change `acc = min(1, float(len(hits)) / 3)` to `acc = min(1, 0.3 * len(hits))`. I don't remember from the

[2019-10-31 00:37] pushkalkatara commented on #172
Hi, please find the PR here - https://github.com/facebookresearch/pythia/pull/189

[2019-10-31 03:31] #187 closed

[2019-10-31 04:51] mineshmathew opened #190 "Disproportionate GPU memory usage for LoRRA with nn.DataParallel"
## ❓ Questions and Help
While using nn.DataParallel , the memory usage on main GPU seems to be much larger than the memory it takes on the other GPUs. Below is the case when I run LoRRA with  DataParallel for a batch size of 256.

![lorra_gpu_mem_distribution](https://user-images.githubusercontent.com/13156560/67919839-0193b880-fbc8-11e9-8c49-8629d086ba6f.jpeg)

I tried to see if I can modify the

[2019-10-31 04:57] apsdehal commented on #190
The issue is in the way DataParallel works. I would suggest you to move to v0.4 branch and use DistributedDataParallel. It has some issues. You can find solutions for those in issues on this repo.

Final v0.4 will be released after CVPR which improves performance and other things but isn't public yet.

Only other issue that you would face which I can think of is for evalai inference. You can run t

[2019-10-31 05:23] #190 closed

[2019-11-05 12:54] ggaemo opened #193 "maskrcnn-benchmark is still needed for feature extraction?"
## ❓ Questions and Help
In the demo, it requires maskrcnn-benchmark from the repository of meetshah1995.
Why is the repository not https://github.com/facebookresearch/maskrcnn-benchmark

also, is the detection model part not moving the detectron2? The maskrcnn-benchmark repository shows that the repository is deprecated

[2019-11-05 14:02] apsdehal commented on #193
We have a custom fork of maskrcnn- benchmark which introduces attribute based loss from visual genome. We currently don't have plans to move to detectron2 as someone with dedicated cycles is needed to perform the migration due to breaking changes.

[2019-11-06 06:23] ggaemo opened #194 "cls_score of the detectron model"
## ❓ Questions and Help
The cls_score of the detectron model has 1601 outputs, not 1600.

Does the first column correspond to the objectness score that the RPN outputs?
Or is it separately trained to differentiate between being a background and an object?

Also, are the scores per class? or is it in softmax?

[2019-11-06 06:31] ggaemo commented on #194
I got the answer from _process_feature_extraction function in the feature extraction file.

It puts the softmax across all the 1601 categories.

Does this mean that there is a separate class for backgrounds in the visual genome dataset? Is it present in the original VG dataset? Or is it made specifically for pythia?

[2019-11-06 06:33] pushkalkatara commented on #188
@apsdehal Thanks for the suggestion. The new english bin file worked with some small changes in the fasttext config.

[2019-11-06 06:33] #188 closed

[2019-11-07 01:44] cylvzj opened #195 "About text_processor and answer_processor in vqa2.yml"
## ❓ Questions and Help
Hello, ask a question. What is the role of text_processor and answer_processor in vqa2.yml, and the corresponding vocab_file: vocabs/vocabulary_100k.txt and vocab_file: vocabs/answers_vqa.txt What is the use?

[2019-11-07 03:22] apsdehal commented on #195
Hi,
text processor processes question with vocab vocab_100k.txt (a bigger vocab to cover lot of words that can be in question) and answer processor is used processing answers which are 3129 for VQA 2.0 and contained in answers vqa.txt

[2019-11-07 03:44] cylvzj commented on #195
Hello, thank you for your reply.
The text processor handles the problem and is a big vocab.
The answer processor handles the answer and is also a vocab, just a little bit smaller. Ask, why use two vocabs?

If I want to use pythia's 1.Pythia VQA. 2.BUTD Captioning. How to modify it in China? (I translated the VQA 2.0 ImDB and COCO Caption data sets into Chinese)

[2019-11-07 11:29] cylvzj commented on #195
Hi,
Both the text processor and the answer processor use vocabulary_100k.txt. Is this vocab not working?

[2019-11-07 12:33] cylvzj commented on #195
Hi,
Does vocabulary_100k.txt cover all the vocabulary (the data set has been added since then, this file does not need to change)?
Answer_vqa.txt contains the vocabulary in all the answers?

If you subsequently add a new dataset and continue training on the previous model, answer_vqx.txt may change and the answering dictionary (self.answer_dict) will change. Does this conflict with the model?

[2019-11-07 19:00] apsdehal commented on #195
You can use same, but then final classifier will be really huge and hard to learn directly

For text processor, convert vocab_100k.txt to chinese and then use a glove vectors for chinese. Also, modify answers directly to chines.

No, answer processor uses a different vocabulary which is answers_vqa.txt

Yes, this will conflict as model's parameters and architecture will change, you can keep some p

[2019-11-07 19:01] apsdehal commented on #194
No, anything that doesn't have enough IoU with any boxes is considered background.

[2019-11-08 01:28] cylvzj commented on #195
Hi, thank you for your reply.
In practical applications, the model must be constantly adding new data sets for training optimization, then the text processor (vocabulary_100k.txt) and answer processor (answer_vqa.txt) will continue to add new vocabulary so that classifiers or embedding will occur. Variety. Can I train a new dataset under the previous model, or do I need to restart training all the

[2019-11-08 01:34] cylvzj commented on #195
please teach me,
If I need to use VQA and Image Captioning. Is it necessary to train the pythia-vqa2 and butd-coco data sets?
What GPU configuration is required to train VQA and Image Captioning, and how long does it take to train?

[2019-11-08 08:51] cylvzj commented on #195
I want to ask another question.
How is vocabulary_100k.txt and answers_vqa.txt generated?

Sorry, my foundation is poor.

[2019-11-08 09:32] apsdehal commented on #195
You can use the pretrained models as specified in the documentation if you are looking to do inference. You can also use the colab demos we have linked in the readme and documentation.
Normally, on 2 Quadro GP100 (16GB) on 512 batch size for 22k iterations it takes 8 hours.

Vocabulary_100k.txt is just the normal glove vocabulary, and answers_vqa are answers in vqa 2.0 dataset that appear more tha

[2019-11-08 09:59] cylvzj commented on #195
Thank you for your reply,
Then ask, how to train a new data set on the pre-training model?
There may be new words。

[2019-11-08 10:14] PaulOpu opened #196 "Feature Bounding Boxes don't match to image"
## ❓ Questions and Help
I extracted the bounding boxes of the resnet152 features from the `pythia/data/open_images/detectron_fix_100/fc6/train/{image_name}_info.npy` file and tried to visualize the bounding boxes on the image.

[code]

1e4fcfbd0bb6e1e1
![image](https://user-images.githubusercontent.com/22904585/68468204-d63c4980-0217-11ea-83bd-26066fd22230.png)

Unfortunately, the mapped objects d

[2019-11-08 10:49] cylvzj commented on #195
@apsdehal

[2019-11-08 15:01] #196 closed

[2019-11-08 19:45] apsdehal commented on #195
I don't think there is a direct way of doing this. Since, you are changing the input vocabulary which will update the first layer of word embeddings, it will have downstream effects on everything. So, you can try with not copying the first and last layer from the pretrained model and copy everything else.

Another alternative is to just append your new vocab to the original vocab at the end. Then,

[2019-11-09 00:20] cylvzj commented on #195
Thank you for your reply,

1. If you want to add a new dataset (possibly with new vocabulary), do you need to restart the training model pair?

2. Is it possible to make answer_vqa.txt and vocabulary_100k.txt as large as possible (including all vocabulary as much as possible) so that you don't have to worry about adding new vocabulary when adding a dataset. So you can train new data sets on pre-tr

[2019-11-09 00:56] cylvzj commented on #195
@apsdehal

[2019-11-10 03:53] cylvzj commented on #195
@apsdehal

[2019-11-11 03:14] cylvzj opened #197 "how to train a new data set on the pre-training model?"
If you want to add a new dataset (possibly with new vocabulary), do you need to restart the training model pair?

Is it possible to make answer_vqa.txt and vocabulary_100k.txt as large as possible (including all vocabulary as much as possible) so that you don't have to worry about adding new vocabulary when adding a dataset. So you can train new data sets on pre-trained models?

I use demos (Pythi

[2019-11-11 06:00] dtchantao commented on #180
Hi, thanks for your solution. It works for single dataset training. But when I change to multiple dataset training, it gets stuck.

My command:
![image](https://user-images.githubusercontent.com/44595164/68564371-67672680-048b-11ea-8f82-61c7459623d5.png)

Result:
![image](https://user-images.githubusercontent.com/44595164/68564421-89f93f80-048b-11ea-9e66-28ec1e616902.png)

And only one GPU is bein

[2019-11-11 06:03] apsdehal commented on #197
Hi,
Let's please continue the discussion on the original issue so the information doesn't get defragmented for future readers. (Also, it is better to wait for some time for my reply. I will eventually reply but sometime it is late as I might be traveling etc.).

Closing as question has already been asked at #195.

[2019-11-11 06:03] #197 closed

[2019-11-11 06:05] apsdehal commented on #180
Hmm, let me see what is the issue and I will get back to you after some time.

[2019-11-11 07:15] cylvzj commented on #195
@apsdehal  Thank you for your reply,

The application we are working on will continuously collect some images and manually mark them to make the predictions more accurate.

Originally, I hoped to be able to train on the basis of the original model, because each time it was time-consuming from scratch (there may be words that are not available in answer.txt), I think your company's R&D team should

[2019-11-15 00:29] ronghanghu opened #199 "BUTD training broken after PR #135"
## 🐛 Bug

After PR #135, training of the BUTD method for image captioning is now broken.

This issue is that #135 removes the teacher forcing behavior during training. After #135, now BUTD to use beam search decoding (instead of teacher-forcing) during training, causing a lot of shape mismatch, gradient and other errors.

## Command

## To Reproduce

Steps to reproduce the behavior:

[code]

The t

[2019-11-18 08:36] zhongzhuoyao opened #200 "Validation results of LoRRA are inconsistent when evaluated online and offline"
## ❓ Questions and Help

I tried to reproduce the validation result of LoRRA on TextVQA. After finishing training, I evaluated the LoRRA model offline by setting the batch_size = 1 and using the command “python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml --run_type val --resume_file lorra_best.pth” and I got a result of 27.12%. When I generated

[2019-11-18 08:39] apsdehal commented on #200
Please see https://github.com/facebookresearch/pythia/issues/109

[2019-11-19 17:19] aoxolotl opened #201 "Pythia for image captioning"
## ❓ Questions and Help
Hi,
I have a custom dataset of annotated images. So far I have managed to generate the detectron features for the images, the vocabulary for the captions and set up the config files correctly. When I try to train on using a butd model I encounter an error:
[code]
which I think is because my dataset only contains captions and there are no question-answer segments associated

[2019-11-20 08:19] aoxolotl commented on #201
A small update.
I also tried out captioning on the coco dataset with the command:
[code]
but ended up encountering this error:
[code]

[2019-11-25 13:21] CS19F005 opened #202 "LoRRA model freezes RAM while loading moudle wiki.en.bin file"
## ❓ Questions and Help

Hi while trying to reproduce LoRRA model on Text VQA, my computer freezes indefinitely while loading `fasttext model from .vector_cache/wiki.en.bin`.
I have 16GB of RAM and I followed the instructions on the README homepage of Pythia.
Running the following command
[code]
any suggestions if i can make it work on my computer, or is 16GB memory insufficient to run LoRRA?

[2019-11-26 19:23] apsdehal commented on #202
It should be enough. Please set `--num_workers 0`

[2019-11-28 18:39] #199 closed

[2019-11-29 17:33] inafi opened #204 "How do you actually run pythia on an image without the notebook?"
## ❓ Questions and Help
I want to run pythia on my Ubuntu 18.04 machine (which I'm remotely accessing - also it has 3 2080s), but the docs are unclear on how to run pythia on a specific image in the terminal. I've been following the instruction on how to run pre-trained models - and it works, but when I try to specify a specific dataset it just sends me a directory doesn't exist error.

I'm using

[2019-11-30 18:18] apsdehal commented on #204
Can you provide exact log/screenshot of the error? It is probably happening because you haven't downloaded textvqa's imdb and features as mentioned in getting started.

[2019-12-02 16:15] Thalaivar opened #205 "ImportError: cannot import name 'load_model'"
## ❓ Questions and Help
While training LoRRA on TextVQA, after a certain number of iterations, the code always runs into an error with fastText:

File "/content/pythia/pythia/tasks/processors.py", line 460, in _load_fasttext_model
    from fastText import load_model
ImportError: cannot import name 'load_model'

[2019-12-02 16:46] apsdehal commented on #205
Can you replace `fastText` with `fasttext`? This will be fixed in next release. This is happening due to recent update to `fasttext` library.

[2019-12-02 17:16] #205 closed

[2019-12-02 17:33] Thalaivar commented on #202
I am also facing this issue. I am  performing training on Colab with:
!python tools/run.py --tasks vqa --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yml --num_workers 0

[2019-12-02 17:37] apsdehal commented on #202
Can you provide the colab link to me?

[2019-12-02 17:39] Thalaivar commented on #202
Sure (excuse the mess :p): https://colab.research.google.com/drive/1SkQCzh5MZMkTjQAXfo0HymnOzV_K3BHO

[2019-12-02 18:00] apsdehal commented on #202
Thanks. I checked your colab and you are indeed getting memory issues.

Since this is colab, it has just enough memory to run LoRRA but the downside is that it requires some hacks. You have to garbage collect all the time and then clear the cuda cache. I have this unofficial demo of LoRRA which we never made public due to issues with memory. It is available at [this link](https://colab.research.go

[2019-12-02 18:13] Thalaivar commented on #202
Thanks!
btw, how much memory is required to satisfactorily run LoRRA?

[2019-12-02 18:23] apsdehal commented on #202
Fasttext model only requires 8GB or so, but PyTorch model also requires some memory, my estimate is around 14GB or so. See #188 for alternative on model size of fasttext.

[2019-12-03 05:27] #193 closed

[2019-12-03 11:32] pushkalkatara commented on #170
Hi @apsdehal I would like to work on the issue. Can you please elaborate on what needs to be done?
I find feature extraction scripts [here](https://github.com/facebookresearch/pythia/tree/master/pythia/scripts/features)

[2019-12-03 18:30] apsdehal opened #206 "Feature Extraction using Detectron2"
## 🚀 Feature

Based on #193, we definitely need to move to Detectron2 as soon as possible for feature extraction. This would also allow faster e2e training.

## Motivation

Detectron2 https://github.com/facebookresearch/detectron2 is going to maintained in future rather than maskrcnn-benchmark and detectron and thus we need to move to it. We need to implement similar features in our fork of detect

[2019-12-03 18:32] apsdehal commented on #170
This issue was about faster feature loading when we train the models. Currently, we use features as representatives of image input in our VQA/Captioning models. These features are loaded from disk for each image. So, let's say if we are using batch size of 512. 512 disk reads need to be performed which is a tremendous overhead on HDD disks. If the overhead is larger than the time taken by forward

[2019-12-03 18:32] apsdehal commented on #170
I am going to close this issue for now and maybe we can reopen it in future if needed.

[2019-12-03 18:32] #170 closed

[2019-12-04 10:41] akasharidas opened #207 "RuntimeError: Error(s) in loading state_dict for LoRRA"
Hi, I am trying to run inference on the VizWiz dataset using the pretrained model of LoRRA.

I run this: `python tools/run.py --tasks vqa --datasets vizwiz --model lorra --config configs/vqa/vizwiz/lorra.yml --run_type val --num_workers 0 --resume_file data/models/lorra_best.pth`

I get the following error while it tries to load a checkpoint.

`Traceback (most recent call last):
  File "tools/run.

[2019-12-04 10:50] apsdehal commented on #207
LoRRA's pretrained model isn't supposed to be run on VizWiz as both have different answer space. You can technically run it on VizWiz by changing the answer space of VizWiz to be same as that of TextVQA by replacing line https://github.com/facebookresearch/pythia/blob/master/pythia/common/defaults/configs/tasks/vqa/vizwiz.yml#L41 to `vocab_file: vocabs/answers_textvqa_more_than_1.txt`.

I would ra

[2019-12-04 11:06] akasharidas commented on #207
I changed the line, but it is still showing the same error. It seems to have something to do with the dimensions of the final Linear layer.

I was trying to use the pre-trained model as a starting point for training, since both textVQA and VizWiz are VQA tasks. Can I not do this?

[2019-12-04 11:10] apsdehal commented on #207
I see, actually you have to change this line https://github.com/facebookresearch/pythia/blob/master/configs/vqa/vizwiz/lorra.yml#L13. Try this one it should work.

You can, add `--load_pretrained 1` to you arguments. See https://github.com/facebookresearch/pythia/blob/master/pythia/utils/flags.py#L198 for its explanation.

[2019-12-04 11:38] akasharidas commented on #207
That worked, thank you very much for your quick reply :)

[2019-12-04 11:38] #207 closed

[2019-12-06 13:15] inafi commented on #204
The custom images I want to run are in the ~/pythia/images folder (main pythia directory). Here's the error:
(base) inafi@cm:~/pythia$ python tools/run.py --tasks vqa --datasets images/person.jpg --model lorra --config configs/vqa/textvqa/lorra.yml --run_type inference --evalai_inference 1 --resume_file data/models/lorra_best.pth --num_workers 0
Logging to: ./save/vqa_images/person.jpg_lorra/logs/

[2019-12-06 19:00] apsdehal commented on #204
This is not the way the direct inference is meant to use. If you are looking to use a setup like colab demo, I would suggest you to copy the colab's code to a script and add your own arguments on top of it with `ArgumentParser` for the fields that we specify in colab via text fields.

More details:

In inference mode inside the pythia repo, the dataset passed for `--datasets` expects a dataset to

[2019-12-11 18:39] #172 closed

[2019-12-12 06:38] #175 closed

[2019-12-12 06:39] #177 closed

[2019-12-18 06:50] ggaemo opened #209 "COCO features showing errors"
## ❓ Questions and Help

Traceback (most recent call last):
  File "/home/jinwon/pythia/tools/pythia_run.py", line 94, in <module>
    run()
  File "/home/jinwon/pythia/tools/pythia_run.py", line 83, in run
    trainer.train()
  File "/home/jinwon/pythia/pythia/trainers/base_trainer.py", line 199, in train
    self.inference()
  File "/home/jinwon/pythia/pythia/trainers/base_trainer.py", line 421,

[2019-12-18 23:30] apsdehal commented on #209
Can you check if the folder `/home/jinwon/pythia/pythia/../data/coco/detectron_fix_100/fc6/test2015` is present?

[2019-12-19 01:07] ggaemo commented on #209
Yes it wass present, only certain files were missing. I downloaded again and unzipped it again and now it seems to work without missing files.

[2019-12-19 01:07] #209 closed

[2019-12-19 02:50] ggaemo opened #210 "GPU utilization is low"
## ❓ Questions and Help

Hello I'm running the vqa2 script with the following python file and arguments

 python tools/run.py --tasks vqa --datasets vqa2 --model pythia --config configs/vqa/vqa2/pythia_train_and_val.yml --resume_file d
ata/models/pythia_train_val.pth --evalai_inference 1 --run_type inference

however, it seems that the gpu utilization is low. I've seen in #170 that you've got an a

[2019-12-19 04:15] ggaemo commented on #210
![image](https://user-images.githubusercontent.com/8081512/71144488-85316380-2261-11ea-9571-37b12f005a73.png)

it seems that the data workers are not doing enough jobs. The running time of the data workers are far too low.

[2019-12-19 05:25] ggaemo opened #211 "Without the evalai_inference argument, Attribtue Error occurs"
## 🐛 Bug

Without the evalai_inference argument
AttributeError: 'dict' object has no attribute 'dataset_type'

This error occurs.
![image](https://user-images.githubusercontent.com/8081512/71147204-61731b00-226b-11ea-863c-5fc9ebad5598.png)

You can run the script with:
[code]

## Additional context

It seems that in the batch, it should refer 'dataset_type' as a dictionary key, not an attribute.

[2019-12-19 05:47] ggaemo commented on #211
I'm using pythia version 0.3 from the master branch

[2019-12-19 17:33] apsdehal commented on #210
This is a known issue on which we are working on and would be improved in v0.4 release. You can move to the v0.4 to use distributed training setup which should help improve on the GPU utilization. Also, set the `training_parameters.pin_memory` to true.

For the optimizer, we only provide pretrained models as of now, so we didn't provide exact checkpoints to avoid any confusion. I can provide the c

[2019-12-19 17:52] apsdehal commented on #211
Thanks. Looking into it.

[2019-12-19 18:06] apsdehal commented on #211
I tested the exact command provided and I am not able to reproduce the issue. If you have `run_type` set to `val`, it shouldn't even go into `Starting training` loop.

I did a fresh clone of pythia and used the master branch.

[2019-12-21 12:35] ggaemo commented on #210
I tried the v0.4

with the same argument and it gave an error like this.

![image](https://user-images.githubusercontent.com/8081512/71307963-8917de00-2439-11ea-9b3d-920d7f3ef80e.png)

So I checked the model_state_dict of the model that and it showed that it had the following keys.

odict_keys(['word_embedding.weight', 'text_embeddings.0.module.recurrent_unit.weight_ih_l0', 'text_embeddings.0.modu

[2019-12-22 07:54] ggaemo commented on #210
I looked into it for a better comparison

the following are from the checkpoint file of "pythia.pth" it shows the parameter name and size.

module.word_embedding.weight torch.Size([75505, 300])
module.text_embeddings.0.module.recurrent_unit.weight_ih_l0 torch.Size([4096, 300])
module.text_embeddings.0.module.recurrent_unit.weight_hh_l0 torch.Size([4096, 1024])
module.text_embeddings.0.module.recur

[2019-12-22 09:31] apsdehal commented on #210
Can you pull the latest commit in v0.4 and let me know if it works?

[2019-12-23 00:00] ggaemo commented on #210
![image](https://user-images.githubusercontent.com/8081512/71328891-c8d9e500-2561-11ea-8ee6-5a76ade204f3.png)

I looked at the latest commit and pulled it. Still, the **fa_context** components are missing.

![image](https://user-images.githubusercontent.com/8081512/71328903-f7f05680-2561-11ea-870f-ce8d3dac196c.png)

The image above is the Image Encoder part of the whole model. The left column show

[2019-12-23 20:18] apsdehal commented on #210
Can you change: https://github.com/facebookresearch/pythia/blob/v0.4/pythia/utils/checkpoint.py#L118 to `self.trainer.model.load_state_dict(final_dict, strict=False)`.

[2019-12-24 00:14] ggaemo commented on #211
I think that problem occurred because I changed the  training_parameters.pin_memory to true in the yaml file.

When I run the script with
--tasks vqa --datasets vqa2 --model pythia --config configs/vqa/vqa2/pythia_train_and_val.yml --resume_file data/models/pythia_train_val.pth --run_type val training_parameters.pin_memory True

because of the last option, it runs into training mode even if I desi

[2019-12-24 00:25] ggaemo commented on #210
Thanks, now it works. If it is not to bothersome for you, could you explain what the fa_context layers were doing? fa_image and fa_text was mentioned in the paper for merging the two modalities, but I don't see an additional layer that has a context name in it.

Also I've mentioned this in another issue but I'll ask it here as well:
if I put the training_parameters.pin_memory to True, it runs to t

[2019-12-24 00:26] #194 closed

[2019-12-26 23:41] inafi commented on #204
I successfully converted the notebook to a py file (it works!). Here's the code:
`from pythia.common.sample import Sample, SampleList
from pythia.common.registry import registry
from pythia.models.pythia import Pythia
from pythia.tasks.processors import VocabProcessor, VQAAnswerProcessor
from pythia.utils.configuration import ConfigNode
from maskrcnn_benchmark.utils.model_serialization import load

[2019-12-26 23:41] #204 closed

[2019-12-27 00:24] inafi opened #212 "Is there a way to speed up classifications on GPU?"
## ❓ Questions and Help
I have 3 RTX 2080s on my ubuntu 18.04.3 machine and I'm running the pythia vqa demo on images. Right now it takes around 11-12 seconds for it to process 1 image (it's running on 1 gpu). Is there a way to accelerate the running time or even run it on multiple gpus simultaneously?

Edit: Here is the nvidia-smi output when running pythia
|   0  GeForce RTX 2080    Off  | 00000

[2019-12-27 03:01] apsdehal commented on #212
For demo it will require multiple steps:
- Wrap you model in nn.DataParallel. It should use multiple GPUs. Replace: `model = Pythia(model_config)` with `model = torch.nn.DataParallel(Pythia(model_config))`.
- Load multiple images first to create a batch first
- Also, wrap Detectron Model code with DataParallel so it can use multiple GPUs.
- This may require more changes than what I mentioned.

[2019-12-27 03:02] apsdehal commented on #212
I would suggest you to pre-extract the features of your images and then use pythia `run.py` to do inference instead of using the demo code to do the same.

[2019-12-27 03:10] apsdehal commented on #210
fa_context is used is lorra and was unused extra layer for pythia model. That's way the code was update to not load it in case of pythia. `pin_memory` issue needs to be figured out, please open up a separate task for it. For the optimizer, I only have checkpoint for the model trained on only train. Would that work?

[2019-12-30 00:01] ggaemo commented on #210
Thanks, that checkpoint would be very helpful. I'll open up the pin_memory issue.

[2019-12-30 00:01] #210 closed

[2020-01-03 19:03] inafi commented on #212
When I tried wrapping with torch.nn.DataParallel, it threw an error:

[code]
Here's the method I'm using:

[code]

[2020-01-05 18:36] manavkhothari commented on #175
Hi @pidugusundeep @apsdehal
I have been trying this method on my local system, but the output file is empty.
I'm not able to solve this error. Can you guide me towards the solution ?

[2020-01-07 04:31] yjxiao opened #214 "Quickstart guide for image captioning"
## ❓ Questions and Help

Currently, the quickstart guide only introduces using pythia for vqa. I've tried using the following similar steps to train BUTD from scratch but failed:

1. Install pythia as suggested in the doc (current master branch).
1. Download coco, coco_captions, detectron, and vocab files and extract to the `~/pythia/data` folder
2. Initialize training with `python tools/run.py --

[2020-01-07 04:44] yjxiao commented on #214
The issue seems to be related to #203. The fix in #203 assumes an inference type of greedy during training while the default `butd.yml` uses beam search with size 1.

[2020-01-07 04:44] #214 closed

[2020-01-10 20:58] ramprs opened #215 "Training with multiple datasets"
I am training the pythia vqa model on multiple datasets. Say, I have 2 datasets for the vqa task (say vqa2 and some new vqax). I noticed that while training a dataset is chosen at random (based on its length) at the beginning, and the model is trained with just that dataset, and never on the other dataset. Is this the expected behaviour? See https://github.com/facebookresearch/pythia/blob/12f67cd4

[2020-01-12 06:28] apsdehal commented on #215
Unfortunately, the support for multitasking is broken in the master. I would suggest moving to v0.4 branch. The commit that introduced multitasking properly is: https://github.com/facebookresearch/pythia/commit/926d3b0d2340c1d65730764ee8f84c50837cdda8. It shouldn't be too hard to move to v0.4. Let me know if you face any problems in that.

[2020-01-16 00:53] vedanuj commented on #76
Upgrade next to Pytorch 1.4

[2020-01-16 05:15] michaelroyzen opened #216 "BUTD inference"
## ❓ Questions and Help
I'm new to Pytorch. For some reason, Pythia saves checkpoints as .ckpt instead of .pth. I'm trying to do inference with BUTD model I trained:
`python tools/run.py --tasks captioning --datasets coco --model butd --config \
configs/captioning/coco/butd_beam_search.yml --resume_file save/captioning_coco_butd/best.ckpt \
--evalai_inference 1 --run_type inference`

I get this er

[2020-01-16 23:34] michaelroyzen commented on #216
Fixed; a .pth file is generated at end of training.

[2020-01-16 23:34] #216 closed

[2020-01-17 13:38] apsdehal commented on #216
For future reference, ckpt has a "model" attribute which contains the model's state dict.

[2020-01-17 18:49] diziup commented on #188
@apsdehal can you please share which changes to made in fasttext config file ( and also, where is it located:)) to make this work, I'm trying with the newer bin file as suggested and still getting the memory error on my machine (with 15G RAM..)

[2020-01-17 21:51] windweller opened #217 "CoLab Notebook Beam Search Only Return 1 Caption"
## ❓ Questions and Help

I'm running the CoLab BUTD Captioning DEMO, it is amazing and very easy to run following the instructions! [link](https://colab.research.google.com/drive/1vzrxDYB0vxtuUy8KCaGxm--nDCJvyBSg)

However, the problem seems to be that at least for the given URL: http://images.cocodataset.org/train2017/000000505539.jpg

The caption returned by beam search decoding is just 1 captio

[2020-01-18 16:32] windweller commented on #217
After some investigation, I realized it's the beam search decoder that's only returning one result. Here's the code snippet in `textutils.py` `BeamSearch` that's causing this:

[code]

It only returns the `max` sequence. In order to get all 5, you need to modify this :)

[2020-01-18 16:32] #217 closed

[2020-01-21 07:41] cylvzj opened #218 "Pythia VQA， BUTD Captioning Use Chinese dataset"
## ❓ Questions and Help
Hello, please ask.
For these two demos, I changed the data set to Chinese. Do I still need to adjust the algorithm?
What should I do if adjustments are needed?

Looking forward to your reply

[2020-01-22 00:59] vedanuj commented on #218
You will need to extract features for the images in your new dataset, some new model for embeddings to replace fastText since it supports English and also vocabulary files. There might be other things you will need to change. Let us know how it works and if there are other changes you required to make your dataset work.

[2020-01-22 01:07] #179 closed

[2020-01-22 02:30] cylvzj commented on #218
@vedanuj hello

We want to make an app based on Pythia to help blind people understand the situation around them. The first thing we thought of was to directly translate the coco dataset and train it into a Chinese model. If so, do you need to replace fastText? Or, what changes need to be made?

[2020-01-22 18:30] vedanuj commented on #218
If you are translating the Chinese sentences to English and then training the Pythia model with Enlish sentences, then it should work without any changes. But if you are training with Chinese sentences then you need a model similar to `fasttext` that can give you Chinese word embeddings.

[2020-01-23 18:47] michaelroyzen opened #219 "LoRRA inference in Colab"
## ❓ Questions and Help
I am trying to adapt the Pythia VQA demo notebook (https://colab.research.google.com/drive/1Z9fsh10rFtgWe4uy8nvU4mQmqdokdIRR) to support LoRRA trained on TextVQA. When I run the adapted demo, I get the following error:

`RuntimeError: Error(s) in loading state_dict for LoRRA:
	size mismatch for classifier.module.linear_text.weight: copying a param with shape torch.Size([404

[2020-01-23 18:53] michaelroyzen commented on #212
Try adding`data_parallel: True` to pythia.yaml. That worked for me during training, and I assume it will work for inference.

[2020-01-24 05:53] michaelroyzen commented on #219
Update: I've added lines to the txt file so that part now runs (I don't know about correctness). Now, when I actually try to perform inference on an image, I get:

`/home/pythia_notebooks/pythia/pythia/models/lorra.py in forward(self, sample_list)
     47
     48         context_embedding_total, _ = self.process_feature_embedding(
---> 49             "context", sample_list, text_embedding_total, [

[2020-01-24 06:09] michaelroyzen commented on #219
Please refer to my Colab: https://colab.research.google.com/drive/1qWyAEmmGW3K3ueY7wOdTc3gm5fS6BkI5.

[2020-01-24 06:11] michaelroyzen commented on #219
@apsdehal

[2020-01-25 04:02] apsdehal commented on #219
Please use https://colab.research.google.com/drive/120xCDefxsqAmm7l6uf5nFDx5zr7msA0R

[2020-01-26 01:57] cylvzj commented on #218
@vedanuj

Is it OK to use Chinese word segmentation of Jieba?

[2020-01-27 06:20] ronghanghu opened #220 "released COCO Karpathy train imdb has only 82783 images (should be 113287 images)"
## 🐛 Bug

In the released imdb for the COCO Captioning dataset, the Karpathy train imdb (`coco_captions/imdb_karpathy_train.npy`) has only 82783 images. However, there should actually be 113287 images in this set.

The Karpathy split for the COCO Captioning dataset was first described [here](https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Karpathy_Deep_Visual-Semantic_Alignments_

[2020-01-29 09:14] Karol-G opened #221 "Pretrained BAN or LoRRA weights for VQA2?"
## ❓ Questions and Help
Hi,

do you happen to have pretrained BAN or LoRRA weights for VQA2 or do I need to train from scratch?

Best,
Karol

[2020-01-29 17:06] vedanuj commented on #221
We do not have trained models available for those two. You will have to train from scratch.

[2020-01-31 09:43] Karol-G commented on #221
Ok thanks

[2020-01-31 09:43] #221 closed

[2020-01-31 19:09] Karol-G opened #222 "Save scores from evaluation"
## ❓ Questions and Help
Hi,

I want to evaluate pythia on the train-, val-, and testset and save the best score from every prediction.
My problem is that I am quite confused about which modules to modify.
Could you give me a hint to which module I should look into?

[2020-02-09 08:51] YoussefSaadYoussef opened #223 "Pythia training on other languages"
## ❓ Questions and Help
could I train Pythia for image captioning and VQA on another language not only English?
if yes what files should I change?

[2020-02-09 13:49] cylvzj opened #224 "Quickstart for image captioning - Tensors must have same number of dimensions: got 2 and 3"
Hello, when training captioning, the following error is prompted. With reference to #203, butd.py is up-to-date. Please ask,  how to solve it?

torch.cat([h2, image_feat_mean, embedding], dim=1), (h1, c1)

h2.ndim=2, image_feat_mean.ndim=3, embedding.ndim=2

(the entire Pythia master code was just downloaded, but the dataset was downloaded earlier.)

The error is as follows:

python3  tools/run.py

[2020-02-10 01:56] cylvzj commented on #224
@vedanuj

[2020-02-10 02:52] cylvzj commented on #224
Here common/sample.py ndim starts to equal 3， adding a len(samples)。

        for field in fields:
            if isinstance(samples[0][field], torch.Tensor):
                ==【size = (len(samples), *samples[0][field].size())】==
                self[field] = samples[0][field].new_empty(size)
                if self._get_tensor_field() is None:
                    self._set_tensor_field(field)

[2020-02-10 02:56] vedanuj commented on #224
In `configs/captioning/coco/butd.yml` can you remove

[code]

and replace with :

[code]

Let me know if that works.

[2020-02-10 03:22] cylvzj commented on #224
Thank you！
There are no more mistakes. What's the difference between beam_search and greedy？

[2020-02-10 09:58] cylvzj opened #225 "coco.tar.gz， How to view the pictures inside?"
## ❓ Questions and Help

It's all files like this. How to view the pictures?

detectron_fix_100/fc6/train_val_2014/COCO_train2014_000000560604.npy

[2020-02-10 22:19] przemb commented on #206
Hi @apsdehal,
I don't have much experience with detectron2, but according to this [video](https://www.youtube.com/watch?v=egs0XN-xjA0) suggested way instead of creating a new fork is to use customization mechanisms. (to keep maintenance of apps created in FAIR easier).
Do you think if this is sufficient for Pythia?

I don't feel confident to port it myself, but I could share below links which migh

[2020-02-11 05:11] zhiqwang commented on #206
Agree with @przemb

[2020-02-16 13:55] cylvzj commented on #224
@vedanuj

Hello,

During the training, I need to set type: greedy. After the training, when I call the model, I need to set type : beam_search, right? I tried. If it's always type:greedy, there will be an error when I call it.

[2020-02-20 20:03] vedanuj commented on #225
Hi .. these are not the pictures but extracted features. You can download the images from the VQA website https://visualqa.org/download.html

[2020-02-20 20:05] vedanuj commented on #224
During inference you should set type to beam_search. We will fix the training script soon to use greedy only.

[2020-02-20 20:07] vedanuj commented on #223
Currently `pythia` uses `fasttext` glove model for english language embeddings. We do not have any immediate plans to support other languages. One possible thing that you can do is translate the other lanaguage to English and try image captioning and VQA with `pythia`.

[2020-02-20 20:10] vedanuj commented on #220
Thanks for finding this issue. We will update the imdb files and release the pretrained BUTD model soon.

[2020-02-20 20:55] vedanuj commented on #222
The scores are calculated in batches. If you want to save for every prediction then you will need to set the batch size to 1 and log in this method : https://github.com/facebookresearch/pythia/blob/2ad4c4cfe121e951db12efa3fe5b6f1cc0188da7/pythia/trainers/base_trainer.py#L380

[2020-02-21 01:14] cylvzj commented on #224
Thank you for reply.

[2020-02-21 01:15] #224 closed

[2020-02-21 01:16] cylvzj commented on #225
Thank you for reply.

[2020-02-21 01:17] #225 closed

[2020-02-22 02:02] cylvzj commented on #224
请问一下， 怎样减少奖励权重 （reduce the weight of the concept reward）?

[2020-02-22 02:02] cylvzj commented on #224
请问一下， 怎样减少奖励权重 （reduce the weight of the concept reward）?

[2020-02-22 02:02] cylvzj commented on #225
请问一下， 怎样减少奖励权重 （reduce the weight of the concept reward）?

[2020-02-22 03:39] cylvzj opened #226 "Chinese image caption， In the result, multiple words of the same type appear"
## ❓ Questions and Help
Hello, I am using the COCO dataset, in butd models。
Extracting words with jieba
I used all the words in the picture description that occurred more than 3 times as a dictionary file, and a total of 14,226 words.
words = [w for w in word_freq.keys () if word_freq [w]> 3]

After training the model, when using it, multiple words of the same type appear in the result, such as:

[2020-02-27 03:41] michaelroyzen commented on #196
I may be having this issue as well. How did you solve it?

[2020-02-29 04:00] yutaroyamanaka opened #227 "Output Image Captioning Confidence Values"
## ❓ Questions and Help

Hello, I am a beginner of captioning and vqa.
I am running a notebook(https://colab.research.google.com/drive/1vzrxDYB0vxtuUy8KCaGxm--nDCJvyBSg)

The last cell in the notebook says that "Image URL can be any http/https URL. We show top 5 predictions from Pythia. Confidence shows how confident Pythia model was about a particular prediction." as attached picture shows, but t

[2020-03-09 15:13] shubhamagarwal92 opened #228 "Generative model trained on Vizwiz dataset"
## ❓ Questions and Help

Hi @apsdehal,

Could you please tell as to how we can directly use a generative model pre-trained on Vizwiz dataset in the evaluation mode.

Basically, we want to have a service, similar to the Visual dialog [demo](http://demo-visualdialog.cloudcv.org/) where we can pass directly the image and the question (w/- historical context) through a python script.

Thanks

[2020-03-10 01:35] apsdehal commented on #226
This problem generally appears initially in training but usually with enough data should go away as you train more. If the problem persists, a simple solution is to set softmax weights of the already predicted word to -inf.

[2020-03-10 01:37] apsdehal commented on #227
It is not directly possible because captioning is a generation task but you can multiply each generated word's probability to get a sense of overall confidence. Again, as this will penalize longer strings, I won't recommend using this as a strong signal.

[2020-03-10 01:38] apsdehal commented on #228
Look into how captioning evaluation works. Something similar will need to be evaluated with greedy/beam search.

[2020-03-10 01:43] cylvzj commented on #226
Thank you for reply.
problems still exist, The logs are as follows:

nohup: ignoring input
Logging to: ./save/captioning_coco_butd/logs/captioning_coco_butd_2020-03-05T23:43:09.log
2020-03-05T23:43:09 INFO: =====  Training Parameters    =====
2020-03-05T23:43:09 INFO: {
   "batch_size": 256,
   "clip_gradients": true,
   "clip_norm_mode": "all",
   "data_parallel": false,
   "device": "cuda",
   "

[2020-03-10 02:04] cylvzj commented on #226
@apsdehal
Sorry
Where to set softmax weights of the already predicted word to -inf ?

[2020-03-10 04:48] yutaroyamanaka commented on #227
@apsdehal
OK, I totally get the point.
Thank you very much !

[2020-03-10 04:48] #227 closed

[2020-03-10 10:52] shubhamagarwal92 commented on #228
1. Could you point me to the code you are referring to? Can we use it out of the box with minimal changes for deployment?
2. I am guessing that the pretrained Pythia model for Vizwiz [here](https://learnpythia.readthedocs.io/en/latest/tutorials/pretrained_models.html) is the discriminative one requiring BUTD features? Is this Pythia model the same as described in this technical [report](https://ar

[2020-03-11 20:02] apsdehal commented on #228
1. See [this](https://github.com/facebookresearch/pythia/blob/master/pythia/tasks/captioning/coco/dataset.py#L56) and [this](https://github.com/facebookresearch/pythia/blob/master/pythia/models/butd.py#L153).
2. Yes, it is the discriminative one but you should be able to convert it to a generative one following the BUTD captioning example. Yes, it is the same Pythia model, but it is pretrained on

[2020-03-12 12:13] shubhamagarwal92 commented on #228
Thanks for your pointers :)

[2020-03-13 02:49] apsdehal commented on #226
In https://github.com/facebookresearch/pythia/blob/master/pythia/utils/text_utils.py#L288..L295, make sure top k doesn't contain same word by setting scores of already predicted to -inf.

[2020-03-13 02:57] cylvzj commented on #226
If the prediction is that one person plays basketball , the other person plays football.
If  setting scores of already predicted to -inf，
Does “person” only appear once?

[2020-03-13 03:02] apsdehal commented on #226
Yes, that's the case. Btw, which commit you are on? Something seems fishy in your log.

[2020-03-13 03:05] cylvzj commented on #226
This is still problematic, I am using caption training now

[2020-03-13 03:05] cylvzj commented on #226
Setting scores of already predicted to -inf.
This is still problematic, I am using caption training now

[2020-03-13 21:13] apsdehal commented on #226
For further comments, I would need to know what Git commit id you are on.

[2020-03-14 01:08] cylvzj commented on #226
I just download ZIP and used the caption function. Chinese word segmentation dataset。

[2020-03-24 16:05] canhongpoxiao opened #229 "Version dependency conflict of tqdm"
## 🐛 Bug

When I run `python setup.py develop`
I get error
error: tqdm 4.19.9 is installed but tqdm>=4.27 is required by {'transformers'}
then I change the tqdm version and rerun I get error
error: tqdm 4.43.0 is installed but tqdm==4.19.9 is required by {'torchvision'}

[2020-03-26 18:49] apsdehal commented on #229
torchvision version also requires an update to the latest.

[2020-03-30 09:50] hanweiWill opened #230 "Head mask set to None in the textVQA code"
I noticed that the head mask input to the Bert model is set to None in M4C.py
`        head_mask = [None] * self.config.num_hidden_layers
        encoder_outputs = self.encoder(
            encoder_inputs,
            extended_attention_mask,
            head_mask=head_mask,
            relational_input = mmt_relational_input
        )`
then how do you make all decoding steps can only attend to pr

[2020-03-30 15:23] ronghanghu commented on #230
Hi, the head mask only affects how many attention heads are used in self-attention (e.g. there are 12 heads by default, but can be pruned to fewer heads with `head_mask`). It has nothing to do with making a causal mask in time-steps.

The causal mask (a triangular mask that makes all decoding steps can only attend to previous decoding steps) is added here: https://github.com/facebookresearch/pythi

[2020-03-31 03:07] #230 closed

[2020-03-31 03:08] hanweiWill commented on #230
thank you for the explanation

[2020-03-31 03:10] hanweiWill commented on #230
thank you for your explanation

[2020-04-04 08:02] vedanuj commented on #220
The imdb for `coco_captions` has been updated at https://dl.fbaipublicfiles.com/pythia/data/imdb/coco_captions.tar.gz. The new file added is `imdb_karpathy_restval.npy` which can be used along with `imdb_karpathy_train.npy` for full 113287 images training.

[2020-04-04 17:58] SuNicole opened #231 "Question about fastText when start training"
## ❓ Questions and Help
I got error
**ModuleNotFoundError: No module named 'fastText'**
when I run   _python tools/run.py --tasks vqa --datasets textvqa --model lorra --config \configs/vqa/textvqa/lorra.yml_ in quickStart .
 I tried to use _pip install fastText_  but it didn't change the result.
 When I try to use '_git clone https://github.com/facebookresearch/fastText.git_ ' , it reported error

[2020-04-12 20:43] ankushtale opened #232 "Size mismatch for classifier.module.weight"
## 🐛 Bug

Getting the following error while running inference for M4Ccaptioner base model.

Error:
RuntimeError: Error(s) in loading state_dict for M4C:
	size mismatch for classifier.module.weight: copying a param with shape torch.Size([6736, 768]) from checkpoint, the shape in current model is torch.Size([5000, 768]).
	size mismatch for classifier.module.bias: copying a param with shape torch.Siz

[2020-04-12 20:44] ankushtale commented on #232
@apsdehal  @ronghanghu any help is much appreciated

[2020-04-12 21:24] ronghanghu commented on #232
@ankushtale Do you want to run M4C (for visual question answering) or M4C-Captioner (for image captioning)? It seems that you are loading M4C config with M4C-Captioner weights.

For M4C:
[code]

For M4C-Captioner:
[code]

[2020-04-14 02:50] aluka1994 opened #234 "load model fasttext issue"
while training, I am getting load model error. can you please help in training the model ?

020-04-14T02:47:26 INFO: Starting training...
2020-04-14T02:47:27 INFO: Fetching fastText model for OCR processing
2020-04-14T02:47:27 ERROR: Caught ImportError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/torch/utils/data/_utils/

[2020-04-15 22:31] gokulanv commented on #232
@apsdehal @ronghanghu
I used the M4C-Captioner for running inference as mentioned above:
And I always get this error.

`2020-04-15T22:20:00 INFO: Starting val inference for evalai
2020-04-15T22:20:00 INFO: Predicting for m4c_textcaps
  0% 0/25 [00:00<?, ?it/s]2020-04-15T22:20:01 ERROR: Caught FileNotFoundError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/usr

[2020-04-15 22:35] ronghanghu commented on #232
Hi @ankushtale, you need to down the visual features (object features and OCR features) from for the TextCaps images, following the download links here: https://github.com/facebookresearch/pythia/tree/project/m4c/projects/M4C_Captioner#getting-data

[2020-04-15 23:00] gokulanv commented on #232
But these files (/content/pythia/pythia/../data/open_images/detectron_fix_100/fc6/train) are around 400 GB right? (I saw this size in one of the issues).

Is there any workaround that uses less amount of data to just run the inference?

[2020-04-15 23:07] ronghanghu commented on #232
It's roughly 33 GB altogether. You only need to download the TextCaps dataset features from https://github.com/facebookresearch/pythia/tree/project/m4c/projects/M4C_Captioner#getting-data

[2020-04-18 11:14] ankushtale commented on #232
Hi @ronghanghu , thank you so much for your assistance!
I was hoping to get one more help. Currently, we are running Pythia on GCP which is CPU only. And I guess in the evaluation phase, torch compulsorily expects NVIDIA GPU and throws an error in its absence.
On top of your mind, can you suggest a change to convert the code for CPU use only?

[2020-04-19 02:28] ankushtale commented on #232
NVM, got it working with GPU. Thanks alot @ronghanghu for the earlier advice!

Note for anyone else stuck implementing the code. Running inferences requires about 76GB storage and 16GB RAM. If you don't have it, try it on any cloud service (GCP, DigitalOcean, AWS). Make sure you choose GPU enabled VM and install compatible CUDA drivers (>9.0).

[2020-04-19 02:28] #232 closed

[2020-04-19 04:54] gokulanv opened #235 "Running inference on a custom Json input"
## ❓ Questions and Help

I have a custom Json input on which I would like to run inference on the M4C Captioner model. How do I feed in the custom Json or custom set of images?
@ronghanghu @apsdehal Can you please help?

[2020-04-20 05:49] ronghanghu commented on #235
For a custom set of images, the easiest way should be to convert these images to an imdb following the M4C format, and extracting their features following https://github.com/facebookresearch/pythia/tree/project/m4c/projects/M4C#getting-data.

Note that one has to extract OCR results on the images. One may use the Google OCR implementation: https://cloud.google.com/products/ai/

[2020-04-21 23:20] gokulanv commented on #235
Lets say we would like to run m4c text caps on the TextVQA images. Can you please suggest how that can be done?

[2020-04-21 23:47] ronghanghu commented on #235
In this case, it would be rather easy -- the TextCaps dataset uses the same set of images as in TextVQA (both are built upon Open Images), so one can just run inference on the TextCaps imdbs and match the results to TextVQA using image id.

[2020-04-21 23:51] gokulanv commented on #235
Cool, thank you so much. I will try that out now.

[2020-04-23 07:37] aluka1994 commented on #8
Hello @apsdehal

I am experiencing the following error while training the lorra.

2020-04-23T07:34:56 ERROR: CUDA out of memory. Tried to allocate 174.00 MiB (GPU 0; 7.43 GiB total capacity; 2.42 GiB already allocated; 121.25 MiB free; 119.50 MiB cached)
Traceback (most recent call last):
  File "tools/run.py", line 94, in <module>
    run()
  File "tools/run.py", line 83, in run
    trainer.train

[2020-04-23 14:19] JayZhu0104 opened #236 "The error happened during training or evaluating"
## ❓ Questions and     @@@@Help
   @ronghanghu Hi, I meet a error when I use this command lines:
`python tools/run.py --tasks vqa --datasets m4c_textvqa --model m4c \
--config configs/vqa/m4c_textvqa/m4c.yml \
--save_dir save/m4c \
--run_type val \
--resume_file data/models/m4c_textvqa_m4c.ckpt`
And the error occurred after loading fasttext model, it says: 'NoneType' object is not callable.

The d