[2021-04-20 18:10] apsdehal commented on #890
Hi,
First you will need to enable tensorboard by `training.tensorboard=True`. This will enable tensorboard logging into `<save_dir>/logs` folder. Now, you can run tensorboard there with `tensorboard --port 5901 --logdir .`.

[2021-04-20 18:13] apsdehal commented on #889
Hi,
SampleList that gets passed to the model has `dataset_type` attribute which can have value `train|val|test` and you can use that to make decisions based on `if sample_list.dataset_type == "train"` to only do something during training mode.

Alternatively, when the model is running on validation and testing data, the model is in eval mode so you can check `self.training` to know whether you are

[2021-04-20 18:13] apsdehal commented on #887
Hi,
Thanks for pointing this out. We will investigate this.

[2021-04-20 18:14] apsdehal commented on #887
Closing this as duplicate of #886

[2021-04-20 18:14] #887 closed

[2021-04-20 18:15] apsdehal commented on #886
We are looking into this. Thanks for pointing out the issue.

[2021-04-20 19:36] HenryJunW opened #892 "Positional Embedding of M4C"
## ❓ Questions and Help
Hello, I have a question about the positional embedding of M4C model.

From my understanding of the code, we only have positional embedding for the input question and decoded words, right? For the visual object and OCR token embedding, we don't have the positional embedding. Is that because we already include the box position information for the object embedding and ocr emb

[2021-04-21 01:02] dinhanhx commented on #890
So this means if I forget to enable before training, I can't visualize with tensorboard?

[2021-04-21 01:10] ronghanghu commented on #892
Yes, you are right! Unlike question words and decoded words, the bounding boxes and OCR tokens do not have a natural ordering, so we did not add a sequence index-based positional embedding to them. The positional information of visual objects and OCR tokens are contained in their bounding box embeddings.

[2021-04-21 06:44] g-luo opened #893 "NaN Gradients"
## ❓ Questions and Help

Hello,
When training my model, the loss steadily decreases then suddenly becomes NaN. I suspect that this is because it's hitting some malformed data sample somewhere (using my own custom news dataset). I was wondering if there are any known fixes for this (eg tossing a batch that results in NaN gradients) / gradient skipping implemented in MMF, especially considering I'm

[2021-04-21 09:34] dinhanhx commented on #890
In my opinion, there should be a way to convert `train.log` file to something that Tensorboard can read.

[2021-04-21 12:16] hivestrung opened #895 "[Hateful Memes] Features I extract aren't the same as detectron.lmdb"
## 🐛 Bug

extract_features_frcnn.py might not be extracting the same features as what was used for the original dataset

## To Reproduce

It's tricky to do so, but basically I created a Predictor class that loads the model, and takes in an image (path to the png file) and text and does the required transforms on the data before building a sample list and running it through the model.

Using this,

[2021-04-21 15:11] hivestrung commented on #895
@vedanuj  Sorry to bother you, I noticed this repository is yours: https://gitlab.com/vedanuj/vqa-maskrcnn-benchmark

I have tried extracting features using extract_features_vmb.py instead. I then used lmdb_conversion to extract the detectron.lmdb features that are automatically downloaded from fb servers (they are stored in `/home/sgg29/.cache/torch/mmf/data/datasets/hateful_memes/defaults/featur

[2021-04-21 15:13] hivestrung commented on #895
Referring to the hateful memes paper:

[code]

I don't get the last bit:  "and features from fc6 layer are fine-tuned using weights of the fc7 layer". I think this is what I'm missing. How do I do that?

[2021-04-21 15:25] #859 closed

[2021-04-21 15:26] hivestrung commented on #791
@giulia95 just modify the code in /content/vqa-maskrcnn-benchmark/maskrcnn_benchmark/utils/imports.py, change PY3 to PY37

[2021-04-21 15:55] #895 closed

[2021-04-21 15:57] hivestrung opened #896 "How to extract features for Hateful Memes?"
@vedanuj Sorry to bother you, I noticed this repository is yours: https://gitlab.com/vedanuj/vqa-maskrcnn-benchmark

## background
I have tried extracting features using extract_features_vmb.py. I then used lmdb_conversion to extract the detectron.lmdb features that are automatically downloaded from fb servers (they are stored in /home/sgg29/.cache/torch/mmf/data/datasets/hateful_memes/defaults/fe

[2021-04-21 19:12] g-luo commented on #893
Resolved! Thank you @ronghanghu for the solution.
You can use https://github.com/facebookresearch/mmf/blob/master/mmf/modules/optimizers.py#L33-L34 and replace

[code]
with
[code]

[2021-04-21 19:12] #893 closed

[2021-04-21 19:18] apsdehal commented on #893
Hey,
In general, other way is to enable anomaly detection by using `training.detect_anomaly=True`. This will catch exact place where NaNs are happening. (Though it will slow the code down somewhat).

[2021-04-21 19:18] apsdehal commented on #892
Closing as resolved.

[2021-04-21 19:18] #892 closed

[2021-04-21 22:45] g-luo commented on #893
Thanks for the pointer!

[2021-04-22 02:32] butterluo opened #897 "What's the roadmap of mmf?"
## ❓ Questions and Help
What's the roadmap of mmf? When will it release the v1.0 and what features will be included in v1.0?

[2021-04-22 08:50] ifmaq1 commented on #883
@apsdehal any updates? or can you reproduce this issue at your end too?

[2021-04-22 09:17] hivestrung commented on #720
@ytsheng Do you know what size we expect the images to be? Is it supposed to be uniform across the dataset? I am wondering if it would be possible to replicate the feature extraction that Facebook did to create the detectron.lmdb feature datasets. I'm specifically working with Hateful Memes.

[2021-04-22 10:18] CCYChongyanChen commented on #507
I got 3 empty lists of attention weights for vilbert by change every line in that file with output_all_attention_masks=False to True. Not sure what went wrong. @vedanuj

[2021-04-22 10:19] CCYChongyanChen commented on #507
Did you address it? Thanks!

[2021-04-22 18:32] apsdehal commented on #896
Looking into it. It looks like a recent change by Brett has caused some issues and difference in the feature, if I revert back to original code before that change, I am able to replicate same features on batch size 2. Looking into what is causing the diff.

[2021-04-22 19:23] apsdehal commented on #890
For the moment, yeah it is not possible as the events for tensorboard are generate at runtime. You can indeed log them back in or use some other tool to plot the curves by reading train.log. Here is some sample code to read and write a file to plotly: https://gist.github.com/apsdehal/1d348bb5c1a179c430f9676d4c2972f0

[2021-04-22 22:17] hivestrung commented on #896
@apsdehal this issue might be relevant: https://github.com/facebookresearch/mmf/issues/720

[2021-04-23 00:16] dinhanhx commented on #890
Thank you, it's certainly useful, I will use it.

[2021-04-23 23:34] apsdehal commented on #886
Hi,
Can you please install latest version of MMF using

[code]

That should fix this issue.

[2021-04-23 23:40] #889 closed

[2021-04-23 23:49] apsdehal commented on #897
Hi,
Thanks for asking about the roadmap. We do have a roadmap which is not public. It focuses on usability aspects of MMF. We will likely release 1.0 once lightning and hydra integrations are done. We are also planning to support regular pip release to allow better use of mmf as library. Let me know if you any specific questions about MMF or any feature you would like to see and I would be happy t

[2021-04-24 04:22] skakar-git opened #898 "Error during pip install from source on Colab"
Platform: Colab

`pip install --editable .` completes the task with two errors:

[code]
While the first error is always there, I am able to ignore it and proceed with unzipping the dataset as well as with `mmf_run`. So far ignoring this error has not caused a problem.

The second error is transient - often there, sometimes not. If it is there, then unzipping of the dataset with `mmf_convert_hm` fa

[2021-04-24 06:09] zli12 opened #899 "Mmf_hm_example notebook runtime error - mat dim mismatch"
## ❓ Questions and Help
Hi we’re running the example notebook (https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/mmf_hm_example.ipynb) but hit runtime error below when running the ’ Train your model’ part. I wonder if this this notebook is out of date or there something wrong with the it?

RuntimeError Traceback (most recent call last)
in ()
7 “training.num_wor

[2021-04-25 21:59] hivestrung opened #900 "Is it seen or unseen val & test sets being reported in Hateful Memes paper?"
Hi @apsdehal

I wanted to check why there seems to be such high variance on the test set for Text BERT. I reproduce the results here. Can I clarify which test set and val set (seen or unseen?) the results are for? Because I noticed the paper on Arxiv was updated last week, and it's unclear what really changed in the paper/the reason for the changes in the numbers reported.

I also ran inference us

[2021-04-26 20:00] vksingh4u opened #901 "Please read & provide the following information"
If you do not know the root cause of the problem, and wish someone to help you, please post according to this template:

## Instructions To Reproduce the Issue:

Hi,

I am trying to uses detectron2 for feature detection with mmf. I followed the following steps for detectron 2 installation in conda env created for mmf

https://detectron2.readthedocs.io/en/latest/tutorials/install.html

MMf and dete

[2021-04-26 20:23] apsdehal commented on #901
Hi,
My guess is that you need to upgrade your torch version. Can you provide output of `python -m torch.utils.collect_env`?

[2021-04-26 20:27] apsdehal commented on #898
Hi,
Yes, on colab you need to upgrade the pyyaml to a latest version. Feel free to close the issue if you feel it is resolved.

[2021-04-26 20:28] apsdehal commented on #883
Running it now, will let you know the results.

[2021-04-26 20:30] apsdehal commented on #896
I haven't got a chance to look at this, but can you rollback to f5ff2c8d2f0461b2d5a9d3aeac26b78ea4079e43 and try? I was able to get same features as the original ones shared with HM dataset in MMF by rolling back to this commit.

[2021-04-26 22:02] #898 closed

[2021-04-26 23:31] apsdehal commented on #890
Closing this as resolved with the script provided.

[2021-04-26 23:31] #890 closed

[2021-04-26 23:34] apsdehal commented on #891
Closing this as resolved. If you have more questions, please open up a new issue.

[2021-04-27 01:51] dxu312 opened #904 "TypeError: can't convert cuda:0 device type tensor to numpy."
Hi,
My code below caused the following error. I'm looking up some weight from a dataframe by the id in sample_list. Not sure why I need to convert any tensor to numpy when I just append to the list? Thanks for your advice in advance!

Code:
        weight_dict = pd.read_csv('/mnt/d/memes/data/weight_dict.csv').set_index('id')
        weight = []
        for i in sample_list['id']:
            weig

[2021-04-27 03:09] vksingh4u commented on #901
I did but mmf build uses torch1.0.0_dev2 version and other env used torch latest version. So it failed.

[2021-04-27 05:25] naykun commented on #812
Hi, I have met a similar evaluation hanging problem occasionally, especially the 'max_updates' reaches a certain limit. Maybe we should investigate this problem further? I'll provide more information if anyone needs it. I believe there is something wrong with the evaluation process since the hanging always happens when the evaluation performs.

[2021-04-27 17:01] apsdehal commented on #883
Hi, here's what I got:
[code]

I would open up an issue on grids-feat-vqa repo to understand if you are using correct features or not. @vedanuj won't be available until May 6th, so I can't suggest if you are using correct features. The result I have provided is with the features that auto-download when you run MMF.

[2021-04-27 17:09] ifmaq1 commented on #883
@apsdehal Thank you for your response. The issue is that I need to calculate the features myself. I provided the steps above that I have followed for X-152pp. If I have to train any other dataset on movie_mcan model I need to calculate the features on my own. For this, accuracy meetup is necessary with already given results.

[2021-04-27 17:15] apsdehal commented on #883
For basic sanity check, you should first try to match the features you are extracting with the ones that are downloaded by MMF. Also, if there are minor difference in extraction, you won't be able to get same accuracy by using the original pretrained model. You will have to retrain the model from scratch.

[2021-04-27 17:22] ifmaq1 commented on #883
I understand but due to resource limitations, I could not download the auto downloaded features by MMF. I'll try to make it possible to download them and will update you regarding the results.

[2021-04-27 17:24] skakar-git opened #905 "Error registring custom loss module"
**Platform: Colab**

I am adding a custom loss module and getting this error:

`ValueError: No loss named custom_loss is registered to registry`

Following instructions, I am doing the following (sequentially in Colab cells):

(1) Register the model by running:

[code]

(2) Change defaults.yaml to reflect:

[code]

(3) Train using mmf_run as usual.

Why is the loss module not being registered?

[2021-04-27 19:21] apsdehal commented on #904
Hi,
Unfortunately, this is unrelated to MMF and rather related to your custom code and there are lot of unknowns here for us to debug this for you. Please use pdb to figure why there is tensor device type mismatch. My guess is that you need to call `.cpu()` on your weight before adding it weights array.

[2021-04-27 19:23] apsdehal commented on #905
Hi,
if you register a module in colab you need to call training using programatic api of MMF rather than directly calling `mmf_run`. There are examples of that in our colabs.

[2021-04-27 19:24] apsdehal commented on #901
Can you upgrade your MMF to latest and try again? `pip install mmf@https://github.com/facebookresearch/mmf/tarball/master`

[2021-04-27 21:00] #905 closed

[2021-04-27 23:05] dxu312 commented on #904
Solved by converting the tensor to list

[2021-04-27 23:05] #904 closed

[2021-04-28 05:37] hellowendy opened #907 "Optimizer attributes must have a 'type' key specifying the type of optimizer"
I tried to run mmf_run using a local copy of the config (because I will try to test changes of the config later). However, I am getting error "File "c:\users\giuliano\mmf\mmf\utils\build.py", line 187, in build_optimizer
"Optimizer attributes must have a 'type' key "
ValueError: Optimizer attributes must have a 'type' key specifying the type of optimizer. (Custom or PyTorch)"

I saw similar issues

[2021-04-28 06:07] sallypannn opened #908 "duplicate results with mmf_predict"
Hi,

When I use mmf_predict on a trained model and a few test samples, I noticed that the number of samples must be a multiple of 4. If it is not, the model will output duplicate results for the first 1-3 samples.

For example, if my test set contains 81 samples, then the model will output 84 rows and the first 3 samples will appear twice.

Could you please help me with this problem? Thanks!

[2021-04-28 18:59] apsdehal commented on #899
Hi,
We fixed the colab notebook. Please reload the notebook and it should run well now. Let us know in a new issue if any new issues persist.

[2021-04-28 18:59] #899 closed

[2021-04-28 19:11] apsdehal commented on #908
Hi,
this is expected due to wrap around that happens in distributed settings on the dataloader. Please try rerunning on single GPU by setting environmental variable `CUDA_VISIBLE_DEVICES=0`.

[2021-04-28 19:14] apsdehal commented on #907
Hi, since you are windows, please make sure you clone mmf with `git clone https://github.com/facebookresearch/mmf.git -c core.symlinks=true` so that you get the configs cloned as well.

If this is not case as you are using custom local config, we would need to see your exact command and config to understand what is going wrong.

[2021-04-28 21:20] hellowendy opened #909 "XLMRobertaTokenizer"
## ❓ Questions and Help
Is there a separate tokenizer for xlm-roberta-base? Or is roberta_tokenizer sufficient? Thanks!

[2021-04-28 21:26] ytsheng commented on #909
Hi @hellowendy, thanks for using mmf:

Depends on your specific usecase, but in general, you can configure it like:
[code]

[2021-04-29 02:52] CCYChongyanChen commented on #884
@apsdehal
For vqa2, I believe the train_val and test dataset are separated as different tar package. But when running the model in the test mode with a pre-trained model, the code still download the train_val dataset.

[2021-04-29 07:28] sallypannn commented on #908
Got it, thanks!

[2021-04-29 07:33] violetteshev opened #911 "CLEVR pretrained"
Hi,

Thanks for this amazing library. Is there any model pretrained on CLEVR available? The docs mentioned cnn_lstm trained on clevr, but I couldn't find it in the model zoo.

[2021-04-29 08:53] ytsheng commented on #911
Hi @violetteshev,

It does not look like we have the cnn_lstm pretrained checkpoint available anymore. My teammate @apsdehal was the last one that integrated the cnn_lstm, perhaps he can share more pointers.

The clevr dataset can be downloaded here: https://dl.fbaipublicfiles.com/clevr/CLEVR_v1.0.zip

This PR should hopefully be helpful: https://github.com/facebookresearch/mmf/pull/103

[2021-04-29 13:30] ifmaq1 commented on #883
@apsdehal reporting back. I downloaded the features and extracted the file. I checked the file sizes of both downloaded and the features that I extracted myself. Yes, you are right there is a huge file size difference between the two i-e

The **test split**  image features

The one I calculated myself is of size
**3.9M    1024.pth**

The one I downloaded is of size
**8.1M    1024.pth**

Please let

[2021-04-29 17:58] skakar-git opened #912 "Working with pretrained UNITER and Hateful Memes dataset"
Is there a tutorial that can guide me how to incorporate pretrained UNITER (from https://convaisharables.blob.core.windows.net/uniter/pretrained/uniter-base.pt) into mmf and then finetune it with HM dataset? I am brand new novice to all this and still coming up to speed, any help/pointer would be helpful! TIA.

[2021-04-30 00:12] sidneycb37 opened #914 "Issue when running Concat Bert Tutorial"
## ❓ Questions and Help
I am following the tutorial here (https://mmf.sh/docs/tutorials/concat_bert_tutorial) that outlines how to add a model to MMF. I made no code changes to the example, just copied code to a Jupyter notebook.

However, when I try to run mmf_run, I get the error:

Traceback (most recent call last):
  File "/usr/local/bin/mmf_run", line 8, in <module>
    sys.exit(run())
  File

[2021-04-30 04:18] skakar-git opened #915 "Valueerror when finetuning ViLBERT CC on Hateful Memes dataset and with BCE loss"
Platform: Colab

Finetuning VilBERT CC on Hateful Memes dataset and with binary cross entropy loss raises following error:

[code]
I think I understand what the error means but don't know how to fix it. Is BCE Loss the wrong loss to use for this purpose?

[2021-04-30 04:21] ytsheng commented on #915
Hi @skakar-git, thanks for using mmf,

Do you mind sharing your command line so that I can try to repo on my end? Thank you!

[2021-04-30 04:28] ytsheng commented on #914
Hi @sidneycb37, thanks for using mmf,

When you said "When I try to run mmf_run", you mean you tried to run it in the command line? If so, the command line and the notebook would be under different executable, therefore the command line will not be aware of the registered model, which is why you are able to find it in a new cell but not in the command line.

[2021-04-30 04:34] skakar-git commented on #915
Thank you - it is vanilla command line:

[code]

In addition, in defaults.yaml:

[code]

[2021-04-30 04:35] ytsheng commented on #912
@skakar-git,

You would need to create a model class that subclasses the BaseModel class.

Some examples:
* https://mmf.sh/docs/tutorials/concat_bert_tutorial/
* PR to add LXMERT: https://github.com/facebookresearch/mmf/pull/339
* PR to add M4C captioner model: https://github.com/facebookresearch/mmf/pull/213

[2021-04-30 04:42] vksingh4u commented on #901
This is the error now

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
mmf 1.0.0rc12 requires omegaconf==2.0.6, but you have omegaconf 2.1.0.dev26 which is incompatible.
Successfully installed antlr4-python3-runtime-4.8 appdirs-1.4.4 black-20.8b1 cloudpickle-1.6.0 detectro

[2021-04-30 09:51] CCYChongyanChen opened #917 "How to visualize attention map for model with multiple heads attention (e.g., vilbert)"
## ❓ Questions and Help

### Overall goal: I am trying to extract visual attention map from vilbert to explore where the vilbert is looking at the image.

### My question
Question 1:
I know vilbert has three kinds of attention: image attention, text attention, and co-attention. I don't know if I should go with image attention or co-attention. Currently, I go with image attention.
Question 2:
I kno

[2021-04-30 10:48] sidneycb37 commented on #914
Thank you for your quick response!

They are both being run in the notebook. I've attached my notebook output to this comment

[mmf_ownModelTutorial.pdf](https://github.com/facebookresearch/mmf/files/6404762/mmf_ownModelTutorial.pdf)

[2021-04-30 13:52] CCYChongyanChen commented on #697
I have encountered this problem too.  Any further help is appreciated. Thanks!

[2021-04-30 14:37] CCYChongyanChen commented on #891
@apsdehal
I encountered a similar issue.

### Overview
I can test the pretrained vqa2 model on vqa2 dataset; can train pythia model for the vizwiz dataset, but cannot test the pretrained vqa2 model on the vizwiz dataset.

### command line I run
mmf_predict dataset=vizwiz model=pythia config=projects/pythia/configs/vizwiz/defaults.yaml run_type=test checkpoint.resume_file=/data/vqa/mmf/data/models/

[2021-05-02 03:15] violetteshev commented on #911
Ok, thank you.

[2021-05-02 03:15] #911 closed

[2021-05-02 13:26] hivestrung commented on #914
@sidneycb37 you need a __init__.py file and also you will need to set MMF_USER_DIR.

I recommend taking a look at this: https://github.com/apsdehal/hm_example_mmf

[2021-05-02 22:28] #900 closed

[2021-05-02 22:30] hivestrung commented on #896
@apsdehal Sorry I haven't been able to, and probably won't for about a month as I have modified the code to add an extra argument and be callable at runtime (for model inference of new memes input by a user). I'm currently not really working on this as my dissertation is almost complete. If it's still a problem by June, I'll have a look and debug it. Thanks again for all your help these past month

[2021-05-03 01:23] butterluo commented on #897
Thank you!  :)

[2021-05-03 01:23] #897 closed

[2021-05-04 00:50] apsdehal commented on #915
bce can't be used directly as it expects targets with N X C format. Either do that with targets or use cross_entropy which is what is default in MMF.

[2021-05-04 13:17] #915 closed

[2021-05-05 11:31] hivestrung opened #926 "Can't replicate Text BERT Acc/AUROC Even with pretrained model"
Hi,

With the test set labels released on Hateful Memes new webpage, I ran evaluation metrics on test_seen:

[code]
The results I got:
![image](https://user-images.githubusercontent.com/27841209/117134447-82270c80-ad9d-11eb-93fb-7e903a5ab769.png)

The results I expect (taken from latest version on arxiv)
<img width="666" alt="image" src="https://user-images.githubusercontent.com/27841209/117134617

[2021-05-07 06:19] HongKongReporterLiuDehua opened #931 "Big performance gap between my validation and the paper on Hateful Memes"
## ❓ Questions and Help
My training is on a device with 8 V100 32G, and set the batch size, LR according to the paper "The hateful memes challenge"(Appendix A)
I even don't change anything in the mmf code,  but the valid AUROC are not as good as the paper results, and the Accuracy is better than paper results.

For example,
Image-Grid is only 57.16 while in paper it is 58.79(AUROC), while the accu

[2021-05-07 09:52] soumyasj commented on #682
How to replace TextCap's annotations file with other captions file?

[2021-05-08 09:23] ifmaq1 commented on #883
Also, I cross-checked my features size extracted from https://github.com/facebookresearch/grid-feats-vqa by their pre-extracted(given) features and our size of features are same. So I think I have been calculating the features right.

[2021-05-08 20:40] hivestrung commented on #931
Same issuesSimilar issue for me, see my results. Most of them are close though, but Text BERT is definitely off.

<img width="745" alt="image" src="https://user-images.githubusercontent.com/27841209/117552877-f552ac00-b045-11eb-9afe-297873840051.png">

[2021-05-10 10:23] hivestrung opened #935 "AdamW optimiser betas are not reported accurately in paper"
Referring to this picture below from the paper. I looked through the config files and code at https://github.com/facebookresearch/mmf/blob/3947693aafcc9cc2a16d7c1c5e1479bf0f88ed4b/mmf/modules/optimizers.py, and referenced with this: https://huggingface.co/transformers/main_classes/optimizer_schedules.html. Seems like the betas are never set, and thus the default values of 0.9, 0.999 are used. In t

[2021-05-10 10:37] hivestrung commented on #935
Similarly, the learning rate schedule reported is cosine, but in the model configs it is warmup_linear.

[2021-05-10 18:50] ytsheng commented on #917
Hi @CCYChongyanChen, thanks for using mmf,

Most of what you said seems correct to me. In Vilbert, the image representation we used are from pre-extracted features on bboxes detected from object detection. The attention map on the image will be more on the bounding box level, ie., which bounding box was more/less attended to as opposed to pixel level. Alternatively, you can also use Vilbert with g

[2021-05-12 13:49] davkis123 commented on #886
Still getting AssertionError: train.jsonl doesn't exist in /root/.cache/torch/mmf/data/datasets/hateful_memes/defaults/images #887

[2021-05-14 13:37] harkiratbehl opened #943 "[hateful memes] loading pretrained model does not work"
At the end of readme in hateful memes, it says:
Loading pretrained model in your code
It is also possible to load a pretrained model directly in your code

But when I run that code for a model I trained, I get this error:
AttributeError: 'dict' object has no attribute direct_features_input

[2021-05-14 14:02] CCYChongyanChen commented on #917
Thanks! Do you have the pretrained VilBERT model with grid feature extractor? @ytsheng

[2021-05-14 14:45] CCYChongyanChen opened #944 "Pythia model usage with VizWiz"
## ❓ Questions and Help
I am trying to run the pretrained Pythia model on the VizWiz dataset. The pretrained pythia model I downloaded is from https://github.com/facebookresearch/mmf/issues/697#issuecomment-733942630.

### Overview
I can test the pretrained vqa2 model on vqa2 dataset; can train pythia model for the vizwiz dataset, but cannot test the pretrained vqa2 pythia model on the vizwiz data

[2021-05-16 14:05] naveenchoudhary839 opened #946 "errors while running pytests .\test"
(mmf) C:\Users\user\Desktop\naveen\workspace\mmf>pytest .\tests
================================================= test session starts =================================================
platform win32 -- Python 3.8.5, pytest-6.1.1, py-1.9.0, pluggy-0.13.1
rootdir: C:\Users\user\Desktop\naveen\workspace\mmf
collected 3 items / 56 errors

======================================================= ERRORS

[2021-05-16 21:29] hivestrung commented on #896
@apsdehal Take a look at this. This is probably a large part of the reason why the features extracted are not the same.
![image](https://user-images.githubusercontent.com/27841209/118413188-e8613880-b695-11eb-8fdb-5c2f154078d3.png)

[2021-05-16 23:15] vedanuj commented on #946
Hi .. It seems your installation is missing omegaconf as shown in the errors :

[code]

Can you try installing the package using pip and try again?

[2021-05-17 06:36] naveenchoudhary839 commented on #946
Yes, i do have installed omegaconf using pip and then again tried running it but it is showing same error.
I have imported omegaconf  and checked it version. It is running fine.
But don't know why this error still persists.

[2021-05-17 15:37] vedanuj commented on #943
Can you provide the full stack trace of the error?

[2021-05-18 02:30] vedanuj commented on #926
The result reported is using the newer version of train set tested on test seen set. The checkpoint released are not on newer version of train set. Also the results are average of multiple runs.

[2021-05-18 02:32] vedanuj commented on #931
The results reported here are average of multiple runs with different seeds. So It might not be exactly same when you run with a specific seed.

[2021-05-18 02:44] vedanuj commented on #944
This will be difficult to load since the pretrained model was using two types of modal features fc6 as well as resnet152 and hence the `image_text_multi_modal_combine_layer` dimensions are not matching. I suggest better to retrain the pythia model on Vizwiz as that will also ensure the answer space is correct.

Otherwise you can omit the layers which don't match by using `checkpoint.pretrained_sta

[2021-05-18 13:09] schthms opened #947 "Multimodal alignment - current state in MMF / how to use"
## ❓ Questions and Help

I would like to use the multimodal alignment task in VisualBERT, ViLBERT and MMBT.

According to this issue [1](https://github.com/facebookresearch/mmf/issues/466) this still needs to be implemented.
But apparently something similar was already provided here [2](https://github.com/facebookresearch/mmf/pull/796). Could I use 2 as an orientation for 1?

There is also a `imag

[2021-05-18 14:02] sallypannn opened #948 "Path to builder and class"
Hi I am trying to add a new dataset. I could find where to specify the paths to dataset configs and train configs, but I could not find out how to specify the location of the new builder and class files. It shows the error message: "AssertionError: Key price_dataset doesn't have a registered dataset builder"

Can anyone help please? Thanks!

[2021-05-18 14:13] hivestrung commented on #926
@vedanuj thanks so much. Another question, the result reported for validation set - also val_seen, I am guessing?

[2021-05-18 14:24] hivestrung commented on #948
@sallypannn did you add it to the registry?

Do have a look at this if you haven't: https://mmf.sh/docs/tutorials/dataset

Secondly, I think you might have to add a __init__.py file which imports things, and set the MMF_USER_DIR accordingly. This is depending on where you put your new dataset builder files.

I will explain this more concretely, though I only have experience doing this for adding m

[2021-05-18 14:50] sallypannn commented on #948
Hi thanks for replying. But how can I ensure @registry.register_builder("price_dataset") actually does its job? The builder and class files work perfectly well when I put them into the corresponding location in mmf. But I would like to separate the mmf repo and my code. May I know how to handle this?

[2021-05-18 15:43] hivestrung commented on #948
@sallypannn I just explained it, create a file `__init__.py` to import the Python class.

[2021-05-19 12:50] TownWilliam opened #949 "Abnormal loss value during training the m4c captioner on COCO and Textcaps for the Image Captioning."
## ❓ Questions and Help
When I run the m4c captioner model on the dataset Textcaps for the Imgae captioning task, I find the loss value output in report is greatly numerous-millions or so. The total loss is strange but the final trainning result on metrics liking BLEU-$ is basically right. A unexpected loss gets an expected results. So my question is that: what's wrong with it? The segment of the

[2021-05-20 11:30] sallypannn commented on #948
@hivestrung Thanks! It works for me!

[2021-05-20 11:30] #948 closed

[2021-05-20 19:32] dmlpt commented on #643
I just started using MMF and want to run inference on the UniT model #741. I already have the COCO dataset on my disk and don't want to download it again but the command in #741 downloads the dataset. Where and how can I disable the zoo_requirements to not download the dataset and also specify the dataset path? Thanks!
Also, I have the COCO data in standard format:
coco:
       |
       ->  annota

[2021-05-20 19:35] apsdehal commented on #643
@dmlpt Can you try setting `dataset_config.vqa2.zoo_requirements=[]` so that it doesn't load any zoo requirements. If you do this, you need to map rest of the configs to point to proper paths. Let us know if you face any issues in this.

[2021-05-21 05:54] Noman-Tanveer commented on #886
I'm also facing the same issue. I have a fresh install from the directory.

[2021-05-21 07:41] dmlpt commented on #643
Thank You! It works. We need to set the "env.data_dir" to the folder containing the data.

[2021-05-21 18:44] #896 closed

[2021-05-21 18:45] #926 closed

[2021-05-21 18:45] #935 closed

[2021-05-22 10:37] woquinocoin commented on #886
I found that it is because the mmf_convert method added /data to the path while unzipping. Hence, the structure of the zip file should look like hateful_memes/data/img or ateful_memes/data/test.jsonl
Here is their source code about the path:

`for file in files_needed:`
`exists = exists or PathManager.exists(os.path.join(folder, "data", file))`

[2021-05-24 08:29] schthms commented on #947
Could somebody help me please?

[2021-05-24 10:33] gchhablani commented on #387
Hi @vedanuj

Any updates on this?

Additionally, I would like to ask if it is possible to share the Pythia visual embeddings (the 2048 dimensional embeddings) for  VQA v2 which was used by the VisualBert authors?

[2021-05-24 17:15] ronghanghu commented on #949
Hi @TownWilliam, sorry for the confusion here! This happens because the score of <unk> token (the token for unknown word) was hard-coded to -1e10 in the model, such that the model will never produce <unk> as an answer at test time. So when the ground-truth answer is an unknown word, it will produce a very large loss. This behavior is introduced here: https://github.com/facebookresearch/mmf/blob/ma

[2021-05-25 00:56] vedanuj commented on #947
Image Text Alignment loss is not currently added to MMF. We will need to add the loss in order to use it. I can add the PR this week.

[2021-05-25 06:52] schthms commented on #947
Thanks!

[2021-05-26 14:59] lmwijesundara commented on #886
I'm having the same issue. @woquinocoin is this worked?

[2021-05-26 15:35] lmwijesundara commented on #886
I rearranged and compressed as mentioned, but didn't work for me

[2021-05-28 12:36] mingshanhee commented on #886
Thanks @Noman-Tanveer! Your solution worked for me. They probably changed the directory name containing the data without making modifications to the cli methods.

[2021-05-29 07:44] woquinocoin commented on #886
try to use this dataset I re-ziped: https://drive.google.com/file/d/1qkp3G7Ua_ePz1tBKI6tF2tjCqf6_O2d-/view?usp=sharing

[2021-05-29 21:42] mingshanhee opened #952 "Unable to reproduce model performance using pretrained models"
## ❓ Questions and Help
Hi everyone,

I have been trying to reproduce the model performance stated on the research paper but to no avail. Hence, I would like to clarify whether my command is correct.

For starters, I have downloaded the dataset from https://hatefulmemeschallenge.com/. Subsequently, I ran the following code (for Visual BERT COCO) based my understanding of the README.md:
`
mmf_run d

[2021-06-09 19:08] vedanuj commented on #952
Can you try `checkpoint.resume_zoo` instead of `checkpoint.resume_file` in your run command?

[2021-06-11 08:22] butterluo opened #966 "Test Case "trainers/test_sharded_ddp.py" is Broken"
## 🐛 Bug

It seems there is something wrong with "trainers/test_sharded_ddp.py::TestShardedDDP::test_no_sharding" , many PR were block by it with the message "Too long with no output (exceeded 10m0s): context deadline exceeded".
And when I run the test case mentioned above locally without any change to the master branch, it hangs when runing to the line "del self.trainer" in tearDown() method

##

[2021-06-11 13:00] Suhruth9 commented on #467
@vedanuj any updates on this? I'd like to implement this if no one is already on it.

[2021-06-11 14:02] Suhruth9 commented on #467
@vedanuj any update on this? I'd like to work on this if no one is already on it

[2021-06-11 18:51] jkubajek opened #967 "Better benchmark results in the updated version of the paper"
## ❓ Questions and Help
Hi, I have just noticed a huge gap between performance of the benchmark models in the initial version of the paper (_The Hateful Memes Challenge:Detecting Hate Speech in Multimodal Memes_) and its latest version (Apr 2021). What caused so large increase in the performance of models?
![image](https://user-images.githubusercontent.com/12114221/121735416-63333d00-caf6-11eb-824

[2021-06-12 02:34] apsdehal commented on #967
Hi,
The first one in v1 is on `test_seen` set which was used in Phase 1 of the Hateful Memes Challenge while the second was updated to use `test_unseen` which was used in Phase 2 of the Hateful Memes Challenge. (I believe this has been asked before somewhere in MMF's GitHub issues).

[2021-06-12 02:35] apsdehal commented on #966
This is a known issue. We will skip it for now when we land it.

[2021-06-12 08:01] jkubajek commented on #967
Hi, thanks I was looking through previous issues but I did not find the exact answer to my question.

[2021-06-12 08:03] apsdehal commented on #967
No worries. I hope the response resolves your questions.

[2021-06-12 08:16] jkubajek commented on #967
So to summarize, you didn't change the way of training models or their architecture but you only swap test datasets? I ask after this because next week I will give a presentation on [Data Science Summit](https://ml.dssconf.pl/) conference about my solution to the Hateful Memes Challenge and I want to be sure.

[2021-06-13 08:59] #792 closed

[2021-06-14 11:24] ChenyuZhang16 opened #969 "model_name for pre-trained Pythia model for VQA"
## ❓ Questions and Help
Hi, I would like to use a pre-trained Pythia model for VQA task and I'm thinking to use the `from_pretrained` method from BaseModel class for this. However, I couldn't find the correct model_name (pythia.xxxx.xxxx) for my desired Pythia model. Could you advise me on the correct model name for this? Many thanks for the help in advance.

[2021-06-14 11:59] Suhruth9 commented on #969
I'm not sure about the model key but you can pass the address specified [here](https://mmf.sh/docs/notes/pretrained_models) in the docs for pythia pre-trained models. "from-pretrained" class would download the model from the address or you can just download it and pass the path.

[2021-06-14 12:27] ChenyuZhang16 commented on #969
@Suhruth9 thanks! I'll try it out.

[2021-06-14 13:41] ChenyuZhang16 commented on #969
@Suhruth9 Thanks for your previous advice. I just tried this out:
[code]
but it raises `AssertionError: No configs provided with pretrained model  while checkpoint also doesn't have configuration.`

Would you mind if you show me a brief example of how you did it?

[2021-06-14 16:00] Suhruth9 commented on #969
Sorry I haven't tested it personally. Looks like the page I've linked is outdated. Couldn't find any pythia pre-trained models in the [zoo](https://github.com/facebookresearch/mmf/blob/master/mmf/configs/zoo/models.yaml) as well. I'm guessing the way models are saved has changed. Depending on what you want to use the model for, maybe write a simple function to load the checkpoint for the models av

[2021-06-15 23:33] apsdehal commented on #969
hi @ChenyuZhang16, the pythia model is older than when the from_pretrained functionality was added. Please downloaded the checkpoint file and use `checkpoint.resume_file` to load the checkpoint.

[2021-06-16 12:34] Harisahmad1881 opened #971 "error in training the M4C model."
## ❓ Questions and Help
kindly help to fix that issue.

log

2021-06-16T11:44:57 | mmf.utils.general: Total Parameters: 90850184. Trained Parameters: 90850184
2021-06-16T11:44:57 | mmf.trainers.core.training_loop: Starting training...
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\mmf1\Scripts\mmf_run-script.py", line 33, in <module>
    sys.exit(load_entry_point('mmf', '

[2021-06-16 14:36] WesRobbins opened #972 "Bert Checkpoint missing weights for mmf_predict on textvqa"
## 🐛 Bug
Some weights of the model checkpoint at bert-base-uncased were not used when initializing TextBert

## To Reproduce

!mmf_predict config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=test \
    checkpoint.resume_zoo=m4c.textvqa.defaults \
    training.num_workers=2 \
    env.data_dir=/content/drive/MyDrive/data/mmf \
    env.cache_dir=/co

[2021-06-16 16:57] apsdehal commented on #972
Hi,
The warning is fine and expected but your error looks like that you are running out of memory. Please check memory usage with `htop` to observe that. You can decrease `training.num_workers` to a lower value preferably 0 to avoid this.

[2021-06-16 17:16] #972 closed

[2021-06-16 19:33] Harisahmad1881 commented on #971
resolved. Thanks

[2021-06-16 19:33] #971 closed

[2021-06-18 03:40] TownWilliam opened #975 "Some questions about the details in the transformer of M4C model."
## ❓ Questions and Help
Transformer is an important module for  fusing the modality feaures in  M4C. It could be found that it is implemented by Bert. The transformer is typically an encoder-decoder structure while the Bert only has encoder layer without decoders. In this project, the encoder-decoder transformer  is  just replace with an encoder that  handles the encoded info and decoded process s

[2021-06-18 11:05] TownWilliam commented on #949
@ronghanghu Thanks a lot!   This details is ignored in M4C Captioner.

By the way, I wonder why does the process of back propagation is normal despite the abnormal when calculating the gradient.
The so huge loss value should influence the gradient in the back propagation. However, it does not.

[2021-06-18 12:42] WesRobbins opened #976 "mmf_interactive command"
## 🐛 Bug

within intreractive.py, ```registry.get("config")``` returns None

## Command

mmf_interactive datasets=textcaps \
    model=m4c_captioner \
    config=projects/m4c_captioner/configs/m4c_captioner/textcaps/defaults.yaml \
    run_type=val \
    checkpoint.resume_zoo=m4c_captioner.textcaps.defaults \
    training.num_workers=0 \
    env.data_dir=/content/drive/MyDrive/data/mmf \
    env.c

[2021-06-18 17:08] ytsheng commented on #975
Hi @TownWilliam thanks for your question,

I am tagging @apsdehal on this since he is an author of the paper, who is better suited to answer this question.

[2021-06-18 17:57] ronghanghu commented on #975
Hi @TownWilliam, the transformer in M4C is a single "prefix LM" architecture that can do both input encoding and output decoding.

Using the prefix LM architecture, a single transformer model can be used for both encoding and decoding. This is described in Figure 4 of the T5 paper (https://arxiv.org/pdf/1910.10683.pdf). Our M4C model can be seen as an instance of prefix LM architecture.

Yes, one

[2021-06-18 18:07] ronghanghu commented on #949
Hi @TownWilliam, the score of `<unk>` token (the token for unknown word) was hard-coded to a dummy value of -1e10. This gives a large gradient only to the `<unk>` score using BinaryCrossEntropy loss. But since the `<unk>` score is a dummy score, it won't get back propagated to the neural network parameters.

(As mentioned above, one can also turn off this behavior by changing https://github.com/fa

[2021-06-19 07:48] ifmaq1 opened #977 "KRISP resource requirement"
## ❓ Questions and Help
Hi,
**1-)**Recently the **Krisp** model has been added for **OKVQA** to MMF. Can you please let me know how much resources does it need including the dataset, external knowledge and model? **In terms of RAM and hardisk.**

**2-)**Also, when I am running command

 **mmf_run config=code/mmf_fork_pr/mmf/projects/krisp/configs/krisp/okvqa/train_val.yaml run_type=train_val datas

[2021-06-20 13:09] TownWilliam commented on #949
@ronghanghu Thanks a lot. You solve my confusion.

[2021-06-21 23:51] ytsheng commented on #976
Hi @WesRobbins, thank you for using mmf.

I have submitted a PR to fix this issue. It is caused by a recent refactor.

[2021-06-21 23:55] ytsheng commented on #977
Hi @ifmaq1, thanks for using mmf,

1. I will defer to @apsdehal as he has more experience on it.
2. No checksum is fine, the download will still happen. The path: `projects/krisp/configs/krisp/okvqa/train_val.yaml` should be the right path to use for this, I do not think we have ever used the prefix: `code/mmf_fork_pr`

[2021-06-22 00:12] apsdehal commented on #977
@KMarino Can you answer 1) in this?

[2021-06-22 01:11] KMarino commented on #977
For disk space, the main constraint is the features file which is about 300Gb if I’m remembering correctly. Everything else is pretty negligible. For RAM, I do not recall off the top of my head, but I don’t remember it having a huge overhead compared to normal mmf models. Let me know if you have RAM issues though

[2021-06-22 01:31] WesRobbins commented on #976
Thank you!

Also more generally, is inference on new images using models with OCR(like M4C) supported?  Or are there any scripts available for generating OCR tokens from images?

[2021-06-22 07:46] jiny419 opened #980 "errors while running krisp code"
## ❓ Questions and Help

Hi !

I am running KRISP project code in mmf.
But I discovered some errors.

1) torch-sparse module is missed in requirements.txt of krisp project.
2) when I installed torch-sparse suitable for cuda version 10.2, I got the error below

2021-06-22T16:32:10 | mmf.utils.configuration: Overriding option config to ./projects/krisp/configs/krisp/okvqa/train_val.yaml
2021-06-22T1

[2021-06-22 16:34] ifmaq1 commented on #977
Thank you for your responses. @KMarino can you please tell me how many **gpus** you used and how long the **training** took.

[2021-06-22 18:04] ytsheng commented on #980
Hi @jiny419, thanks for using mmf,

Do you mind sharing the command you use to run?

[2021-06-22 20:08] KMarino commented on #980
Yes, I didn’t include the pytorch geometric dependencies because they’re system and cuda version dependent. See the installation instructions for pytorch geometric for specific instructions on how to do this on your system.

https://pytorch-geometric.readthedocs.io/en/latest/notes/installation.html

[2021-06-22 20:46] KMarino commented on #977
On a four gpu machine, I think it was around 12-24 hours. May depend a lot on your CPU performance though

[2021-06-23 05:35] jiny419 commented on #980
@ytsheng I runed "mmf_run config=./projects/krisp/configs/krisp/okvqa/train_val.yaml run_type=train_val dataset=okvqa model=krisp"  with proper my project path.
@KMarino I installed the dependencies like torch-sparse and torch-geometric appropriate to my cuda version, but I faced the error above, especially "torch.jit.frontend.NotSupportedError: Compiled functions can't take variable number of arg

[2021-06-23 07:34] ifmaq1 commented on #977
@KMarino thanks for providing information

[2021-06-23 07:34] #977 closed

[2021-06-23 15:21] Dahoas opened #982 "UniT Training Tensor Size Mismatch"
## 🐛 Bug

I am attempting to run training on the UniT single_task model. However I am getting a tensor size mismatch.

## Command

CUDA_VISIBLE_DEVICES=0 python mmf_cli/run.py config=projects/unit/configs/coco/single_task.yaml datasets=detection_coco model=unit run_type=train training.batch_size=8 checkpoint.resume_zoo=unit.coco.single_task

## To Reproduce

This occurs on a fresh clone of the rep

[2021-06-23 16:46] ytsheng commented on #982
Hi @Dahoas, thanks for using mmf.

So in this case UniT expects 1 image per GPU. So if you are using 1 GPU, you may try setting `training.batch_size=1`. Let me know if this helps. Thank you for your detailed write up.

[2021-06-23 17:06] Dahoas commented on #982
Thanks! I tried this previously with batch_size=1 and run into the following memory error:

RuntimeError: CUDA out of memory. Tried to allocate 222.00 MiB (GPU 0; 5.94 GiB total capacity; 4.83 GiB already allocated; 215.50 MiB free; 5.04 GiB reserved in total by PyTorch)

[2021-06-23 17:17] ytsheng commented on #982
Hi @Dahoas,

I am able to successfully kick it off on a 16GB GPU. Could you make sure that there is no other processes taking up memory on that GPU? You can also use a different GPU that is empty for this run.

[2021-06-23 18:44] Mano2610 commented on #810
Hi @apsdehal ,

I have generated the .json file, from the Point 3 in [](https://mmf.sh/docs/projects/m4c) and submitted the .json file in EvalAI, but I am getting the failed result and I could see in Stderr file as follows.

Traceback (most recent call last):
  File "/code/scripts/workers/submission_worker.py", line 452, in run_submission
    submission_metadata=submission_serializer.data,
  File

[2021-06-23 21:29] ronghanghu commented on #810
Hi @Mano2610 Are you submitting to "Test-Standard Phase" in https://eval.ai/web/challenges/challenge-page/874/submission? ("Test-Standard Phase" is the phase for submission, not "Validation Phase").

I just tried submitting my previous M4C predictions [m4c_textvqa_test.json.zip](https://github.com/facebookresearch/mmf/files/6704959/m4c_textvqa_test.json.zip) to https://eval.ai/web/challenges/chall

[2021-06-23 21:39] ChanningPing commented on #980
Could you elaborate the solution for the above conflict? Thank you!

[2021-06-24 07:02] Mano2610 commented on #810
Hi @ronghanghu,

Thank you, it worked. I have generated test file and mistakenly submitted in Val.

Can you please help me with the dataset of 2020 and 2019.

When I try to get the dataset in TextVQA for 2020 and 2019 it's showing that site can't be reached. Kindly help me to resolve this, please.

[2021-06-24 12:21] Noman-Tanveer opened #983 "Evaluation run on UniT gives error for evaluation run"
CUDA_VISIBLE_DEVICES=0 python mmf_cli/run.py     config=projects/unit/configs/coco_vqa2/separate_dec.yaml     datasets=detection_visual_genome,detection_coco     model=unit run_type=val training.batch_size=1 checkpoint.resume_zoo=unit.all_8_datasets.shared_dec_with_coco_init

The process loads data and downloads the checkpoint and everything but when training starts. It gives the following Traceba

[2021-06-24 12:39] Noman-Tanveer commented on #983
I used the wrong command.

[2021-06-24 12:39] #983 closed

[2021-06-24 16:00] ronghanghu commented on #810
@Mano2610 could you let me know the specific errors you encountered when getting TextVQA dataset and paste the error message here?

[2021-06-24 21:53] Mano2610 commented on #810
@ronghanghu , when I try to open the 2020 and 2019 challenge, I'm getting the below error,

This site can’t be reachedCheck if there is a typo in challenge.
DNS_PROBE_FINISHED_NXDOMAIN

[2021-06-24 22:46] ronghanghu commented on #810
@Mano2610 Hi, you can use https://textvqa.org/challenge/2020 and https://textvqa.org/challenge/2019 to access TextVQA challenge in these two years.

@apsdehal I think there's an error in the top navigation bar "challenge" button in https://textvqa.org/. The challenge URLs show up as https://challenge/, https://challenge/2020, and https://challenge/2019

[2021-06-25 07:28] nan1104 opened #985 "zsh: command not found: mmf_run"
## 🐛 Bug
I have finished installation and passing pytest.
But when I want to test the following comand
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val
i meet ”zsh: command not found: mmf_run“
## Command
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=train_val

[2021-06-25 11:34] Noman-Tanveer opened #986 "Running UniT training on a single GPU?"
## ❓ Questions and Help
I'm trying to run UniT training on a single GPU on coco detection dataset:
I tried the following command:

CUDA_VISIBLE_DEVICES=0 python mmf_cli/run.py     config=projects/unit/configs/coco/single_task_without_task_embedding.yaml     datasets=detection_coco     model=unit run_type=train     env.save_dir=./save/unit/coco/single_task     distributed.world_size=1 distributed.p

[2021-06-25 19:58] Mano2610 commented on #810
@ronghanghu , thank you so much.

But I am unable to get the dataset for 2020 and 2019.  I am able to view the challenges for 2020 and 2019. Are there any other datasets for textvqa, other than 2021?

[2021-06-25 20:01] ronghanghu commented on #810
@Mano2610 the TextVQA dataset is the same for each year. You can get the dataset from https://textvqa.org/dataset. The MMF library also allows automatic dataset downloading of TextVQA.

[2021-06-25 20:22] Mano2610 commented on #810
@ronghanghu, Thank you.

Are there any different datasets, other than TextVQA? I am looking for 2 different datasets for my project.

[2021-06-25 22:02] ronghanghu commented on #810
@Mano2610 You might want to try out the ST-VQA dataset (https://rrc.cvc.uab.es/?ch=11&com=downloads). It can also be downloaded automatically in MMF.

[2021-06-28 18:44] Fen9 opened #988 "Unexpected Performance of KRISP"
## ❓ Questions and Help
Dear authors,

Thank you for sharing the code and I really enjoy it. I try to run the KRISP code following all the provided instructions but I found the performance does not match the number that is claimed in the paper. The accuracy that I got is around 31.73% and it seems like it is the performance of the KRISP without the MMBERT pre-trained.

Would you like to share how

[2021-06-28 22:09] Mano2610 commented on #810
@ronghanghu I have submitted the prediction file(test-standard phase), I got a score of 39.84. Can you please confirm, is this the score for the m4c model?

[2021-06-29 00:12] KMarino commented on #988
Do you mean the result with VQA pretraining? Yeah, for that number you have to train on VQA first, that config file is here: https://github.com/facebookresearch/mmf/blob/master/projects/krisp/configs/krisp/vqa2/krisp_pretrain.yaml

[2021-06-29 00:24] KMarino commented on #988
Also, make sure you actually run your final model through evaluation and run the result file through a VQA eval. Because if batching, the eval at the end of training is not necessarily the correct number because it cuts off the end of the eval set.

[2021-06-29 00:27] Fen9 commented on #988
Thank you for reply, and yes, I am referring to the pre-trained of the MMBERT on VQA2.0. If I am understanding it correctly, I first need to use the config you mentioned to train the MMBERT. Then after this training is completed, I use the config that is provided in the README?

[2021-06-29 00:27] KMarino commented on #988
Right

On Mon, Jun 28, 2021 at 7:27 PM Feng Gao ***@***.***> wrote:

[2021-06-29 00:28] Fen9 commented on #988
Thank you very much. I appreciate it. I will come back and close the issue once I got the claimed numbers.

[2021-06-29 00:31] Fen9 commented on #988
BTW, does the pre-training of MMBERT use the knowledge graph?

[2021-06-29 05:12] ronghanghu commented on #810
@Mano2610 This is the correct score for `m4c.textvqa.defaults` (trained on TextVQA only). If you run `m4c.textvqa.with_stvqa` (trained on TextVQA + ST-VQA), you can get slightly higher score above 40.

[2021-06-29 05:12] ronghanghu commented on #810
Closing this issue now. Please re-open if you have further technical question or error

[2021-06-29 05:12] #810 closed

[2021-06-29 18:41] ronghanghu commented on #986
Hi @Noman-Tanveer, the current implementation does not support training on a single GPU yet mostly due to memory contraints. As we use an image size with a short side of 800 pixels, in our experiments, we could only fit 1 image per GPU, and used 64 GPUs (8 machines x 8 GPU per machine) to get a total batch size of 64.

[2021-06-30 07:27] Fen9 commented on #988
Dear authors,

I tried to run the pre-training for the krisp using "mmf_run config=mmf/projects/krisp/configs/krisp/vqa2/krisp_pretrain.yaml dataset=vqa2 model=krisp" but I got stuck at "Loading Model". Do you happen to have any evidence?

Thanks

[2021-06-30 11:43] Noman-Tanveer commented on #986
Thank you for clarifying!

[2021-06-30 11:43] #986 closed

[2021-06-30 12:50] ilmissigno opened #992 "Use MMBT model for feature extraction"
## ❓ Questions and Help
Hi everyone, first of all I congratulate the team for the realization of this fantastic framework. I am using MMBT for my master's thesis regarding Previously Fact-Checking Detection. I would like to know if it is possible to use MMBT to perform Feature Extraction of multimodal features. If so, how can I do it? Thanks a lot to everyone!

[2021-06-30 17:24] Fen9 commented on #988
Just confirm, the command the run the pre-training is "mmf_run config=mmf/projects/krisp/configs/krisp/vqa2/krisp_pretrain.yaml dataset=vqa2 model=krisp"?. It will be stuck at "Loading Model" for half-hour and output the following error:

Do you happen to have any pieces of evidence on it? Thanks.

[2021-06-30 17:47] KMarino commented on #988
Apologies if I'm late on answering you, I'm actually defending my thesis this week.

Yes, so first thing if you aren't doing this already is to run with a batch size of one on CPU only and put a breakpoint right before the error and try to investigate it.

I'm not totally sure why you're getting that particular error either; maybe that field should be called "question_id" rather than "id" but I di

[2021-06-30 17:54] apsdehal commented on #988
Generally, this can happen due to a lot of reasons related to memory. I would suggest running on single GPU by doing `export CUDA_VISIBLE_DEVICES=0` before running the job and adding `training.num_workers=0` at the end of the command to debug the error.

[2021-06-30 18:50] Fen9 commented on #988
Thank you for the quick reply.

After applying @apsdehal's suggestion, a new problem pops up. It seems like it is from the KRISP graph reasoning module.

Traceback (most recent call last):
  File "/home/ubuntu/krisp/venv/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/home/ubuntu/krisp/mmf/mmf_cli/run.py", line 133, in run
    main(

[2021-06-30 19:30] Fen9 commented on #988
@apsdehal , I've tried your suggestion. However, the same bug appears.

[2021-06-30 19:51] Mano2610 commented on #810
@ronghanghu - Can you please confirm the code below to run the STVQA dataset in mmf,

mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=stvqa \
    model=m4c \
    run_type=train

Do I need to change the config as well?

[2021-06-30 19:58] Mano2610 opened #997 "Technical queries - M4C model and datasets"
@Mano2610 You might want to try out the ST-VQA dataset (https://rrc.cvc.uab.es/?ch=11&com=downloads). It can also be downloaded automatically in MMF.

_Originally posted by @ronghanghu in https://github.com/facebookresearch/mmf/issues/810#issuecomment-868855210_

@ronghanghu - Can you please confirm the code below to run the STVQA dataset in mmf,

mmf_run config=projects/m4c/configs/textvqa/defaul

[2021-06-30 23:40] ronghanghu commented on #997
@Mano2610 yes, the config should also be changed to `projects/m4c/configs/stvqa/defaults.yaml` to train M4C on the ST-VQA dataset

[2021-07-01 09:01] sallypannn opened #998 "support for multiple texts"
Hi, I am wondering if MMF already supports multiple texts in each sample? If so, could you please provide an example? Thanks!

[2021-07-01 14:49] CCYChongyanChen opened #999 "Update VizWiz annotations/features"
It seems that the VizWiz dataset released a new version while MMF is using the 2019 version. They have different image naming systems.

Besides, will you adopt some new image features like VinVL?

![image](https://user-images.githubusercontent.com/21120604/124143961-2c937700-da51-11eb-91d9-504f1cf473bd.png)

[2021-07-01 15:41] KMarino commented on #988
Can you provide more debug information? Did you set a pdb set_trace and look at the contents of that dictionary like I suggested above?

[2021-07-01 16:27] ifmaq1 opened #1000 "Grid features that are used in MOVIE+MCAN"
## ❓ Questions and Help
could you please help me out regarding this confusion.

**1-)** I am unable to read/open the whole **.pth file of grid image features**.

**2-)** Unlike **region features** that select top bounding boxes **Grid features** are based upon the image size right?

I checked the tensor size of one **image feature file** which displays [1, 2048, 19, 29]. Does it means we have tota

[2021-07-01 16:30] Fen9 commented on #988
I change line 956 "id" to "question_id". It works. But it needs to be trained for 500h. Is it correct? One more question, could you upload the trained parameters for the full model. Thanks.

[2021-07-01 16:55] KMarino commented on #988
I think that's because the evaluation interval is set too frequently. Try training.evaluation_interval=88000. That should end up at a reasonable training time

[2021-07-01 17:18] ChanningPing commented on #988
I'm also running the visual_bert with VQA 2.0 pretraining, and the ETA is very long. Will the checkpoint of the pretrained visual_bert with VQA-2.0 be released?

[2021-07-01 17:20] KMarino commented on #988
Try the evaluation_interval trick from above

I am working on releasing checkpoints, I just have quite a lot on my plate this week

[2021-07-01 19:38] Fen9 commented on #988
Thanks @KMarino. The training time is now down to 90h. Looking forward to the checkpoints from you.

[2021-07-01 19:42] KMarino commented on #988
Will do my best to get those out as soon as I can.

Maybe @apsdehal has more suggestions about reducing your training time. Mine was FAR lower that that. Make sure you are using all your CPU compute. Also, hopefully you removed training.num_workers=0.

[2021-07-01 19:43] KMarino commented on #988
Also, the estimated time sometimes is wrong for the first few iterations, so it might actually be something more reasonable

[2021-07-01 23:26] aishwaryanr opened #1001 "Pretrained MMBert model for KRISP"
Hi authors,
Would it be possible to provide the pretrained MMBert (VisualBert) checkpoint used in the paper. I started trying to pre-train it on my own- but it is taking a very long time.
It would be really helpful if you can share the checkpoint!

[2021-07-02 16:27] Fen9 commented on #988
@KMarino Thanks for the reply. May I ask what command did you call to pre-train? I tried to specify the value of training.num_workers to a larger number, but it didn't work. It is still very slow.

[2021-07-04 15:58] ChenyuZhang16 commented on #969
@apsdehal Thanks for the help. I've successfully loaded the pre-trained Pythia model using `checkpoint.resume_file`.

[2021-07-04 22:37] ytsheng commented on #985
Hi,  @nan1104, thanks for using mmf,

Could you check to see if you are under a conda environment? Also, it would be useful to share the directory structure you have and which directory you are in?

Thanks

[2021-07-07 03:28] nan1104 commented on #985
Thanks. I find that this is no longer a problem. It may have been my conda environment problem before.

[2021-07-07 03:28] #985 closed

[2021-07-07 10:45] nan1104 opened #1005 "Cannot use mmf/utils/inference.py with existing configs"
## 🐛 Bug

I want to write a inference for my m4c pretrained model  based mmf/utils/inference.py.
However I find a problem, when I run into m4c model's _forward_mmt_and_output function, to realize generate , it relay on self.answer_processor, but this answer_processor was registry under corresponding data builder, so when inference, it is none.
How can I realize generate in inference and don't impo

[2021-07-07 18:06] #992 closed

[2021-07-07 18:25] apsdehal commented on #992
Just in case for future readers, `fused_feature_only` flag in MMBT config can be set to `True` to extract out features only from MMBT. https://github.com/facebookresearch/mmf/blob/master/mmf/models/mmbt.py#L583

[2021-07-07 18:26] apsdehal commented on #998
@sallypannn Hi, can you be more specific on what exactly you mean? Do you mean passing text from two different sources or text which has multiple sentences?

[2021-07-07 18:27] apsdehal commented on #999
Hi @CCYChongyanChen,
Yes, we are aware of this. Would you be willing to add newer version of VizWiz to MMF?

For VinVL features, we don't have any immediate plans but if you are willing, we would be happy to accept a PR for that support.

[2021-07-07 18:29] apsdehal commented on #1000
Hi,
This seems like an issue for grid-features repo rather than MMF.

1) Please open up an issue on grid-features repo.
2) Yes, you should be able to do various kind of poolings on top of the features.
3) Probably yes.

[2021-07-07 18:30] apsdehal commented on #997
Closing as resolved. Please open up a new issue for further inquiries.

[2021-07-07 18:30] #997 closed

[2021-07-07 18:32] apsdehal commented on #1005
Hi,
You can use `mmf.utils.build.build_processors` function to build the processors from M4C config and register them to registry in your inference script. See https://github.com/facebookresearch/mmf/blob/273a56b903d4bcd73467ddaa3605cf147311471d/mmf/models/interfaces/mmbt.py#L41

[2021-07-07 18:33] apsdehal commented on #1001
@KMarino Can you take a look at this?

[2021-07-07 19:30] KMarino commented on #1001
I'm still working on the pre-trained models. Will post here when I have an update

[2021-07-08 07:02] nan1104 commented on #1005
I already add this line.
But inference on m4c.py still can'f find self.answer_processor

[2021-07-08 07:07] nan1104 opened #1007 "Adding custom embedding into model"
## ❓ Questions and Help
I am using m4c model, in mmf, word embedding for ocr tokens are loaded by fasttext model during dataset process.
However, I want to use  custom embedding for ocr tokens (include corresponding vocab and load pretrained embedding) and add this embedding into model and train the embedding together.
How can I achieve this?

[2021-07-08 10:58] ifmaq1 commented on #1000
Thank you for your response

[2021-07-08 10:58] #1000 closed

[2021-07-08 14:01] sallypannn opened #1008 "Model and config for regression"
Hi, I am trying to apply mmbt model to a regression problem. I modified the loss, the metric, and number of output features, but the prediction results vary only a little from each other. May I know if you can provide an example of regression project? Thanks!

[2021-07-08 21:51] ytsheng commented on #1007
Hi @nan1104, thanks for using mmf,

Feel free to subclass our m4c model to achieve the functionality you need. MMF is designed to be customizable and composable. Make sure that you register the subclass of the model, so that in your script to launch training, you can specify the model as subclass name.

[2021-07-08 21:52] ytsheng commented on #1008
HI @sallypannn, thanks for using mmf,

I do not have a regression project in mind, however, do you mind sharing a bit more about your modified loss, metric and output features and sharing a bit what you want to accomplish? Maybe I can help suggest ways which you can use to debug the model.

Thanks

[2021-07-09 19:28] Fen9 commented on #988
@KMarino, thank you for your replys. I've gone through the training and got the number that is closed to the reported number in the paper. I am closing this issue.

[2021-07-09 19:28] #988 closed

[2021-07-10 00:08] apsdehal commented on #1005
@nan1104 You will need to register you answer processor as `textvqa_answer_processor` so that M4C model can pick it up from registry. Check this code to understand what M4C model looks for: https://github.com/facebookresearch/mmf/blob/eef7028c82ee27d5ada9c04e05449ac6682554bd/mmf/models/m4c.py#L161

[2021-07-10 22:44] nmalboubi opened #1010 "Is there a clear cut demo for using the pre-trained M4C Captioner model available on sample images?"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-07-11 05:29] sallypannn commented on #998
@apsdehal Hi I mean a paragraph which has multiple sentences. Is there a limit to length of texts?

[2021-07-11 10:41] nmalboubi commented on #663
@revantteotia were you able to figure out what to do after extracting OCR and image features? Any luck with generating a caption?

[2021-07-11 11:57] revantteotia commented on #663
No luck with generating captions for custom images. However, I wanted to use the encoder part of the M4C architecture for image-text retrieval, so I reimplemented the model and trained it on my custom dataset using the extracted OCR and image features.
I found it easier to reimplement the m4c model than to use the mmf framework.

[2021-07-11 20:27] RishabhMaheshwary commented on #999
Hi @apsdehal, I was planning  to add the new version of VizWiz to MMF using the tutorial [https://mmf.sh/docs/tutorials/dataset](https://mmf.sh/docs/tutorials/dataset), but the page says that the tutorial is outdated. Should i follow the tutorial or are there any other steps?

[2021-07-12 12:41] linxi1158 opened #1011 "compile cphoc.c"
## ❓ Questions and Help
How to compile cphoc.c file?

 ~/Documents/code/mmf-master/mmf/utils/phoc/src  gcc -c -fPIC `python-config --cflags` cphoc.c
cphoc.c:49:53: warning: format string is not a string literal (potentially insecure)
      [-Wformat-security]
            return PyErr_Format(PyExc_RuntimeError, error_msg);
                                                    ^~~~~~~~~
cphoc.c:49:53

[2021-07-12 16:16] nmalboubi commented on #663
@apsdehal I'm able to extract image features using: https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py

And I'm able to extract any words/text in the image through another OCR algorithm which returns each word in a picture, in the form of a list.

Can you shed some more detail on how we need to combine these for inference using the M4C_Captioner? And

[2021-07-12 16:17] apsdehal commented on #663
Assigning to @ronghanghu who can explain this is in more detail.

[2021-07-13 23:42] ytsheng commented on #1010
Hi, @nmalboubi, thanks for considering MMF,

Curious do you have any concrete questions? You mentioned that it is not clear how to use the pretrained model, I can help with any concrete questions you have. But otherwise, I believe that some members of our team are going to share a tutorial publicly soon.

[2021-07-13 23:48] ytsheng commented on #1011
Hi @linxi1158, thanks for using mmf,

Do you mind letting me know what you are trying to do? If you are curious about how to install mmf, please follow the instructions [here](https://mmf.sh/docs/)

[2021-07-13 23:58] nmalboubi commented on #1010
@ytsheng Thank you for the reply and appreciate the follow-up! So I'm using the below to extract image features:

https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py

And I'm using another algorithm to extract text from the image (returns all words in the form of a list). Is there a way to plug these into the pre-trained M4C captioner model to get a c

[2021-07-14 02:17] ytsheng commented on #1010
The code suggests that you need to compute the ocr features. You need to compute the ocr features the same way using the `ocr_token_processor`. Extracting text from the image is not enough here since you'd need the text embeddings.

[2021-07-14 11:09] linxi1158 commented on #1011
Because I want to extract the PHOC features separately, I need to compile the cphoc.c file,[ the source code](https://github.com/lluisgomez/single-shot-str/tree/master/cphoc) can be compiled, but mmf is not

[2021-07-14 16:15] apsdehal commented on #1011
@linxi1158 it would be easier to install MMF and just import and use PhocProcessor directly from it in your project.

[2021-07-15 11:17] CCYChongyanChen commented on #917
![image](https://user-images.githubusercontent.com/21120604/125779354-b92ba72c-1a27-4c06-961f-d47621743e07.png)
![image](https://user-images.githubusercontent.com/21120604/125779361-b073a571-d220-495f-8254-d9a0c0b1142d.png)
![image](https://user-images.githubusercontent.com/21120604/125779372-ccec11ef-16bd-4cc6-a8be-d757b5805aef.png)

Finally got this work...For each image, VilBERT will generate 8

[2021-07-15 11:17] #917 closed

[2021-07-15 11:19] CCYChongyanChen commented on #999
Hi @apsdehal @RishabhMaheshwary
Since @RishabhMaheshwary is working on adding the new version of VizWiz, I am looking into generating VinVL features for the VizWiz dataset.

[2021-07-15 11:20] #884 closed

[2021-07-15 13:34] JayZhu0104 opened #1025 "Error using multi GPUs training"
## ❓ Questions and Help
When I train with a single GPU, it works!
But when I want to use multi GPUs for training, there is a error(batch size, num_ workers have not changed).

Here is the specific cmd line:
`mmf_run config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c run_type=train_val`

Here is the specific log:

`2021-07-15T21:17:40 | INFO | mmf_cli.run : Namespace(confi

[2021-07-15 17:22] apsdehal commented on #917
@CCYChongyanChen if possible can you share the code for future users?

[2021-07-16 05:57] CCYChongyanChen commented on #917
@apsdehal
Definitely.

Step 1:
(1) set `output_all_attention_masks=True` following https://github.com/facebookresearch/mmf/issues/507
![image](https://user-images.githubusercontent.com/21120604/125898458-cb8a6b90-9a0f-4833-aec5-50cda0fe2372.png)

(2) set the visualization==true in the config file following https://github.com/facebookresearch/mmf/issues/507
![image](https://user-images.githubuserco

[2021-07-16 06:20] CCYChongyanChen commented on #145
FYI..
An alternative to the function attention_grid_interpolation(im, att).
Attention_grid_interpolation generates white mask with different opacity.

[code]

[2021-07-17 10:07] nmalboubi commented on #1010
@ytsheng - would you please link that file to me?

[2021-07-17 17:51] ytsheng commented on #1010
https://github.com/facebookresearch/mmf/blob/697da002a43000fd9c9a060ca82f4a16efd7928d/mmf/models/m4c.py#L111

[2021-07-19 16:03] vedanuj commented on #1025
Can you provide your environment details? `python -m torch.utils.collect_env`

[2021-07-20 00:47] nmalboubi commented on #663
@ronghanghu would you have any updates to share?

[2021-07-20 02:19] ronghanghu commented on #663
@nmalboubi Hi, a possible way to run on a custom image dataset is to build them as imdbs and extra their image and OCR features, through the following steps.

Step 1: build imdbs for your dataset following the format of TextCaps training and validation imbs (will be automatically downloaded when running M4C-Captioner on the TextCaps dataset) in `$MMF_DATA_DIR/datasets/textcaps/defaults/annotations

[2021-07-20 09:02] nmalboubi commented on #663
@ronghanghu appreciate the reply on this! I understand steps 2-5, but not sure I understand step 1. How would I create new imdbs for the annotations of my images? And if I'm not training the model, do I need to do this? I'm looking to build an inference job to do the prediction (not looking to do any training). Ideally, I can feed in one picture and receive the caption, so I'm thinking steps 2-5 w

[2021-07-20 15:54] ronghanghu commented on #663
Hi @nmalboubi, for batch prediction, one can create an imdb following the format in `$MMF_DATA_DIR/datasets/textcaps/defaults/annotations/imdb_val_filtered_by_image_id.npy` (where `$MMF_DATA_DIR` is typically `~/.cache/torch/mmf/data` in your machine). This is basically a numpy file that contains a list of annotations, each annotation is an image and relevant information (such as object detection

[2021-07-20 20:46] nmalboubi commented on #663
Thanks @ronghanghu ! Appreciate the quick reply on this. Couple of clarifying questions: I guess how is the imdb file created in steps 3 and 4 different from that in Step 1? I've already completed steps 3 and 4, just not sure how it relates to Step 1?

 For the interactive system, would I also need to complete step 1?

[2021-07-20 23:34] ronghanghu commented on #663
Hi @nmalboubi, for Step 4 (extracting OCR box features), one can use the imdb built in Step 1 as input `--imdb_file` to https://github.com/facebookresearch/mmf/blob/master/projects/m4c/scripts/extract_ocr_frcn_feature.py, which will supply the OCR bounding boxes in https://github.com/facebookresearch/mmf/blob/master/projects/m4c/scripts/extract_ocr_frcn_feature.py#L181-L182. For Step 3 (extracting

[2021-07-21 00:24] nmalboubi commented on #663
@ronghanghu apologies for all the questions. I really appreciate you making the time to answer so quickly. I think I'm getting very close! Although, I think there's a miscommunication. I don't understand what we're building in Step 1, nor is it clear how I can build it. If I'm feeding a new image into the model, how am I supposed to be providing OCR results and features in Step 1? Isn't that what

[2021-07-21 09:03] nmalboubi commented on #663
@ronghanghu apologies for all the questions. I really appreciate you making the time to answer so quickly. I think I'm getting very close! Clarifying question: Would you please explain how to build the imdb file for Step 1 (if it's necessary for doing inference only on a new, unseen image)? Is it as simple as converting the image to a npy array? Thanks again for your assistance through this.

[2021-07-21 17:30] ronghanghu commented on #663
Hi @nmalboubi, the imdb is a numpy file containing the information of all the images you would like to run upon for the TextCaps dataset to load all the image information. (Since you are only doing the inference case, you can just build an imdb for the test set, follow the TextCaps test set imdb `$MMF_DATA_DIR/datasets/textcaps/defaults/annotations/imdb_test_filtered_by_image_id.npy` (where `$MMF_

[2021-07-22 15:11] Sicongzai opened #1028 "AttributeError: scores for making prediction on model=visual_bert using pretrain modal"
## 🐛 Bug

Hi. I would like to make a prediction on both model visual_bert and vilbert using pretrain modal on vqa2's test set. But have meet bugs on both models:

**1.  For Visual_bert**

Traceback (most recent call last):
  File "/usr/local/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/content/mmf/mmf_cli/run.py", line 133, in ru

[2021-07-22 23:38] yingying123321 commented on #1028
Could I ask a question? When we do inference, shoud we download the whole dataset of masked_vqa2 or test dataset?

[2021-07-26 17:12] apsdehal commented on #1028
Hi,
Please use `dataset=vqa2` when making predictions for VQA2.

@yingying123321 Didn't get your question. You will need VQA 2 test dataset to make predictions on VQA 2.0. `masked_vqa2` uses vqa2 dataset but applies masking on it and hence doesn't have `scores` and other attributes in the report.

[2021-07-26 17:36] Fen9 opened #1031 "How to generate the answer vocabulary of KRISP"
## ❓ Questions and Help
Dear authors,

Thank you for sharing the code. After carefully looking into the code, I found the answer vocabulary that KRISP used is much smaller than the one that is extracted from OK-VQA. Do you mind sharing how to generate the vocabulary that KRISP is using? Thanks.

Best
Feng

[2021-07-26 18:55] KMarino commented on #1031
I don’t know what you mean by it being much smaller than the one extracted on OK-VQA, I think it’s about the same as in the original paper.

You can generate by running the answers through
from mmf.utils.text import word_tokenize

And then filtering answers that don’t occur more than 10 times in train.

[2021-07-26 19:13] KMarino commented on #1031
Also, just checked on answer vocab size. It's a size of 2253 versus 3000 in the original OKVQA dataset paper. We did try a lower threshold for KRISP (count 5) but that did slightly worse in our preliminary experiments.

[2021-07-31 05:03] EXUPLOOOOSION opened #1036 "VisualBert Doesn't return attentions"
## 🐛 Bug

the VisualBert model ignores the output_attentions config

## Command

## To Reproduce

Steps to reproduce the behavior:

In a python script:
1. get a configuration with output_attentions = True
2. Initialize and build any VisualBert model (any that uses VisualBertBase)
3. Run an inference (forward) and find out in the ouput that the attention tuple exists but is empty

specifying output

[2021-07-31 13:12] yasminabelhadj opened #1037 "TextVQA"
## ❓ Questions and Help
Hello I am trying to use MMF to predict answers on images. I'd like to implement my own dataset, I tried to do that using the tutorial of adding dataset in the documentation but I always end up with something unclear. Is there any notebook, or example code to get me started? Using M4C model in inference ?

Thanks.

[2021-07-31 19:58] vedanuj commented on #1036
Hello @EXUPLOOOOSION, please feel free to open a PR for this feature. We welcome contributions!

[2021-08-02 04:00] PengY1625 opened #1038 "extracted COCO image features are inconsistent with thoes proviced by the project"
## ❓ Questions and Help
Hi，
I‘m trying to do some experiments on COCO dataset using m4c_captioner model.  By using "detectron.lmdb" that provided by the project, the experiment results perfectly match those in your paper. However, when I use features that were extracted from scratch by myself, Bleu4 drops from 0.34 to 0.31 (using the same seed). I have compared several image features that I extrac

[2021-08-02 15:57] vedanuj commented on #1037
This branch contains an example notebook that shows how to add a dataset : https://github.com/facebookresearch/mmf/blob/notebooks/notebooks/kdd_tutorial.ipynb

Let us know if that helps or you need more information.

[2021-08-03 19:34] ronghanghu commented on #1038
Hi @PengY1625, perhaps there has been come backward-incompatible changes in the feature extraction script. Could you try out the feature extraction script in project/m4c branch (https://github.com/facebookresearch/mmf/blob/project/m4c/pythia/scripts/features/extract_features_vmb.py)? This was what I used for the M4C and M4C-Captioner experiments.

[2021-08-04 21:41] ANarayan opened #1040 "Issue with PyTorch Lightning requirement"
Hi!

I am trying to install the dependencies required for MMF. I attempted to follow the installation instructions [here](https://mmf.sh/docs/) by (1) creating a new conda environment with python3.7 and (2) installing the requirements as follows:

[code]

However, when I attempt this, I see the following message when PyTorch Lightning is attempted to be installed:

[code]

Thanks in advance!

[2021-08-04 21:59] #1040 closed

[2021-08-05 07:31] yasminabelhadj commented on #1037
Hello,

Thank you very much for your responsE. Appreciate it.

I'd like to know how can we generate the ocr tokens from an image ?
Using OCR tesseract API  is the only way I can think of.

Regards.
________________________________
De : Vedanuj Goswami ***@***.***>
Envoyé : lundi 2 août 2021 17:57
À : facebookresearch/mmf ***@***.***>
Cc : BENELHAJ Yasmine ***@***.***>; Author ***@***.***>
Objet :

[2021-08-05 08:42] PengY1625 commented on #1038
Hi, @ronghanghu thank you for your reply. I have tried the script you mentioned above, the extracted features seems different to both those extracted by the former script, and those provided by the project, while still send me nowhere close to score of 0.34 (Bleu4) in experiment. I guess maybe there are other details that I have not got right, could you please help me to get clear of the following

[2021-08-05 17:11] apsdehal commented on #1037
@yasminabelhadj You can try out Google's Cloud Vision API for OCR text extraction.

[2021-08-06 06:44] PengY1625 commented on #1038
@ronghanghu Thank you! I have tried that script and got a Bleu4 score closer to the one reported in your paper.

[2021-08-06 06:44] #1038 closed

[2021-08-06 14:37] yasminabelhadj commented on #1037
Hello,

I am trying to execute the KDD notebook but I always run into this error:

AssertionError: OKVQA requires 2 paths; one to questions and one to annotations

either by using google colab or my own jupyter notebook.

Can you please guide me into correcting it?
When I show the path in  load_annotation_db it is set to : "

['/home/yasmine/.cache/torch/mmf/data/datasets/okvqa/defaults/annotation

[2021-08-08 00:13] aditya1709 commented on #1010
@nmalboubi Were you able to figure out the pipeline to run the captioner on a set of sample images?
If yes would you mind putting the rough pipeline and all things necessary for this?

[2021-08-09 08:17] ifmaq1 opened #1042 "Annotation files used for calculating "bottom-up" features of OKVQA dataset"
## ❓ Questions and Help
The first step of KRISP model before VQA is to calculate **visual features** of OKVQA dataset. For this Bottom-up features are used probably from https://github.com/peteanderson80/bottom-up-attention .

Can you please tell, what **annotation files** are used for calculating the **visual features of OKVQA** dataset?

[2021-08-10 07:53] Gugutse opened #1043 "UNIT coco.single_task checksum of downloaded file does not match the expected checksum"
## ❓ Questions and Help
Hi! Thanks for your work.
I'm trying to start UniT training on all 8 datasets with the initialization from a single-task model trained on COCO -- thus, I add `checkpoint.resume_zoo=unit.coco.single_task` to the training command. Unfortunately, I get a checksum error while downloading unit.coco.single_task.tar.gz:

`Traceback (most recent call last):
  File "mmf_cli/run.py",

[2021-08-11 08:23] nmalboubi commented on #1010
@aditya1709 apologies for the late reply! Unfortunately I was unable to figure out a solution to make this work. Let me know if you're able to find something.

[2021-08-11 17:55] aditya1709 opened #1044 "Lorra colab demo not working anymore?"
## ❓ Questions and Help
I was trying to run the LORRA colab demo from here ->
https://colab.research.google.com/drive/120xCDefxsqAmm7l6uf5nFDx5zr7msA0R?usp=sharing#scrollTo=FOHchoDW7yqa

The pythia imports don't work anymore. I understand that it was superseded by M4c and that pythia is now called MMF?
But is there anyway to make the notebook work or is there a replacement demo for this?

[2021-08-13 22:27] monsterandy commented on #1040
Hi @ANarayan
I'm facing this problem now. Could you tell me how did you solve it?

[2021-08-17 20:02] ANarayan commented on #1040
Hi @monsterandy,
Hope this isn't too late, but I solved it by installing `git-lfs`

[2021-08-17 20:26] monsterandy commented on #1040
Great, thanks!

[2021-08-18 11:56] Mano2610 opened #1047 "Concat Bert with Static Embeddings"
## ❓ Questions and Help
Hi Team,

Kindly help me with how can I concatenate the Bert and GLoVE(or any static) embeddings together. Which part of the code should I need to change in the TextVQA project.
Please help me with the code, since it's urgent.

[2021-08-18 14:48] ronghanghu commented on #1047
Hi, in M4C you can add other kinds of embeddings to https://github.com/facebookresearch/mmf/blob/master/mmf/models/m4c.py#L350. The `txt_inds` here is tokenized by BERT Tokenizer in HuggingFace (build with `BertTokenizer.from_pretrained('bert-base-uncased')` in https://huggingface.co/bert-base-uncased)

[2021-08-18 17:22] Mano2610 commented on #1047
Do we have a separate notebook for TextVQA for clear understandings?

[2021-08-18 20:28] abhinav-bohra commented on #171
Hello @apsdehal, I would like to work on this feature. This will be my first open-source contribution, and it would be fantastic if you could give me some advice on how to proceed.

[2021-08-19 03:28] ria-19 commented on #151
If this issue is open, I would like to work on this.

[2021-08-19 12:28] parthduggal commented on #467
Hi, @vedanuj @apsdehal  any update on this? I'd like to work on this and this could be my first issue

[2021-08-19 16:01] ronghanghu commented on #1047
We don't have a specific notebook for TextVQA with BERT + GloVe embeddings, but it is possible do to so by changing the embedding layers above to add additional inputs.

[2021-08-19 23:17] abhinav-bohra commented on #1036
Hello @vedanuj , I was able to reproduce this error on my local build of MMF. I think I can fix this bug. Should I go ahead and do it?

[2021-08-20 03:04] RishabhMaheshwary opened #1050 "BUTD model on VQA task"
## ❓ Questions and Help
I was trying to train BUTD model on vizwiz dataset but I got the following error:
[code]
I used the following config and command
Config:
[code]

Command:

[code]

It seems like the BUTD model is implemented for captioning tasks and not for VQA task.
How should I train the BUTD model for VQA task?

[2021-08-21 04:01] RishabhMaheshwary opened #1051 "Visual bert training/validation does not terminate at the end"
I fine-tuned ```visual_bert``` on ```vizwiz``` dataset using the command below. The training was successfull, but the execution got stuck after ```Finished run in 08h 17m 11s 680ms```.  I have to explicitly use ```ctrl-c``` to terminate the execution. I  trained the model using 3 GPUs with ```batch_size=60``` . I observed similar behaviour while evaluating the fine-tuned model using ```run_type=va

[2021-08-21 17:23] Shubham-Sahoo commented on #454
@apsdehal I would like to work on this issue. I'm not clear of what to compare inside the SampleList `__eq__` method. Can you give a clarification on this?

[2021-08-21 21:35] shikharmn commented on #392
@apsdehal I would like to work on this. Is there anything apart from this thread that I should know?

[2021-08-23 06:50] srijit2021 commented on #151
I am trying to work on it

[2021-08-23 06:51] apsdehal commented on #151
@ria-19 Are you working on this? If not, can @srijit2021  take over?

[2021-08-23 06:52] apsdehal commented on #392
@shikharmn Thanks for your interest. Not specifically, let me know when you have a PR open and I can review it.

[2021-08-23 06:55] apsdehal commented on #454
@Shubham-Sahoo Hi, thanks for your interest. In general, iterate over the keys, check if the type is tensor and compare them using `torch.equal` otherwise, normally compare them as it is. Let me know if you got the idea.

[2021-08-23 06:57] apsdehal commented on #467
@parthduggal Thanks for your interest. This can be added as a form of iteration strategy. Take a look at https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/iteration_strategies.py

[2021-08-23 06:58] apsdehal commented on #171
@abhinav-bohra This is probably out of scope as of now. If possible would you like to look at https://github.com/facebookresearch/mmf/issues/1044? I can also provide or create new issues as per MMF's requirements if you are not interested in 1044.

[2021-08-23 06:58] #171 closed

[2021-08-23 06:59] apsdehal commented on #1050
Hi @RishabhMaheshwary ,

Yes, BUTD model is not supposed to be used for VQA task. Please instead use Pythia model which is an extension of BUTD but better.

[2021-08-23 07:01] apsdehal commented on #1051
Hi,
As soon as `Finished run` has been printed it is safe to exit the job. My guess is that you are seeing sync issues because of uneven number of GPUs or batch size being not divisible by number of GPUs. I would mark this as closed as it is not technically an issue and something we won't be looking into at priority as of now.

[2021-08-23 07:01] #1051 closed

[2021-08-23 07:02] apsdehal commented on #1031
Closing this as responded.

[2021-08-23 07:02] #1031 closed

[2021-08-23 07:05] apsdehal commented on #1042
@KMarino If you get time can you look into this? My guess is that https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py

[2021-08-23 07:23] Shubham-Sahoo commented on #454
@apsdehal So it is like comparing all the samples in the sampleList with a given tensor. So the `__eq__` method will take an input tensor as well. Please correct me if I'm wrong.

[2021-08-23 07:32] apsdehal commented on #454
@Shubham-Sahoo To understand the purpose of `__eq__` check https://www.pythontutorial.net/python-oop/python-__eq__/. I hope this makes it clear. In case of SampleList `__eq__` method will take in another sample list with which it is being compared to be equal or not.

[2021-08-23 07:46] RishabhMaheshwary commented on #1050
Thanks for the reply!

[2021-08-23 07:46] #1050 closed

[2021-08-23 14:25] ria-19 commented on #151
Yes, just give me today. Thanks!

[2021-08-23 16:58] ria-19 commented on #151
I have created a pull request. Kindly check if that was the intended change.

[2021-08-24 07:54] Ganeshgarladinne commented on #364
im biginer can you help plz

[2021-08-24 13:31] parthduggal commented on #467
@apsdehal , if I'm not wrong, I have to add temperature scaled sampling to the current iteration strategies in the format of the other iteration strategies that you showed in the link?

[2021-08-24 15:44] Priyanshiguptaaa commented on #392
Hi @apsdehal, I would also like to work on this if the whole feature is not made yet. I would be open to collaborating on this if that's okay?

[2021-08-24 15:47] Priyanshiguptaaa commented on #466
Hi @ytsheng, I would like to give this a try. Is there any other information or resources about this feature apart from this thread that I should know about?

[2021-08-24 20:30] saif-sk commented on #567
Hi, I would like to work on this. This will be my first attempt at open source contributing.

[2021-08-24 21:31] AditiThirdEye commented on #454
Hello @apsdehal
Is this issue closed?

[2021-08-25 06:40] Priyanshiguptaaa commented on #466
Hi @vedanuj @ytsheng, I would like to give this a try if the feature is still required to be worked on. If yes, is there any other information or resources apart from this thread that I need to know about?

Thanks!

[2021-08-25 12:10] Shubham-Sahoo commented on #454
@apsdehal Can you review my PR and suggest if any changes are required.

[2021-08-27 14:16] Abhiram4572 opened #1059 "Conceptual Captions Faster R-CNN features"
## ❓ Questions and Help
Hi,
A sincere request.
Since it is very time taking, could you kindly provide the extracted faster R-CNN features for the conceptual captions dataset via drive or dropbox?
Thanks :)

[2021-08-27 17:35] RishabhMaheshwary opened #1061 "Some Questions regarding loss variables and image encoders"
## ❓ Questions and Help
I was training visual_bert on the vizwiz datast. I had some questions.

1. Is the ```train/total_loss``` and the ```train/vizwiz/logit_bce``` the same or different?
2. Also, is the ```val/total_loss``` and ```val/vizwiz/logit_bce``` also same?

Also, I am not aware about image encoders so I wanted to known what is the function of image feature encoders?
Like, in the pythia

[2021-08-28 01:03] apsdehal commented on #1061
Hi @RishabhMaheshwary,

1. Yes. If vizwiz is the only dataset you are using and logit_bce is the only loss you are using, then yes
2. Same as 1.

So, the pipeline for most models is built using image feature encoders. In configuration file, you can them to any of the types that are available and they should work. For example, if you don't want the fc7 layer from fasterRcnn, then you can change tha

[2021-08-28 03:48] RishabhMaheshwary commented on #1061
Thanks for the reply!

[2021-08-28 03:48] #1061 closed

[2021-08-28 14:05] Abhiram4572 commented on #1059
Thanks for prompt response,
Are these Faster R-CNN features?

[2021-08-29 03:19] skanav1999 opened #1062 ","
## 🐛 Bug

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, source):
 - B

[2021-08-29 03:19] skanav1999 commented on #1062
xdc

[2021-08-29 03:20] #1062 closed

[2021-08-29 13:48] ankitasankars commented on #167
Hello, Is this issue still opened?

[2021-08-29 13:58] joshibhaumik commented on #467
Can I work on this issue?

[2021-08-30 15:07] shinobi-AI commented on #467
May i work on this..

[2021-08-30 20:32] vedanuj commented on #467
@shinobi-AI  Since, @parthduggal is already working on this can you check any other issue?

[2021-08-31 03:00] pragyasrivastava0805 commented on #466
Hi @apsdehal I think I can do this. I will have to contribute this as a part of an initial screening for a research intern position. Hope you understand

[2021-08-31 05:55] Farhan-jafri commented on #466
Hi, I want to work on this issue, this is my first contribution, could you please guide me

[2021-08-31 09:30] adwaitdeshpande opened #1066 "Included get absolute path"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-08-31 13:12] yash-gupta01 commented on #86
is this issue still open? If yes then I would like to work on this. I am a beginner in the open-source world and would greatly appreciate if you could help me find my way in this issue.

[2021-08-31 19:07] pragyasrivastava0805 commented on #567
@apsdehal can I generate a PR for this?

[2021-08-31 19:40] pragyasrivastava0805 commented on #567
@apsdehal @vedanuj could you please guide me and tell what exactly needs to be done?

[2021-09-01 03:19] vedanuj commented on #1066
No content in issue.

[2021-09-01 03:19] #1066 closed

[2021-09-01 04:40] ronghanghu commented on #1043
This seems a bit weird -- maybe this could be a network error?

The SHA256 sum for https://dl.fbaipublicfiles.com/mmf/data/models/unit_models/unit.coco.single_task.tar.gz should be `d235fe2d27b47d8f19ce82bea2b1bc6d33151b7c6c1a5558c2a501911b9f4880` as shown in https://github.com/facebookresearch/mmf/blob/master/mmf/configs/zoo/models.yaml#L509.

@Gugutse Could you try downloading this file locally

[2021-09-06 05:22] Shubham-Sahoo commented on #454
@apsdehal I have pushed the changes.

[2021-09-09 05:52] CherryNita opened #1082 "Error Message Machine Learning code"
I am getting following error message in machine learning code:

UnicodeDecodeError: 'ascii' codec can't decode byte 0xac in position 6: ordinal not in range(128)

[2021-09-10 00:29] itsmedeepak opened #1084 "Installation link isn't working: readme.md(file)"
On clicking on Installation link, it's redirected to the  https://mmf.sh/docs/getting_started/installation, its showing page not found.
for more visits

https://mmf.sh/docs/getting_started/installation (its also showing page not found).

[2021-09-10 00:53] itsmedeepak commented on #1084
I'm working on it.

[2021-09-10 22:13] itsmedeepak commented on #1084
PR is created

[2021-09-14 08:53] LeungWaiHo commented on #946
I have similar problems but indicates ModuleNotFoundError: No module named 'transformers'
Do you find the solution? Thanks

[2021-09-14 17:01] apsdehal commented on #946
@LeungWaiHo can you try install MMF properly following the instructions in the docs? It looks like you are missing the transformers package which should have been installed with MMF dependencies.

[2021-09-14 19:34] apsdehal commented on #1082
Hi. Thanks for using MMF.

Can you please be more specific on your issue and follow the issue template for bugs.

[2021-09-15 00:46] LeungWaiHo commented on #946
I have re-installed MMF according to the installation docs but it showed 'ModuleNotFoundError: No module named 'transformers'' again. I try python, import transformers and print(transformers.__version__) in mmf virtual environment and it can show '3.4.0'.

[2021-09-15 02:07] CongDJJ opened #1089 "use BUTD"
## ❓ Questions and Help
1、How do I start using the BUTD model for the first time after I have setup the environment according to the documentation
（I can't find the corresponding run file）

2、Has anyone reproduced the BUTD paper?That's what I want to do。
（Maybe,you can help me ,thanks ）

[2021-09-15 06:56] TopCoder2K opened #1090 "KeyError raised while resolving interpolation: "Environment variable 'USER' not found""
## ❓ Questions and Help
Hello everyone!
I encountered a strange error when tried to run
`mmf_predict config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa \
    model=m4c \
    run_type=test \
    checkpoint.resume_zoo=m4c.textvqa.defaults`
The error is
[code]

I don't understand why 'USER' was not found... Do you have any ideas how to fix it?
I'm using Google Colab, and I insta

[2021-09-15 16:44] Pxtri2156 opened #1092 "How to train M4C on InforgrahicVQA ?"
## ❓ Questions and Help
Hi, everyone. I would like to train M4C on [InforgraphicVQA](https://arxiv.org/abs/2104.12756). However, I don't know what to build a dataset class for InforgraphicVQA. Moreover, I wonder if  I need to modify any configuration for training?  I have read the the guide line at [here](https://mmf.sh/docs), but I still do not understand how to train M4C on new datasets. Thereor

[2021-09-16 06:41] CherryNita commented on #1082
TypeError: __init__() got an unexpected keyword argument 'n'

[2021-09-17 03:05] Pxtri2156 commented on #1037
I am trying to run this notebook. But I meet a error:
[code]
Can you do me a favor?
Thanks very much

[2021-09-17 04:50] Pxtri2156 commented on #1037
Why you need to git checkout ?
`!git checkout 95e89ee`

[2021-09-20 11:36] shwetkm commented on #1090
@TopCoder2K I was having the same issue on Colab.
Runnig this before mmf_run command resolved the issue:
[code]

[2021-09-22 08:15] Pxtri2156 commented on #663
@ronghanghu  I am trying to extract OCR boxes features on the TextVQA dataset. I used annotations of the authors and `extract_ocr_frcn_feature.py` to extract features. But I same this error below:
[code]
Can you help me?
Thank you very much.

[2021-09-22 13:37] harshraj22 opened #1105 "Image Region Features"
## ❓ Questions and Help
Hello, I would like to use the repo's code, which extracts the image's region features (as bottom up attention) in my personal project. I would like to add it to my architecture such that it is end to end trainable. Can someone guide me which file/ class to take ?

I went through the [official documentation](https://mmf.sh/docs/tutorials/image_feature_extraction), but it se

[2021-09-22 20:57] ronghanghu commented on #663
Hi @Pxtri2156, for this feature extraction, it is necessary to install `vqa-maskrcnn-benchmark` from https://github.com/ronghanghu/vqa-maskrcnn-benchmark-m4c to extract features from a specific bounding box.

[2021-09-24 07:41] soon22 opened #1108 "Failed pytest"
## ❓ Questions and Help
Hi, I ran `pytest` after installation and encountered failure on this two part.
Appreciate it if anyone can look into it, thanks
[code]

Full error log:
https://github.com/soon22/logs/blob/main/mmf_pytest_failure

[2021-09-26 03:56] soon22 opened #1110 "Train M4C on TextVQA using 2 GPUs, but the generated config.yaml says 1"
## ❓ Questions and Help
Hi, I trained M4C using following commands. In both settings, the generated config.yaml mentions only 1 GPU was used. However, when I ran `nvidia-smi`, it's shown that the program ran on both GPU.
May I know does it actually used both GPUs during training ?
I used `number of workers = 0`. Does this affects the number of GPUs used ?
Commands:
[code]
and
[code]
config.yaml
[c

[2021-09-26 04:17] soon22 commented on #1110
I change the ```number of workers```. It doesn't seem to change the number of GPU in config.yaml

[2021-09-27 17:06] Ryan-Qiyu-Jiang commented on #1108
Hi thanks for bringing this up!
It seems like the MM-IMDB download links are down.
Will make a pr to use https://archive.org/download/mmimdb/mmimdb.tar.gz
Otherwise if thats the only error you got from pytest your installation should be good!

[2021-09-27 19:11] Ryan-Qiyu-Jiang commented on #1090
Hi seems like exporting the env variable resolves this issue, going to close it!
Feel free to reopen if it's unresolved.

[2021-09-27 19:11] #1090 closed

[2021-09-28 18:23] apsdehal commented on #1110
Hi,
Please ignore the config under trainer which is for lightning integration which is not stable yet. For your use case, check the config under `distributed.world_size` to understand how many GPUs MMF is using.

[2021-09-28 18:23] apsdehal commented on #1092
@ronghanghu Can you help out here? Maybe point to your older comments on how to do this?

[2021-09-28 18:52] ronghanghu commented on #1092
Hi, one can run M4C on other datasets by building these datasets into imdbs and extracting their objects and OCR features. Basically, other datasets can be used by making them into similar formats as the TextVQA dataset. One can follow the steps in https://github.com/facebookresearch/mmf/issues/663#issuecomment-883000371.

[2021-09-29 07:11] Pxtri2156 commented on #1092
@apsdehal @ronghanghu  I really appreciate you. I trained  M4C on InforgraphicVQA by following the steps in #663.

[2021-09-29 07:11] #1092 closed

[2021-09-29 18:50] ebsmothers commented on #1089
You can try something like

[code]

to train BUTD on the COCO dataset.

BUTD config is [here](https://github.com/facebookresearch/mmf/blob/master/mmf/configs/models/butd/defaults.yaml)
The actual run file for MMF is found [here](https://github.com/facebookresearch/mmf/blob/master/mmf_cli/run.py)

If you haven't already, you may also want to check out [this page](https://mmf.sh/docs/projects/butd)

[2021-09-30 16:03] Ryan-Qiyu-Jiang commented on #1108
PR for zoo_urls merged https://github.com/facebookresearch/mmf/commit/842c4d18ac8ee62a879fdb25ff75e91706a5d187

[2021-09-30 16:03] #1108 closed

[2021-10-01 13:20] soon22 commented on #1092
@ronghanghu Hi, is there a script to generate vocab file such as `fixed_answer_vocab_textvqa_5k.text` for TextVQA?

[2021-10-04 17:04] ronghanghu commented on #1092
Hi @soon22, I don't have a specific script to generate this vocab file, but it is basically tokenizing all the answers in the TextVQA dataset with a simple tokenizer and take the most frequent 5000 tokens, using the following tokenizer: https://github.com/facebookresearch/mmf/blob/3947693aafcc9cc2a16d7c1c5e1479bf0f88ed4b/mmf/utils/text.py#L64-L79

[2021-10-05 02:31] #1110 closed

[2021-10-05 06:45] wscffaa commented on #946
I encountered the same problem as you, do you have a solution?thanks

[2021-10-05 16:14] soon22 commented on #1092
@ronghanghu Thanks for the response.
@Pxtri2156 Hi,
I would like to ask what PyTorch version and CUDA version you use to install `mmf` and `maskrcnn-benchmark`.
 I am trying to extract image features with https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py. I have installed `maskrcnn-benchmark`. I noticed when running `extract_features_vmb.py`, need t

[2021-10-05 16:37] soon22 commented on #663
@nmalboubi
Hi,
may you share what version of Python, CUDA and PyTorch you use to install `maskrcnn-benchmark` and `mmf` ?

I want to extract image features with:

https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py

But unable to get the libraries to work together

[2021-10-06 15:06] soon22 opened #1116 "Error when trying to add new images to TextVQA"
## ❓ Questions and Help

Hi, I am trying to add new images for M4C TextVQA according to [issue 663](https://github.com/facebookresearch/mmf/issues/663). I started out by trying on 10 images of TextVQA download from the website. When I ran the code, there's following error.
I noticed there is similar errors for Windows machine, tried that fix, didn't work.

My extracted features are saved in a dire

[2021-10-08 16:25] soonchangAI opened #1117 "How to get object bounding boxes for TextVQA"
## ❓ Questions and Help
Hi, according to paper, 100 top scored objects were obtained per image. I found the bounding boxes were given in ``` obj_normalized_boxes```
I would like to use new images.
Is there script to generate these bounding boxes?
Thanks.

[2021-10-08 17:00] apsdehal commented on #1117
Hi.

These have been extracted using the tutorial here: https://mmf.sh/docs/tutorials/image_feature_extraction. For lmdb, we have a tool in MMF: https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/lmdb_conversion.py

[2021-10-09 06:48] soon22 commented on #1117
@apsdehal thanks 🤣🙏

[2021-10-09 06:48] #1117 closed, assigned to nobody

[2021-10-11 10:45] ayulockin opened #1118 "Why plan to make MMF's config readonly in future?"
## ❓ Questions and Help

I was going through the [docs](https://mmf.sh/docs/notes/configuration) on Configuration and found out this line:

```MMF's config currently is by default in struct mode and we plan to make it readonly in future.```

Why is the plan to move to readonly? What difference will it make while using MMF?

Apologies if this has been asked in the past or if I am missing any info.

[2021-10-13 05:02] versipellis opened #1119 "Exit Status 1 Error during Install"
Tried all the different methods to do an install, not sure if this is erroring because I have multiple users with Python installed, or if it's a Python 2.7 issue - anyone know?

[code]

[2021-10-13 05:10] versipellis commented on #1119
Nevermind, PEBKAC - I didn't spot that it was trying to install with Python 2.7. Sorry!

[2021-10-22 12:17] PamelaDDD opened #1131 "How to download the OKVQA 1.0 dataset"
## ❓ Questions and Help
Hi sir！ Thank you for publishing the okvqa data set. I can only find the v1.1 version of the data set on the official website[https://okvqa.allenai.org/download.html], but I did not find the download link of the v1.0 dataset. Would you please provide the download link of the v1.0 dataset? Thank you very much! Looking forward to your reply!

Best Regards!

[2021-10-22 21:19] Usama-zia opened #1134 "Pretraining Visual_bert on vqa2"
## ❓ Questions and Help
Hi,
I am trying to pretrain visual_bert on vqa by following these steps described in the image below but I am getting an error about checksum.
`AssertionError: [ Checksum for visual_bert.pretrained.coco_train_val.tar.gz from
https://dl.fbaipublicfiles.com/mmf/data/models/visual_bert/visual_bert.pretrained.coco_train_val.tar.gz
does not match the expected checksum. Please tr

[2021-10-26 09:19] ayulockin opened #1135 "Small dataset for quick testing"
## ❓ Questions and Help

Is there any tiny dataset that can be used to test changes made to the library quickly? Any recommendation would work. If there aren't can you point me to any resource using which I can create a tiny dataset (for example tiny TextVQA) or any suggestion in general?

Thanks in advance.

[2021-10-28 02:22] #1118 closed, assigned to nobody

[2021-10-28 02:22] #1134 closed, assigned to nobody

[2021-10-29 07:22] #1135 closed, assigned to nobody

[2021-10-29 18:42] Usama-zia commented on #946
I solved this by doing `pip install pytest` inside conda environment. Then run the `pytest .\tests` and it will work.

[2021-11-01 23:43] ayulockin opened #1140 "How to get image/text tensor?"
## ❓ Questions and Help

Apologies if this is already covered somewhere or I am missing something, but I am unsure about how and where the actual image and text tensors are given to the model as input.

## Context

I am trying to build a model prediction visualizer using W&B Tables. I have noticed that in the `default.yaml` file if I do `evaluation.predict=True`, it will write a `.json/.csv` file

[2021-11-12 14:33] sanggusti opened #1145 "A [page](https://mmf.sh/docs/tutorials/metrics) had a monochromatic codeblock. Not standardized like another pages."
## 🐛 Bug

It's about the codeblock documentation in this [page](https://mmf.sh/docs/tutorials/metrics) where it's codeblock don't have color pallete

## Expected behavior

Codeblock standardized and have color pallete on the code like another pages.

[2021-11-16 11:48] DevSheth opened #1147 "Not able to reproduce vilbert validation accuracy on vqa2 after feature extraction"
## ❓ Questions and Help
Hey I am trying to reproduce the results of vilbert on the vqa2 dataset. I first ran the command
[code]
for which I got the following output:
[code]

But then in order to sanity check the feature extraction I downloaded the coco val 2014 image set and then extracted features using the command - `python extract_features_vmb.py --model_name=X-101 --image_dir=datasets/vqa2/san

[2021-11-16 16:31] mkhoshle opened #1148 "Question about Query Embedding"
Hi,

I have two questions regarding the architecture of your model.
1. In the paper `UniT: Multimodal Multitask Learning with a Unified Transformer` it is mentioned the input to the decoder involves a task-specific query embedding. However, I could not find this in the paper that how the task-specific query embedding is obtained. Could you please help me understand how we are supposed to calculate

[2021-11-22 05:12] lvyiwei1 opened #1153 "Unable to load pretrained visual_bert for hateful memes"
If I try to load the pretrained visual_bert model for hateful memes using:

`from mmf.common.registry import registry`
`model_cls = registry.get_model_class("visual_bert")`
`model = model_cls.from_pretrained("visual_bert.finetuned.hateful_memes.direct")`

I will get the following error:

`omegaconf.errors.ConfigAttributeError: Missing key zerobias`
    `full_key: model_config.visual_bert.zerobias`

[2021-11-29 13:48] TownWilliam commented on #1105
Hello, it seems that the python scripts extracting the features is in the location  : **mmf/tools/scripts/features/extract_features_vmb.py**.

This script provides several params and Resnet checkpoint files to get the wanted features results. It could covert the original image files into corresponding region features.

![image](https://user-images.githubusercontent.com/49356039/143879084-5a0e8138-

[2021-11-29 14:21] TownWilliam commented on #1140
Hello. The image inputs in the model are usually several features tensors but images tensors. When the model is training or testing, it has nothing about the image itself. The image file could be downloaded in its datasets website.

In the past, I wrote a simple checking and finding program to find the corresponding image_id in the image files. This looks a little toilsome but is a method.

For th

[2021-12-02 02:48] Mike4Ellis commented on #883
Has this problem been solved?

[2021-12-03 09:21] dulvqingyunLT opened #1166 "why gpu utility very low"
## ❓ Questions and Help
When I finetune model visual-bert on GPU A10(only one gpu), the gpu utility is very low, and i use pytorch profiler founding that 60% of training time is consumed by DataLoader.

the command is:
mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=vqa2 \
    model=visual_bert \
    run_type=train_val

details of defualts.yaml as follows:

model_config:

[2021-12-07 12:40] Mike4Ellis opened #1168 "bash: mmf_run: command not found"
## ❓ Questions and Help

I install MMF following the installation guide in the documentation, but when I try to train MoViE+MCAN by following instructions in the root directory of mmf project:
`mmf_run config=projects/movie_mcan/configs/vqa2/defaults.yaml model=movie_mcan dataset=vqa2 run_type=train`

I got this:
`bash: mmf_run: command not found`

How can I fix this?

[2021-12-07 17:49] rak55 opened #1169 "Fine-tuning VisualBert for datasets other than hatedetection"
## ❓ Questions and Help
Can anyone give a detailed example on how to fine-tune visualbert for other meme classification datasets?

[2021-12-10 19:42] siddharthabhakta opened #1172 "MMF"

[2021-12-10 19:44] siddharthabhakta commented on #1172
I tried to create a new model following the guideline in
Tutorial: [Adding a model - Concat BERT | MMF 2](https://mmf.sh/docs/tutorials/concat_bert_tutorial/)
but I am always getting below error. Please guide me how to resolve it. I have given further details below.

------command—
!mmf_run config=projects/hateful_memes/configs/concat_bert_tutorial/defaults.yaml \

model=concat_bert_tutorial \

da

[2021-12-10 20:34] apsdehal commented on #1172
Confirmed on a separate thread that author is running this on colab. So, that is why it is not picking it up. You will not use from mmf_cli.run import run to run MMF in colab. The problem is mmf_run is a binary and is not aware of the changes you made in your interactive environment and hence not able to find the changes. See Running the experiment section in this notebook: Google Colab

[2021-12-10 20:37] apsdehal commented on #1168
Can you provide exact steps on how you installed MMF?

[2021-12-10 20:38] apsdehal commented on #1166
Try decreasing your num_workers. It might be too many for a single GPU which means most of the time is spent loading the data.

[2021-12-12 03:36] Maxsparrow opened #1174 "UNITER pretrained checkpoint missing config"
## 🐛 Bug

Following the instructions in #1144 by @Ryan-Qiyu-Jiang, I attempted to run [the command to fine tune UNITER on VQA2](https://github.com/facebookresearch/mmf/pull/1144/files#diff-398212176c0ba4cf66fe74bd0d283c2d7034afa126bdbfdac4e5c6f782aea477R34), but it appears to be missing the necessary config.

Also, the uniter.pretrained.tar.gz file appears to contain an invalid folder path, but I

[2021-12-12 14:24] Ryan-Qiyu-Jiang commented on #1174
Thanks Max, you're right will fix this!

[2021-12-13 06:31] dulvqingyunLT commented on #1166
Thanks, I tried to set num_workers to 1, but the problem remained. When I try other model such as visual-bert using the default config, I encounter the same problem.

[2021-12-13 17:49] Ryan-Qiyu-Jiang commented on #1174
Hey an update!
Made pr to fix https://github.com/facebookresearch/mmf/pull/1175
In the meanwhile,
if you delete your current download dir `~/.cache/torch/mmf/data/models/uniter.pretrained/`
and comment out the checksum from the model zoo config for UNITER
and try to re-download I expect the config issue should be resolved.

Btw, the UNITER checkpoints were pretrained on BUTD features on CC/SBU whi

[2021-12-16 22:57] mohamadhabash commented on #404
Hi @ravising-h,
I have a similar multi-label task of yours and I'm trying to use VisualBERT, can you tell me how you used it?
Thanks.

[2021-12-27 12:21] Vaishnvee-Shinde commented on #678
Hey @apsdehal
I want to work on this issue. I observed that this issue is still there and there is a get_absolute_path function available in the code. Can I work on this issue?

[2022-01-01 12:08] soonchangAI opened #1180 "Modifying the Transformer layers in M4C model"
## ❓ Questions and Help
Hi, I want to change the fixed dimensions of Transformer layers for Multi-modal Transformer (MMT) of M4C.
For example, layer 0 dimension = 100, layer 1 dimension = 300, layer 2 dimension = 200.
How can I do this ?

[2022-01-01 18:47] shwetkm opened #1181 "How to downsample a dataset in MMF?"
I am working on TextVQA data, but for experimentation, I want to downsample the data. Can we downsample an existing dataset in MMF? If not, then do we need to subsample the data and add/register data on MMF as mentioned [here](https://mmf.sh/docs/tutorials/dataset/)? Is there any simpler way ?

[2022-01-04 13:46] pree-T commented on #151
Is this issue still open? I would like to work on this.

[2022-01-06 14:32] #1180 closed

[2022-01-10 06:35] chenhaoenen opened #1182 "how to run it with python script?"
## ❓ Questions and Help
![image](https://user-images.githubusercontent.com/49124360/148725881-1a880288-fbd5-479d-bc69-07db637a98ee.png)

base on image, I run it using the script below

`from mmf_cli.run import run
opts = [
        "config=projects/m4c/configs/textvqa/defaults.yaml",
        "model=m4c",
        "dataset=textvqa",
        "run_type=train_val",
]
run(opts)
`

But the errors I get ar

[2022-01-13 01:57] leonodelee commented on #1117
Sorry to interrupt, I want to extract image features for  Pythia framework, as in /data/open_images/detectron_fix_100/fc6;I wonder what should I do if I got only 66 bounding boxes, less than the normal 100.

[2022-01-13 02:26] leonodelee opened #1184 "**RuntimeError: Cannot re-initialize CUDA in forked subprocess.**"
## ❓ Questions and Help
**RuntimeError: Cannot re-initialize CUDA in forked subprocess.**
I extract features of TextVQA and put it in /data/open_images/detectron_fix_100/fc6, as in the format of Pythia; And got th problem above.
I found I got some features whose bounding boxes are less than 100, i.e. 66. What I should do to fix this problem?

[2022-01-13 03:10] ruinianxu opened #1185 "Example for training cnn_lstm model"
## ❓ Questions and Help
I wonder if there is an example for training cnn_lstm model on some dataset, e.g., vqa. I want to figure out how I should write configuration files. Thanks in advance for any hints.

[2022-01-20 17:38] Mayor2305 opened #1189 "ValueError: transformers.models.auto.__spec__ is None"
after running this command: mmf_convert_hm --zip_file=/home/jyotiradityamayor/Desktop/hateful_memes.zip --password=y --bypass_checksum=1

I have been getting value error.

log:

Traceback (most recent call last):
  File "/home/jyotiradityamayor/.local/bin/mmf_convert_hm", line 5, in <module>
    from mmf_cli.hm_convert import main
  File "/home/jyotiradityamayor/.local/lib/python3.8/site-packages/

[2022-01-23 16:53] #1185 closed

[2022-01-24 11:20] Borda opened #1190 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-24 12:48] BrandonHanx commented on #1189
This may be useful https://github.com/PyTorchLightning/pytorch-lightning/issues/11524

[2022-01-27 07:51] vaish-muk commented on #467
take

[2022-01-27 08:33] vaish-muk commented on #454
Hi @apsdehal is the issue still open? can I take it up?

[2022-01-28 20:34] Mayor2305 commented on #475
Hello,

I was trying this notebook but after running the last cell (code below) of building the dataset section:

from mmf.utils.build import build_dataset
from mmf.utils.configuration import Configuration

# Init configuration to register resolvers
Configuration()
dataset = build_dataset("okvqa_colab", dataset_type="val")
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (20, 20)
d

[2022-02-01 20:28] coglmn opened #1193 "_torchaudio.so: undefined symbol error in Google colab"
Hello,

I'm trying to train MMF / M4C model on Google Colab. All the required packages are installed and setups are performed, as per the KDD notebook (https://github.com/facebookresearch/mmf/blob/notebooks/notebooks/kdd_tutorial.ipynb). When running mmf_run to train a textvqa model, though, face the following issue:

mmf_run config=projects/m4c/configs/textvqa/defaults.yaml \
    datasets=textvqa

[2022-02-04 09:35] WannaGetDSJobInSanFrancisco commented on #1189
Met the same error, in my case when trying to reproduce [UniT tutorial](https://mmf.sh/docs/projects/unit/).
@BrandonHanx 's solution worked for me, and then `no module named future` popped up, and then [this page](https://stackoverflow.com/questions/49353905/no-module-named-future) resolved my problem.

[2022-02-04 15:00] WannaGetDSJobInSanFrancisco commented on #30
Met the same issue for Flickr30. I guess this google drive link does not work any more?
- https://drive.google.com/uc?export=download&id=0B_PL6p-5reUAZEM4MmRQQ2VVSlk
[code]

[2022-02-07 11:17] WannaGetDSJobInSanFrancisco opened #1194 "Train UniT with dataset other than 8 datasets specified in tutorial"
## ❓ Questions and Help
### Question
- To test if I can train UniT with dataset other than 8 datasets specified in tutorial or not, I added hateful_memes following your [guidance](https://github.com/facebookresearch/mmf/tree/main/projects/hateful_memes).
- Then tried to run the training script (see code block `A` ) with small modification over config file (see code block `B` ), resulted in `Config

[2022-02-10 03:04] Miles-Ma opened #1197 "Redundant forward codes in ViLT model"
In `mmf/models/vilt.py: L158~L164`, text embedding and image embedding are concatenated and feed forward through the encoder to get hidden states. However, exactly the sample process is done in `L276~L282`, which is called in `L155`. So the inputs are forwarded twice actually.
Expected behavior: remove redundant forward codes.

[2022-02-10 03:06] Miles-Ma commented on #1197
I suppose this will not affect model results, but it looks messy

[2022-02-10 13:21] sarthak-sg opened #1198 "Please read & provide the following information"
size mismatch for linear_ocr_feat_to_mmt_in.weight: copying a param with shape torch.Size([768, 3002]) from checkpoint, the shape in current model is torch.Size([768, 3464]).
Also I have implemented fisher vectors over phoc features by modifying the code in pythia/utils/phoc/build_phoc.py and after that I was getting the feature dimension to be (38400, ) whereas the previous dimension was (604, )

[2022-02-10 13:24] sarthak-sg opened #1199 "Fisher vector implementation over phoc features"
size mismatch for linear_ocr_feat_to_mmt_in.weight: copying a param with shape torch.Size([768, 3002]) from checkpoint, the shape in current model is torch.Size([768, 3464]).
Also I have implemented fisher vectors over phoc features by modifying the code in pythia/utils/phoc/build_phoc.py and after that I was getting the feature dimension to be (38400, ) whereas the previous dimension was (604, )

[2022-02-12 07:02] WannaGetDSJobInSanFrancisco commented on #917
FYI for some other models #1052 looks useful for exporting attention weights. Checked with mmbt and visual bert.

[2022-02-13 06:47] wangjf8090 opened #1200 "An error warning for persistent_workers=False and num_workers = 0"
## 🐛 Bug

when set the params as follow

num_workers = 0
persistent_workers=False

got a warning :   "persistent_workers cannot be used together with num_workers == 0; setting persistent_workers to False"

I found that line 305 has an extra comma causing a false warning in file mmf/mmf/utils/build.py

[2022-03-03 08:44] deepshikharbhardwaj opened #1205 "URGENT : How to change embedding from fasttext to another embedding type ( user-defined ) in M4C for TextVQA?"
## ❓ Questions and Help
I need help regarding changing the fasttext embedding used in the OCR tokens with some other type of embedding. (user - defined embedding).

[2022-03-03 11:37] deepshikharbhardwaj opened #1206 "URGENT : How to work with Truncated Data of TextVQA ( cannot run on Google Colab) as data gets downloaded in cache file."
## ❓ Questions and Help
I want to work on small dataset of textvqa as i dont want to work on entire dataset.

[2022-03-05 00:04] ziyanyang opened #1208 "Which model is used to get trainval2014.lmdb?"
## ❓ Questions and Help
Hi,

I have a question about the visual bert code. If I want to evaluate some tasks using VisualBert pre-trained on COCO, I guess I need to reuse the features from trainval2014.lmdb. But If I want to get these features for a new image, which file should I focus on? I saw https://github.com/facebookresearch/mmf/blob/main/tools/scripts/features/frcnn/extract_features_frcnn.py

[2022-03-05 11:34] deepshikharbhardwaj commented on #1181
++

[2022-03-06 14:53] abhinavkcs11 commented on #68
@goyalsaransh97 can you share the exact command to for training?

[2022-03-12 00:49] priyamtejaswin opened #1209 "Unable to install using instructions from the docs."
MMF installation fails on Linux (python 3.7) because of `demjson==2.2.4` dependency. Stacktrace below.
As a side note, I was working with other projects which required `demjson==2.2.4`, which is incompatible with py3.7 because the `use_2to3` in `setuptools` fails. The only option (as suggested by the demjson devs and users) was to move to `demjson3`.

Any ideas on how to install MMF will be helpfu

[2022-03-12 08:31] StanLei52 opened #1211 "Questions about GQA feature and visual_genome feature"
## ❓ Questions and Help
Hi, I have a question related to the features of some of the dataset. I downloaded features of GQA and Visual Genome from MMF. Since GQA and VG have the same source of images, the yielded features should be the same if the object detector for feature extraction is the same. However when i check the downloaded feature, i noticed that there exists some differences:
[code]

I

[2022-03-18 07:04] shufangxun commented on #30
have  you solved this problem?

[2022-03-18 07:42] priyamtejaswin commented on #1209
Hello. This is resolved. There was an issue with my Git. Version `2.7` was not able to execute the `submodule` installation correctly. Updating Git to `2.23.0` or higher works, and mmf install successfully.

[2022-03-18 07:42] #1209 closed

[2022-03-22 03:22] StanLei52 opened #1213 "M4C TextVQA bbox information in annotation_db and feature_db inconsistent?"
## ❓ Questions and Help

Thank you for the wonderful MMF!  I have a question related to the TextVQA annotation and extracted features used in M4C. I noticed that in M4C-dataset, it used features in `textvqa/defaults/features/open_images/detectron.lmdb` and bbox info (normalized box) in `textvqa/defaults/annotations/imdb_train_ocr_en.npy`. However, the bbox info in `detectron.lmdb` seems to be diff

[2022-03-22 05:14] StanLei52 commented on #1213
@ronghanghu

[2022-03-22 05:35] ronghanghu commented on #1213
Hi, I think this is because we later switched from lmdb from Detectron (Caffe2) features to lmdb from `maskrcnn-benchmark` features. We found that this change slightly boosts the TextVQA and TextCaps scores, but it might have introduced the bounding box discrepancy as you mentioned.

If you would like to use the exact features from Caffe2 (which is used in LoRRA and M4C papers), they can be downlo

[2022-03-22 05:54] StanLei52 commented on #1213
Thank you for your reply @ronghanghu.

So `obj_normalized_boxes` in `imdb_train_ocr_en.npy` is from detectron (caffe) and `bbox` in `detectron.lmdb` is from `maskrcnn-benchmark`, is it correct? Since the features and `bbox` in the same `detectron.lmdb` is consistent, can we calculate the `obj_normalized_boxes` using `bbox` and its image width and height by:
[code]
instead of using normalized bbox

[2022-03-22 14:42] ronghanghu commented on #1213
Yes, you can do this and directly compute the bounding boxes from the lmdb features.

There was only a minor boost in the scores. It was probably that the features extracted from maskrcnn-benckmark was slightly better and gave a small improvement despite the discrepancy in the bounding boxes. You can use the caffe2 lmdbs to get the exact setting in the M4C paper.

[2022-03-22 15:58] StanLei52 commented on #1213
Good to know, thank you Ronghang!

[2022-03-23 09:06] Li-Qingyun opened #1216 "UniT problem: the DETR processor result in only 1 sample per batch, larger batch size is required~"
## Command

`
python mmf_cli\run.py  config=projects/unit/configs/coco/single_task.yaml datasets=detection_coco model=unit run_type=train training.batch_size=2
`

## Error info
RuntimeError: The expanded size of the tensor (428) must match the existing size (480) at non-singleton dimension 1.  Target sizes: [3, 428, 640].  Tensor sizes: [3, 480, 640]

## Description
I tried batchsize=1, the error

[2022-03-24 02:15] kenzheng99 opened #1217 "Pythia model and VizWiz dataset seem to be incompatible"
## ❓ Questions and Help

I am trying to reproduce the results of running Pythia on the VizWiz dataset, by running the following command:

`mmf_run config=projects/pythia/configs/vizwiz/defaults.yaml model=pythia dataset=vizwiz run_type=val`

This gives me the following error:

[code]

From some other posted issues it seems that this happens because the MMF download for VizWiz doesn't include one s

[2022-03-24 08:34] #1213 closed

[2022-03-24 10:32] WannaGetDSJobInSanFrancisco opened #1218 "Is current pytorch-lightning version requirement needed?"
## ❓ Questions and Help
### Question
- Is `@ git+https://github.com/PyTorchLightning/pytorch-lightning@86b177ebe` version requirement of `pytorch-lightning` in `requirements.txt` needed?
### Background
- First I run installation following your instruction, which keeps throwing pytorch-lightning requirement error (*)
    - #1040 resolves one error for one dependency, but then I see the same error f

[2022-03-25 17:23] SamTube405 opened #1219 "FLAVA code"
In the original FLAVA paper [1], it cited MMF for the implementation. We want to check whether we can access the FLAVA implementation in this codebase.

[1] Singh, Amanpreet, et al. "FLAVA: A Foundational Language And Vision Alignment Model." arXiv preprint arXiv:2112.04482 (2021).

[2022-03-27 20:32] ETedward opened #1221 "mmf hateful memes challenge dataset"
## ❓ Questions and Help
Dear MMF,

I'm a NLP student at Princeton attempting to reproduce the results of the Hateful Memes Challenge for a class project.

The data for the challenge's download page is no longer available on the challenge's download page.
https://www.drivendata.org/competitions/70/hateful-memes-phase-2/data/
linked in https://github.com/facebookresearch/mmf/tree/main/projects/hatef

[2022-03-29 04:17] soonchangAI opened #1222 "What is sampled_idx_seq for TextVQA"
## ❓ Questions and Help
Hi, I am trying to reproduce the M4C for TextVQA
I noticed there is difference in the batch for different runs.

[code]
The sample list (same training example but for different runs) are largely similar except for  <code>sampled_idx_seq</code> and <code>train_prev_inds</code> fields
What  causes the difference ? Is there any way to make it constant for different runs?

For

[2022-03-29 17:02] WannaGetDSJobInSanFrancisco commented on #1218
In my case I just modified `requirements.txt` like this
[code]

[2022-03-29 17:11] apsdehal commented on #1221
Hi,
The data is still available here: https://hatefulmemeschallenge.com/#download

You might need to make minor changes to extraction script to get it working with recent format.

[2022-03-29 17:19] apsdehal commented on #1206
Apologies for late reply. MMF actually has a subset split feature. For future reference, please follow instructions in https://github.com/facebookresearch/mmf/commit/637a5bcd201864bdbb42b65fcbc55785e6ba22d6

[2022-03-29 17:20] apsdehal commented on #1205
This needs to be done at the processor level. Create a process similar to fasttext processor and then replace the config of textvqa dataset to use that processor.

[2022-03-29 17:21] apsdehal commented on #1219
Hi,

The FLAVA codebase is on track to be released via torchmultimodal library. I will reply back to this issue by end of this week with further instructions.

[2022-03-29 17:23] WannaGetDSJobInSanFrancisco commented on #1218
Understood, thanks!

[2022-03-29 17:23] #1218 closed

[2022-03-30 22:18] PeterDykas commented on #1219
Why is there going to be two different repositories for multi-modal models.  What is the difference going to be between TorchMultimodal and mmf?

[2022-03-31 00:06] kartikayk commented on #1219
Thanks for the question! We will have more detailed communication around this, but a quick note here. MMF currently supports text + image understanding tasks with some initial support for video understanding models added recently. We have received feedback from the community that MMF is slowly becoming over-engineered and the layers of inheritance is making it hard to use components outside of MMF

[2022-03-31 04:07] PeterDykas commented on #1219
Thanks for the reply, that makes sense.  Looking forward for the FLAVA implementation in TorchMultimodal
.

[2022-03-31 05:45] soonchangAI commented on #1222
<code>sampled_idx_seq</code> is a random sample of one of the many answers for each example for "teacher-forcing".
Can make the <code>sampled_idx_seq</code> constant by adding a line <code>np.random.seed(0)</code> in mmf/datasets/processors/processors.py
[code]

[2022-03-31 05:45] #1222 closed

[2022-04-01 03:58] soonchangAI opened #1223 "Different model output for training for different runs for M4C on ST-VQA dataset"
## ❓ Questions and Help
Dataset: ST-VQA, Model: M4C
Hi, I noticed the model output (of same example) for training differs for different runs. For prediction, the model output (of same example) for different runs are the same.
I fixed the answers selected as <code>idx_seq</code> with <code>np.random.seed(0)</code> in processors.py.
What causes this behavior?

For example:
**Training**: Different mo

[2022-04-01 10:11] soonchangAI commented on #1223
Dropout is causing this. Set a seed by torch.manual_seed(0) at forward function of the model to get same output

[2022-04-01 10:11] #1223 closed

[2022-04-04 04:00] ronghanghu commented on #1216
This UniT codebase is expected to be run with batch size 1 (one image per GPU), so that images of different sizes can be used in the forward and backward passes.

[2022-04-04 04:06] ronghanghu commented on #1194
Hi, since Hateful Memes is not used for detection tasks, it should not be added to `model_config.unit.base_args.num_queries.detection` in "B: Config file".

Instead, it should be added only under `model_config.unit.base_args.num_queries.vl`, as follows:

[code]

[2022-04-04 07:23] Li-Qingyun commented on #1216
Thanks for your reply! I have read through the UniT codebase and the DETR codebase. I think that the original DETR alined the images size of one batch along with the masks, composing a NeastedTensor object. It seems that the samplelist does not contains NeastedTensor obj. in the UniT. The NeastedTensor obj. is constructed in the forward func. of the UniTBaseModel, whose masks are actually not used

[2022-04-04 17:33] Dee-Ma opened #1224 "Please help: question about running M4C model using the MMF framework on Windows"
## ❓ Questions and Help
Hi,

I am just trying to use MMF framework to train the M4C model on Windows. I have installed MMF based on the installation guidance (for Windows) https://mmf.sh/docs/: (1) firstly, I installed Python (v3.7.13) and PyTorch (v1.9.0), and all the packages listed in 'requirements.txt'; (2) then I installed the MMF using the commands recommended from https://mmf.sh/docs/ for W

[2022-04-04 17:37] Dee-Ma commented on #1168
@Mike4Ellis Hi Mike, I also encountered this issue. I installed MMF on Windows following the procedures https://mmf.sh/docs/. I tried to run it to train M4C using Windows PyCharm, but didn't find 'mmf_run' and 'mmf_predict' scripts in the 'mmf' folder. Can I know if you have resolved this problem? Thanks!

[2022-04-06 01:45] jiaodong commented on #1040
Thanks @ANarayan for the answer, it unblocked me after quite some time battling against deps

[2022-04-07 20:43] jiaodong opened #1225 "What's the minimal path to test mmf pre-trained model in python ?"
Hi, I'm trying to put a single mmf model with pre-trained weights and invoke it directly with my own input from python for a demo. No training needed. No dependency on existing benchmark data.

From current documentation it seems like mmf is structured to facilitate an e2e script with a 4-layered config, which for my use case I don't really need most of them to get started. Closest thing I did was

[2022-04-07 21:07] jiaodong opened #1226 "Colab example returns 0 with confidence score of 0.999462902545929 for query "look how many people love you""
## 🐛 Bug

So i'm trying out the example https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/mmf_hm_example.ipynb#scrollTo=ZKzyiRYuUMYj with pretrained model

Full log: https://gist.github.com/jiaodong/a4db1b4ab209f7cb8d92be5ef485bff6

## To Reproduce

[code]

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste t

[2022-04-08 03:44] #1226 closed

[2022-04-08 06:12] ronghanghu commented on #1216
I think the UniT codebase in MMF should deliver similar detection results when used for detection pretraining alone -- we earlier verified this when pretraining on does the batch size and other details match between MMF and the DETR codebase? (Note that the COCO single-task config in https://github.com/facebookresearch/mmf/blob/main/projects/unit/configs/coco/single_task.yaml, https://www.internal

[2022-04-08 08:54] emanuelevivoli opened #1227 "M4C remove features approach"
## ❓ Questions and Help

Hello, I'm new to MMF and its implementation of M4C, and so, I have a doubt.
The approach to not using some feature (for example PHOC features for OCR) is that you specify the `remove_ocr_phoc` property of `config.ocr` :

[code]

but you actually calculate all the features in:

[code]

and eventually, instead or removing the features, you set them as zeros in:
[code]

So m

[2022-04-08 10:12] emanuelevivoli commented on #1007
As @nan1104 , I want to add a module (composed by vocab and pretrained embeddings) to the m4c model, as the fastest or PHOC models are implemented.

Sorry for bothering you @ytsheng, but your answer didn't respond to the question. What are the `files` that one is suppose to modify to achive this?

Thanks, Emanuele

[2022-04-09 08:46] yangchenlulu opened #1228 "How to get the imDB format data?"
How can I obtain the imDB and.npy or info.npy format provided by the link from the original COCO or Textcaps dataset? Because I want to optimize the feature extraction method of the original data set, but I know where I can get the processed imDB format data set provided by the paper. I am looking forward to your reply.

[2022-04-10 01:48] Serendipity-zx opened #1229 "pytorch-lightning@9b011606f in requirements.txt is 404"
When I am install mmf in the v100 remote server, since network connecting on the server is not good, the command"git clone" often happen Frequent disconnections.
So I downloaded the pytorch-lighting package in offline on https://github.com/PyTorchLightning/pytorch-lightning, and then uploaded it to the server and installed it with the command "pip install .zip".
But after pytorch-lighting installe

[2022-04-10 01:48] Serendipity-zx commented on #1229
___ TestLightningTrainerLRSchedule.test_lr_schedule_compared_to_mmf_is_same ____

self = <tests.trainers.lightning.test_lr_schedule.TestLightningTrainerLRSchedule testMethod=test_lr_schedule_compared_to_mmf_is_same>

    def test_lr_schedule_compared_to_mmf_is_same(self):
        config = get_config_with_defaults(
            {"training": {"max_updates": 8, "max_epochs": None, "lr_scheduler": True

[2022-04-11 18:07] shwetkm opened #1230 "Is there an issue in coordinates assignment in build_bbox_tensors function?"
Here's how the coordinates are getting assigned in build_bbox_tensors of utils/dataset.py:

[code]

Shouldn't this be` coord_tensor[idx][3] = y - height `rather than `coord_tensor[idx][3] = y + height`. Assuming the xyxy format is for top left and bottom right. Also, y + height will give y coordinates that are out of the bbox. Am I missing something here?

[2022-04-12 19:01] robi56 opened #1231 "Features and annotation file request for run LXMERT project"
## ❓ Questions and Help

I want to run the command from https://github.com/facebookresearch/mmf/tree/main/projects/lxmert
`mmf_run config=projects/lxmert/configs/vqa2/pretrain.yaml run_type=train_val dataset=masked_vqa2 model=lxmert`
but the files is not found in /.cache/torch/mmf/data/datasets/vqa2/defaults

I need URLs  to download these files:  trainval2014.lmdb, trainval2014.lmdb,imdb_train201

[2022-04-13 02:37] beanbeanchris opened #1232 "MMF installation through doc guide."
Hi,

I am having a hard time trying to install mmf on my computer. I am following the install from source found here
<img width="1440" alt="Screen Shot 2022-04-12 at 7 32 29 PM" src="https://user-images.githubusercontent.com/89364709/163088443-7f4c1506-0ce5-44dc-8997-99a39aabc7db.png">
MMF Docs [https://mmf.sh/docs/](https://mmf.sh/docs/)
But right after the I run the command
$ pip install --edita

[2022-04-14 16:23] bouthilx opened #1233 "COCO dataset may be corrupted"
## 🐛 Bug

I am trying to execute the visual bert example with VQA2 but one of the datasets seems to be corrupted. I can download test2015.tar.gz, trainval2014.tar.gz and coco_val2017.tar.gz but always get an error with coco_train2017.tar.gz. This is not a bug per say but since the data seems to be hosted for mmf specifically I thought creating this issue would be the best way for reporting the pro

[2022-04-14 18:15] AnjumJ123 opened #1234 "Facing issue with checkpoint while running mmf_config to Finetune the VisualBERT model for Hateful Meme detection"
If you do not know the root cause of the problem, and wish someone to help you, please post according to this template:

## Instructions To Reproduce the Issue:

1. Code for Finetuning the VisualBERT model on Hateful Meme dataset
[code]

2. Error Logs:
[code]

## Expected behavior:

The code should have run as I do not see any obvious errors, but if there is anything which is deprecated as a pract

[2022-04-14 19:36] emanuelevivoli commented on #1227
Hi @apsdehal , I tag you as I saw the m4c commits are mainly from you.
Sorry for bothering but I'd like to have some insight on the m4c features behaviour.

Thanks, Emanuele

[2022-04-18 23:25] apsdehal commented on #1227
Tagging @ronghanghu since he actually implemented the code.

[2022-04-19 20:09] thenamangoyal opened #1235 "MMF on multimodal emotion datasets like CMU-MOSEI, IMEOCAP"
## ❓ Questions and Help

Is there any baselines for MMF on multimodal emotion datasets like CMU-MOSEI, IMEOCAP, or MSP-Podcast

[2022-04-20 00:32] ronghanghu commented on #1227
Hi @emanuelevivoli, yes, you understood well -- when we removed some features, we still kept their dimensions but set their values to zero. The main benefit of this compared to removing their dimensions is that the model size stays the same, which makes it easier for us to e.g. convert model checkpoints. The downside is that `nn.Linear` layers can be larger than what it actually needs to be.

But

[2022-04-20 09:16] AnjumJ123 commented on #886
I am getting the same issue. Even though train.jsonl is in the path /root/.cache/torch/mmf/data/datasets/hateful_memes/defaults/images, the system is failing the assertion. Any help or suggestion to solve the issue will be appreciated.

[2022-04-20 19:20] #1105 closed

[2022-04-21 08:53] AnjumJ123 commented on #887
Hi, were you able to find the fix to this issue? I am facing the same problem when trying to run mmf_run config for hateful_meme train dataset on VisualBERT pretrained model from MMF.

[2022-04-21 15:02] xixihawokao opened #1237 "KRISP:how to understand training graph network using binary cross entropy loss?"
## ❓ Questions and Help
this paper will use node embedding(and it will be processed by another way) that  most like answer ,is that right?
if using BCE in network training, erery node will be labeled by 0 or 1 which mean the node is answer or not, is that right？

[2022-04-24 05:25] hassannaveed1997 opened #1238 "Issue with Installation - lmdb"
## Instructions To Reproduce the Issue:

I installed it on OSX, and got install successful (although I did have to remove the torch-lighting version requirement from the requirements.txt)

However, the tests from `pytest ./tests/` mention in https://mmf.sh/docs/ do not pass and get the same issue when I try to run a model.

# what exact command I ran:
I ran the following command:
```pytest ./tests

[2022-04-24 08:41] clearlove7-s11 opened #1239 "After using extract_features_vmb.py to extract features, and then training with mcan, it reported the error message that the feature dimensions did not match."
## ❓ Questions and Help

# After using extract_features_vmb.py to extract features, and then training with mcan, it reported the error message that the feature dimensions did not match.

'''
2022-04-24T08:36:57 | mmf.utils.configuration: Overriding option config to /home/cvpr/vqa/mmf-main/projects/movie_mcan/configs/vqa2/defaults.yaml
2022-04-24T08:36:57 | mmf.utils.configuration: Overriding optio

[2022-04-24 18:58] Anirudh-crypto commented on #169
Hello, Can you share the tutorial for multi tasking?

[2022-04-25 07:37] #1227 closed

[2022-04-25 18:12] Hao-YunDeng commented on #1221
Hi apsdehal,

I have downloaded the zip file, but when downloading I did not see password anywhere. Where can I find the password?

[2022-04-26 04:45] Hao-YunDeng commented on #886
I'm having the same issue. Waiting for solutions

[2022-04-26 16:45] adampicwell commented on #1238
I had this same issue and was able to resolve it by upgrading to 1.3.0 of `lmdb`.

[2022-05-02 03:01] WannaGetDSJobInSanFrancisco commented on #784
Hi, met the same issue when trying below;
[code]

In my case I did the manual fixes as below to `~/.cache/torch/mmf/data/models/vilbert.finetuned.hateful_memes.direct/config.yaml`;
[code]

[2022-05-03 10:15] psrimanreddy190 opened #1242 "Textvqa Prediction on Single Image"
I am working on textvqa using m4c model. I am stuck with prediction of the model on a single image from my local system. When I train the model in batches, I am getting multiple checkpoint files. How can I use those multiple ckpt files to predict on a random image using m4c model?  Thanks in advance.

[2022-05-04 19:01] shwetkm opened #1243 "URGENT: What next after running extract_ocr_frcn_feature.py in m4c ?"
## ❓ Questions and Help
I have made some changes in the feature computation of [extract_ocr_frcn_feature](https://github.com/facebookresearch/mmf/blob/main/projects/m4c/scripts/extract_ocr_frcn_feature.py). This script has created 2 .npy files for each image.
Now, how to use those npy files for training?
Does this need to be used in place of the ocr_en_frcn_features.lmdb folder somehow? If yes, th

[2022-05-06 16:47] WannaGetDSJobInSanFrancisco commented on #1194
@ronghanghu Thanks for your comment. Now the error turned to this
[code]

[2022-05-06 20:04] ronghanghu commented on #1243
Hi, you need to use https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/lmdb_conversion.py to convert your "*.npy" feature files to lmdb. You can follow the procedure in https://github.com/facebookresearch/mmf/issues/663#issuecomment-883000371

[2022-05-06 20:36] shwetkm commented on #1243
Thanks, @ronghanghu. This is helpful.

[2022-05-07 06:15] #1242 closed

[2022-05-09 05:22] Hao-YunDeng commented on #1037
Hi, I'm having the same issue. Have you solved it? Can you tell me how?

[2022-05-09 05:42] Hao-YunDeng opened #1244 "Hi, I'm having the same issue. Have you solved it? Can you tell me how?"
Hi, I am trying to run this notebook: https://github.com/facebookresearch/mmf/blob/notebooks/notebooks/kdd_tutorial.ipynb ,But I meet an error as follows. Can anybody tell me how to fix it?

_Originally posted by @Hao-YunDeng in https://github.com/facebookresearch/mmf/issues/1037#issuecomment-1120655357_

[2022-05-09 07:34] shwetkm commented on #535
I am facing the same issue. Were you able to replicate the original val acc 0.4055 @akira-l ?

[2022-05-09 19:34] shwetkm commented on #535
@ronghanghu This is the o/p of `python -m torch.utils.collect_env` for my environment
[code]
Is there anything wrong here? I am getting val textvqa_accuracy: 0.3484

[2022-05-10 13:07] soonchangAI opened #1245 "Key error when using newly generated OCR features for TextVQA"
## ❓ Questions and Help

Machine: 2 GPU
Hi, I generated new OCR features for TextVQA (reduced validation set) using images downloaded from the textvqa website: https://textvqa.org/dataset/. I replaced the ocr features LMDB file location in <code>defaults.yaml</code>
[code]
### Error
I faced a key error:
[code]

### Troubleshooting 1

using following code in feature_readers.py:
[code]
The resulting

[2022-05-10 17:21] #1245 closed

[2022-05-10 17:26] soonchangAI opened #1246 "How the code recognizes validation set for TextVQA"
## ❓ Questions and Help
Hi, I wanted to generate LMDB for new dataset. I noticed for TextVQA, the currently available LMDB stores training and validation set features using keys with prefix 'train/...' ; whereas, for test set, it uses keys with prefix "test/..."

I wonder during training and evaluation, how the code differentiates the validation set from training set since they share the same pref

[2022-05-10 18:16] soonchangAI opened #1247 "Generated TextVQA OCR features different from original available ones"
## ❓ Questions and Help
Hi, I try to generate OCR features for TextVQA. I observed newly generated OCR features with key <code>features</code> are different from the original available ones.
Is this an expected behavior ? I hope @ronghanghu will be able to help me.
Line to generate OCR features:
[code]
Example generated OCR features:
[code]

[2022-05-11 06:11] soonchangAI commented on #1246
dataset config

[2022-05-11 06:12] soonchangAI commented on #1246
dataset config

[2022-05-11 06:12] #1246 closed

[2022-05-13 18:57] sh0gg0th opened #1248 "Fine-tuning pretrained VILBERT on a custom dataset"
## ❓ Questions and Help
Hi, I want to use the Hateful Memes VILBERT checkpoint from the zoo to fine-tune it on my custom dataset. I run the following command, and it appears to work:

`mmf_run config=mmf/projects/<my_dataset>/configs/vilbert/direct.yaml model=vilbert dataset=<my_dataset> checkpoint.resume_zoo=vilbert.finetuned.hateful_memes.direct checkpoint.resume_pretrained=True`

Just wanted to

[2022-05-14 08:13] #1243 closed

[2022-06-14 22:14] RulinShao commented on #30
Following

[2022-06-16 11:19] #1216 closed

[2022-06-19 20:58] RulinShao opened #1251 "Please read & provide the following information"
## Instructions To Reproduce the Issue:
Hi, I tried to reproduce the UniT vqa2 single task training example as given in the doc: https://mmf.sh/docs/projects/unit/
The default setting uses a batch size of 64 with 64 GPUs. I want to reproduce the same result with 8 GPUs combined with gradient accumulation by setting the update frequency to 8. My script:
[code]
However, after setting the `training.u

[2022-06-20 19:07] RulinShao commented on #1251
I could load the saved checkpoint and resume training, the NaN doesn't seem to appear in the same iteration, instead, it appears every 16900 iterations. I.e., I resumed the training from the checkpoint saved at 10000th iteration, it reported NaN at 26900th iterations instead. Any insight on this?

[2022-06-25 11:08] shwetkm commented on #535
Does someone have any update on this? @akira-l @ronghanghu @xzChiang

[2022-06-28 08:23] Ruoyan-Zhao opened #1252 "数据集下载页面访问不了，无法获得password"
您好，我下载hateful_memes数据集，但是现在页面访问不了了https://www.drivendata.org/competitions/70/hateful-memes-phase-2/data/，我在其他地方找到了数据集，但是没有提示中说的password，请问该如何解决呢？
<img width="878" alt="企业微信截图_72aec079-8bb5-451d-b936-dbd5189e7a16" src="https://user-images.githubusercontent.com/59955278/176131021-d3ebb54e-f945-4db0-8a9e-dd6184e45410.png">

[2022-07-03 01:06] #1252 closed

[2022-07-03 01:07] Ruoyan-Zhao commented on #1252
已经在其他地方找到了数据集

[2022-07-04 14:59] assjdshisio opened #1253 "TextVQA accuracy"
## ❓ Questions and Help

[2022-07-04 15:11] assjdshisio commented on #1253
When I run the M4C code, the val accuracy is different if the batch size could be not divisible by the size of val set. For instance,  There are 5000 questions on the TextVQA val set, if the batch size is 100, the result is always same. If the batch size could not be divisible by 5000 (e.g. 128 or 64), the results are different. The final result is obtained by taking an average of accuracies of al

[2022-07-06 00:36] kyungjunlee commented on #1217
Hey any updates on this? I am encountering the same issue when training Pythia on Vizwiz from scratch.

[2022-07-06 11:22] soumyasj opened #1254 "Please read & provide the following information"
If you do not know the root cause of the problem, and wish someone to help you, please post according to this template:

## Instructions To Reproduce the Issue:

While obtaining frcn features for ocr tokens by running (using detectron_model.yaml and detectron_model.pth from the link "https://dl.fbaipublicfiles.com/pythia/detectron_model/detectron_model.yaml"  )

extract_ocr_frcn_feature.py

The fo

[2022-07-08 16:51] soumyasj commented on #680
@TownWilliam even after following all the steps, I am still facing this error. I run the following command:

mmf_run dataset=textvqa   model=m4c   config=projects/m4c/configs/textvqa/defaults.yaml   env.save_dir=./save/m4c training.num_workers=0 training.batch_size=1

Traceback (most recent call last):
  File "/home2/soumyajahagirdar/.local/lib/python3.7/site-packages/torch/utils/data/dataloader.p

[2022-07-10 14:20] TownWilliam commented on #680
Sorry @soumyasj , I have no idea for this condition because you did reduced the number of `batch size` and `num_workers`. Maybe the device is too old for deep learning or has not enough memory(Actually I guess it would be not.... )

In conclusion, I do not know the details of the model well.  All I could conclude are the following rough guess:

1)Pherhaps there are some neglected parameters, such

[2022-07-14 08:19] abharika725 opened #1255 "How to run an end to end lorra model on TextVQA dataset"
Can you please provide an end to end code to implement lorra model on textVQA dataset?
I am confused how to pass the datset (https://textvqa.org/dataset/) like images, questions and Rosetta OCR tokens to lorra model.
Please help.

[2022-07-18 06:57] fengmingfeng opened #1256 "why we could use mmf_run the project?"
## 🐛 Bug

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, source):
 - B

[2022-07-18 06:57] fengmingfeng opened #1257 "why we could use mmf_run to run the project?"
## 🐛 Bug

## Command

## To Reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior

## Environment

Please copy and paste the output from the
environment collection script from PyTorch
(or fill out the checklist below manually).

You can run the script with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you installed PyTorch (`conda`, `pip`, source):
 - B

[2022-07-22 11:21] Wag0nWheels commented on #30
have you solved this problem?

[2022-07-23 09:02] shamanthak-hegde opened #1259 "Attention Maps"
## ❓ Questions and Help
Hi,
Is there a way to visualize the attention maps for M4C ?

[2022-07-26 07:33] shamanthak-hegde commented on #145
An alternative to the function attention_grid_interpolation(im, att).
Attention_grid_interpolation generates white mask with different opacity.

Hi, I understood what visualize_pred and attention_bbox_interpolation does. But what's the use of get_blend_map or attention_grid_interpolation?

[2022-08-03 12:48] wentaizhao opened #1260 "AttributeError: 'NoneType' object has no attribute 'dim' | Pretrained VILBert model"
I'm using the pretrained hateful memes ViLBERT model. I'm getting the following error when I run my code.

`[/usr/local/lib/python3.7/dist-packages/torch/nn/functional.py](https://localhost:8080/#) in linear(input, weight, bias)
   1670         if any([type(t) is not Tensor for t in tens_ops]) and has_torch_function(tens_ops):
   1671             return handle_torch_function(linear, tens_ops, inpu

[2022-08-06 08:31] fengmingfeng commented on #985
I also occured this problem? I think you should add the mmf to environment variable?
for example:
import os
os.environ['PYTHONPATH'] += ":/content/mmf/"
then we will solve this problem.

[2022-08-29 12:02] karembadawy commented on #886
@AnjumJ123  @Hao-YunDeng Try to unzip the file then compress it again after renaming the folder from `hateful_memes` to `data` this works for me.

[2022-09-06 02:18] Huangzhw0221 commented on #1232
Hi,
I met the same error!Do you have a solution?

[2022-09-08 11:46] Huangzhw0221 opened #1262 "Exception: process 0 terminated with signal SIGKILL"
Hi,

While I am trying the training code with m4c_captioner model, I am getting the following error,

/home/root1/anaconda3/envs/mmf/lib/python3.7/site-packages/omegaconf/grammar_visitor.py:257: UserWarning: In the sequence `MMF_USER_DIR,` some elements are missing: please replace them with empty quoted strings. See https://github.com/omry/omegaconf/issues/572 for details.
  category=UserWarning,

[2022-09-11 17:12] onuriel opened #1263 "What is the feature extractor used for the pretrained M4C model provided for textvqa?"
What is the feature extractor used for the pretrained M4C model provided for textvqa?

I noticed the script : https://github.com/facebookresearch/mmf/blob/main/tools/scripts/features/extract_features_vmb.py

I would like to recreate the mmf/data/datasets/textvqa/defaults/features/open_images/detectron.lmdb as it is currently used for training/evaluating the m4c model given. To be more specific, I

[2022-09-13 10:26] liupeng0606 opened #1264 "Real URL"
## ❓ Questions and Help
I would like to download some data and pretrained model to my computer, But I found that URL, e.g.:

mmf://datasets/coco/m4c_captioner/extras.tar.gz

I wonder to know the real URL. Thanks !!!!!!

[2022-09-13 14:25] ifmaq1 opened #1265 "OK-VQA knowledge base"
## ❓ Questions and Help
Can you please provide a direct downloadable link to knowledge base/graph extracted for OK-VQA dataset from ConceptNet etc, which is later used for further processing.

[2022-10-13 16:14] micdist commented on #145
@apsdehal Hi mate thanks for sharing code. Just playing with it on DETR and i get size mismatch with "weights", what was the shape of weights you have developed that for? Does it expect me to provide weight projected onto image dimensions and than extract a bounding box size slice? Thanks

[2022-10-18 01:55] frankst-debug opened #1267 "Disk read and write too fast, resulting in server lag, how to reduce read and write speed"
## ❓ Questions and Help
I use two gpu to run code on vqav2 dataset using movie_mcan model, the gpu memory is not enough so the batch_size is set to 16, but every time I run the code will cause the server abnormal lag, I use sar -d 3 5 to check the disk read and write, I found that the read speed is very fast, how to improve this problem, when the lag I can't do any operation.
This is my training c

[2022-10-19 03:19] chocolate9624 opened #1268 "Memory leaked"
## 🐛 Bug

## Command
pytest ./tests/modules/test_encoders.py

## Environment

Collecting environment information...
PyTorch version: 1.9.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.3 (x86_64)
GCC version: Could not collect
Clang version: 13.1.6 (clang-1316.0.21.2.5)
CMake version: Could not collect
Libc version: N/A

Python version: 3.7 (6

[2022-10-26 05:59] sharonchokuwa opened #1269 "Loading the Hate meme dataset into MMF"
## ❓ Questions and Help
The official DrivenData download link [https://hatefulmemeschallenge.com/#download](url) for the Hatememe dataset no longer provides a password upon downloading the dataset, but to load the dataset into mmf format, a password is required, via this command `mmf_convert_hm --zip_file=x --password=y`. How can one go around this issue?

[2022-10-26 11:06] sharonchokuwa commented on #1221
Hi, I also cannot find the password for `mmf_convert_hm --zip_file=x --password=y`. Did you manage to resolve this?

[2022-11-25 18:44] arcb01 commented on #999
@apsdehal @RishabhMaheshwary @RishabhMaheshwary Any updates?

[2022-11-29 02:09] sgorucu3 opened #1274 "Hello"
Hello,

In the following link:

https://github.com/facebookresearch/mmf/tree/main/projects/hateful_memes

The link asks us to do installation at this link

https://mmf.sh/docs/getting_started/installation/

However, this link is broken. Is it possible to let me know how I can access the pretrained model? Thank you very much for your time.

Best regards,

[2022-11-29 09:06] emanuelevivoli commented on #1274
Hello @sgorucu3,
The link for installation should be https://mmf.sh/docs/
For pretrained models, youu can find them in https://mmf.sh/docs/notes/pretrained_models

Regards, Lele

[2022-11-30 00:41] sgorucu3 commented on #1274
Thank you very much. Let me take a look at it.

[2022-11-30 01:03] sgorucu3 commented on #1274
Hi Emanuele,

Thank you very much for your reply. Actually, I wished I had asked this yesterday. We have a problem with the following command:

mmf_convert_hm --zip_file=x --password=y

The command can be found at:

https://github.com/facebookresearch/mmf/tree/main/projects/hateful_memes#prerequisites

As this challenge is over, DrivenData does not provide the data anymore, but we were able to dow

[2022-11-30 01:07] sgorucu3 commented on #1269
Hi Sharon,

Were you able to resolve this issue?

[2022-11-30 04:32] sgorucu3 commented on #1274
During installation from https://mmf.sh/docs/, I run pytest ./tests/, I am getting the following error. Could you please help me with this? Are the api's updated? Is this website not updated for a long time? Could you please let me know?

pytest /tests/
ImportError while loading conftest 'D:\Storage\OMSCS\Deep Learning\mmf\tests\conftest.py'.
tests\__init__.py:2: in <module>
    from mmf.utils.pat