[2020-04-24 07:39] gokulanv commented on #235
@ronghanghu Thank you for this. I am closing this issue.

[2020-04-24 07:39] #235 closed

[2020-04-27 19:10] gokulanv opened #237 "OCR words from images"
## ❓ Questions and Help
I would like to output/get the detected OCR tokens from the input images while inferring on the M4C model. Any suggestion on how this can be done? @ronghanghu @apsdehal

[2020-04-28 00:00] ronghanghu commented on #237
Hi, if you want to access the per-image OCR results in the TextVQA images, they are stored in `ocr_tokens` key in the imdbs.

If you want to see whether a predicted answer word in the M4C model's prediction come from OCR or fixed vocabulary, one can check the `'pred_source'` in field in the dumped json EvalAI prediction file. This field is a list containing either `'VOCAB'` or `'OCR'` indicating w

[2020-04-29 20:47] ascott02 opened #238 "coco captioning training not converging to reported value"
## ❓ Questions and Help

Hi Everyone,

I hope you are well and safe. Thank you for the great tool.

We are running into an issue while training coco captioning from scratch. We are able to train but the BLEU value is not converging toward 35.42, as reported on the [Pretrained Models](https://learnpythia.readthedocs.io/en/latest/tutorials/pretrained_models.html) page. We are getting around low to m

[2020-04-29 21:47] vedanuj commented on #238
The number reported in the pretrained models is what you get when you run the inference using butd_beam_search. So train using greedy but run inference using beam search. Let me know what score you get after that. I will try to check after running training on my side.

[2020-05-02 20:26] gokulanv commented on #237
Thank you. One more question!
The Textcaps Lorra model has a demo notebook that contains the predict function which takes in an image and gives out a caption just for that image. Is there a similar functionality in M4C ? If not, can you direct me where I can make changes to get this implemented? @ronghanghu

[2020-05-04 14:36] vedanuj commented on #238
The scores we have reported are for test set. I retrained a model and I can get around 31 with `greedy` inference on test set. Did you check you score on test?

[2020-05-04 16:23] ascott02 commented on #238
Hi Vedanuj,

Thanks so much for getting back to me and doing that. I'm sorry for my slow
reply. I had a busy work week and didn't get back to this until yesterday.

This might actually be related to tensorboard. The numbers I reported, low
to mid 20s, is what I see in the tensorboard output but I noticed in the
log output, when I went to update you, that the final test of one of my
good runs was a

[2020-05-04 22:03] ascott02 commented on #238
Hi Vedanuj and Others,

Here are the last results. It looks like we are getting 31.83 on the test set using the best checkpoint, according to the log output.

[code]
However, it seems that tensorboard is logging this incorrectly, and we're still below the reported value of 35.42. The orange one is the previous run, and the blue one is the run from today. Does this look correct?

Thanks for your he

[2020-05-08 01:22] vedanuj commented on #238
Hi Andrew,

I am using 82783 images only for training. One thing to note is that you are getting 31+ on karpathy test split using `greedy` inference which is about expected. If you use `beam_search` for inference you will get closer to 35. Please try that and let me know how that goes.

As for the tensorboard issue I will have to check.

[2020-05-09 20:39] #182 closed

[2020-05-09 20:40] #164 closed

[2020-05-09 20:40] #160 closed

[2020-05-09 20:41] #141 closed

[2020-05-09 20:41] #76 closed

[2020-05-09 20:41] #75 closed

[2020-05-09 20:42] #229 closed

[2020-05-09 20:42] #163 closed

[2020-05-10 05:43] JayZhu0104 commented on #8
Did you save this problem now? I meet the same problem as you.Thanks~

[2020-05-10 06:25] apsdehal commented on #8
I would suggest to change your batch size to half of what it is in the config (IIRC original is 128, so change it to 64) and try. If you don't get similar accuracy, try doubling the maximum iteration as well.

We trained original LoRRA on 16GB memory Voltas, but since you only have 8GB I would suggest to try this.

[2020-05-10 06:26] apsdehal commented on #8
Btw, which commit are you guys on?

[2020-05-10 16:37] aluka1994 commented on #8
hi @apsdehal

Thank you for your reply. we try with the above suggestions. we are working on dec11 commit. Can I know the timeline of m4c integration with  Pythia ?.

Thanks,
Raja

[2020-05-10 17:42] apsdehal commented on #8
Hi.
M4C is already landed in master but documentation isn't updated. I would suggest you to use projects/m4c branch for now.

[2020-05-13 09:49] Parag0506 opened #250 "mmf installation Error"
## ❓ Questions and Help
Failed to build mmf
ERROR: Could not build wheels for mmf which use PEP 517 and cannot be installed directly
full error stack :

[code]

[2020-05-14 00:21] apsdehal commented on #250
@Parag0506  Can you try again `pip install --pre --upgrade mmf`?

[2020-05-14 03:19] #250 closed

[2020-05-14 03:38] apsdehal commented on #234
This should be fixed in latest master.

[2020-05-14 03:39] apsdehal commented on #231
Duplicate of #234

[2020-05-14 03:39] #231 closed

[2020-05-14 03:39] apsdehal commented on #219
Closing as answered.

[2020-05-14 03:39] #219 closed

[2020-05-14 03:39] #220 closed

[2020-05-14 03:40] #185 closed

[2020-05-14 03:41] #144 closed

[2020-05-14 03:41] #222 closed

[2020-05-14 03:42] #202 closed

[2020-05-14 03:43] #234 closed

[2020-05-14 03:44] apsdehal commented on #237
Not yet but you can have a look at LoRRA demo. https://colab.research.google.com/drive/120xCDefxsqAmm7l6uf5nFDx5zr7msA0R?usp=sharing Closing as resolved.

[2020-05-14 03:44] #237 closed

[2020-05-14 05:34] Parag0506 commented on #250
@apsdehal Thanks for adding support for Windows Build. It installed perfectly.

[2020-05-17 06:52] mchandak29 opened #255 "Bounding boxes for visualizing attention maps"
## ❓ Questions and Help

As stated in #145: To visualize attention maps on vqav2 we would need bounding boxes. Can you provide some support for that?

[2020-05-17 11:31] stnlrgrs opened #256 "error happened during training !!"
## ❓ Questions and Help
Hi, I met an error when I used this command line:

python3 tools/run.py --datasets textvqa --model lorra --config configs/vqa/textvqa/lorra.yaml

usage: run.py [-h] [-co CONFIG_OVERRIDE] [--local_rank LOCAL_RANK] ...
run.py: error: unrecognized arguments: --datasets

Can you tell me what's wrong and how to solve it?   Thanks!

[2020-05-17 14:57] BTTHuyen commented on #238
Hi everyone,

I want to train another dataset. How to get IMDB and feature link for Image Captioning task?

[2020-05-18 20:02] vedanuj commented on #238
@BTTHuyen Can you open a new issue for your query?

[2020-05-18 21:16] apsdehal commented on #256
The configuration system has changed in the latest version of MMF (Pythia). You may want to have a look at [configuration docs](https://mmf.readthedocs.io/en/latest/notes/configuration.html). For your command I would run this after installing the project:
[code]
Caution: This would reinstall features, annotations and other things required for TextVQA automatically. Make sure you have enough space.

[2020-05-18 21:16] apsdehal commented on #255
the features file should have bounding box information. Is there something else you were looking for specifically?

[2020-05-19 04:36] mchandak29 commented on #255
Ive downloaded the detectron_fix_100 provided in the quick start, it doesn't have the required bbox information. Is there something I am missing ?

[2020-05-19 14:25] BTTHuyen opened #258 "How to train the new dataset for Image Captioning task?"
## ❓ Questions and Help
Hello, I want to train the VIZWIZ dataset for the Image Captioning task, I already add the Vizwiz dataset [link](https://mmf.readthedocs.io/en/latest/tutorials/dataset.html)
About Image Captioning task with COCO dataset, I saw that the model needs 2 parts of data: [link](https://mmf.readthedocs.io/en/latest/notes/quickstart.html#tasks-and-datasets). How to get the features

[2020-05-19 14:40] jetjodh opened #259 "Incorrect pretrained model key unimodal_text.hateful_memes.bert for class BaseModel"
## 🐛 Bug

## Command

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I expected model to be loaded without any hassle.
## Environment

 - PyTorch Version (e.g., 1.0): 1.15
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python version: 3.6
 - CUDA/cuDNN version:

[2020-05-19 16:15] vedanuj commented on #259
Can you try

[code]

[2020-05-19 16:44] jetjodh commented on #259
Thanks, it is working now. Can you please make it clear in the readme section?

[2020-05-19 16:44] #259 closed

[2020-05-19 20:23] tonytang731 opened #260 "ModuleNotFoundError: No module named 'tools.scripts'"
## ❓ Questions and Help

Hi,

We just installed MMF and tried unzipping data using the command "mmf_convert_hm --zip_file=x --password=y" where x and y are replaced with correct values. However, we get the following error. Have you encountered a similar error? Thank you very much for your help!

![image](https://user-images.githubusercontent.com/50162066/82374427-ab138d80-99e4-11ea-80f3-cc509d621a

[2020-05-19 20:57] tonytang731 commented on #260
Solved

[2020-05-19 20:57] #260 closed

[2020-05-19 21:19] tonytang731 opened #261 "Checksum of downloaded file does not match the expected checksum."
## ❓ Questions and Help

We run our code on Google Colab and encountered this issue when we try to load the Hateful Memes Data. Have you encountered a similar problem before? Thank you!

!mmf_convert_hm --zip_file=./hateful_memes.zip --password=KexZs4tn8hujn1nK

[2020-05-19 21:38] apsdehal commented on #261
Let us confirm the checksum on our side once again.

[2020-05-19 21:39] apsdehal commented on #260
@tonytang731 Can you provide information on how you solved this for bookkeeping purposes on our side?

[2020-05-19 21:44] tonytang731 commented on #261
Thanks! An image is also included for you reference.

![image](https://user-images.githubusercontent.com/50162066/82381549-05661b80-99f0-11ea-824e-15b0919eb945.png)

[2020-05-19 21:54] tonytang731 commented on #260
Sure. Instead of using pip install method, we tried the "install from source" method and it works. 👍

![image](https://user-images.githubusercontent.com/50162066/82382342-60e4d900-99f1-11ea-9ed2-a8e9a26672ad.png)

[2020-05-19 22:11] apsdehal commented on #261
Hey @tonytang731,
I tested on my end and script seems to work fine. Can you provide me output of two commands so I can debug it further:
- `du -sh ./hateful_memes.zip`
- `openssl dgst -sha256 ./hateful_memes.zip`

If second command doesn't work, please run `pip install openssl` first.

[2020-05-19 22:28] tonytang731 commented on #261
The outputs are included as follows. Thank you very much for your time!

![image](https://user-images.githubusercontent.com/50162066/82384766-2e89aa80-99f6-11ea-85e3-a6fb47149122.png)

[2020-05-19 23:13] apsdehal commented on #261
Your checksum is indeed different. Can you redownload the latest file and retry? The checksum should be `a424c003b7d4ea3f3b089168b5f5ea73b90a3ff043df4b8ff4d7ed87c51cb572`.

[2020-05-20 05:53] mataslauzadis commented on #261
I am having a similar issue with downloading the visual_bert_pretrained_coco model.

[code]

SHA256 of the file is as follows:
[code]

[2020-05-20 07:53] apsdehal commented on #261
@mataslauzadis The model was updated on our end. The latest PR #262 should fix this.

[2020-05-20 09:44] Ra0k opened #264 "Colab notebook is not working"
## 🐛 Bug

The Google Colab Notebook linked in the [Quickstart](https://mmf.readthedocs.io/en/latest/notes/quickstart.html) is not working.

## To Reproduce

Steps to reproduce the behavior:

1. open [notebook](https://colab.research.google.com/drive/1Z9fsh10rFtgWe4uy8nvU4mQmqdokdIRR)
2. click to "Open in playground"
3. run all

<img width="841" alt="Screenshot 2020-05-20 at 11 43 37" src="https://

[2020-05-20 09:48] Ra0k commented on #196
@PaulOpu how did you extract the bounding boxes?

[2020-05-20 13:17] apsdehal commented on #258
Depending on which version you are on, those links and documentation is outdated and we are working on updating those. I would follow the implementation of [TextCaps dataset](../tree/master/datasets/builder/textcaps) that we have. For features:
- For OCR tokens, you can Google Cloud Vision API and then use scripts in M4C folder to generate the features for OCR tokens if you are planning to use M4C

[2020-05-21 00:16] tonytang731 opened #266 "Data Loading"
## ❓ Questions and Help
Hi,

After we load the data on Google Colab, we have this

![image](https://user-images.githubusercontent.com/50162066/82509525-be4e5800-9acd-11ea-873d-4ee1f27f6503.png)

and it seems to me that the data is moved to the "/root/.cache/torch/mmf/data" folder. However, I cannot locate this corresponding folder in my drive, and we are not able to reproduce the baseline models s

[2020-05-21 01:18] apsdehal commented on #266
Hidden folders (the ones with "." in the start) are not shown by default in colab's grid view. I would suggest you to do
[code]
to see if folder is actually present.

[2020-05-21 01:26] vedanuj commented on #264
This is due to the fact that the notebook is still using old pythia and has to be migrated to new mmf namespace. We are in the process of updating the colab notebooks. Please stay tuned.

[2020-05-21 01:56] tonytang731 commented on #266
Thanks! It's weird that the data disappeared.  I will try to figure it out.

[2020-05-21 01:56] #266 closed

[2020-05-21 01:59] apsdehal commented on #266
Data will disappear with command. MMF moves it to its cache directory. The ls command that I gave you points to cache directory.

[2020-05-21 02:35] tonytang731 commented on #266
Thank you very much for your time! Now I have this.

![image](https://user-images.githubusercontent.com/50162066/82517006-cadcab80-9ae1-11ea-93c5-7eaa5c315eae.png)

[2020-05-21 02:58] tonytang731 opened #268 "Training the Image-Region Model"
## ❓ Questions and Help
Hi,

I am currently trying to train a model with

"mmf_run config=<REPLACE_WITH_BASELINE_CONFIG> model=<REPLACE_WITH_MODEL_KEY> dataset=hateful_memes"

and my code for Image-Region Model is

![image](https://user-images.githubusercontent.com/50162066/82518382-e5fcea80-9ae4-11ea-83e5-4cc82fdce140.png)

And it seems that we need to specify extra stuff

![image](https://user-i

[2020-05-21 12:35] Ra0k commented on #255
Hi, how could I get these bounding boxes exactly? Which part of the code? Are these coordinates extracted in real-time directly from ResNet-152 or they are provided in the dataset as ground truth?

[2020-05-21 15:47] MarijnQ commented on #264
Mate, life saver! Just started playing around with it but I came across this issue too.
Ill stay updated! Thanks!

[2020-05-21 16:55] vedanuj commented on #268
Can you run a clean `pip install --upgrade --pre mmf` and try it? In my environment this is working.

Also please list the steps you did before you hit this error.

[2020-05-21 17:10] tonytang731 commented on #268
Thanks for your answer! I am using the second installation method "install from source". I will try the first method and see if it solves my problem.

[2020-05-21 17:19] tonytang731 commented on #268
One more question:

If I am using Google Colab and the first "pip install method". Do we need to reload data every time we restart the script? Thank you!

[2020-05-21 18:23] apsdehal commented on #268
If you are disconnected from the runtime for long time, it will reset and you will have to restart again.

[2020-05-21 19:37] tonytang731 commented on #268
Thanks! Now I used the pip install method and loaded the data.

This time I got another error like this (sort_keys)

![image](https://user-images.githubusercontent.com/50162066/82598385-353c2d00-9b70-11ea-904b-5878154b73b7.png)

In addition, it seems that the free version of Google Colab doesn't have enough Disk Memory. Do you have any tools recommended for this competition? Thank you very much! W

[2020-05-21 19:45] apsdehal commented on #268
YAML one is a known issue. In next release, multiple issues relating to colab will be fixed including prediction issue. For now, update version of PyYAML by running `!pip install --upgrade PyYAML` which will fix your this issue.

For disk, we are thinking to add a command line utility to clean up stuff that MMF caches for saving the space. For now, you can delete the features tar file that was dow

[2020-05-22 01:28] tonytang731 commented on #268
Thank you! It's very helpful.

[2020-05-22 01:28] #268 closed

[2020-05-22 23:29] ushnish opened #272 "Documentation in installation page does not work"
## ❓ Questions and Help
I was going through the steps outlined in https://mmf.readthedocs.io/en/latest/notes/quickstart.html#training. I git cloned the repo and ran python3 setup.py develop. However later where it says run `python tools/run.py` I was not able to run it because tools folder only has the following items

`__init__.py  scripts  sweeps`

[2020-05-23 03:33] vedanuj commented on #272
Hi @ushnish .. the docs are outdated as we are in the process of updating them due to recent beta release of mmf.

Please try this :

[code]

[2020-05-23 14:00] PaulOpu commented on #196
You need to resize the image first to the dimensions of the image with which the bboxes were created. Resize your image to "image_h" and "image_w" in the detectron image "..._info.npy" and use that as your img.

[2020-05-24 00:30] titaniumrain opened #273 "Quick question on running hateful memes baselines"
Just followed the installation documentation to reproduce hateful meme baselines.

However, the system keeps on reporting the following error:

mmf_run config='projects/hateful_memes/configs/visual_bert/direct.yaml' model=visual_bert.finetuned.hateful_memes.direct  dataset=hateful_memes
Namespace(config_override=None, local_rank=None, opts=['config=projects/hateful_memes/configs/visual_bert/direct

[2020-05-24 00:45] apsdehal commented on #273
You are mixing `model` and `checkpoint.resume_zoo` parameters. Your `model` value needs to be `visual_bert` and what you have specified in model currently will go as value to `checkpoint.resume_zoo`

[2020-05-24 06:32] josephch405 opened #274 "DictConfig error on initialization"
## 🐛 Bug
Running any sort of project with the CLI as is produces a OmegaConfig related error. At the moment I'm circumventing this by skipping the "pop" call in question.

## To Reproduce

Steps to reproduce the behavior:

1. Install via `pip install -e .`
2. Run `mmf_run config=projects/hateful_memes/configs/visual_bert/from_coco.yaml model=visual_bert dataset=hateful_memes`
[code]

## Expected b

[2020-05-24 06:35] apsdehal commented on #274
Thanks for reporting this. We will fix this is in new version soon.

[2020-05-24 09:20] titaniumrain commented on #273
ah... thanks!

[2020-05-24 09:20] #273 closed

[2020-05-24 14:01] ironbar commented on #261
I have the same hash on my computer: `84f15777d9b07f3d4885303e0964e08421aa21335fea2914f45c5b4d0ae40116`, the file has been downloaded from DrivenData.

[2020-05-24 14:12] ronghanghu commented on #236
Hi @JayZhu0104, are you using the `master` branch or the `project/m4c` branch? The instructions (in https://github.com/facebookresearch/mmf/blob/project/m4c/projects/M4C/README.md) are for the `project/m4c` branch.

For the master branch, you can run as follows:
[code]

[2020-05-25 01:11] JayZhu0104 commented on #236
Thank you for your reply! I have solved this problem now. Maybe the fasttext model that I downloaded earlier is wrong. After I delete it, I can download it again.Thank you so much!

[2020-05-25 01:11] #236 closed

[2020-05-25 04:26] BTTHuyen commented on #258
about IMDBs, I use this [link](mmf/datasets/builders/visual_dialog/scripts/build_imdb.py), but I got a bug:
<img width="716" alt="Screen Shot 2020-05-25 at 1 25 17 PM" src="https://user-images.githubusercontent.com/26899331/82778063-2ebcf680-9e8b-11ea-983a-ddb912b496c1.png">
the codes not exist 'mmf.utils.preprocessing'

[2020-05-25 17:29] dni138 opened #276 "Working with models and data"
## ❓ Questions and Help
My team and I tried to get some benchmark scores using LoRRA, Pythia, and other pretrained models, but could get them up and running. Below is a picture of the error.

![Screen Shot 2020-05-24 at 3 53 10 PM](https://user-images.githubusercontent.com/28276541/82833310-a7bc4e00-9e8b-11ea-8bd7-fac4cb15655c.png)

Should we be downloading more files and data than what is given i

[2020-05-26 03:49] vedanuj commented on #276
Hi , we are working on updating the documentation. It is outdated as we are in beta release of a new version. Meanwhile if you want to run training for `lorra` model, try this command :

[code]

[2020-05-26 07:04] wind91725 commented on #276
Ok,looking forward to your updating documentation.

[2020-05-26 17:16] #274 closed

[2020-05-26 18:13] ushnish commented on #272
Hello Vedanuj, thank you for your response. I ran that and it started loading data and training, however some hours later it failed with the following message

`2020-05-22T23:43:18 WARNING: /home/ushnish/mmf/mmf/datasets/processors/processors.py:402: UserWarning: No model file present at /home/ushnish/.cache/torch/mmf/wiki.en.bin.
  warnings.warn(f"No model file present at {model_file}.")

2020-05

[2020-05-27 06:24] apsdehal commented on #258
That is a very old script. Please use https://github.com/facebookresearch/mmf/blob/master/mmf/utils/text.py#L64 function to tokenize stuff. Follow the structure of textcaps imdb to create your own imdb.

[2020-05-28 01:34] #276 closed

[2020-05-29 00:37] mineshmathew opened #279 "Help with Imdbs for M4C"
## ❓ Questions and Help
@ronghanghu I have a few questions on the imdbs created for datasets for M4C model

1. For each image there is a field called "ocr_toens" and "ocr_normalized_boxes". How are these normalized boxes created from bounding boxes in "ocr_tokens" ? Is the  ordering of tokens in "ocr_toens" and "ocr_norrmalized_boxes" important ?
2. How is "valid_answers" and "answers"  in the imd

[2020-05-29 00:59] #162 closed

[2020-05-29 01:00] #223 closed

[2020-05-29 02:42] ronghanghu commented on #279
Hi,

The `ocr_normalized_boxes` key contains bounding boxes normalized to the range between 0 and 1. It is obtained as `[x_min / W, y_min / H, x_max / W, y_max / H]`, where (x_min, y_min) is the upper left corner of the bounding box in pixels, (x_max, y_max) is the lower right corner of the bounding box in pixels, and H and W are image height and width (in pixels) respectively.

The order of the O

[2020-05-29 03:23] mineshmathew commented on #279
thanks a lot for a quick and detailed reply :)

[2020-05-29 03:23] #279 closed

[2020-05-29 07:50] omry commented on #272
That error seems like an outdated version of PyYAML. Try to upgrade it to the latest version.

[2020-05-29 08:44] BTTHuyen commented on #258
Thank your your support, but I have another question: How to get the detectron.lmdb file ?
<img width="670" alt="Screen Shot 2020-05-29 at 5 43 27 PM" src="https://user-images.githubusercontent.com/26899331/83240139-e9befa00-a1d3-11ea-9850-68c7edc566b8.png">

[2020-05-29 09:47] mineshmathew opened #280 "Object features and features of OCR tokens' boxes"
## ❓ Questions and Help
This question is specific to M4C model for VQA. I hope @ronghanghu  will be able to help me

**which mask-rcnn-benchmark to use**
I see that features of objects are extracted using [this script](https://github.com/facebookresearch/mmf/blob/project/m4c/pythia/scripts/features/extract_features_vmb.py) and features of ocr boxes using[ this one](https://github.com/facebookresea

[2020-05-30 10:02] mineshmathew commented on #280
hi @ronghanghu
I have been trying to install the maskrcnn benchmark  as given in https://github.com/ronghanghu/vqa-maskrcnn-benchmark-m4c/blob/bbox_feat_extract/INSTALL.md

The instructions seems  to be the same one as given for the original repo here - https://github.com/facebookresearch/maskrcnn-benchmark

I have been facing lot of issues with pytorch versions and gcc versions. Do you suggest to

[2020-05-30 15:29] ronghanghu commented on #280
Hi @mineshmathew,

I used PyTorch 1.3 in my experiments for feature extraction, but PyTorch 1.4 or higher version should work as well. To install, one can simply do the following:
[code]

[2020-05-30 16:23] #280 closed

[2020-05-31 09:51] mineshmathew opened #283 "Vocabulary used for answer processor for TextVQA"
## ❓ Questions and Help
Hi this is regarding pythia v0.4. For the [config file for Text VQA](https://github.com/facebookresearch/mmf/blob/v0.4/pythia/common/defaults/configs/datasets/vqa/textvqa.yml) I see that a vocabulary file - vocabs/answers_textvqa_8k.txt is mentioned under answer processor.

Can you please help me understand why this vocab file is required. The vocab corresponding to output

[2020-05-31 18:19] apsdehal commented on #258
Those are features for TextVQA specifically. You will have to use extract_features_vmb.py script to generate features for VizWiz captioning dataset.

[2020-05-31 21:09] apsdehal commented on #283
Bigger vocab is used for `LoRRA + LA` model reported in the [TextVQA](https://arxiv.org/abs/1904.08920) paper. Shorter vocabulary is for  `LoRRA + SA` model.

[2020-05-31 21:11] apsdehal commented on #256
Closing as already responded. If you face any other issues, please open a new one.

[2020-05-31 21:11] #256 closed

[2020-05-31 21:12] apsdehal commented on #195
Yes, that's a nice research problem but out-of-scope for the current project. Closing this one for now. Please open up a new issue if you face any more problems.

[2020-05-31 21:12] #195 closed

[2020-05-31 21:14] apsdehal commented on #201
This should be fixed now. Closing.

[2020-05-31 21:14] #201 closed

[2020-06-01 06:51] #283 closed

[2020-06-02 14:58] MarijnQ commented on #264
It's still giving me an error.... Has there been a fix yet?

[2020-06-03 06:17] josephch405 opened #288 "Hateful memes baselines don't seem to be predicting correctly"
According to the docs under the Hateful Memes directory, I should be able to run

[code]

And output a reasonably perfomant csv for submission. Specifically, we are running the Visual Bert baselines with

[code]
, since it seems like running with the from_pretrained flag on when using from_coco.yaml was only meant for training (inferring with that config gave variable predictions).

Running the mm

[2020-06-03 17:58] #288 closed

[2020-06-03 18:03] vedanuj commented on #288
Thanks @josephch405 for raising this issue. This should be fixed now. Please try installing mmf from latest master and try it out.

[2020-06-04 03:04] apsdehal commented on #272
This should be fixed in the latest pip package.

[2020-06-04 03:04] #272 closed

[2020-06-05 01:45] xxxxxxxxy opened #290 "cannot reproduce the hateful memes result"
## ❓ Questions and Help
I run the following instructions step by step:
[code]
The paper indicates that the result on the test dataset with ViLBERT CC is 70.03 or so, but I got 0.4647 after submitting the predictive result to the submission page.

An error occurs when training at the last step:

2020-06-05T06:43:26 INFO: Stepping into final validation check
2020-06-05T06:43:26 INFO: Evaluation time

[2020-06-05 02:38] vedanuj commented on #290
Hi @xxxxxxxxy

In your `mmf_predict` command you are not using the trained model but the coco pretrained model(that is not finetuned on the hm dataset). That may be the reason you are getting low scores. After you finish training you should get a trained model saved in your `env.save_dir` or if you haven't specified it then by default `./save` directory.

You should use that model when running `mm

[2020-06-05 02:48] apsdehal commented on #261
Not sure, how exactly you are downloading it, but I see same hash everytime. I will add a bypass_checksum arg soon. Checksum is for user protection itself, they should be allowed to bypass it.

[2020-06-05 02:49] vedanuj commented on #290
Secondly, You are using `vilbert` config for mmf_train but for prediction you are using `visual_bert` in your command.

Your mmf_predict command for `vilbert` should be :

[code]

[2020-06-05 04:10] andrewlee98 opened #291 "All negative predictions from Visual BERT pretrained on COCO, for hateful memes"
## 🐛 Bug

When I try to run forward() on the hateful memes validation set, the predictions are all negative. Here are the first few results:

{'scores': tensor([[ 3.3944, -3.3940],
        [ 4.1372, -4.5100],
        [ 4.0722, -4.3152],
        [ 3.7807, -4.3434],
        [ 4.1213, -4.4178],
        [ 0.6177, -0.1645],
        [ 3.9144, -4.2022],
        [ 3.7445, -4.4305],
        [ 3.9649, -4.49

[2020-06-05 05:47] ZhangYuef opened #293 "Fail to run pytest after installation"
## ❓ Questions and Help
### Environment
- python: 3.7
- pytorch 1.5 + CUDA10.1

### Problem
I successfully installed the `mmf`  from source with `pip install --editable .`.
After that, I run `pytest ./tests/` which is suggested in the documents to check the library. Then I got the error as following:

I have no idea now why this error happens. So if anyone else who has faced this problem or know h

[2020-06-05 05:48] apsdehal commented on #291
Any particular reason you are not using `mmf_predict` to run predictions?

[2020-06-05 05:52] apsdehal commented on #293
Can you post the full error, is it related to cuda?

[2020-06-05 05:57] ZhangYuef commented on #293
Thanks for this quick response!
This is the whole error log I got after running `CUDA_VISIBLE_DEVICES=0 pytest -v ./tests/utils/test_checkpoint.py'.

I think you are right. It seems the program doesn't use GPU/cuda in a proper way. But how could I solve it?

[2020-06-05 06:02] apsdehal commented on #293
This error is fine and shouldn't affect your normal workflow. You can skip this test for now and move ahead with your programming. I will fix it properly in a PR. Thanks for reporting this. #257 is related to this but needs to fixed properly.

[2020-06-05 06:12] ZhangYuef commented on #293
Thanks @apsdehal 's help! I got it.

For the others who will see this issue in the future: this _error_ is related with the parameters' initialization in test file `tests/utils/test_checkpoint.py `. ([link](https://github.com/facebookresearch/mmf/pull/257#issuecomment-630675387))
It's the error in test file so it will not hurt models' usage. Other people have already raised a PR (#257) for this bu

[2020-06-05 06:17] #293 closed

[2020-06-05 07:42] agam-kashyap opened #295 "No type found for Optimizer attribute error"
## ❓ Questions and Help
I have been trying to run the hateful memes project - specifically the ViLBERT CC model and am getting this error.
I ran the following command as suggested in the [readme here](https://github.com/facebookresearch/mmf/tree/f11adf0e4a5a28e85239176c44342f6471550e84/projects/hateful_memes#training):
[code]

But I keep getting the following error:
[code]
Thanks in advance!

[2020-06-05 07:54] apsdehal commented on #295
Can you run this exact command again with but with added parameter of `training.log_detailed_config=True` at the end?
So run:
[code]

and post back the stdout here.

[2020-06-05 08:02] apsdehal commented on #295
Actually, while you do this, can you also run `python -m torch.utils.collect_env` and post output here.

[2020-06-05 08:07] agam-kashyap commented on #295
@apsdehal Okay sure, will do that and post.

[2020-06-05 08:39] agam-kashyap commented on #295
output for the command with `training.log_detailed=True`
[code]

Output for `python -m torch.utils.collect_env`

[code]

[2020-06-05 08:44] apsdehal commented on #295
Have you installed from source or pip package?

[2020-06-05 08:49] agam-kashyap commented on #295
I installed from source using these commands
[code]

[2020-06-05 18:40] andrewlee98 commented on #291
I would like to run the model on a different dataset, and have the flexibility to add to the model.

[2020-06-06 05:31] agam-kashyap commented on #295
This was the complete log for that command:
Is there a way to work around this issue?
[code]

[2020-06-06 07:48] apsdehal commented on #291
I would first test the actual mmf_run command for this pretrained model to evaluate on validation set to see if you can match the accuracy on validation set for the pretrained model provided in the paper. If you don't then we will look into what can be your issue.

Btw, your cuda isn't properly setup. Is cuda is says no for you. You probably need to install proper version of pytorch 1.5 for cuda 1

[2020-06-06 08:00] apsdehal commented on #295
I am unable to reproduce this locally. As far as I can tell, the config file: `projects/hateful_memes/configs/vilbert/from_cc.yaml` isn't a symlink for you.
Test the output of
`file projects/hateful_memes/configs/vilbert/from_cc.yaml` to see whether it is a symlink or not. If that's the case, I am not sure why would that often.

A workaround for now is to copy the original file i.e. `projects/vilb

[2020-06-06 08:45] agam-kashyap commented on #295
[This is the colab notebook that I am working out.](https://colab.research.google.com/drive/1y_tzk268UjCFZdVH1avDC0vY91j2S3xn?usp=sharing)
 The section "Responding to issue on github" reproduces this issue.
Also, this is my first time working on colab, so let me know if I shared it the wrong way. Thanks!

[2020-06-06 11:30] agam-kashyap commented on #295
Being on colab I am unable to test this.

I guess this does seem to be an issue. Copying the file from vilbert direcctory doesn't seem to solve the problem since that to is a symlink.

[2020-06-06 13:35] Ra0k opened #298 "Stop/Pause training process"
## ❓ Questions and Help

Is it possible to save the current model and stop the training process before it finishes?

I started it by the following command:
`python mmf_cli/run.py config=projects/pythia/configs/textvqa/defaults.yaml datasets=textvqa model=pythia run_type=train_val`

The reason behind it is that I noticed the eta according to the train.log file is 163h 57m 35s 140ms, I can't wait so

[2020-06-06 18:31] AbSaifi opened #299 "mmf installation error"
pip install --upgrade --pre mmf
Collecting mmf
  Using cached mmf-1.0.0rc8.tar.gz (159 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.
  ERROR: Command errored o

[2020-06-06 21:02] apsdehal commented on #298
You should use pretrained model for `M4C` in that case. On the other hand, there are multiple ways to increase speed:

1. Increase the `training.evaluation_interval` to a bigger number so that it doesn't evaluate that often
2. I am not sure how many GPUs you are using but this should not be this slow
3. First iteration usually is slow, it will speed up after that.
4. Use `training.pin_memory=True`

[2020-06-06 21:04] apsdehal commented on #299
Can you try installing from source for now and see if that works? We don't have full fledged support for Windows at the moment but this error probably won't come when you install from source. See https://mmf.readthedocs.io/en/latest/notes/installation.html#install-from-source

Can you provide me output of `python -m torch.utils.collect_env` for my debugging purposes?

[2020-06-07 00:28] AbSaifi commented on #299
Hi, I tried installing from the source and installation was successful. I had to separately install visual c++ builder tools though for successful installation of fasttext, which is present in requirement of mmf.

thanks for help.
Is the o/p of collect_env still needed or shall I mark this thread closed.

[2020-06-07 00:50] apsdehal commented on #299
If you can provide me for my debugging purposes for the pip package, that would be great. After that feel free to close the issue. Thanks.

[2020-06-07 01:17] AbSaifi commented on #299
python -m torch.utils.collect_env
Collecting environment information...
PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Microsoft Windows 10 Home Single Language
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration: Could not collect
Nvidia dri

[2020-06-07 01:17] #299 closed

[2020-06-07 06:01] apsdehal commented on #295
I have been unable to replicate your issue even on the colab you provided by running it directly.
See https://colab.research.google.com/drive/1_JQ4FIiB6u8gPWD5ExKR_BzYTu9RRQ1n.
For now solution would be replace the content of the config file you are using with

[code]

I will try to look into more why this issue might be happening. For long term, I will open up a task to move away from symlinks an

[2020-06-07 15:54] AbSaifi opened #300 "mmf pytest failed"
Steps :
1. Latest source from git clone https://github.com/facebookresearch/mmf.git --> Success
2. Go to mmf source folder --> Success
3. pip install --editable . --> Success
4. pytest ./tests/ --> Fail

Result --> 8 tests failed, 57 passed, 18 warnings and 2 error. Problem can be seen majorly as
AttributeError: module 'torch.distributed' has no attribute 'is_nccl_available'
E       AssertionError

[2020-06-07 16:45] apsdehal commented on #295
@agam-kashyap Can you check and tell me what is your filesystem type (e.g. Fat/ntfs etc.)?

[2020-06-07 19:52] apsdehal commented on #295
OK that seems like the issue. Can you clone the repo again with command:
`git clone --config core.symlinks=true https://github.com/facebookresearch /mmf.git` and try your commands again?

[2020-06-07 20:27] apsdehal commented on #300
As per https://pytorch.org/docs/stable/distributed.html#backends-that-come-with-pytorch `torch.distributed` is only supported for linux systems. I would skip the tests and test commands with environment variable `CUDA_VISIBLE_DEVICES=0` set. Let us know if that doesn't work. I am closing this issue as it is more related to pytorch rather than mmf.

[2020-06-07 20:27] #300 closed

[2020-06-08 04:35] mineshmathew opened #302 "Using only dynamic vocabulary ( no fixed vocab) for LoRRA or M4C models"
## ❓ Questions and Help
Hi
If I  dont want to use a fixed vocabulary for output classes but only an output space defined by ocr tokens in the image,  what changes i need to make for the lorra and m4c models.

For example, I see that in case of m4c model vocabulary is specified [here](https://github.com/facebookresearch/mmf/blob/project/m4c/configs/vqa/m4c_textvqa/m4c.yml) . Will removing this voca

[2020-06-08 05:23] agam-kashyap commented on #295
Yes, I did that, but I got this error
[code]

[2020-06-08 05:31] ronghanghu commented on #302
Yes, replacing `m4c_vocabs/textvqa/fixed_answer_vocab_textvqa_5k.txt` in https://github.com/facebookresearch/mmf/blob/project/m4c/configs/vqa/m4c_textvqa/m4c.yml#L28 with an empty vocabulary file (that only contains the following 4 lines) will make M4C only use the OCR output space.

To create an empty vocabulary file for M4C, put the following 4 lines into a plain text file:
[code]

[2020-06-08 06:22] apsdehal commented on #295
As per https://github.com/alicevision/meshroom/issues/735, this happens when your google drive is not properly mounted. Can you follow the conversation and steps in that issue to see if that fixes your problem? As with meshroom, this problem is more related to colab rather than mmf.

We will also open up a PR on our end to fix this properly by removing all symlinks.

[2020-06-08 07:18] agam-kashyap commented on #295
Sure. I will look into that thread and try using the internal storage itself. Thanks a lot for your help!

[2020-06-08 08:18] mineshmathew commented on #302
thank you

[2020-06-08 08:18] #302 closed

[2020-06-08 08:54] jinhyun95 opened #303 "UnpicklingError while loading Hateful Memes dataset"
## ❓ Questions and Help
Hi I'm trying to train the baseline models with Hateful Memes dataset, but the following error pops up.

mmf_run config=projects/hateful_memes/configs/concat_bert/defaults.yaml model=concat_bert dataset=hateful_memes

error:

Here are some details on my development environment.
Python 3.6 (Anaconda)
CUDA 10.1
The latest commit of mmf (installed from source)
Ubuntu 16.04.5 L

[2020-06-08 08:55] jinhyun95 commented on #303
P.S. The dataset was unzipped and converted via mmf_convert_hm, and the checksum was successful.

[2020-06-08 10:57] Ra0k commented on #298
Thank you!

[2020-06-08 10:58] #298 closed

[2020-06-08 17:42] nyj-ocean opened #306 "Can't download features.tar.gz"
## ❓ Questions and Help
@apsdehal
when  I run this command
`mmf_run config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c run_type=train_val`

it start to download the `eatures.tar.gz`
but it will broke a few minutes later since `eatures.tar.gz` is too large (34.3G)

[code]

How should I do？

[2020-06-08 18:19] apsdehal commented on #303
@jinhyun95 Can you use Python 3.7 instead?

[2020-06-08 20:32] apsdehal commented on #306
Hi.
This is a problem with your internet connection being flaky rather than mmf itself.

[2020-06-09 05:30] nyj-ocean commented on #306
@apsdehal
Thanks for your reply
I want to download the `features.tar.gz` using a url in browser

I find a  url `https://docs.google.com/uc?export=download` in `download.py`
I try to open this url `https://docs.google.com/uc?export=download` in browser to download the `features.tar.gz`
But it can't open

Can you provide a url to download the `features.tar.gz` ?

[2020-06-09 05:56] apsdehal commented on #306
The url should be https://dl.fbaipublicfiles.com/mmf/data/datasets/textvqa/defaults/features/features.tar.gz.

Depending on if you are planning to use features with MMF, you will have replicate the proper directory structure for mmf and move the features.tar.gz there. MMF can then handle the extraction for you.

[2020-06-09 06:50] nyj-ocean commented on #306
@apsdehal
Thanks for your help
I am downloading` features.tar.gz`

I have anothor question
when I finish download the` features.tar.gz` , which directory should I put in on?
Should I put in on the directory: `/root/.cache/torch/mmf/data/dataset/hateful_memes/defaults/features/ `  ？

[2020-06-09 11:13] aabzaliev commented on #303
using python 3.7 instead of 3.6 solved the issue for me. AFAIK pickle is unfriendly with different versions of python, so makes sense.

[2020-06-09 16:07] mineshmathew opened #312 "On config file for m4c"
## ❓ Questions and Help
@ronghanghu
In the [config file for m4c ](https://github.com/facebookresearch/mmf/blob/project/m4c/configs/vqa/m4c_textvqa/m4c.yml) what  does the `dataset_attributes.processors.copy_processor.params.max_length `parameter represent?

Its value is 100. From the paper I understand that max number of decoding steps is 12 , which is specified in the config file as `max_copy_ste

[2020-06-09 16:16] ronghanghu commented on #312
The configuration for maximum decoding step is `max_copy_steps ` (https://github.com/facebookresearch/mmf/blob/project/m4c/configs/vqa/m4c_textvqa/m4c.yml#L36).

`dataset_attributes.processors.copy_processor.params.max_length` is used to decide the maximum length of object bounding box tensors copied from the imdbs. It should be set to the same value (100) as `features_max_len` here (https://githu

[2020-06-09 20:13] #261 closed

[2020-06-10 00:23] jinhyun95 commented on #303
Worked for me too! Thanks a lot.

[2020-06-10 07:58] mineshmathew commented on #312
Hi,

I have been trying to change the config options for m4c . In my case I want to use upto 150 ocr tokens. I have extracted features for objects as well as frnc features of ocr bounding boxes.
I keep getting dimension issues although I change original value of 50 to 150 in the config file

[2020-06-10 08:35] mineshmathew commented on #312
Hi,
I was trying not change the number of objects considered  (currently 100) to say 10. For this
I changed `features_max_len` [here](https://github.com/facebookresearch/mmf/blob/project/m4c/pythia/common/defaults/configs/datasets/vqa/m4c_stvqa.yml) to 10 and `dataset_attributes.processors.copy_processor.params.max_length` [here](https://github.com/facebookresearch/mmf/blob/project/m4c/configs/vqa

[2020-06-10 09:20] mineshmathew commented on #312
@ronghanghu
I was trying to change the number of objects whose features are considered for the m4c model for textvqa dataset. In the original model it is 100. If I want to change it to say 10, what all parameters I need to change.

I changed the `dataset_attributes.processors.copy_processor.params.max_length` in[ m4c.yml](https://github.com/facebookresearch/mmf/blob/project/m4c/configs/vqa/m4c_tex

[2020-06-10 13:58] mineshmathew opened #316 "M4C training - Data loading error"
## ❓ Questions and Help
CUDA Version: 10.2 ,python 3.5.2  torch==1.5.0,  torchvision==0.6.0
tried with  torch==1.4.0,  torchvision==0.5.0 too
I am using the project/m4c branch
I get the below run time error when training the m4C model for a dataset similar to textvqa
I run with all default configs

@ronghanghu  Do you think you can help me with this error.

UPDATE - The issue seem to occur when th

[2020-06-10 23:12] apsdehal commented on #306
You are using textvqa dataset so you should put it in textvqa directory rather than hateful_memes. Rest of the path looks good.

[2020-06-11 01:10] #312 closed

[2020-06-11 01:11] #316 closed

[2020-06-11 07:57] nyj-ocean commented on #306
@apsdehal
Sorry to bother you again

When I run
`mmf_predict config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c run_type=test checkpoint.resume_zoo=m4c.textvqa.defaults`

I meet an error
[code]

I notice that in the directory ` /my-root/mmf/mmf/utils/phoc/`,  there is not a `cphoc.py`
But I notice in the directory  ` /my-root/mmf/mmf/utils/phoc/src/`,  there is  a `cphoc.

[2020-06-11 23:54] apsdehal commented on #306
Can you try cloning and installing again? We recently fixed this issue.

[2020-06-12 08:07] nyj-ocean commented on #306
@apsdehal
Sorry to bother you agian

When I run
`mmf_predict config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c run_type=test checkpoint.resume_zoo=m4c.textvqa.defaults`

it can not download the `detectron.lmdb`,just like following
[code]
maybe it is the problem of my internet connection

- Can you provide me a url to download the `detectron.lmdb`

- I think I also need t

[2020-06-12 08:37] madamalarevanth commented on #167
Hello @apsdehal, I happy to work on it. If someone else working on it please let me know

[2020-06-12 08:40] madamalarevanth commented on #167
Is there any CLA I need to sign please let me know. I am new to the open source contribution

[2020-06-13 10:05] Ra0k opened #328 "Get bounding box information within Lorra model"
## ❓ Questions and Help

I am wondering if it is possible to get the bounding box information within the Lorra model (mmf/models/lorra.py) for both the image regions and the words. I would like to use the positions to develop a new model. If it is not possible, how should I proceed? Should I override the _process_feature_embedding_ method? Sorry, it is not crystal clear for me, how could I get the

[2020-06-13 13:43] Ra0k commented on #306
A similar thing happens to me as well!

`mmf_predict config=mmf/projects/lorra/configs/textvqa/defaults.yaml datasets=textvqa model=lorra run_type=test checkpoint.resume_file=model_data/lorra.pth`

This is the full traceback: https://pastebin.com/bAQfcRbt

It runs so fast that I think it doesn't download the database.

[2020-06-14 04:05] nyj-ocean commented on #306
@Ra0k
have you solved this problem?
How do you solve it ?

[2020-06-14 09:45] Ra0k commented on #306
@nyj-ocean

I couldn't solve it yet. :/
@apsdehal do you have any idea what cause the problem?

[2020-06-14 16:07] apsdehal commented on #306
@Ra0k Your issue seems to be different than @nyj-ocean's. Let me debug it and get back to you.

@nyj-ocean The path to ocr_en_features: https://dl.fbaipublicfiles.com/mmf/data/datasets/textvqa/ocr_en/features/features.tar.gz. Extract them to /root/.cache/torch/mmf/data/datasets/textvqa/ocr_en/features/

Make sure your paths are properly setup for lmdb as you are getting lmdb file not found errors.

[2020-06-14 16:12] apsdehal commented on #306
@Ra0k It seems like VQA Answer processor is broken for the case of LoRRA. Can you open up a separate issue as it is an unrelated to this one?

[2020-06-15 00:26] #303 closed

[2020-06-15 00:32] jinhyun95 opened #330 "[Hateful Memes] Unstable validation on pretrained baseline model zoo"
## ❓ Questions and Help

When executing the following command to evaluate the pretrained model zoo, the results differ every time, and none of the results shows the results provided in https://arxiv.org/abs/2005.04790.

run 1:

run 2:

run 3:

run 4:

[2020-06-15 01:47] vedanuj commented on #330
The config `projects/hateful_memes/configs/visual_bert/from_coco.yaml` is used only for training as it has `checkpoint.resume_pretrained=True` and loads only the `bert` part of the model from a coco pretrained visual bert model and the classification weights are not loaded.

For validation and inference when you are loading a finetuned model use this config : `projects/hateful_memes/configs/visual

[2020-06-15 01:56] jinhyun95 commented on #330
@vedanuj  Thanks!! Same should be applied for Vilbert, I suppose?

[2020-06-15 02:57] xxxxxxxxy commented on #290
I tried this:

`mmf_predict config=projects/hateful_memes/configs/vilbert/defaults.yaml model=vilbert dataset=hateful_memes run_type=test checkpoint.resume_file=./save/vilbert_final.pth`

I submitted the produced results and I got 0.3715. Still cannot reproduce the result.

[2020-06-15 03:01] xxxxxxxxy commented on #290
I paste the wrong code. It should be what you wrote.

However, this problem occurs when training and not predicting.

Here is the problem:

[code]

[2020-06-15 03:31] apsdehal commented on #330
@jinhyun95  Yes, you are right.

[2020-06-15 11:47] Ra0k opened #331 "VQA Answer processor is broken for the case of LoRRA"
## 🐛 Bug

[VQA Answer processor is broken for the case of LoRRA](https://github.com/facebookresearch/mmf/issues/306#issuecomment-643787846)

## Command To Reproduce

`mmf_predict config=mmf/projects/lorra/configs/textvqa/defaults.yaml datasets=textvqa model=lorra run_type=test checkpoint.resume_file=model_data/lorra.pth`

[2020-06-15 15:48] vedanuj commented on #290
This issue should be fixed in rc10. Can you please reinstall the package or install from source?

[2020-06-15 20:11] #306 closed

[2020-06-16 02:24] apsdehal commented on #328
You can enable `return_features_info: true` to get bounding box features. Similarly check other options here: https://github.com/facebookresearch/mmf/blob/master/projects/m4c/configs/textvqa/defaults.yaml#L60

You can check which keys you have in the sample list using `sample_list.keys()` method.

[2020-06-16 08:10] #330 closed

[2020-06-16 21:38] Ra0k commented on #328
So far so good. I got access to "ocr_bbox_coordinates" once I got the dataloader fixed. I will make a pull request for that. On the other hand, the bounding box information for the image feats are still missing.

[2020-06-17 04:50] #331 closed

[2020-06-17 12:22] agam-kashyap opened #337 "[Hateful Memes]CUDA runs out of memory while training without actually utilising it"
## ❓ Questions and Help
Hi,

I have been facing this issue for quite a while now. It when I run the training command for visual_bert pre-trained on coco dataset for the hateful memes challenge.
### Commad
[code]
### Error
[code]

But as we can see here, the CUDA usage for both devices is minimal and we have empty space.

[code]

Any help would be appreciated, thanks!

[2020-06-17 16:54] mckinziebrandon opened #338 "Writer not registered when calling build_dataset"
## 🐛 Bug

I was following the tutorial for the hateful memes challenge ([link](https://medium.com/pytorch/bootstrapping-a-multimodal-project-using-mmf-a-pytorch-powered-multimodal-framework-464f75164af7)). I made a slight modification so I could try downloading TextVQA. I ran the following:

[code]

This eventually tries calling `self.writer.write` inside processors.py (line 401). The issue is tha

[2020-06-17 21:21] mckinziebrandon opened #340 "Quickstart command fails to load weights"
## 🐛 Bug

Tried running the first command in the Quickstart tutorial on current master branch (dca3ec3040ea6e8983bb39fa7a65aca4f43be848).

## Command

[code]

## To Reproduce

Run the following:

[code]
## Expected behavior

I expected it not to crash (full console output/error message pasted at the end of this issue).

## Environment

[code]

## Additional context

Full console output:

[code]

[2020-06-17 21:30] mckinziebrandon commented on #340
EDIT: whoops, I think this was a simple pathing issue. Passing the full path to the defaults file seems to have resolved it. I'm getting a different issue now that's unrelated (RAM explosion) but I'll close this and file a separate issue.

Also note that installing from source is required (the config files aren't properly setup in the PyPi version).

[2020-06-17 21:30] #340 closed

[2020-06-17 21:46] Ra0k opened #341 "VQA Answer processor is broken for the case of LoRRA"
## 🐛 Bug
The previous issue, #331 was closed after a merge but the code still fails at another point in the answer processor. [VQA Answer processor is broken for the case of LoRRA](https://github.com/facebookresearch/mmf/issues/331)

## Command To Reproduce

`mmf_predict config=mmf/projects/lorra/configs/textvqa/defaults.yaml datasets=textvqa model=lorra run_type=test checkpoint.resume_file=model_

[2020-06-17 22:30] apsdehal commented on #328
Did you enable `return_features_info` to True, if you did and you should get it in the key "image_info_0".

[2020-06-17 22:40] apsdehal commented on #337
Are you continuously watching the usage? I would suggest using nvtop to monitor cuda usage.

Since, it is clear that your GPUs are not able to fit the batch size, I would suggest decreasing the batch size and increasing number of updates.

[2020-06-18 04:58] agam-kashyap commented on #337
Sure @apsdehal. Decreasing the batch size does work. Thanks!

[2020-06-18 04:58] #337 closed

[2020-06-18 08:24] vedanuj commented on #338
Thanks for reporting this bug. We are looking into it.

[2020-06-18 14:43] Ra0k commented on #328
I used `sample_list.image_info_0.keys()` to print the keys and it gave me only the max features:
odict_keys(['max_features']).

This is my config I added to the default one:
[code]

[2020-06-18 23:27] purvaten commented on #330
Hi @vedanuj I ran this command that you had mentioned for validation:

[2020-06-18 23:34] purvaten commented on #330
Hi @vedanuj I ran the same command that you mentioned for validation:

`mmf_run config=projects/hateful_memes/configs/visual_bert/defaults.yaml model=visual_bert dataset=hateful_memes run_type=val checkpoint.resume_zoo=visual_bert.finetuned.hateful_memes.from_coco
`

However I am not able to _exactly_ reproduce the numbers from the paper.

For the above command for visual bert finteuned on coco I

[2020-06-18 23:41] vedanuj commented on #330
Hi @purvaten .. the numbers reported in the paper are average of multiple runs with different seeds. So there might be slight differences.

[2020-06-18 23:45] purvaten commented on #330
@vedanuj I see, makes sense. Thanks for the clarification!

[2020-06-19 11:38] xxxxxxxxy commented on #290
That checkpoint issue was fixed. But I still cannot reproduce the results.

I tried:

`mmf_predict config=/data-input/vilbert_coco/save/config.yaml model=vilbert dataset=hateful_memes run_type=test checkpoint.resume_file=/data-input/vilbert_coco/save/vilbert_final.pth`

and

`mmf_predict config=projects/hateful_memes/configs/vilbert/from_cc.yaml model=vilbert dataset=hateful_memes run_type=test ch

[2020-06-20 04:20] mineshmathew opened #347 "Running Inference without EvalAIAnswerProcessor"
## ❓ Questions and Help
Hi

I am doing inference on the M4C model as given below
`python tools/run.py --tasks vqa --datasets m4c_textvqa --model m4c \
--config configs/vqa/m4c_textvqa/m4c.yml \
--save_dir save/m4c \
--run_type inference --evalai_inference 1 \
--resume_file data/models/m4c_textvqa_m4c.ckpt`
I assume this will also post process answers to suit eval ai submission as given in the [Eva

[2020-06-20 04:40] ronghanghu commented on #347
Hi, actually the answers written to the prediction file does not go through this EvalAIAnswerProcessor (but the EvalAI server will post-process the answers in the prediction file on the server end before computing accuracy). This processor is only used when locally evaluating the TextVQA accuracy on the validation set.

If you would like to disable it, you can comment out these lines: https://gith

[2020-06-20 06:50] #347 closed

[2020-06-21 15:00] JayZhu0104 opened #348 "A question about log path on Windows"
## ❓ Questions and Help
When I use the command "mmf_run config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c run_type=train_val", the log file reported an error.

The details of error as follow:
`(pythia) F:\Projects\mmf>mmf_run config=projects/m4c/configs/textvqa/defaults.yaml datasets=textvqa model=m4c run_type=train_val
Namespace(config_override=None, local_rank=None, op

[2020-06-22 06:05] Ra0k commented on #328
@apsdehal, is it possible that the _use_order_vectors_ is overwritten somewhere on my end?

[2020-06-22 15:55] vedanuj commented on #348
@JayZhu0104 Thanks for the issue. We will look into this. We do not have extensive support for windows. So please expect a delay in resolution of this issue.

[2020-06-22 16:12] #338 closed

[2020-06-22 16:39] vedanuj commented on #290
Try the config : `projects/hateful_memes/configs/vilbert/defaults.yaml` for validation and prediction. If the config has `resume_pretrained: true` then only the bert base is loaded and classifier weights are not. So use that config only when training.

[2020-06-23 08:26] jishnuvk opened #350 "[Hateful_Memes]Unexpected Results while training Visualbert"
## ❓ Questions and Help
We tried to train visual_bert on the hateful memes dataset using the cli command:

The only change made was in the config file to reduce batch size due to GPU limitations.

We ran the predict command:

The result was that every sample was labeled 0

first few lines of the prediction output:

All entries were like this.

While looking through the training log files, I found

[2020-06-23 09:20] xxxxxxxxy commented on #290
Thanks. This issue has been resolved.

[2020-06-23 09:20] #290 closed

[2020-06-23 12:39] JayZhu0104 commented on #348
Thank you for your reply!
I have solved this problem, and just `train_2020-06-21T20:30:14.log` changed to `train_2020_06_21T20:30:14.log`. It works!

[2020-06-23 12:39] #348 closed

[2020-06-23 14:07] #295 closed

[2020-06-24 00:19] adjgiulio opened #353 "AttributeError: module 'torch.distributed' has no attribute 'is_nccl_available'"
[code]

[2020-06-24 01:14] vedanuj commented on #353
This will be fixed once #352 lands.

[2020-06-24 01:23] vedanuj commented on #350
After your training is over you should use either the `best.ckpt` or `visual_bert_final.pth` files for validation or prediction. Can you test with those and let us know how much you are getting?

[2020-06-24 04:47] jishnuvk commented on #350
@vedanuj Thanks for the response.

Here is the validation on best.ckpt

Another thing I tried was load the best.ckpt and train for 100 iterations. The result :

[2020-06-24 05:44] woojeongjin opened #355 "A code change affects other runs."
## 🐛 Bug

A code change affects other runs when num_workers > 0.
If I change the code, then it seems a running file reimports python libraries. The imported python libraries are not fixed.
You can simply test by the following steps.

First, run any command.
Then make a code change; add "print("blahblah") to the text processor (e.g., BertTokenizer).
At some point (right before validation or between

[2020-06-24 22:27] apsdehal opened #357 "Docs show author only from last commit instead of actual authors"
## 🐛 Bug

Currently, docs show the author from last commit as author for all of the docs. This is an issue with github checkout action as seen in https://github.com/facebook/docusaurus/issues/2798#issuecomment-636602951 and https://github.com/facebook/docusaurus/issues/2952.

[2020-06-25 06:30] apsdehal commented on #328
Apologies for late reply @Ra0k. Let me have a look at my end and see what is the issue.

[2020-06-25 12:12] ambuje commented on #350
Hi ,
I am trying to implement this and I am not able to change the batch size. Once I open the from_coco.yaml it has just a path written over there. Can you tell me how did you change the batch size?

[2020-06-25 20:54] #357 closed

[2020-06-26 00:51] adjgiulio commented on #353
Latest master branch update fixes the error "has no attribute 'is_nccl_available'".

Now running:
mmf_run config=projects/hateful_memes/configs/mmbt/defaults.yaml model=mmbt dataset=hateful_memes

results in error:
AttributeError: module 'torch.distributed' has no attribute 'is_initialized'

[2020-06-26 02:16] vedanuj commented on #353
Can you provide a stack trace?

[2020-06-26 02:23] vedanuj commented on #350
What is the batch size you are using? If you are changing the batch size it might also require lowering the learning rate and increasing the number of iterations.

[2020-06-26 02:34] adjgiulio commented on #353
Is this what you mean?

[code]

[2020-06-26 03:14] apsdehal commented on #328
I tested this and it seems like the lmdb doesn't have the information you need. I probably need to update the lmdb, looking into that now.

[2020-06-26 05:17] greeneggsandyaml opened #364 "Simple example of getting image caption prediction"
Hello MMF authors,

Thank you for your nice repo. I'm new to the repo and I'm literally looking for the simplest thing: I'd like to run masked language modeling inference with one of your pretrained masked captioning models on a new image. This should be super super simple, but I'm not seeing how to do it.

For example, I'm looking to make a simple helper function that will take a PIL image and a

[2020-06-26 09:58] Ra0k commented on #328
@apsdehal thank you very much!

[2020-06-27 06:55] ronghanghu commented on #355
I observe the same error. As a step to reproduce, run the following to train M4C (I tried on a machine w/ 2 GPUs):
[code]
and while running, change a few code that is used by a worker process:
[code]
and wait a while.

The crash does not happen immediately. It happens roughly at the end of an epoch, where the DataLoader workers are joined and re-spawned. For M4C with the config above, it happens a

[2020-06-28 10:50] jishnuvk commented on #350
Reducing the learning rate worked. Thanks and sorry for the stupid question.

[2020-06-28 10:50] #350 closed

[2020-06-29 17:12] vedanuj commented on #364
Supporting `predict` for other models like VilBERT/VisualBERT is not on our immediate roadmap. However we encourage you to submit a PR for this and we can help.

[2020-06-29 18:01] #353 closed

[2020-06-29 18:56] adjgiulio opened #369 "Optimizer attributes must have a 'type' key specifying the type of optimizer."
Error below:

(gpu) C:\Users\giuliano\mmf>mmf_run config=projects/hateful_memes/configs/mmbt/defaults.yaml model=mmbt dataset=hateful_memes run_type=train_val
2020-06-29 11:54:39.524061: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
Namespace(config_override=None, local_rank=None, opts=['config=projects/hateful_memes/configs/mm

[2020-06-29 22:04] apsdehal opened #370 "Resolve config when it is created as spawned child process won't have registered resolvers"
## 🐛 Bug

When dataloader spawns up new processes, since configuration object is not created again from scratch, unresolved config parameters won't be resolved and throw an error as OmegaConf won't have the resolvers registered.

## To Reproduce
Try using self.config.data_dir inside the `__getitem__` with `num_workers > 0`

## Expected behavior

Shouldn't fail

[2020-06-29 22:27] #341 closed

[2020-06-29 22:34] apsdehal commented on #369
This is similar to https://github.com/facebookresearch/mmf/issues/295 . Can you try the solution provided there?
`git clone --config core.symlinks=true https://github.com/facebookresearch/mmf.git`

[2020-06-30 15:09] greeneggsandyaml commented on #364
Thanks for the reply! This is something I can work on in the next few weeks. To clarify, how exactly should I extract the features for VilBERT/VisualBERT? It's not clear to me what exact pretrained network was used and how the features were extracted. Thanks!

[2020-06-30 18:24] ascott02 opened #373 "extract_features_vmb and NUM_CLLASSES"
## ❓ Questions and Help
Hi Everybody,

I hope you are well and safe. I have a couple quick questions.

1. In the extract_features_vmb.py file, there are links to detectron_model.pth and detectron_model.yaml. On what data was this model trained? At the top of the file, it mentions category mapping is from visual genome. Was VG used as the training dataset or was COCO used with categories from VG?
h

[2020-06-30 18:34] apsdehal commented on #355
I have looked into this and seems there is an extent upto which we can fix this. Spawned processes will always reload code in case of dataloader. So, if you have something broken at the top level (import level, something which will throw an error as soon as you import), you will always see an error (which is more of multiprocessing issue rather than MMF). #374 aims to fix the issue on MMF side whe

[2020-06-30 21:37] apsdehal commented on #328
@Ra0k Apologies for a late resolution on this one as it required extensive testing on our end as well as retraining of M4C model's best version. The PR #375 is now up and should be ready for your use.

[2020-06-30 21:54] #370 closed

[2020-07-01 03:27] lixiangpengcs opened #376 "An error about distributed training when training M4C."
## ❓ Questions and Help
I encounter an error when using multi-GPU: mmf_run dataset=textvqa model=m4c config=projects/m4c/configs/textvqa/defaults.yaml env.save_dir=./save/m4c
The running env is installed as suggested: torch=1.5.0, torchvision=0.6.0.

error log:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/lixiangpeng/env/anaconda/lib/python3.7/multiproces

[2020-07-01 03:30] apsdehal commented on #376
This is probably related to #374 and #355. Let us know if this fixes it after it lands.

[2020-07-01 06:36] lixiangpengcs commented on #376
I am sorry that I can't figure out that means. Could you give me some specific suggestions to solve this problem?

[2020-07-01 06:39] apsdehal commented on #376
Apologies if that wasn't clear. The fix in #374 is on the way to land in master which might be causing this issue. It should land within an hour. `git pull origin master` when that is done and retest if the issue still persists. Let me know if it still doesn't make sense.

[2020-07-01 06:42] apsdehal commented on #376
Actually never mind, looking at it more closely, this seems something else. Investigating.

[2020-07-01 06:42] #355 closed

[2020-07-01 07:07] vedanuj commented on #373
1. This model was trained on Visual Genome with objects and attribute annotations. You should check the original caffe2 implementation of https://github.com/peteanderson80/bottom-up-attention for better understanding of how it was trained.

2. We use 1600 classes which are hand filtered similar to the caffe2 implementation https://github.com/peteanderson80/bottom-up-attention . Extra one is the ba

[2020-07-01 08:18] lixiangpengcs commented on #376
I have updated the stack trace and training log. Thanks a lot.

[2020-07-01 11:01] webYFDT opened #378 "UnboundLocalError: local variable 'should_log' referenced before assignment"
command: mmf_run config=projects/hateful_memes/configs/mmbt/defaults.yaml     model=mmbt     dataset=hateful_memes     run_type=train_val
When I run the above command, there is a bug
<img width="1255" alt="截屏2020-07-01 下午7 00 34" src="https://user-images.githubusercontent.com/17585343/86236743-27e17c00-bbcd-11ea-85da-d5184b39a6f4.png">

[2020-07-01 16:17] ascott02 commented on #373
Hi Vedanuj,
Thank you so much for the information. I'll take a look.
Thanks,
Andrew

On Wed, Jul 1, 2020 at 12:07 AM Vedanuj Goswami <notifications@github.com>
wrote:

--
Andrew T. Scott
ascott02@gmail.com

[2020-07-01 21:59] apsdehal commented on #378
It seems like training is still crashing due tb_writer in training_loop. It should be accessed via logistics callback.

[2020-07-02 16:24] apsdehal commented on #364
For starters, how about creating a colab demo for these models. Here are some pointers:

1. The script that is used to extract the features that are used in VisualBERT/ViLBERT is present at https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py.
2. Original demo from Pythia which had a class for extracting these features is available at https://colab.res

[2020-07-02 19:07] #378 closed

[2020-07-03 01:44] apsdehal commented on #376
@lixiangpengcs Can you try on master, and let me know if it fixes it or not?

[2020-07-03 02:50] lixiangpengcs commented on #376
Hello， I re-run the mmf and it still raise the error. And this error maybe is caused by spawn module:

Traceback (most recent call last):
  File "run.py", line 115, in <module>
    run()
  File "run.py", line 107, in run
    nprocs=config.distributed.world_size,
  File "/home/lixiangpeng/env/anaconda/lib/python3.7/site-packages/torch/multiprocessing/spawn.py", line 200, in spawn
    return start_p

[2020-07-03 03:00] apsdehal commented on #376
Thanks for the updated stack trace. The error is much more clear now:

Can you trying lowering your num_workers to 2 by adding `training.num_workers=2`. If this still doesn't work, trying lowering it further to 1. Let us know if that works.

[2020-07-03 06:26] lixiangpengcs commented on #376
It is so strange that it runs normally when training.num_workers=2. But it is obviously slower than when num_workers=4.

[2020-07-03 11:00] #376 closed

[2020-07-03 20:40] GunjanChhablani commented on #291
@andrewlee98 How are you passing the visual_embedding to the VisualBERT model?

[2020-07-03 21:24] Ra0k commented on #328
@apsdehal thank you very much for your help!
However, in my end, I still can't access anything else but "max_features" within "image_info_0".
(I deleted the cache)

[2020-07-04 03:46] GunjanChhablani commented on #364
@apsdehal @vedanuj I was going through the code at https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py and I wanted to understand why is this not a part of the mmf framework and present separately as tools?

[2020-07-04 11:34] webYFDT opened #386 "TypeError: forward() got an unexpected keyword argument 'output_all_encoded_layers'"
When I run this command :  mmf_run config=projects/hateful_memes/configs/vilbert/defaults.yaml      model=vilbert     dataset=hateful_memes     run_type=train_val ,
the following error appears:

TypeError: forward() got an unexpected keyword argument 'output_all_encoded_layers'
<img width="712" alt="截屏2020-07-04 下午7 29 23" src="https://user-images.githubusercontent.com/17585343/86511612-5eb5cd00-b

[2020-07-04 14:39] #386 closed

[2020-07-04 17:38] apsdehal commented on #364
@GunjanChhablani The code to extract features has a dependency on maskrcnn benchmark which requires a specific setup and which we don't want to include in our main dependencies yet. So, that's why it is kep separately in tools.

[2020-07-04 17:39] apsdehal commented on #328
Reinvestigating. I will reach back soon.

[2020-07-04 18:13] ronghanghu commented on #328
Hi, @Ra0k  it's because these keys (bounding boxes) were currently removed from the TextVQA dataset loader in https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/builders/textvqa/dataset.py#L107-L116 to save GPU memory and speed up batch loading.

You can remove these lines (https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/builders/textvqa/dataset.py#L109-L112) so that

[2020-07-04 18:16] apsdehal commented on #328
@ronghanghu  Thanks. Based on the passed config, we should probably keep them. I will open up a PR for that.

[2020-07-06 09:28] Ra0k commented on #328
@apsdehal thank you, it really helped a lot! Now, I have the bounding boxes for both the OCR tags and the image regions. :)
Just one more extra question: is it normal that the coordinates of some bboxes are larger than the actual picture?

[2020-07-06 13:22] GunjanChhablani commented on #364
Hi @apsdehal, Thank you so much for replying.

[2020-07-06 13:50] gchhablani opened #387 "Using Detectron2 with pre-trained VisualBERT on Hateful Memes"
## ❓ Questions and Help

Hi MMF developers,

I have been trying to use VisualBERT as shown in this issue #291, with Detectron2 Faster RCNN (#206) features for visual embeddings.

Here is what I am trying for the features:

[code]
I find two problems :
1. These features have the dimensions 1024, while the pre-trained VisualBERT model requires the dimension 2048.
2. Detectron2 does not have pre-trai

[2020-07-06 14:01] ronghanghu commented on #328
@Ra0k Yes, sometimes the boxes can be larger than the image, as they are predicted by the bounding box regression step in the Faster R-CNN detector.

[2020-07-06 17:00] apsdehal commented on #373
Closing this as resolved. Please reopen another issue if you face further difficulties or have questions.

[2020-07-06 17:00] #373 closed

[2020-07-06 17:34] Ra0k commented on #328
@apsdehal and @ronghanghu Thank you very much for your help! You are the best! It seems I will be able to finish my project in time! :)

[2020-07-06 17:34] #328 closed

[2020-07-07 03:40] vedanuj commented on #387
- D2 default FC_DIM is 1024, the old features that Visual BERT uses are of 2048 dimension and trained using [vqa_maskrcnn_benchmark](https://gitlab.com/vedanuj/vqa-maskrcnn-benchmark)
- For D2 pretrained on Visual Genome check this work in progress PR : https://github.com/facebookresearch/grid-feats-vqa/pull/3

We will share the features soon for D2.

[2020-07-07 18:55] apsdehal opened #392 "[feature] Add DocVQA to MMF"
## 🚀 Feature

A new dataset related to TextVQA and STVQA has been released by STVQA team: DocVQA. https://arxiv.org/abs/2007.00398. Since, MMF is a central hub for these kind of datasets and the related models, we should DocVQA as well.

## Pitch
Follow the implementation of TextVQA, STVQA and OCRVQA to create DocVQA interface.

[2020-07-07 18:56] apsdehal commented on #392
@mineshmathew would you like to work on this?

[2020-07-07 18:57] #166 closed

[2020-07-07 18:57] #165 closed

[2020-07-07 18:57] #128 closed

[2020-07-07 18:58] #87 closed

[2020-07-08 12:17] mineshmathew commented on #392
@apsdehal  yes.  give me a weeks time.  I have imdb files and the features extracted with me .
With data in the same format as the one for STVQA i could use m4c branch  of pythia with minimal changes.

If mmf is not quite different from pythias notion of tasks and datasets  it must be easy
I shall check the changes in mmf and let you know

[2020-07-08 17:32] apsdehal commented on #392
@mineshmathew Thanks a lot. You can check the TextVQA dataset and corresponding STVQA inheritance in the master branch to see how it all fits.

[2020-07-09 14:17] shine-lcy opened #395 "about textVQA visualization"
## ❓ Questions and Help
The latest version of textVQA dataset does not appear to provide the original image. I want to analyze the performance of the algorithm by observing the pair of original image and the predicted answer. How can I get the original image? Maybe download the old version textVQA dataset? Thanks.

[2020-07-09 18:16] apsdehal commented on #395
@shine-lcy The images for textvqa are available at https://textvqa.org/download. And you can map to images using image_id field in annotations. Let me know if this was not what you were looking for.

[2020-07-10 02:43] shine-lcy commented on #395
I confirmed that maping to images using image_id is correct. Thanks a lot.

[2020-07-10 03:10] apsdehal commented on #395
Np. Closing as resolved.

[2020-07-10 03:10] #395 closed

[2020-07-12 08:33] luogen1996 opened #399 "What does the input shape of Movie+MCAN look like?"
## ❓ Questions and Help
Hi, that's a great work! I want to know is the grid feature padding to 32x32 in the Movie+MCAN? As described in《In Defense of Grid Features for Visual Question Answering》, i guess the grid feature is flattened and padded to a length of 608 in MCAN.  So, when both Movie and MCAN are built, what does the input shape look like? And I have not found any operations like 2d paddi

[2020-07-13 20:06] IsraelAbebe commented on #264
@MarijnQ  did you solve your issue?

[2020-07-14 07:48] MarijnQ commented on #264
Kast time I checked it still wasn't fixed...

[2020-07-14 13:55] Namoush opened #402 "Pytorch XLA/TPU Support"
## ❓ Questions and Help
I would like to ask if you have planned to add support for this accelerated training scheme.
I have been poking around with it in a Colab but, after changing quite a lot in several functions (mainly on run.py and base_trainer.py) I am not able to surpass an apparently .backward hang and I think I am going to default to GPUs for now.
Cheers and thanks for the great framework

[2020-07-14 19:42] ravising-h opened #404 "How to use Visual Bert for Multi Label Classification"
## ❓ Questions and Help
I want to classify memes( I have Images of memes and through Google OCR I have extracted what is written in them) into multiple classes like offensive, mean, abusive .. they can have more than one label at a time. Can some one guide me  through mmf configs and repo, how to run this dataset and will this repo be helpful?

[2020-07-14 23:26] PurvagLapsiwala commented on #272
where I can find mmf_run file?

[2020-07-15 00:26] apsdehal commented on #272
@PurvagLapsiwala  When you pip install or install mmf from source it automatically registers mmf_run command in your PYTHONPATH.

[2020-07-15 00:28] apsdehal commented on #402
Hi @Namoush,
Thanks for your interest in MMF.
TPU/XLA support is not yet on our roadmap, but if you would like to work on it, we can help you. Looking forward to your contributions.

[2020-07-15 01:44] kienduynguyen commented on #399
Hi @luogen1996 ,

In the VQA challenge, we use 2D tensor as input (so the shape is 32x32). The 2D tensor will be fed into the MoVie part and the flatten 1D tensor with length of 1024 will be fed into the MCAN part.

[2020-07-15 01:51] luogen1996 commented on #399
Thank you much !

[2020-07-15 01:52] apsdehal commented on #404
Hi @ravising-h,

Please have a look at how we run VisualBERT on MMIMDb using logit_bce as a loss: https://github.com/facebookresearch/mmf/blob/master/projects/visual_bert/configs/mmimdb/defaults.yaml. MMIMDb also have multiple labels and we multilabel metrics to measure performance.

To run your custom dataset, just convert it to MMF format of MMIMDb and it should work.

[2020-07-15 07:11] ravising-h commented on #404
Thank You for your Help. I will close the issue once the training starts.

[2020-07-15 07:18] Muennighoff commented on #238
Quick question on the log posted above by @ascott02  - Why are the final validation results from iteration 50001/50000 different than the validation from 50000/50000, assuming that both are running a full validation and there has been no change in parameters in between?

[2020-07-15 16:42] apsdehal commented on #238
@Muennighoff The final validation is performed on the checkpoint that achieved best validation performance. So, if a checkpoint different 50000th one got best performance, it will be used for final validation check and hence can be different.

[2020-07-15 16:54] Muennighoff commented on #238
@apsdehal Thanks for the reply --
If the final validation would be performed on the best checkpoint, then why is the best val/caption_bleu4  0.270707, while the final val's caption_bleu4 is 0.2629 -- Shouldn't they then be the same? (see below)
I also performed some experiments on my own and if I iterate for only 1000 epochs with only one checkpoint, I get a different evaluation at 1000 than at th

[2020-07-15 17:49] apsdehal commented on #238
It's hard to say without looking at full log but I see that it is saying that best val was 43000 with value of 0.270707 and that's what it reported later.

[2020-07-15 19:47] rrlcs opened #409 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
## ❓ Questions and Help
I was trying to evaluate the pre-trained model. But encountered the following error. Can you help me with this?

**mmf_run config=projects/hateful_memes/configs/unimodal/image.yaml model=unimodal_image dataset=hateful_memes run_type=val checkpoint.resume_zoo=unimodal_image.hateful_memes.images**

Namespace(config_override=None, local_rank=None, opts=['config=projects/hatefu

[2020-07-15 19:56] vedanuj commented on #409
Hi @rrlcs

Can you follow the Bugs Issue template and paste the output of `python -m torch.utils.collect_env` ?

[2020-07-15 19:58] #399 closed

[2020-07-16 04:52] QingqingWang-1 opened #414 "Running mmf source code instead of installing it got 2 point lower performance on textvqa with m4c. Why?"
## ❓ Questions and Help
I have run mmf/mmf_cli/run.py directly with the setting run(opts=["config=projects/m4c/configs/textvqa/defaults.yaml", "datasets=textvqa", "model=m4c", "run_type=train_val"]). The only change is the paths in mmf/mmf/configs/defaults, which are changed to:
 cache_dir: ${env:MMF_CACHE_DIR, ./cache}
 data_dir: ${env:MMF_DATA_DIR, ../../data}

With installation, the performance

[2020-07-16 07:34] rrlcs commented on #409
Here I'm pasting the terminal output for **python -m torch.utils.collect_env**

Collecting environment information...
PyTorch version: 1.5.0+cu101
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
CMake version: version 3.10.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and

[2020-07-16 09:11] #414 closed

[2020-07-16 11:01] sTranaeus opened #415 "COCO checksum of downloaded file does not match the expected checksum"
## ❓ Questions and Help
When running `!mmf_run config="experiment.yaml" model=mmbt dataset=coco` I get a checksum error with the first download of COCO. Output below:

[code]

[2020-07-16 15:40] apsdehal commented on #415
Hi,

Thanks for working with MMF. #416 should fix your issue.

On the other side, you are trying to run MMBT on COCO which won't work. What exactly you were trying to do?

[2020-07-16 17:36] #415 closed

[2020-07-16 17:42] vedanuj commented on #409
This is usually a problem with your CUDA driver and related to pytorch specifically rather than mmf.
Tesla K40C issue here : https://github.com/pytorch/pytorch/issues/31285#issuecomment-579089919

You might have to build pytorch from source. Closing as this is not related to MMF. Please reopen if you think otherwise.

[2020-07-16 17:42] #409 closed

[2020-07-16 18:06] steph-en-m opened #417 "Dysfunctional link in readme"
The link to the hateful memes tutorial in the readme is faulty. The page it redirects to displays a `This page does not exist yet..` message.

[2020-07-16 19:51] vedanuj commented on #417
Thanks for raising the issue. We will fix it.

[2020-07-16 19:51] vedanuj commented on #417
The proper link is this : https://mmf.sh/docs/challenges/hateful_memes_challenge

[2020-07-16 20:06] apsdehal commented on #414
Hi,
Thanks for using MMF. I think you figured it out but for future reference to achieve best score you need with use `joint_with_stqva.yaml` file which will train on both STVQA and TextVQA to achieve best score.

[2020-07-17 05:55] #417 closed

[2020-07-17 07:25] QingqingWang-1 commented on #414
Hi apsdehal,
Many thanks. I have figured it out. It is cased by the downloaded wiki.en.bin file, which is incomplete because I interupted the program when the downloading of the bin file was ongoing. Then, the program and myself do not download the bin file again since it's already there, though its size is much  smaller than the correct one.

[2020-07-18 20:07] rrlcs commented on #409
Hi @vedanuj
Thanks for the link. That helped.

[2020-07-19 03:10] #369 closed

[2020-07-19 03:11] apsdehal commented on #291
Closing as no response. Please open up a new issue if problem persists.

[2020-07-19 03:11] #291 closed

[2020-07-19 16:05] mikolasan commented on #295
Same thing can happen on Windows. Now that I know about symlinks, I cloned the repository with care using [this SO answer](https://stackoverflow.com/a/42137273/1104612)

[2020-07-20 01:43] mikolasan commented on #298
It is not possible to stop `mmf_run` with Ctrl+C. I have to kill processes to abort the calculation once it has reached a checkpoint. So I think, the initial question is not resolved. What do you think?

[2020-07-20 09:09] sTranaeus opened #421 "Missing annotations file when running VISUALBert on COCO"
## ❓ Questions and Help
I tried running `!mmf_run config=configs/datasets/coco/defaults.yaml model=visual_bert dataset=coco`
and got a FileNotFoundError(shown below). I thought it would be a mistake on my side with how I set things up, but isn't `mmf_run` meant to automatically handle setting up the data locally if it isn't there?

[code]

[2020-07-20 09:10] sTranaeus commented on #415
Thank you for the fix!
I was trying a sanity check that MMF was working in the first place, but you're right - MMBT on COCO wouldn't work. Tried running with VISUALBert instead, and ran into this [issue](https://github.com/facebookresearch/mmf/issues/421) - please have a look if you can.

[2020-07-21 20:42] vedanuj commented on #421
Automated download is now enabled for coco datasets. We will add the support for it.

[2020-07-22 09:24] sTranaeus commented on #421
Thank you for the response!
It's not clear to me if a change has been pushed or not. When rerunning the same command, on the latest version of mmf from source, I have the same issue. Should I be expecting a different behaviour?

[2020-07-22 11:29] sTranaeus commented on #421
For what it's worth, there is some automatic downloading already happening, and I can see a lot of COCO data present:
[code]

The specific file that is missing according to MMF is(see rest of error output in issue's first comment):
`FileNotFoundError: [Errno 2] No such file or directory: '/home/k1762177/.cache/torch/mmf/data/datasets/coco/defaults/annotations/imdb_karpathy_train.npy'`

Is this fil

[2020-07-23 15:51] CCYChongyanChen opened #425 "TypeError: NoneType' object is not callable when running Movie+MCAN"
## ❓ Questions and Help
Hi, I got an error when I run `mmf_run config=projects/movie_mcan/configs/vizwiz/defaults.yaml \
    model=movie_mcan \
    dataset=vizwiz \
    run_type=train`

Traceback (most recent call last):
  File "/home/cc67459/MMF2/lib/python3.7/si                                 te-packages/torch/multiprocessing/spawn.py"                                 , line 20, in _wrap
    fn(

[2020-07-23 16:29] apsdehal commented on #425
@CCYChongyanChen  What was the exact command you ran, so we can replicate?

[2020-07-23 16:35] apsdehal commented on #425
@CCYChongyanChen  How did you install the package? pip version is outdated. Can you install from source?

[2020-07-23 16:40] CCYChongyanChen commented on #425
@apsdehal  Thank you for replying. I installed it from the source. To make sure I have the latest version, I just git pull it this morning but I still have this error.

[2020-07-23 16:44] apsdehal commented on #425
Let us have a look. We will get back to you.

[2020-07-23 16:51] CCYChongyanChen commented on #425
Sounds good. Thank you!

[2020-07-23 17:32] vedanuj commented on #425
HI @CCYChongyanChen Can you paste your `projects/movie_mcan/configs/vizwiz/defaults.yaml` here ?

[2020-07-23 18:44] gkv91 opened #426 "Adding the VQACPv2 dataset"
## 🚀 Feature

Provide testing the VQA performance on VQACPv2
## Motivation
VQACPv2 can be used for testing the generalisability of VQA models. Hence, it is worth including.

## Pitch

## Alternatives

## Additional context

[2020-07-23 20:03] vedanuj commented on #426
Thanks! Yes this can be useful. Do you want to open up a PR for this?

[2020-07-23 20:40] CCYChongyanChen commented on #425
@vedanuj Sure.
model_config:
  movie_mcan:
    losses:
    - type: triple_logit_bce

dataset_config:
  vizwiz:
    depth_first: true
    use_features: true
    zoo_requirements:
      - vizwiz.defaults
      - vizwiz.grid_features
    features:
      train:
      - /data/vqa/feats/VizWiz/grid_feat/features/VizWiz_train
      val:
      - /data/vqa/feats/VizWiz/grid_feat/features/VizWiz_val
      t

[2020-07-24 06:09] shine-lcy opened #427 "confused on m4c mmt decoder"
## ❓ Questions and Help
In M4C paper, the output of mmt decoder is a d-dimensional vector, and we use this d-dimensional vector to calculate two scores and obtain next decoder input, which is also a d-dimensional vector.
However, the size ofoutput of mmt decoder in the code is 12xd, and calculate the scores for each d-dimensional vector of 12. Then replace the answer embedding in 12 positions as a

[2020-07-24 16:16] CCYChongyanChen opened #429 "Cannot load the latest checkpoint_VisualBERT"
## ❓ Questions and Help
Hi, I trained VisualBERT for 6 h, stopped it, and would like to resume the model. I found the checkpoint is saved in the mmf/save/models and the latest model is "model_21000.ckpt". However, when I try running the following command, it still be trained from the very beginning, i.e., producing model_1000.ckpt. Could you help me with that? Thank you a lot!
`mmf_run config=proj

[2020-07-24 16:29] apsdehal commented on #429
You have typo in `checkpoint.resume=Ture`, it needs to be `checkpoint.resume=True`.

[2020-07-24 16:42] apsdehal commented on #421
@sTranaeus Yes, it should be there, here is the direct link to download: https://dl.fbaipublicfiles.com/mmf/data/datasets/coco/defaults/annotations/annotations.tar.gz in case you still haven't found it.
[code]

Then run your normal mmf command (don't extract the annotations manually).

[2020-07-24 16:53] CCYChongyanChen commented on #429
Thank you for replying so quickly! @apsdehal, Do I still need `checkpoint.resutme=True`?

[2020-07-24 16:54] vedanuj commented on #425
Hi @CCYChongyanChen .. for grid feature annotations you can use the script detailed here https://github.com/facebookresearch/grid-feats-vqa#feature-extraction and use one of the pretrained models. For vizwiz dataset you might need to hack the script to loop over the images or you can also dump the image info into COCO json format and run using the script.

[2020-07-24 17:01] CCYChongyanChen commented on #429
Seems both `checkpoint.resume=True` and `checkpoint.resume_best=True' are not needed if `checkpoint.resume_file=<file_path>` is used. I can now load the latest checkpoint. Thank you a lot!

[2020-07-24 17:01] #429 closed

[2020-07-24 17:07] CCYChongyanChen commented on #425
Hi @vedanuj , Thank you for your reply. I have extracted grid features. But it is still not clear to me what is grid feature's **"annotations**".

[2020-07-24 17:19] vedanuj commented on #404
@ravising-h Can we close this issue?

[2020-07-24 17:19] #228 closed

[2020-07-24 17:27] ravising-h commented on #404
I am really sorry, I forgot to reply. Thank you for your Help.

[2020-07-24 17:27] #404 closed

[2020-07-25 18:06] caprone opened #430 "installation issue"
HI
trying to install from pip or source:

ERROR: Could not find a version that satisfies the requirement torchvision==0.6.0 (from mmf) (from versions: 0.1.6, 0.1.7, 0.1.8, 0.1.9, 0.2.0, 0.2.1, 0.2.2, 0.2.2.post2, 0.2.2.post3, 0.3.0, 0.4.1, 0.5.0)
ERROR: No matching distribution found for torchvision==0.6.0 (from mmf)

on pytorch 1.5.1

thanks

[2020-07-25 18:19] apsdehal commented on #430
Can you provide output of `python -m torch.utils.collect_env`?

[2020-07-25 18:23] caprone commented on #430
of course:

PyTorch version: 1.5.1
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.105
GPU models and configuration: GPU 0: GeForce RTX 2070 SUPER
Nvidia driver version: 445.87
cuDNN version: Could not collect

Versions of relevant

[2020-07-25 18:30] apsdehal commented on #430
For now please run:

`pip install torchvision===0.6.0 -f https://download.pytorch.org/whl/torch_stable.html` before pip installing mmf.

I would also recommending building from source in case you want latest features.

FYI, in case you want to know what happened: Pytorch doesn't upload latest binaries for pypi directly for windows anymore so you have to provide dependency link using `-f` to direct

[2020-07-25 18:42] caprone commented on #430
HI and thanks
but unfortunately the same issue occurs....:((

[2020-07-25 18:45] apsdehal commented on #430
As in, when installing torchvision or when installing mmf?

[2020-07-25 18:45] caprone commented on #430
when installing mmf from pip and source

[2020-07-25 18:47] apsdehal commented on #430
Was torchvision install actually successful? Can you post `python -m torch.utils.collect_env` again?

[2020-07-25 18:48] caprone commented on #430
yes torchvision install successful;

PyTorch version: 1.5.1+cu92
Is debug build: No
CUDA used to build PyTorch: 9.2

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.105
GPU models and configuration: GPU 0: GeForce RTX 2070 SUPER
Nvidia driver version: 445.87
cuDNN version: Could not

[2020-07-25 18:54] apsdehal commented on #430
Last question: can you print the error of final `pip install mmf`?

[2020-07-25 18:56] caprone commented on #430
ERROR: Could not find a version that satisfies the requirement torch==1.5.0 (from mmf) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch==1.5.0 (from mmf)

thanks

[2020-07-25 19:02] apsdehal commented on #430
Yeah, so do this `pip install torch==1.5.0 -f https://download.pytorch.org/whl/torch_stable.html` and install mmf again.

[2020-07-25 19:13] caprone commented on #430
HI and thanks..
we made progress, but anothers errors occurs;
from the first one:

ERROR: Failed building wheel for mmf
  Building wheel for fasttext (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'D:\softwareRaza\Anaconda\envs\multi_mod_mmf\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'D:\\TEMP\\pip-install-tyblcqdc\\fasttext\\setup.py'

[2020-07-25 19:24] apsdehal commented on #430
Hi,
Please see these references to properly install vs c++:

- https://github.com/benfred/implicit/issues/76
- https://stackoverflow.com/questions/44951456/pip-error-microsoft-visual-c-14-0-is-required

[2020-07-25 19:41] caprone commented on #430
HI
I have installed properly Visual C++ (works correctly for others frameworks..), however I upgraded to last version available
but problem remains the same...;
probably Mmf has some problems with some Win configurations...

however thanks for your Help! very appreciated ;)

[2020-07-25 20:07] apsdehal commented on #430
I don't think MMF has issues with Windows, because we do have windows build test setup on MMF and they do build successfully.

Maybe you can try installing fasttext from scratch? And what command are you running for installing MMF.

[2020-07-25 20:16] caprone commented on #430
"Maybe you can try installing fasttext from scratch?"
yes, I'm trying to do that...but having serious problems...grr

[2020-07-25 20:24] apsdehal commented on #430
Sorry about this experience. Let me look up if there is some guidance in fasttext repo on this.

[2020-07-25 20:28] caprone commented on #430
but do not worry! THANKS FOR YOUR GREAT SUPPORT!! ;))
yes I'll do!
thanks again

[2020-07-26 02:30] ronghanghu commented on #427
Yes, this is exactly what happens in the code above. At step t, it predicts the t-th output word `argmax_inds[:, t]` and add it into `fwd_results["prev_inds"][:, t+1]` as input to step t+1.

In the loop above (which only happens at test time for greedy decoding), although it predicts a 12 x d vector, at each time it gradually increment the answer prediction by only one word. Since the decoder uses

[2020-07-26 12:00] caprone commented on #430
HI
ok, fasttext successfully installed from scratch, but the last error left is:

"""
Building wheel for mmf (PEP 517) ... error
.........
ERROR: Could not build wheels for mmf which use PEP 517 and cannot be installed directly...
"""

[2020-07-26 13:10] gantoniou92 opened #431 "Overriding annotations"
Hi MMF team,

I have a question regarding overriding annotations using dot list. It is suggested (https://mmf.sh/docs/notes/configuration#command-line-dot-list-override) that one can override annotations e.g.

`dataset_config.hateful_memes.annotations.train[0]=x`.

Doing something similar

`dataset_config.hateful_memes.annotations.train[0]=hateful_memes/defaults/annotations/new_train.jsonl`,

it d

[2020-07-27 06:04] jithendrabsy opened #432 "Error in [colab-mmf_hm_example.ipynb] KeyError: "Required argument 'model' not passed""
## ❓ Questions and Help
`!mmf_predict config=projects/hateful_memes/configs/mmbt/defaults.yaml \ model=mmbt \ dataset=hateful_memes \ run_type=test \ checkpoint.resume_zoo=mmbt.hateful_memes.images \ training.batch_size=16`

When I am running this colab notebook provided - I am getting this error:

Namespace(config_override=None, local_rank=None, opts=['config=projects/hateful_memes/configs/mmbt/d

[2020-07-27 09:22] shine-lcy commented on #427
Thank you very much for your patience. Facebook is worthy of being the top company in the world.

I ran the code and output the values of `argmax_inds` and `prev_inds`.'
at time step 0, the input `prev_inds ` is
`[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]`
and the output `argmax_inds ` is
`[5000, 5001,    2,    2,    2,    2,    2,    2,    2,    2,    2,    2]`

at time step 1, the input `prev_inds` is

[2020-07-27 13:57] ambuje opened #433 "How to run mmf_config using python 3.7"
## ❓ Questions and Help
Is there any specific command for mmf_config where I can mention to run the code using python3.7.
I am having python3.6 and 3.7 both and facing some issues to make python 3.7 default. If there exists a command where  I can specify python3.7 do let me know.

Thanks

[2020-07-27 14:39] vedanuj commented on #433
Hi @ambuje there is no command mmf_config. We cannot choose python version using config. One possible way is you can create a condo environment specifying which Python version you want and run mmf inside that.

[2020-07-27 14:41] vedanuj commented on #432
Can you try removing the \ from the command and try again? Also you should enable GPU runtime in your colab.

[2020-07-27 14:52] ronghanghu commented on #427
(I edited my answer above.)

Yes, it also updates `updates prev_inds[1:] to argmax_inds[1:]`. However, at step t we only care about the first t outputs (i.e. `argmax_inds[:, 0:t+1]`), and all predictions beyond index t+1 can be seen as "paddings" that will not affect the final answer prediction (since predictions beyond index t+1 will be override in subsequent prediction steps). As your example sh

[2020-07-27 15:32] apsdehal commented on #430
This is a known issue with pip's new versions for which indented solution for now is to downgrade pip:
[code]

Let me know if this works.

[2020-07-27 17:15] caprone commented on #430
Hi and thanks for your help;
but there is always a problem with Win;

vs C++ issue continues to happen despite vs c++ is perfectly installated and works for all frameworks...
(probably issue with virtualenv??)...mah...

error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/

    --------------------------------------

[2020-07-27 17:46] apsdehal commented on #430
Yes, why not use docker or ubuntu in windows 10 to install this?

[2020-07-27 18:02] caprone commented on #430
I will consider your suggestions, ;) thanks again

[2020-07-28 05:37] shine-lcy commented on #427
The key to understand this question is `causal mask`. Thanks for ur patience! FACEBOOK FOREVER BEST!

[2020-07-28 06:01] jithendrabsy commented on #432
I enabled GPU on the runtime, and which \ should I remove? There are many!
and why is this showing up? `Device specified is 'cuda' but cuda is not present. Switching to CPU version. + "Switching to CPU version`

Also there is no folder like this - `/usr/local/lib/python3.6/dist-packages/mmf/utils/configuration` in my laptop - there is python3.8 instead of 3.6

[2020-07-28 14:08] crazysal opened #435 "Can not match VISUAL BERT baseline for hateful memes"
## ❓ Questions and Help

Ran the checkpoint for inference using the command :

`CUDA_VISIBLE_DEVICES=0 mmf_predict config=./mmf/projects/hateful_memes/configs/visual_bert/from_coco.yaml dataset=hateful_memes run_type=test checkpoint.resume_zoo=visual_bert.finetuned.hateful_memes.from_coco model=visual_bert`

Attached train log. and output csv

The submission AUC on he challenge site gives this an

[2020-07-28 15:22] AkaneNyan commented on #435
you loaded the coco checkpoint by using from_coco.yaml (resume_zoo)
try using the default config file

[2020-07-28 16:21] vedanuj commented on #435
Try this :

[code]

[2020-07-28 18:02] crazysal commented on #435
why not the one pretrained on coco ?

[2020-07-28 19:26] CCYChongyanChen commented on #425
Could anyone give me some hints? This issue is still not solved yet.

[2020-07-28 20:51] sTranaeus commented on #421
Thank you. I've gone through those commands, and am getting a checksum error now:
`AssertionError: [ Checksum for annotations.tar.gz from
https://dl.fbaipublicfiles.com/mmf/data/datasets/coco/defaults/annotations/annotations.tar.gz
does not match the expected checksum. Please try again. ]`

Should I just keep trying again?

[2020-07-28 21:21] apsdehal commented on #421
Let me try a fresh install and get back to you.

[2020-07-28 22:06] vedanuj commented on #435
The configs we provide are for training. You can use the config `from_coco.yaml` when you run evaluation/test but you will need to add `checkpoint.resume_pretrained=False` to your ccommand. This is because when `checkpoint.resume_pretrained=True` is set, only the base of the model is loaded from the pretrained weights and not the classification head weights.

[2020-07-28 22:18] vedanuj commented on #432
Try this
[code]

Are you running this on colab or your own laptop?

[2020-07-28 22:20] vedanuj commented on #425
The annotations are the files where questions, answers, image_id etc are stored. You can check the annotations files for vqa2, which will be downloaded in your `~/.cache/torch/mmf/data/datasets/vqa2/grid_features/annotations` directory.

Can you try this and see if removing the `\`s  have any affect :

[code]

[2020-07-28 23:25] CCYChongyanChen commented on #425
That doesn't have an affect. I tried the default region features `
      - vizwiz/v2019/features/detectron.lmdb`, it gives me the same error.

[2020-07-28 23:39] vedanuj commented on #425
I ran the exact same command and it works for me :

[code]

Does it run for you with vqa2 config? Or do you see the same error?

[2020-07-29 06:33] parthsuresh commented on #426
Hi @vedanuj I can work on this during the weekend if that's fine. I found the dataset [here](https://www.cc.gatech.edu/grads/a/aagrawal307/vqa-cp/), hope it's the right one. I found this PR #420 which implements the OKVQA dataset, would it be right to use it as a reference?

I would also appreciate any other suggestions/pointers from your side.

[2020-07-29 11:21] jithendrabsy commented on #432
This worked now, thanks. I am using colab.

[2020-07-29 11:21] #432 closed

[2020-07-30 08:42] sTranaeus commented on #421
@apsdehal still getting the error - any luck here?

[2020-07-30 15:46] vedanuj commented on #426
Hi @parthsuresh, thanks for willing to take this up.

Yes the link to the dataset is correct. The OKVQA dataset implementation is a good starting point. Let us know if you get stuck anywhere.

[2020-07-31 04:14] vedanuj opened #440 "Support epoch based training"
## 🚀 Feature
Add ability to run epoch based training to MMF

## Motivation

Currently MMF supports iteration(updates) based training and all related intervals(like checkpoints, logging etc) are based on iterations. It will be useful to add epoch(one complete set of iteration over the dataset) based training support to MMF.

## Pitch

Should be able to specify `training.max_epochs` in config for ep

[2020-07-31 21:56] apsdehal commented on #421
@sTranaeus I did a fresh clone and ran MMF in isolation and confirmed that this works and throws an error at the stage of loading an optimizer as the one is not defined.

[code]

This downloaded all of the features, annotations, extracted them and everything worked fine.

Also, if you are actually running VisualBERT for pretraining on COCO, you want the `dataset=masked_coco` and the proper project

[2020-07-31 21:58] apsdehal commented on #435
Closing this for now as it has been documented at multiple places. We probably will open up a master task later to clear up this confusion properly or fix the way this works. Please open up a new issue if you face any more problems.

[2020-07-31 21:58] #435 closed

[2020-07-31 21:59] apsdehal commented on #433
Closing as this is out of scope for MMF. The issue is related to the setup of user and conda should be used to properly setup python versions. Please open up a new issue if you face more problem. Thanks.

[2020-07-31 21:59] #433 closed

[2020-07-31 22:00] apsdehal commented on #427
Closing as resolved! Thanks @ronghanghu for clarifying. @shine-lcy if you have more questions, please open up a new issue.

[2020-07-31 22:00] #427 closed

[2020-08-01 01:19] qizhust opened #441 "shared memory limit"
Hi, is there anyone meeting this error?

RuntimeError: DataLoader worker (pid 263230) is killed by signal: Bus error. It is possible that dataloader's workers are out of shared memory. Please try to raise your shared memory limit.

[code]

[2020-08-01 08:49] vedanuj commented on #441
Can you provide more details like what exactly was your model/dataset? Also please provide your environment details as instructed in the Bugs issue template.

[2020-08-01 08:50] vedanuj commented on #425
@CCYChongyanChen Were you able to fix the issue?

[2020-08-01 13:45] qizhust commented on #441
Hi, I tried visual bert and butd, the same problem as reported.
[code]

16G/GPU, pytorch 1.5, python 3.8

[2020-08-02 00:02] CCYChongyanChen commented on #425
Thank you for following up! Not yet...
Could you please offer the direct download link for vqav2 & VG annotations (imdb_train2014)? It is not downloaded automatically. I have got the grid feature annotations for vqav2. Thank you！

[2020-08-02 00:19] CCYChongyanChen opened #443 "Pretrained model for VisualBERT?"
## ❓ Questions and Help
Hi, could you share the pre-trained model for VisualBERT? (either pretrained on coco or pretrained on vqav2 is fine)
Thank you a lot!

[2020-08-02 19:32] CCYChongyanChen commented on #425
In the log it says:

2020-08-02T14:28:48 | INFO | mmf.train : Loading datasets
2020-08-02T14:28:59 | INFO | mmf.train : No model registered for name: movie_mcan

[2020-08-02 20:47] CCYChongyanChen commented on #425
I checked the "models" folder and found the movie_mcan.py was missed (other models were there). Re clone the repo and get this error fixed.
Btw, the latest version will download the Vqa2 features automatically even though in the config I indicate to use "vizwiz" dataset...and the VizWiz features/annotations are not downloaded automatically...

[2020-08-02 20:47] #425 closed

[2020-08-02 21:45] CCYChongyanChen opened #444 "How to generate the annotation file for customized dataset (ocr_tokens & question_tokens) Movie_MCAN"
## ❓ Questions and Help
Hi,
The vizwiz annotation file you provide is 2018 version, and I would like to generate annotation for 2020 VizWiz dataset. How could I generate the ocr_tokens and the question_tokens? Could you share the code about generating the annotation file? Thank you!

[2020-08-03 00:23] qizhust commented on #441
more info about the error
[code]

[2020-08-03 07:45] qizhust commented on #441
It is caused by broken data.

[2020-08-03 07:45] #441 closed

[2020-08-03 07:47] apsdehal commented on #441
@qizhust Can you explain more what do you mean when you say broken data? Would be helpful for future users/

[2020-08-03 07:49] apsdehal commented on #443
Hi @CCYChongyanChen ,
If you set `checkpoint.resume_zoo=visual_bert.pretrained.coco` in your command, it should automatically download it for you.

[2020-08-03 07:52] apsdehal commented on #444
`question_tokens` are generated by using tokenize function `mmf.utils.text.tokenize` on the question. You don't need ocr tokens for MoVie-MCAN model.

[2020-08-03 09:49] qizhust commented on #441
Yep, I suffered an unexpected interruption during downloading the dataset, then the following operation triggers core dump fault
https://github.com/facebookresearch/mmf/blob/9ba7af686aeee6d22e6660d1657d37afcaac9342/mmf/datasets/databases/readers/feature_readers.py#L195-L199
 It would be better if the download process allows resume from breakpoint or the completion of downloaded files can be examin

[2020-08-03 13:42] mubtaseemz commented on #264
Replacing Pythia with MMF works for me:

`from mmf.utils.configuration import ConfigNode`
`from mmf.datasets.processors import VocabProcessor, CaptionProcessor`
`from mmf.models.butd import BUTD`
`from mmf.common.registry import registry`
`from mmf.common.sample import Sample, SampleList`

However, I get the following attribute error
![image](https://user-images.githubusercontent.com/32416908/8918

[2020-08-03 18:58] apsdehal opened #445 "[bug] TextVQA dataset should honor info config settings"
## 🐛 Bug

As observed in #328, in M4C changes, TextVQA dataset stopped honoring config setting and always removed info attributes. See the line https://github.com/facebookresearch/mmf/blob/master/mmf/datasets/builders/textvqa/dataset.py#L107-L116. We should fix this and honor these attributes. See Ronghang's comment on that issue for more details.

Note: If you are a bootcamper and are working on

[2020-08-03 19:10] apsdehal commented on #431
Fixed by #438 in master. Closing.

[2020-08-03 19:10] #431 closed

[2020-08-03 19:25] apsdehal opened #446 "[feature] Install glove only when the processor is actually used"
## 🚀 Feature
Install Glove embedding only when the processor is actually called with some input.

## Motivation

Currently, most of the dataset default on GloVe embeddings as the text processor. Most of our current models override GloVe embedding processor with BERT text encoders. But, the GloVe embeddings are still initialized in case when build_dataset is called. Thus, instead of initializing th

[2020-08-04 03:01] CCYChongyanChen commented on #443
@apsdehal Cool! Thanks a lot!

[2020-08-04 03:01] #443 closed

[2020-08-04 04:28] ytsheng commented on #440
`iterations` and `updates` are the same thing. In my PR, I will keep the naming "updates", since it is used in more places. But please let me know if you all prefer iterations. :)

[2020-08-04 04:45] parthsuresh commented on #426
Hi @vedanuj , I've submitted PR #448 that adds an implementation for the VQACPv2 dataset, along with a MMBT config for testing.

Just one question:

The VQACPv2 only has training and test sets, see [here](https://www.cc.gatech.edu/grads/a/aagrawal307/vqa-cp/). Currently in my implementation, I've made the validation set and test set the same, just to see whether the implementation is right. Should

[2020-08-04 04:46] CCYChongyanChen commented on #444
Thanks! Is the ocr_token used for textVQA task? I may run that later so I still would like to know how can I generate ocr_token via MMF.
Thank you in advance!

[2020-08-04 17:30] apsdehal opened #450 "[feature] Support cross-validation and train-val splits from training set"
## 🚀 Feature

MMF should have a feature to split training set in training and validation set randomly by some percentage and thus allowing cross-validation possible.

## Motivation

A lot of datasets only come with a training and testing split which doesn't fit in the paradigm of MMF which requires a validation set to be present. This limitation doesn't also allow the users to use validation set f

[2020-08-04 18:34] apsdehal commented on #444
Yes, that's right. We use internal model Rosetta for generating those OCR tokens which is not available publicly. We recommend using Google Cloud Vision OCR service to extract OCR tokens for your own use case.

[2020-08-05 01:40] CCYChongyanChen commented on #444
Cool, thank you.

[2020-08-05 01:40] #444 closed

[2020-08-05 04:17] CCYChongyanChen opened #453 "Movie+Mcan: grid feature size? (2048, 26, 19) vs (2048,25,19)"
## ❓ Questions and Help
Hi, I am trying to run the grid+MCAN.
I extracted the grid features following https://github.com/facebookresearch/grid-feats-vqa and stored the features in .pth. Each .pth has a size [1, 2048, 26,19].
When I run the code, I mean a RuntimeError: The expanded size of the tensor (25) must match the existing size (26) at non-singleton dimension 1.  Target sizes: [2048, 25, 19].

[2020-08-05 17:16] apsdehal opened #454 "[feature] Add __eq__ method to SampleList"
## 🚀 Feature

SampleList frequently require comparisons in tests. It would good to add `__eq__` method to SampleList

## Pitch

- Compare list of keys and fail early
- Compare each item
- Take special care of tensors
- Add tests

Note: If you are a bootcamper working on this task, assign the internal task to yourself: T71222206

[2020-08-05 17:43] apsdehal opened #455 "[feature] Add warning for missing processor in registry"
## 🚀 Feature

Error message which happens when a specified processor is not present in registry is not informative. Throw an error message with clear name of processor when processor_class is none at https://github.com/facebookresearch/mmf/blob/5e41e02861fea3e5d9544c149428e374bc27ed48/mmf/datasets/processors/processors.py#L156

[2020-08-05 21:04] vedanuj commented on #453
We are verifying this on our side.

[2020-08-06 18:50] ytsheng commented on #440
Issue implemented in PR attached. Please make sure you specify at least one of the values: max_updates or max_epochs.

[2020-08-06 18:50] #440 closed

[2020-08-07 20:02] CCYChongyanChen commented on #453
Hi @vedanuj, just check in to see if there is any update. Thanks.

[2020-08-10 02:53] mmiakashs opened #465 "Extend VisualBERT"
## ❓ Questions and Help
I am curious to know, is there any way to extend the MMF implementation of VisualBERT? Primarily, I want to use VisualBERT as a sub-model in my custom model. I tried to go through the MMF documentation but failed to find the info about how to extend MMF VisualBERT model or the class definition of the MMF VisualBERT. I tried to understand the code in the repo, but I found it

[2020-08-10 04:17] vedanuj opened #466 "Multimodal Alignment loss for Vilbert/VisualBERT"
## 🚀 Feature
Multimodal Alignment or Sentence Image Prediction loss for ViLBERT/VisualBERT

## Motivation

[VilBERT](https://arxiv.org/abs/1908.02265) model uses two pretraining losses. Current MMF implementation uses `masked multimodal modeling` loss but not the `multimodal alignment` loss. Similarly [VisualBERT](https://arxiv.org/abs/1908.03557) model also uses a similar loss which they call  `s

[2020-08-10 04:56] vedanuj opened #467 "Temperature scaled sampling for multi dataset"
## 🚀 Feature
Temperature scaled sampling for multi dataset

## Motivation

In multitask training involving multiple datasets, it is often desirable to be able to control the sampling ratios for different datasets. Currently mmf provides either `equal` or size `proportional` sampling. In order to have more control over the sampling we should add temperature scaled sampling.

## Pitch

Currently [mu

[2020-08-11 04:04] apsdehal commented on #465
We don't have a specific model which will do that for you. But, we can help you if you can explain your use case more. Also, please have a look at MMFTransformer as well which allows you to create custom transformer models.

One way to use VisualBERT as sub-model in your model can be to use `build_model` method.

[code]

[2020-08-12 00:34] mmiakashs commented on #465
Thanks, @apsdehal for your prompt response and the example code snippet. At first, I just want to extract the feature from the text and image by employing VisualBERT, after that, I want to employ another model on top of the extracted VisualBERT feature. That's why I wanted to know the input(forward function parameters) and return types of VisualBERT. Is there any documentation where can I get this

[2020-08-12 22:12] apsdehal opened #472 "[bug] Equal proportional sampling doesn't work as expected and has very high overhead"
## 🐛 Bug

Currently, `used_once` is never reset in multi_dataset_loader which means that equal proportional sampling isn't working as expected. Also, since `used_once` is can happen after number of dataset iteration there is high overhead of creating iterators over dataloader possibly leading to a memory leak.

 Since, epochs don't matter in the case of equal proportional sampling we should take t

[2020-08-13 05:46] vedanuj commented on #453
@CCYChongyanChen The fix has been merged to master. Can you verify if it solves your issue?

[2020-08-13 07:34] KushRJ opened #475 "How to add my dataset to MMF for using existing multimodal models?"
## ❓ Questions and Help
Forgive me but I am new to this package. I went through the official tutorial on how to add a dataset, but it is quite complex with multiple stages, as shown here: https://mmf.sh/docs/tutorials/dataset/
The webpage also says that '[Outdated] A new version of this will be uploaded soon', so is there any simple way to add my dataset comprising of text and images?

A fast resp

[2020-08-13 08:00] apsdehal commented on #475
Hi,
More details on what the dataset is about would be helpful

For new tutorial have a look at this colab notebook where we add OKVQA dataset from scratch: https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/kdd_tutorial.ipynb

[2020-08-13 09:15] aryamansriram opened #476 "Not enough documentation"
## ❓ Questions and Help
The documentation does not include a tutorial on how to implement a model from the model zoo for our tasks. Please include one so that it becomes a little easier to use mmf

[2020-08-13 16:14] KushRJ commented on #475
The dataset is Twitter data with tweets including image and text together.

[2020-08-13 21:39] vedanuj commented on #476
We will update the documentation. For now here is a colab notebook that adds a new dataset and uses a model with it :

https://colab.research.google.com/github/facebookresearch/mmf/blob/notebooks/notebooks/kdd_tutorial.ipynb

Let us know if that works for your use case.

[2020-08-15 09:20] aryamansriram opened #478 "AssertionError: Checksum of downloaded file does not match the expected checksum. Please try again."
## 🐛 Bug

Getting checksum error while trying to run baseline for hateful memes dataset

## Command
!mmf_convert_hm --zip_file=gdrive/My\ Drive/Lnmwdnq3YcF7F3YsJncp.zip --password=KexZs4tn8hujn1nK

## To Reproduce
Refer to the steps <a href="https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes#prerequisites">here</a>
Steps to reproduce the behavior:

P.S Encountered the error

[2020-08-15 09:21] aryamansriram commented on #476
Thanks, works for me

[2020-08-15 09:21] #476 closed

[2020-08-15 15:53] AntoninaKOR opened #479 "FileNotFoundError: [Errno 2] No such file or directory: 'c:\\users\\anton\\anaconda3\\envs\\ml\\lib\\site-packages\\mmf\\configs\\defaults.yaml'"
## ❓ Questions and Help
I installed mmf using pip install —-pre mmf.
mmf 's version =0.0rc10
Then I did  mmf_convert_hm --zip_file <zip_file_path> --password <password> and have a error:
 File "c:\users\anton\anaconda3\envs\ml\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\anton\anaconda3\envs\ml\lib\runpy.py", line 85, in _run_code
    exec(code, run_gl

[2020-08-15 18:13] bl1211 opened #480 "running issue"
## ❓ Questions and Help
Hi
I have a problem in running mmf_convert and mmf_run
When I unzip dataset by mmf_convert_hm, output is saved to home/ directory
and then when i run training, its output such as checkpoints are saved to home/cache/ directory.
this cause memory problem.
is there any way to change the output directory ?

thanks

[2020-08-15 20:40] vedanuj commented on #480
During training, you can save output to a different directory by specifying `env.save_dir=<path_to_your_new_directory>`. SImilarly if your data directory you want is different from the default directory then you can override it by specifying `env.data_dir=<path_to_your_new_directory>`

[2020-08-15 21:22] CCYChongyanChen commented on #453
Thank you for working on that! now I meet the error:
Traceback (most recent call last):
  File "/home/cc67459/MMF2/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/home/cc67459/MMF2/mmf_8_2/mmf/mmf_cli/run.py", line 118, in run
    nprocs=config.distributed.world_size,
  File "/home/cc67459/MMF2/lib/python3.7/site-packages/torch/mult

[2020-08-16 04:43] vedanuj commented on #453
What is the size of your `max_features` in config?

[2020-08-16 05:08] daniel3303 opened #481 "Whats the difference between coco.defaults and coco.resnet152?"
## ❓ Questions and Help

Hello,

I was wondering, what is the difference between coco.defaults and coco.resnet152?
I initially assumed that coco.defaults included the top 100 features per image extracted by Faster RCNN making them a tensor of (N, 100, 2048). I also assumed that coco.resnet152 represented the features extracted from the images using resnet152 making them a tensor of (N, 4096). Afte

[2020-08-16 05:16] vedanuj commented on #481
Yes they are resnet152 features.

[2020-08-16 05:17] vedanuj commented on #478
Can you try adding `--bypass_checksum` and rerun?

[2020-08-16 05:19] vedanuj commented on #479
Can you provide more details about your environment? And this should be reported as a bug.

[2020-08-16 05:21] daniel3303 commented on #481
Well my question was not very explicit. What I don't understand is how resnet152 extracts (100, 2048) features per image. I expected to get 4096 features from resnet.

[2020-08-16 05:43] CCYChongyanChen commented on #453
I didn't set the max_features in projects/movie_mcan/configs/vizwiz/defaults.yaml before this reply.
I set it to 608 now. However, it will cause "CUDA error: out of memory". Then I tried to set as small as the batch size, say 32, but it still report CUDA out of memory.

[2020-08-16 06:58] aryamansriram commented on #478
Yep, this solved it

[2020-08-16 06:58] #478 closed

[2020-08-16 09:23] mokadyr opened #482 "KeyError: 'captions'"
## 🐛 Bug

`-- Process 0 terminated with the following error:
Traceback (most recent call last):
  File "/private/home/mokady/mokady_intern2/mmf/mmf/common/report.py", line 70, in __getattr__
    return self[key]
KeyError: 'captions'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/private/home/mokady/.conda/envs/det2/lib/python3.8/si

[2020-08-17 13:03] chuanHN opened #483 "how to set env.data_dir when reproduce the hateful_meme baseline？"
## ❓ Questions and Help

I want to reproduce the baseline of the hateful memes. So I followed the steps in [README](https://github.com/facebookresearch/mmf/blob/master/projects/hateful_memes/README.md#prerequisites)
The steps I have done:
- Install mmf in my docker image.
- Download and unzip the dataset in some directory (/data/mmf)

But when I run the command
`mmf_run config=mmf/projects/hateful

[2020-08-17 16:33] apsdehal commented on #483
Hi,

As the error suggests, have you tried following the steps in https://fb.me/hm_prerequisites to register in hateful memes challenge, download the data and then run mmf_hm_convert command?

[2020-08-17 17:55] apsdehal commented on #482
Thanks for reporting this issue. We will take a look and get back to you.

[2020-08-17 19:58] mokadyr opened #484 "Size mismatch for testing movie_mcan"
## 🐛 Bug

`-- Process 0 terminated with the following error:
Traceback (most recent call last):
  File "/private/home/mokady/.conda/envs/det2/lib/python3.8/site-packages/torch/multiprocessing/spawn.py", line 20, in _wrap
    fn(i, *args)
  File "/private/home/mokady/mokady_intern2/mmf/mmf_cli/run.py", line 66, in distributed_main
    main(configuration, init_distributed=True, predict=predict)
  Fi

[2020-08-17 21:03] apsdehal commented on #482
Fix is to use beam_search configuration:
[code]
We should update the documentation to cover this.

[2020-08-17 21:04] mokadyr opened #485 "Pythia test/training - AttributeError: id"
Hi,
### 1. I tried to use pretrained model for Pythia for VQA 2.0 using the commands:

`wget https://dl.fbaipublicfiles.com/pythia/pretrained_models/vqa2/pythia_train_val.pth`

`mmf_run config=projects/pythia/configs/vqa2/defaults.yaml run_type=val dataset=vqa2 model=pythia checkpoint.resume_file=./data/pythia_train_val.pth env.cache_dir=./mmf2/ env.save_dir=./mmf2/`

But got the following error:

[2020-08-17 21:04] apsdehal commented on #484
We are aware of this. Marking this as duplicate of #453. @vedanuj  Have a look whenever you get time.

[2020-08-18 02:29] #485 closed

[2020-08-18 04:03] ariwaranosai commented on #479
source package in pypi don't contains with configs dir.
You can confirm this by downloading the  [mmf-1.0.0rc10.tar.gz (160.5 kB)](https://pypi.org/project/mmf/#files)
@AntoninaKOR setup.py install from source code is better way to walk around.

[2020-08-18 04:09] apsdehal commented on #264
MMF Pythia Demo should be working now at https://colab.research.google.com/drive/1Z9fsh10rFtgWe4uy8nvU4mQmqdokdIRR?usp=sharing. Closing this as fixed. We will later move this notebook to its proper place under MMF notebooks.

[2020-08-18 04:09] #264 closed

[2020-08-18 08:57] chuanHN commented on #483
@apsdehal Thanks for your reply.

Yes, I have tried the steps in https://fb.me/hm_prerequisites to register in hateful memes, download the data and unzip it using the mmf_hm_convert. I saved it in `/riseml/workspace/chuan/data/mmf_folder`. I use the riseml and ali cloud platform. Does it matter?

[2020-08-18 18:17] suzyahyah opened #489 "Poor Captioning/evaluation with pretrained butd model.pth"
## ❓ Questions and Help

#### Captionining
Captions generated using this command from #482  generate very poor captions:

`mmf_run config=projects/butd/configs/coco/beam_search.yaml run_type=val dataset=coco model=butd checkpoint.resume_file=<pretrained_models/butd.pth> evaluation.predict=true`

I used the butd model downloaded from:
`https://dl.fbaipublicfiles.com/pythia/pretrained_models/coco_ca

[2020-08-18 18:20] vedanuj commented on #489
Thanks for reporting this. There is some bug in the BUTD model. We will look into this.

[2020-08-18 23:31] vedanuj commented on #453
@CCYChongyanChen How many GPUs are you using and what's their memory?

[2020-08-19 00:14] #484 closed

[2020-08-19 01:22] apsdehal commented on #481
ResNet feature extraction code is available in this script: https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_resnet152_feat.py

[2020-08-19 01:23] apsdehal commented on #483
Please add this at the end of your command:

[code]
I believe the format is proper otherwise it won't work.

[2020-08-19 04:01] ariwaranosai opened #493 "build dataset for each worker for multi-machine distributed job"
add config to allow build dataset for each worker for multi-machine distributed job.

https://github.com/facebookresearch/mmf/blob/6b94a8be4c270ffa1edb4b1263787f38b370b74d/mmf/datasets/base_dataset_builder.py#L76-L78

now, build function only be invoked in master. This may cause issue when training job is running in multi machine.

Can we add a dataset config to allow replica build dataset themsel

[2020-08-19 06:18] apsdehal commented on #465
@mmiakashs Apologies for the late reply:

Here is an example that can get you up and running:
[code]

You can see how you can force the model to output what is necessary. Indeed, the UX can be somewhat better. We will keep that in mind in future.

[2020-08-19 06:20] apsdehal commented on #475
Please have a look at the colab. You can follow the instructions in it to implement your own dataset.

[2020-08-19 08:22] bl1211 opened #494 "Where is implementation code for models?"
## ❓ Questions and Help
Hello
I have a question about code.
there is a funtion as build_model(config) in mmf.utils.build.
this function get config and return model. I want to know what type is model? and where is its code?

then in mmf.trainers.core.training_loop there is a function as training_loop
in this function there is this statement: self.model.train()
Where is the code of the train method?

[2020-08-19 15:29] vedanuj commented on #493
Hi .. we use distributed data parallel to do multi machine training and the data sampler takes care of distributing the batch over multiple machines. Is there a use case that you are trying to solve that requires dataset to be built separately for each worker in DDP?

[2020-08-19 16:07] gireek commented on #475
Hi @apsdehal Is there a colab for loading a dataset on similar lines with the hateful memes dataset where there is an image and a text and you just have to classify it into multiple classes . Thanks

[2020-08-19 16:11] apsdehal commented on #475
No, we don't have such a colab at the moment. But if dataset is similar to hateful memes, you can just use its code? Also, OKVQA example is already multiple classes and probably be adjusted for your use case?

[2020-08-19 16:19] ariwaranosai commented on #493
In my case, I write my dataset and each worker needs cache data separately in their own disk in DDP model.

[2020-08-19 16:22] vedanuj commented on #494
Hi .. `model_name = config.model` will get the model name that you define in your config. All models are registered in the `registry` and depending on what you have specified a particular model will be loaded. Each model has a `build` method which gets called in the `build_model` method. The models are available under `mmf/models/` directory. You can follow  `mmf/models/base_model.py` and any mode

[2020-08-20 01:52] mmiakashs commented on #465
@apsdehal Thanks for the neat example. I believe it will help me a lot :)

[2020-08-20 01:53] #472 closed

[2020-08-20 05:46] amaterasu59 opened #496 "can't find any .pt or .pth file to convert into tensorflow"
## ❓ Questions and Help
you said that your model is powered by pytorch but I could not find any pytorch file. I wished to convert this model into tensorflow using ONNX. Any idea as to how I can do that?
P.S.: I am still a beginner in deep learning so please pardon me if this query is too beginner level. Thank you!

[2020-08-20 07:15] mokadyr opened #497 "Beam Search extend features size"
## ❓ Questions and Help

Hi,
For Inference over butd captioning model
When I use Beam Search with batch_size=1 I get Features size (5,100,2048) while there is only 100 bounding boxes, So the attention size is (5,100) which is what I would expect for batch_size=5.
I'm not sure why it is necessary, Beam Search should affect only the decoding right?

Using greedy or nucleus sampling decoding the Feat

[2020-08-20 12:25] XChuanLee opened #499 "What if the token doesn't belong to fasttext tokens (during m4c-textvqa project)?"
## ❓ Questions and Help
Thanks for this great framework.

Sorry for this bothering. How do you handle if the generated ocr tokens not in the vocab that the fasttext weights support? This confused me when I use my own ocr models.

Very grateful if you could reply at your convenience.

[2020-08-20 13:14] AjinkyaP1998 opened #500 "Why MMF for Facebook Memes Challenge"
Why MMF has been mentioned for the Facebook Memes challenge?
Is it necessary to use MMF for the competition?

[2020-08-20 13:23] gireek opened #501 "MMF training not saving model"
Problem edited below

[2020-08-20 13:30] #500 closed

[2020-08-20 14:25] vedanuj commented on #496
Hi @amaterasu59 .. which model and trained on which dataset specifically you want to convert to tf?

[2020-08-20 15:23] vedanuj commented on #501
Hi .. this model is not trained using mmf. So we won't be able to help with this. You can train or use models trained with MMF by following the [tutorial](https://mmf.sh/docs/challenges/hateful_memes_challenge) or [readme](https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes).

[2020-08-20 15:27] vedanuj commented on #497
Yes you are right .. it is not necessary to expand the feature dimension to 5. We do this in order to treat each path as a separate sample but it can be optimized to use just the same feature. Would you be willing to submit a PR?

We also have a batch beam search implementation in progress which will land soon and we won't be restricted to use batch size 1. [Here](https://github.com/facebookresear

[2020-08-20 15:32] vedanuj commented on #493
Ok got it. Our setup work with shared memory use cases. We can look into this. Feel free to take a stab at it and PRs are welcome.

[2020-08-20 15:38] gireek commented on #501
@vedanuj  What should I do if I have to load a dataset exactly like hateful memes and run training on it on MMF?

[2020-08-20 15:39] vedanuj commented on #501
Follow the prerequisites here : https://github.com/facebookresearch/mmf/tree/master/projects/hateful_memes#prerequisites

[2020-08-20 15:43] gireek commented on #501
Do I have to zip it in the format of MMF and run mmf_convert_hm ? and then run the following command with dataset as hateful_memes to train?

`mmf_run config=<REPLACE_WITH_BASELINE_CONFIG> model=<REPLACE_WITH_MODEL_KEY> dataset=hateful_memes
`

[2020-08-20 15:57] #453 closed

[2020-08-20 17:38] gireek commented on #501
I tried the following from https://github.com/apsdehal/hm_example_mmf:
`MMF_USER_DIR="." mmf_run config="configs/experiments/defaults.yaml"  model=concat_vl dataset=hateful_memes training.num_workers=0
`

also:
`mmf_run config="configs/experiments/defaults.yaml"  model=concat_vl dataset=hateful_memes training.num_workers=0  run_type=train_val`
because your docs here: https://mmf.sh/docs/challenges

[2020-08-20 17:56] gireek commented on #475
@apsdehal In my training case the last line in the logs is :

`/root/.cache/torch/mmf/wiki.en.bin 2020-08-20T17:28:04 | INFO | mmf.train : Finished loading fasttext model`

but the ./save/models folder is empty. No models have been saved.
I have also raised an issue here: https://github.com/facebookresearch/mmf/issues/501
Kindly check

[2020-08-20 18:38] gireek commented on #475
The kind of rows in train.jsonl in hateful memes dataset are like :
`{"id":13894,"img":"img\/13894.png","label":0,"text":"putting bows on your pet"}
`

but in my data they are like:
`{"id": 724, "img": "./img/724.jpg", "label": 2, "text": "KALE GREEN TEA "}
`

the difference being in the key "img" in the 2 rows. Can that be a problem because of paths?

Even the folder structure i have is same as t

[2020-08-20 18:38] gireek commented on #501
@vedanuj
The kind of rows in train.jsonl in hateful memes dataset are like :
`{"id":13894,"img":"img\/13894.png","label":0,"text":"putting bows on your pet"}
`

but in my data they are like:
`{"id": 724, "img": "./img/724.jpg", "label": 2, "text": "KALE GREEN TEA "}
`

the difference being in the key "img" in the 2 rows. Can that be a problem because of paths?

Even the folder structure i have is

[2020-08-20 19:03] vedanuj commented on #501
Can you show the `configs/experiments/defaults.yaml` that you are using?

[2020-08-20 19:12] gireek commented on #501
IT is this one:
https://github.com/apsdehal/hm_example_mmf/blob/master/configs/experiments/defaults.yaml

[2020-08-20 19:32] gireek commented on #501
This is what comes on the terminal:
[code]

Suprisingly the '^C' comes automatically in the last line. I amdoing this on Colab using GPU. The other issue is even on using GPU it gives this:

`/usr/local/lib/python3.6/dist-packages/mmf/utils/configuration.py:528: UserWarning: Device specified is 'cuda' but cuda is not present. Switching to CPU version.
`

[2020-08-20 19:55] mokadyr opened #503 "Train captioning model using Grid features"
## ❓ Questions and Help

Hi,
I wish to train captioning model using grid features
(similar to [In Defense of Grid Features for Visual Question Answering](https://arxiv.org/abs/2001.03615) )
Is it possible changing only configuration file?( I didn't a relevant configuration file)

[2020-08-21 01:08] amaterasu59 commented on #496
the deep learning model behind this website: https://vqa.cloudcv.org/. I guess this is their github repository: https://github.com/Cloud-CV/VQA. They have utilized the MMF framework. I wished to deploy the similar model but for an android app. Any guidelines as to how to do that? Thank you!

[2020-08-21 08:03] bl1211 commented on #494
thanks a lot.
Then It means each model has been implemented in `mmf/models/ directory`. right?
I found `build` method but i cant find `train` method in models implementation. Can you guide me for found its code? where is `train` method?

[2020-08-21 16:50] ajinkyap27 opened #504 "Do we get a file named "img.tar.gz" in the Hateful Memes Dataset ?"
## ❓ Questions and Help
The blog at https://www.drivendata.co/blog/hateful-memes-benchmark/ has the following mentioning :
-----------------------------
LOADING THE DATA
On the data download page, we provide everything you need to get started. Once you've downloaded and extracted the data, in addition to the license.txt and README.md you should see

**img.tar.gz** is the directory of all the memes

[2020-08-21 16:58] AjinkyaP1998 opened #505 "By the process 'extraction' does it just mean to extract files from the zipped format?"
## ❓ Questions and Help
In the prerequisites of Facebook Hateful Memes Challenge, the command `mmf_convert_hm --zip_file=x --password=y` is mentioned. If this is just a simple extraction of zipped files why do we need to execute using this command?
Can we just unzip it using certain unzipping software?

Secondly, after executing the command, the zipped file at the location x goes missing and is ex

[2020-08-21 17:03] #504 closed, assigned to nobody

[2020-08-22 02:40] lilyli2004 opened #507 "VilBERT output_attentions"
## ❓ Questions and Help

I'm trying to visualize attention over an image as described in #145, but to do that I need the attention weights. I see that in the VilBERT model_config there's a key for output_attentions, but setting it to true doesn't change anything so it seems that it's not actually being used.

[2020-08-23 14:01] AjinkyaP1998 opened #509 "Issue in training a model using Hateful Memes Data set"
## ❓ Questions and Help
For the Hateful Memes challenge, after downloading the data and converting it to the MMF format. I executed the following code for training a model:

`!mmf_run config=projects/hateful_memes/configs/mmbt/defaults.yaml \ model=mmbt \ dataset=hateful_memes \ training.log_interval=50 \ training.max_updates=3000 \ training.batch_size=16 \ training.evaluation_interval=500`

And i

[2020-08-24 13:23] gireek opened #510 "Tensors dimensions mismatch in the middle of training"
I am training on my dataset exactly like Hateful memes with an image and text wanting to classify it. THe only difference is number of classes and I change it in this file: https://github.com/apsdehal/hm_example_mmf/blob/master/configs/models/concat_vl.yaml from 2 to 5. The train.log has a couple of rows till 300/22000 but then the training stops and this error comes:
@apsdehal @vedanuj

[code]
Us

[2020-08-24 13:36] AjinkyaP1998 opened #511 "ValueError: Optimizer attributes must have a 'type' key specifying the type of optimizer. (Custom or PyTorch)"
## ❓ Questions and Help
After running the following code to train an existing model :

`mmf_run config=projects/hateful_memes/configs/mmbt/defaults.yaml model=mmbt dataset=hateful_memes training.log_interval=50 training.max_updates=3000 training.batch_size=16 training.evaluation_interval=500`

I get the following error :

`ValueError: Optimizer attributes must have a 'type' key specifying the type

[2020-08-24 15:37] gireek commented on #509
I am not really sure but my issue got solved when I reduced training batch size. Do try that.

[2020-08-24 15:45] #501 closed

[2020-08-24 15:46] vedanuj commented on #511
Can you provide your environment details?

[2020-08-24 15:49] vedanuj commented on #510
Can you log the dimension of the tensors before the concat step? There might be an odd sample that has dimension mismatch.

[2020-08-24 16:22] AjinkyaP1998 commented on #511
Environment details: @vedanuj

PyTorch version: 1.5.0+cu101
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Microsoft Windows 10 Home Single Language
GCC version: Could not collect
CMake version: version 3.18.0

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration: GPU 0: GeForce GTX 1050
Nvidia driver version: 419.72
cuDNN versio

[2020-08-24 16:35] gireek commented on #510
[code]

I printed the shape of all my images and saved in into a Python set. The value returned was {(256, 256, 3)} All my images were of shape 256,256,3

[2020-08-24 17:27] vedanuj commented on #507
Can you set this to true and try ? https://github.com/facebookresearch/mmf/blob/ab8d3f5ea2e88e8f4c22c8f3ec1e0b5798c99995/mmf/models/vilbert.py#L849

We should add this to config later

[2020-08-24 17:29] vedanuj commented on #510
I meant can you log the output dimensions of the encoders right before this line in concat_vl.py:

[text_features, image_features.squeeze()], dim=1

[2020-08-24 17:29] vedanuj commented on #511
We observed this problem earlier with Windows as well. Are you on the latest version of mmf?

[2020-08-24 17:32] gireek commented on #510
Do you mean like this:

[code]
or is there an MMF logger which goes into train.log?

[2020-08-24 18:52] AjinkyaP1998 commented on #511
I did ... I still get the same error: Here is the complete output:

`c:\users\acer\appdata\local\programs\python\python36\lib\site-packages\omegaconf\dictconfig.py:252: UserWarning: Keys with dot (../../../mmbt/configs/hateful_memes/defaults.yaml) are deprecated and will have different semantic meaning the next major version of OmegaConf (2.1)
See the compact keys issue for more details: https://g

[2020-08-24 21:41] lilyli2004 commented on #507
Thanks for responding. I tried setting it to true, it still doesn't return attention weights.

If I change every line in that file with output_all_attention_masks=False to True it returnes an array of Nones:

`{'attention_weights': ([None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None], [None, None, None, None, None, None]), 'scores': tensor

[2020-08-25 02:36] vedanuj commented on #511
Thanks. This might be similar to #295 . Can you try the solution provided there?

[code]

[2020-08-25 02:38] vedanuj commented on #510
Yes. This might be due to the logs not being logged by the master worker. Can you also check the log files for other GPUs? Those will be under the `logs` directory

[2020-08-25 02:40] vedanuj commented on #509
Can you provide a more detailed stack trace? Also please attach environment details for bug reports.

[2020-08-25 02:42] vedanuj commented on #503
The grid features for COCO are available. You don't need to create them. Those will be same as used by the [movie+mcan](https://mmf.sh/docs/projects/movie_mcan) model.

[2020-08-25 02:43] #480 closed

[2020-08-25 02:54] #496 closed

[2020-08-25 03:05] bl1211 commented on #494
thanks a lot

[2020-08-25 03:21] vedanuj commented on #446
#469 fixes this.

[2020-08-25 03:21] #446 closed

[2020-08-25 04:59] #494 closed

[2020-08-25 13:06] gireek commented on #510
Using Unix commands, I checked there was no other log file created in the system apart from:

[code]
These 2 log files. So will there be another way to log the dimensions?
@apsdehal @vedanuj

[2020-08-25 16:14] apsdehal commented on #510
If you just `print` it should come up in stdout. Your logger would only print to stdout by default. If you want mmf's logger, get it by `logger = logging.getLogger("mmf")`.

[2020-08-25 16:51] gireek commented on #510
@apsdehal

Even the code below did not create a log for the shape before the concat step. This is being changed in this file:https://github.com/apsdehal/hm_example_mmf/blob/master/models/concat_vl.py

[code]

[2020-08-25 17:30] apsdehal commented on #510
Can you try direct print, it should print in stdout console? We will have look at logger later.

[2020-08-25 17:52] gireek commented on #510
Sorry but print didnt work either. Nothing came in the stdout console.

[2020-08-25 17:54] apsdehal commented on #510
Actually, which version of MMF are you on? Can you tell git sha of MMF for you?

[2020-08-25 18:03] gireek commented on #510
[code]
returns 1.0.0rc10

[2020-08-25 18:06] apsdehal commented on #510
You need to install from source in your case.
Please update mmf by following these commands:

[code]

[2020-08-25 19:29] gireek commented on #510
Yes. That worked. It is logging now.
I have kept training batch size as 2
All the logs were like this:
[code]
I rechecked that all the text I was sending was non-empty.
but when the error comes the log is:
[code]

[2020-08-25 20:09] apsdehal commented on #510
Line https://github.com/apsdehal/hm_example_mmf/blob/master/models/concat_vl.py#L38 needs to be changed to

[code]

Would you be willing to open a PR?

[2020-08-25 20:18] apsdehal commented on #499
Closing as resolved. Please open up a new issue if you have more questions.

[2020-08-25 20:18] #499 closed

[2020-08-25 20:58] gireek commented on #510
Opened a PR

[2020-08-25 23:00] apsdehal commented on #510
Thanks. Can you confirm that this fixes your issue?

[2020-08-26 07:06] AjinkyaP1998 commented on #511
Hey @vedanuj , I followed the steps given in #295 and also executed the command :

`git clone --config core.symlinks=true https://github.com/facebookresearch/mmf.git`

and got the same error as mentioned in #295, which is :

`Cloning into 'mmf'...
remote: Enumerating objects: 112, done.
remote: Counting objects: 100% (112/112), done.
remote: Compressing objects: 100% (86/86), done.
remote: Total 1

[2020-08-26 07:51] apsdehal commented on #511
Can you check why you are getting permission denied on local. That seems odd.

[2020-08-26 08:55] amaterasu59 commented on #430
same issue with the installation:
**ERROR: Could not find a version that satisfies the requirement torch==1.5.0 (from mmf) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch==1.5.0 (from mmf)**

upon running the `python -m torch.utils.collect_env` command on command prompt:

C:\Users\user>python -m torch.utils.collect_env
Collecting environment informa

[2020-08-26 10:45] monkeysforever opened #515 "Pretraining VisualBert using custom dataset"
## ❓ Questions and Help
I want to pretrain VisualBert pretrained on COCO dataset on a domain specific custom dataset. Any help regarding how I should process would be most appreciated!

[2020-08-26 15:26] gireek commented on #290
Hi @vedanuj Does this kind of prediction work for hateful_memes as well when I trained a model and ckpt file is created?
like this:

`!mmf_predict config="configs/experiments/defaults.yaml"  model=concat_vl dataset=hateful_memes  run_type=test  checkpoint.resume_file=./save/models/model_2000.ckpt`

because it keeps on giving me this error(I am using on colab gpu):
[code]

[2020-08-26 15:33] apsdehal commented on #430
For windows, you will need to separately install these two version by specifying dependency links:
[code]

[2020-08-26 15:34] apsdehal commented on #515
Hi,

when you say you want to pretrain VisualBERT already pretrained on COCO do you want to do fine-tuning on a dataset or continue pretraining?

[2020-08-26 16:07] gireek commented on #510
Thank you. Training perfectly. Gives great validation accuracy as well.

`!mmf_predict config="configs/experiments/defaults.yaml" model=concat_vl dataset=hateful_memes run_type=test checkpoint.resume_file=./save/models/model_2000.ckpt`
Will this usage of mmf_predict work for prediction on test data?
If I have to write a custom predict function from where to apply all transformations on test image

[2020-08-26 16:14] monkeysforever commented on #515
Pretrain it further on a dataset relevant to the downstream task i want to finetune on.

[2020-08-27 18:11] apsdehal commented on #515
VisualBERT works on region features. So, you have to follow the steps below to achieve the further pretraining given that your images are new:
- Extract out the region features for your own dataset by using feature extraction script: https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py. Let's say you extracted your features in the folder x in the forma

[2020-08-27 18:13] apsdehal commented on #510
It seems like in your command you are evaluating on test data?

Following the classify function in MMBTHMInterface?

[2020-08-27 20:37] monkeysforever commented on #515
Thanks

[2020-08-27 20:37] #515 closed

[2020-08-28 06:42] ariwaranosai opened #520 "problem in lxmert get_image_and_text_features fn"
in get_image_and_text_features, position of box will be norm by following code

https://github.com/facebookresearch/mmf/blob/3f313b6878d3d0cb55882415445ba31ef8bfa291/mmf/models/lxmert.py#L677-L687

in line 680, if image_h and image_w is provided, image_location will be init with zero? is there should be copy of bbox?

[2020-08-28 18:54] gireek commented on #510
Hi @apsdehal Thanks for your response. I followed the MMBTHMInterface for loading my own checkpoint and I loaded it into model like you do in your demo. The only problem is in the concat_vl version there is no image_processor in the yaml file. But this line here: https://github.com/facebookresearch/mmf/blob/master/mmf/models/interfaces/mmbt.py#L70 asks for the image to go through a processor. How

[2020-08-28 21:02] vedanuj commented on #520
Yes it seems like a bug. We will fix it. Thanks for reporting.

[2020-08-29 06:57] aryamansriram opened #525 "Example notebook for running pretrained libraries from the mmf package"
## ❓ Questions and Help
Hi,
I checked out the tutorial which mentioned running model baselines from the command line. Is there an example notebook which mentions how to use them in code in case you wanted to improve the model?

[2020-08-30 09:13] akira-l commented on #219
meet the same problem for M4C in textvqa.
missing image_feature_1 in code now

[2020-08-30 09:18] akira-l opened #527 "No image_feature_1 in train/val/test of M4C textvqa"
## ❓ Questions and Help
Similar error in https://github.com/facebookresearch/mmf/issues/219 .

What exact data or packages I need to download in mmf for textvqa?  I have already download files mentioned in the introduction pages in https://github.com/facebookresearch/mmf/tree/project/m4c/projects/M4C , but I still get this error all the time for missing image_feature_1 in my input ( Sample class )

[2020-08-31 05:41] steph-en-m opened #528 "Modify `mmf_convert_hm` to copy dir rather than move it"
Currently running `mmf_convert_hm` moves the entire zipfile to a new location of the mmf dataset.
This isn't an ideal behavior for google-colab users where session storage doesn't persist.

Modifying the `mmf_convert_hm` method to instead create a copy of the dir to the new dir of the mmf converted dataset would be more ideal and allow for quick experimentation with mmf.

[2020-08-31 08:21] akira-l commented on #527
I think this is caused by some missing features, so I download all the features again. After download, the problem was solved.

If you meet the same problem, you need to check your features and find the newest version in this project.

[2020-08-31 08:21] #527 closed

[2020-08-31 11:21] #510 closed

[2020-08-31 20:15] apsdehal commented on #525
We don't have something specific as you asked for the tutorial. Do you have a model or a dataset in mind? Some context would help us to understand your use case better.

[2020-08-31 20:17] apsdehal commented on #528
Hi, that sounds good. Can you open up a PR to implement this?

[2020-08-31 20:24] apsdehal commented on #509
Closing this as there hasn't been a response and I believe recommendation to decrease batch size solves this. If the issue persists, please open up a new one with details.

[2020-08-31 20:24] #509 closed

[2020-08-31 20:24] steph-en-m commented on #528
Sure I'll implement and open a PR.

[2020-08-31 20:25] apsdehal commented on #238
With recent PRs, this should be fixed. Closing as resolved.

[2020-08-31 20:25] #238 closed

[2020-09-01 05:44] #520 closed

[2020-09-03 00:38] violetteshev opened #533 "Pretraining Visual Bert on masked VQAv2"
## ❓ Questions and Help
Hi, I'm trying to pretrain Visual Bert on masked VQAv2:
`mmf_run config=projects/pretrain_vl_right/configs/visual_bert/masked_vqa2/full.yaml run_type=train_val dataset=masked_vqa2 model=visual_bert`

And I get this error:
`AttributeError: 'MaskedVQA2Dataset' object has no attribute 'answer_processor'`

It happens because in MaskedVQADataset `self._add_answer` attribute is T

[2020-09-03 03:15] apsdehal commented on #533
Hi!

Yes, you are right. There is a PR open to fix this #529. You can patch it or wait until it lands.

Thanks for reporting the issue.

[2020-09-03 03:52] violetteshev commented on #533
Thank you!

[2020-09-03 03:52] #533 closed

[2020-09-03 05:40] akira-l opened #534 "generate json file from val set in M4C and only get 33.82 in evalutation"
## ❓ Questions and Help
I generated the json file from val set via evaluation_loop.py. (copied the code in test condition to the val condition)
Details:
I copied these code into val condition and got the json file.
`for batch in tqdm.tqdm(dataloader):
                    prepared_batch = reporter.prepare_batch(batch)
                    prepared_batch = to_device(prepared_batch, torch.device("cuda

[2020-09-03 05:42] akira-l commented on #534
I did not download the st-vqa feature for training, and only used the textvqa features in config file. So I use the path in my default path of textvqa.

the yaml config in joint_with_stvqa.yaml is
`dataset_config:
  textvqa:
    use_images: false
    use_features: true
    zoo_requirements:
    - textvqa.defaults
    - textvqa.ocr_en
    - stvqa.defaults
    - stvqa.ocr_en
    features:
      trai

[2020-09-03 05:52] xzChiang opened #535 "Pretrained models cannot replicate the experiment results in paper under run_type Val"
## ❓ Questions and Help
When I try to follow the experiment and replicate the experiment results, I found that the released pretrained models cannot replicate the experiment results in paper under run_type Val.

`CUDA_VISIBLE_DEVICES=0,1 mmf_run dataset=textvqa \`
`model=m4c \`
`config=projects/m4c/configs/textvqa/joint_with_stvqa.yaml \`
`env.save_dir=./save/m4c \`
`run_type=val \`
`checkpoint.re

[2020-09-03 10:13] steph-en-m commented on #455
@apsdehal  can I work on this?

[2020-09-03 11:52] rizavelioglu opened #539 "pretraining VisualBERT on COCO"
## ❓ Questions and Help

---
How one can pretrain **VisualBERT** (`bert-large-uncased`) on **COCO** dataset?

---

I've tried the following but no avail:

- I changed the [Line#155](https://github.com/facebookresearch/mmf/blob/24dedb1908333782de3a0ee54253b229c9a7218d/mmf/models/visual_bert.py#L155) in `mmf/models/visual_bert.py` and set `bert_config` to the following config ([as described in comme

[2020-09-03 13:41] arjondas commented on #475
Try:
!pip install --pre --upgrade mmf torch==1.5.0+cu101 torchvision==0.6.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html

Although I'm not sure if it's gonna break mmf

[2020-09-03 16:14] apsdehal commented on #455
@steph-en-m Sure. Go ahead!

[2020-09-03 16:26] apsdehal commented on #539
Hi, You want the dataset selected as `masked_coco` instead of `coco`. Also, I think instead of manually replacing in the code have you tried setting:

[code]

[2020-09-03 17:14] ronghanghu commented on #535
Hi @xzChiang, this seems weird. I just tried running this evaluation locally on a two-GPU machine, and got 0.4065 accuracy

[code]
Output:
[code]

One thing that might make a difference is that we have updated the TextVQA features (with a slightly different feature extraction mechanism) in https://github.com/facebookresearch/mmf/pull/375 (merged around 07/02/2020). While MMF should automatically c

[2020-09-03 17:20] ronghanghu commented on #534
Hi @akira-l, to debug the issue, could you first verify that the local evaluation results matches the expected accuracy? In particular, if you run the local evaluation script below using the released model, do you get the expected 0.4065 accuracy?

Evaluation script on the TextVQA validation set:
[code]

Expected output:
[code]

[2020-09-03 17:46] rizavelioglu commented on #539
Hey, thanks for the answer! Tried the following command:

[code]

but got the error:

---

Since I selected dataset as `coco` beforehand I downloaded `trainval2014.tar.gz` and `test2015.tar.gz` into the folder ` /home/riza/.cache/torch/mmf/data/datasets/coco/defaults/features`.

But, as the code points out, there's no file named `coco_trainval2014.lmdb`. Is that just a typo in the code?

[2020-09-03 17:49] apsdehal commented on #539
Yup, those needs to trainval2014.lmdb only. Can you open up a PR to fix that?

[2020-09-03 17:57] zdou0830 opened #540 "Any plan to include the VCR dataset?"
## ❓ Questions and Help
Thanks for this project! I'm wondering if you are planning to include the VCR dataset (https://visualcommonsense.com/download/).

[2020-09-03 17:59] apsdehal commented on #540
Hi @zdou0830,

No, we don't have any immediate plans to add VCR dataset, but feel free to create a PR for supporting it. We can help with that.

[2020-09-03 17:59] rizavelioglu commented on #539
Sure thing 👍 Will do the changes and open up a PR in a minute

[2020-09-03 20:53] s-sourav15 opened #542 "Trying to replicate the documentation concat_bert code"
## ❓ Questions and Help
I was trying to replicate the concat_bert code using the official documentation but during the training of the model i run into this error:
Traceback (most recent call last):
  File "/usr/local/bin/mmf_run", line 8, in <module>
    sys.exit(run())
  File "/usr/local/lib/python3.6/dist-packages/mmf_cli/run.py", line 111, in run
    main(configuration, predict=predict)
  File

[2020-09-03 22:16] vedanuj commented on #542
Can you provide more information about your environment and your run command?

[2020-09-04 05:00] ytsheng commented on #450
Fixed with #470

[2020-09-04 05:00] #450 closed

[2020-09-04 05:08] akira-l commented on #534
I get the similar problem in [https://github.com/facebookresearch/mmf/issues/535](url) when operating the original evaluation scripts.

[2020-09-04 05:09] akira-l commented on #535
I get the same problem. How to solve this ? Is there any configures or settings should be specially noticed or modified ?

[2020-09-04 05:57] ronghanghu commented on #535
@akira-l
Did you download the TextVQA features and M4C zoo models before #375 (merged around 07/02/2020)? If so, you can try manually deleting the old versions of the M4C zoo models and the TextVQA dataset, or move it to another location:
[code]

[2020-09-04 10:27] xzChiang commented on #535
@ronghanghu  ,Thanks for your answer.
Additionally, When the  `run_type=val` experiment finished, there are warnings in the log:
[code]
[code]
When the `run_type=train_val` experiment finished, there are similar warnings in log:
[code]
[code]
Will those warnings affect the experiment results ?  And how to solve those warnings?
Thanks again.

[2020-09-04 12:06] arjondas opened #543 "Pretraining VisualBERT on Hateful memes dataset"
## ❓ Questions and Help
Is there any way/config I can use to task-specific pretrain the "VisualBERT pretrained on COCO" model on Hateful memes dataset? I'm assuming that MMF's model zoo does not provide the task specific pretrained model.

Pretraining to be similar to masked language modeling with the image objectives. Looking for an MMF way of doing this.

[2020-09-04 13:05] xzChiang opened #544 "Cannont load 'bert-base-uncased' in transformer module: Weights from pretrained model not used in TextBert"
## ❓ Questions and Help
When I try to follow the experiment of M4C_Captioner Model:
[code]
Although it is finished, but the Log shows:
[code]
Actually, I have downloaded the `bert-base-uncased` and set the directory path.
Why are the weights from pretrained model not used in TextBert?
Will those affect the `run_type=val` results?
[code]

[code]
And the reuslt is weird.

[2020-09-04 15:33] ronghanghu commented on #535
@xzChiang @akira-l I'll look further into this. The warnings above should be fine and should not affect training or evaluation. (They are raised because the M4C model checkpoint is saved from an earlier Pythia/MMF version, and are loaded in the current version with backward compatibility.)

Meanwhile, could you verify the MD5 checksum of the features files (via `md5sum`), where `${MMF_DATA}` shoul

[2020-09-04 19:26] vedanuj commented on #543
Are you trying to pretrain on the the Hateful Memes Dataset? We usually don't pretrain on such a small dataset. In case you want to, you will have to create a Masked version of the Hateful Memes Dataset. Similar to masked_coco etc. Let us know if that answers your question.

[2020-09-04 19:57] #528 closed

[2020-09-04 22:26] s-sourav15 commented on #542
mmf_run config="mmf/configs/experiments/defaults.yaml"  model=concat_bert dataset=hateful_memes run_type=train_val
This is the command I use to run the code. Actually I run it on cloud (google colab).

[2020-09-06 01:39] vedanuj commented on #542
Can you try using this notebook : https://github.com/facebookresearch/mmf/blob/notebooks/notebooks/mmf_hm_example.ipynb and check if anything is missing in yours?

[2020-09-06 05:56] akira-l commented on #535
I check the MD5. There is no any mismatch in data or checkpoints.

[2020-09-06 07:11] akira-l commented on #534
same to the #535

[2020-09-06 07:11] #534 closed

[2020-09-06 07:20] akira-l opened #547 "Missing data in stvqa for M4C re-implememt"
## ❓ Questions and Help
I download the file in [https://dl.fbaipublicfiles.com/pythia/m4c/data/m4c_stvqa_obj_frcn_features.tar.gz](url) . But I get an error when running m4c with configure join_with_stvqa.yaml :
`TypeError: cannot unpack non-iterable NoneType object`  in features_database.py in line 68.

It seems the file I downloaded missing train/aa2e11c2f95b2dec.npy

How can I get the complete

[2020-09-06 07:44] s-sourav15 commented on #542
Now I am getting this error even after installing the mmf

ImportError: cannot import name 'Logger'

[2020-09-06 15:16] ronghanghu commented on #535
@akira-l thanks for the update. Unfortunately I still could not reproduce this error on my end. Could you share your PyTorch environment (the output of `python -m torch.utils.collect_env`)? Since your features correct and up-to-date, I suspect it could be due to some changes in PyTorch or other dependencies.

[2020-09-06 21:40] rizavelioglu commented on #539
Trying to pretrain VisualBERT (bert-large-uncased) on COCO dataset and running the code:

[code]

raises the following error:

<details>
<summary><b><i>See the full output</i></b></summary>

Traceback (most recent call last):
  File "/home/riza/anaconda3/envs/hateful/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/home/riza/mmf/mmf_

[2020-09-07 00:37] apsdehal commented on #539
Hi @rizavelioglu,

As the error suggests, please add `training.find_unused_parameters=True` at the end of your command.

[2020-09-07 08:13] rizavelioglu commented on #539
Hi @apsdehal,

Adding `training.find_unused_parameters=True` to the config yields:

This behaviour doesn't happen when VisualBERT is fine-tuned.

<details>
<summary><b><i>See the full error</i></b></summary>

Traceback (most recent call last):
  File "/home/riza/anaconda3/envs/hateful/bin/mmf_run", line 33, in <module>
    sys.exit(load_entry_point('mmf', 'console_scripts', 'mmf_run')())
  File "/

[2020-09-08 14:54] yakobyd opened #552 "Pretrained Weights For Large VQA Models"
Hello! I am currently using this repository for evaluation of several VQA models, thank you for sharing this code.

Some large models such as MoViE+MCAN, ViLBERT and VisualBERT require heavy computational resources to train (e.g. 8 TitanX GPUs, as reported in the ViLBERT paper). I tried to retrain these models on very small batch sizes, but (as expected) the results were very far from the ones rep

[2020-09-08 16:23] apsdehal commented on #552
Hi there,

To reproduce VisualBERT you can try 88k iterations, 56 batch size, lr = 5e-5, with warmup of 2000 steps with warmup_cosine scheduler. That should fit in about 2 GPUs with 16GB memory each.

For movie+mcan, we have the train+val model in the zoo: https://github.com/facebookresearch/mmf/blob/master/mmf/configs/zoo/models.yaml#L446

Tagging @vedanuj, he will let you know if we have any pla

[2020-09-08 16:26] apsdehal commented on #547
Hi there,
This is one of the files required for running joint_with_stvqa.yaml. The config should automatically download all of the requirements for you including the missing ones: https://github.com/facebookresearch/mmf/blob/master/projects/m4c/configs/textvqa/joint_with_stvqa.yaml#L8. Any particular reason, you are manually downloading these?

[2020-09-08 17:52] apsdehal commented on #544
Hi, we are looking into the lower scores. On the point of the TextBert not loading weights, the message is specifying the layers which were not loaded. We only load first 3 layers of BERT in TextBERT which are loaded and not present in the message.

We will get back with the updates on the lower scores.

[2020-09-08 18:58] #455 closed

[2020-09-10 13:31] rishika-99 opened #554 "Support For Dataset"
I wanted to know, Is there a way to use different dataset, with visual_bert.
As the mentioned datasets are :
![image](https://user-images.githubusercontent.com/70636475/92736336-d1947480-f397-11ea-977f-0d19abf383eb.png)How can I use some other dataset, other than these.  Is it possible to use a different dataset....

[2020-09-10 17:15] vedanuj commented on #552
@yakobyd We do not have any immediate plans to train a new model. In order to use large batch sizes with limited GPUs you can try using the `update_frequency` config to accumulate gradients and have a larger effective batch size. More details [here](https://github.com/facebookresearch/mmf/blob/a67ca624be60f15cee75842fb43de001729244ae/mmf/configs/defaults.yaml#L48). Let us know if this helps.

[2020-09-10 17:19] vedanuj commented on #554
Hi @rishika-99 .. In order to use other datasets, you will have to add dataset and builder classes for it. You can check how the existing datasets are implemented to get an idea. Here is a tutorial notebook that shows the steps to add a new dataset : [[link](https://github.com/facebookresearch/mmf/blob/notebooks/notebooks/kdd_tutorial.ipynb)]

[2020-09-10 17:29] rishika-99 commented on #554
Hi, @vedanuj,Thanks for your reply. I read that tutorial, But I was not sure how to use it with my dataset. My dataset has 4 images and text. But the tutorial explains, how a dataset with one image and multiple statements can be registered. Can you please suggest a way, to use my dataset with mmf.

[2020-09-10 18:52] ronghanghu commented on #544
@xzChiang thanks for reporting it! We noticed a discrepancy between our released M4C-Captioner model zoo file and the corresponding visual features on the TextVQA/TextCaps dataset. Note that it only affects the M4C-Captioner zoo models, and does not affect the TextVQA released M4C models. Also note that the "Weights from pretrained model not used in TextBert" warning it is okay and not an error, a

[2020-09-11 08:56] steph-en-m commented on #454
Can I work on this?

[2020-09-11 09:56] Rishika-Rathore opened #556 "FileNotFoundError: [Errno 2] No such file or directory: '/private/home/vedanuj/projects/pythia-internal/data/nlvr2/detectron_fix_100/fc6/train-9316-3-img0.npy'"
## ❓ Questions and Help
Can you please help with this error @vedanuj .....

![image](https://user-images.githubusercontent.com/34299068/92908034-7b7d0b00-f443-11ea-8c47-c1b3777ad95d.png)

[2020-09-11 21:02] apsdehal commented on #454
@steph-en-m Yes, go ahead.

[2020-09-12 06:55] #525 closed

[2020-09-13 19:34] vedanuj commented on #556
We will have to upload the features and other annotation files to our servers. Expect by end of this week.

[2020-09-13 19:41] rishika-99 commented on #556
Thanks ✌🏻✌🏻

[2020-09-13 19:42] Rishika-Rathore commented on #556
Thanks✌🏻

[2020-09-13 19:42] #556 closed

[2020-09-14 20:41] #80 closed

[2020-09-14 20:42] vedanuj commented on #80
#557 adds tests

[2020-09-16 12:06] gantoniou92 opened #566 "Pretraining LXMERT"
Hi,

It seems the following reported issue (KeyError: 'question_tokens') on pre-training LXMERT on Visual Genome persists.

https://github.com/facebookresearch/mmf/pull/339#issuecomment-672293055

I would be grateful for your help.

George

[2020-09-16 20:57] apsdehal opened #567 "[enhancment] SampleList should check device of tensor being added"
## 🚀 Feature

SampleList in all cases, (update, setattr) should check that the tensor or object being added has same device as sample list itself.

## Motivation

This minor oversight can cause issues later down the lane as .to may not move everything to device to keep checks shallow.
The validation check should happen at the add level itself.

## Pitch

Check device of tensor field if present and

[2020-09-17 23:55] mmiakashs commented on #465
@apsdehal I was trying to load the pretrained visual_bert model similar to the [snippet you given](URL). However, I was getting missing keys error. Does the model class or pretrained model is changed?

[code]

[2020-09-17 23:58] mmiakashs opened #569 "Missing keys in pretrained VisualBert model"
I was trying to load the pretrained visual_bert model similar to the [snippet is given here](https://github.com/facebookresearch/mmf/issues/465#issuecomment-675876026). However, I was getting missing keys error. Does the visual_bert model class or pretrained model is changed? Or am I missing anything? Thanks

[code]

[2020-09-18 01:07] vedanuj commented on #569
This is bug caused by a recent change. We are working on fixing it.

[2020-09-18 03:15] mmiakashs commented on #569
@vedanuj Thanks, could you please let me know which version can I install to use the pretrained visual_bert during this time?

[2020-09-18 05:25] vedanuj commented on #569
@mmiakashs Can you try reinstalling mmf from master? The fix has landed.

[2020-09-18 14:51] mmiakashs commented on #569
@vedanuj Thanks, it is working 😄

[2020-09-18 20:08] #569 closed

[2020-09-21 00:50] violetteshev opened #574 "CPU memory leakage"
Hi, I'm trying to pretrain Visual Bert on a cluster:
[code]

But after few iterations the job is killed due to exceeded memory:
[code]

I tried to increase allocated memory (up to 250 GB), but it's exceeded anyway after more iterations. So the memory keeps growing during training. Could you give me some guidance why it might happen?

[2020-09-22 02:08] CCYChongyanChen commented on #453
Sorry for the late reply. I am using 4 GPU with 11178MB per GPU.
Still having out of memory issues. I have tried to minimize the batch size but it still doesn't work.

[2020-09-22 03:11] vedanuj commented on #574
Hi .. Can you provide more details like a full stack trace?

[2020-09-22 03:12] vedanuj commented on #566
Will look into this issue.

[2020-09-22 12:41] webYFDT opened #577 "mmf documentation"
## ❓ Questions and Help
when I read mmf documentation  about "registry",the page can't found.

https://mmf.sh/docs/lib/common/registry
![截屏2020-09-22 下午8 41 31](https://user-images.githubusercontent.com/17585343/93883353-08617780-fd14-11ea-878a-c692ea061eb7.png)

[2020-09-23 07:33] violetteshev commented on #574
The code is running ok, there is no errors. But the job is canceled by slurm when it exceeds memory. I set up num_workers to 0 and now RAM memory is almost constant. I guess it somewhat relevant to this [issue](https://github.com/pytorch/pytorch/issues/13246#issue-375013234) so that maybe pytorch problem, not mmf.

[2020-09-24 03:28] CCYChongyanChen opened #578 "CUDA out of memory"
## ❓ Questions and Help
When running MCAN, I run into the CUDA out of memory issue.
My server has 4 GPU with 11178MB per GPU.
The code could run with Batchsize=16 but I think that batch size is not optimal...
Any trick for this? I think mmf have set inplace=True for all 'ReLu' also I see the use of torch.no_grad.
I don't know other simple ways to reduce memory use.

Also it says 10.21 GB already a

[2020-09-24 19:43] apsdehal commented on #578
Hi, MoVie+MCAN model was trained on 8 GPUs IIRC, if the default batch size doesn't work for you please use gradient accumulation to fit bigger batch sizes, by setting `training.update_frequency` parrameter accordingly.

[2020-09-25 10:53] gantoniou92 commented on #566
Also, is there a way to import pre-trained weights from original LXMERT paper into MMF instead? Thanks

[2020-09-25 12:18] akira-l commented on #547
I have to download this feature manually for some reason. I download the features via the link provided by the author of this repo, but still meet this problem.

[2020-09-28 00:31] mmiakashs opened #582 "Error to train the mmf tutorial ConcatBERT model"
I was trying to train the following tutorial ConcatBERT model: https://mmf.sh/docs/tutorials/concat_bert
However, I am getting the following errors. could anyone please let me know am I missing anything?

[code]

[2020-09-28 08:24] ChenyuGAO-CS opened #583 "Questions about ".lmdb" features"
## ❓ Questions and Help
Hi,
I want to use a new dataset to train VisualBERT. The scrept ["extract_features_vmb.py"](https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py) only can save features as ".npy" files, while the mmf needs ".lmdb" formate. How can I covert the ".npy" files to ".lmdb" files?

[2020-09-28 18:16] aggiejiang opened #584 "Use a new dataset with same format to hateful memes data on visual bert with coco"
## ❓ Questions and Help

I have a new hateful memes dataset based on old hateful memes dataset, both with the same data format and file name.

[code]
I put new files to the directory where `mmf_convert_hm` put files to.  When I run the model as the tutorial said, I met problem like

[code]

I am not sure what causes this KeyError, the dataset not achieving one-to-one mapping or it requiring to re-

[2020-09-28 18:51] apsdehal commented on #583
Hi,

Technically, MMF should work with .npy files as well. Let us know if you have any issue in that regard.

For the answer to your question, have a look at the script: https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/lmdb_conversion.py

[2020-09-28 18:51] apsdehal commented on #582
Thanks for reporting the issue. We are looking into it.

[2020-09-28 18:56] apsdehal commented on #584
Hi,

Can you provide more details on how you constructed this new HM dataset? I don't see an image with id: 670482 in original images.

[2020-09-28 19:14] apsdehal commented on #582
hi,

I think this is happening because there is a typo in the tutorial in the experiment config:
Instead of `trying` in `model_config`, it should be `concat_bert`.

Can you try with this experiment config:
[code]

We will open up a PR to fix this in docs.

[2020-09-28 19:24] aggiejiang commented on #584
the image with id 670482 is generated by the image with id 67048 in original images, by adding something new (like Gaussian noise, etc.

[2020-09-28 19:27] apsdehal commented on #584
Then, you will have to generate a new lmdb which also has features for this image that you generated.
Also, since the image has changed, you will have to generate new features for this images using https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py

[2020-09-28 19:38] aggiejiang commented on #584
Ok I see. So one more general question -- does this mean every time I need to use this script to generate and convert features if I want to use a new dataset for models?

[2020-09-28 20:02] apsdehal commented on #584
It depends on the model you are using. VisualBERT/ViLBERT work on feature level so you need to generate the features. MMBT works on image level so you can directly use it with images.

[2020-09-28 20:14] aggiejiang commented on #584
ok. Bert-based model is what I want to use. Thanks for your explanation!!

[2020-09-28 22:27] aggiejiang commented on #584
sorry to bother again. I meet a conflict when I am trying to extract new image features.

mmf requires torch 1.5.0 and torchvision 0.6.0, but maskrcnn can only run under torch 1.4.0 and torchvision 0.5.0

is there any method to solve this problem? Thanks.

[2020-09-28 22:30] #584 closed

[2020-09-28 22:32] apsdehal commented on #584
Follow these steps:
- Create a new conda environment
- Install MMF first in this environment
- Then install maskrcnn, MMF will work with these version of torch and torchvision, but MaskRCNN won't work with higher versions of torch and torchvision.
- Extract features, move back to your original env, create an LMDB.
- Update experiment configurations to point to new LMDBs
- Profit!

[2020-09-28 23:44] aggiejiang commented on #584
I follow this step but meet an error `KeyError: 'Non-existent config key: MODEL.BACKBONE.OUT_CHANNELS`, which seems the same as #113.

For maskrcnn, I install torch 1.4.0 and torchvision 0.5.0 by `pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html`. cuda version is 10.1

Is anything wrong during this process?

[2020-09-28 23:47] apsdehal commented on #584
Are you using the right maskrcnn_benchmark installation as specified in https://github.com/facebookresearch/mmf/blob/master/tools/scripts/features/extract_features_vmb.py#L3

[2020-09-29 00:11] aggiejiang commented on #584
yes. I follow the install file for maskrcnn. But I install pytorch and torchvision by using

[code]
instead of
[code]
other steps are all the same with the instruction.

[2020-09-29 00:31] apsdehal commented on #584
I meant you are not using the right maskrcnn_benchmark repo. It should be https://gitlab.com/vedanuj/vqa-maskrcnn-benchmark. The error you are seeing is because you are using actual `maskrcnn-benchmark`.

[2020-09-29 00:31] apsdehal commented on #584
Also, any particular reason you are using nightly build?

[2020-09-29 00:32] mmiakashs commented on #582
@apsdehal Thanks it is working perfectly now. Sorry, I should have to notice that.

[2020-09-29 05:04] mmiakashs opened #586 "mmf_predict change the order of the ids of test Hateful Meme dataset"
## Feature

I was trying to use mmf_predict to create the submission result csv file. I think the mmf_predict command changes the test ids order. That's why I got "IDs for submission are not correct" when I tried to submit the results csv file. Here is the five first ids I got from the result generated using mmf_predict: _16395,94180,97015,5429_ . However, the first five ids in the test.jsonl are:

[2020-09-29 14:54] mmiakashs opened #587 "VisualBERT Finetuning Error"
## ❓ Questions and Help
In mmf I was trying to extract the VisualBERT pretrained features. I used the VisualBERT model similar to [this one](https://github.com/facebookresearch/mmf/issues/465#issuecomment-675876026). First time I train and validate that model without any error. However, the next time when I try to re-train the VisualBert model I got the following error:

[2020-09-29 15:16] apsdehal commented on #587
Hi,
Please add `training.find_unused_parameters=True` at the end of your command. We will fix this in the config itself as this has now been reported multiple times.

[2020-09-29 15:19] apsdehal commented on #586
As shuffle is off for test dataset, it should technically return the same order as test.jsonl. We will have a look at what is happening.

[2020-09-29 16:10] mmiakashs commented on #587
@apsdehal Thanks, it is working now :)

[2020-09-29 16:10] #587 closed

[2020-09-29 16:16] mmiakashs opened #588 "Wandb Logger in mmf"
## ❓ Questions and Help
Does mmf support wandb logger? sorry if I miss any available information. I couldn't found this in the docs or code repo.

[2020-09-29 16:25] mmiakashs opened #589 "Adding Custom Losses"
## ❓ Questions and Help

I added a custom loss in the losses.py of mmf and also register that loss using @registry.register_loss("custom_loss"). However, the problem is I couldn't able to use that loss without reinstalling the whole mmf library. After reinstalling the mmf from the modified repo with custom_loss in the losses.py, I can use that loss. Otherwise, it gave not found a registered loss e

[2020-09-29 16:35] apsdehal commented on #589
hi, if you want to use MMF as a library then it is recommended to install from source but create your own project as user directory. See the option: https://github.com/facebookresearch/mmf/blob/master/mmf/configs/defaults.yaml#L210. An example of MMF based project which uses MMF as dependency is available at https://github.com/apsdehal/hm_example_mmf

[2020-09-29 16:36] apsdehal commented on #588
Hi, we don't support Wandb logger as of now. But, we are happy to accept PR for that. It should be easy to add by inheriting the logger object.

[2020-09-29 16:37] apsdehal commented on #542
This should be fixed with #585

[2020-09-29 17:02] aggiejiang commented on #584
nightly build requires python<3.8 but I use python 3.8.2 before. I change the version back to 3.7 and it seems ok to run. thanks for your tips!

Should I open a new issue for other errors? ('Segmentation fault' but the environment with enough memory)

[2020-09-29 17:04] apsdehal commented on #584
Yes, please open up a new issue. We like to keep issues self-contained.

[2020-09-29 17:26] aggiejiang opened #590 "Segmentation fault when runing extract_features_vmb.py"
## 🐛 Bug

[code]

## Command

[code]

I use faulthander to get a detailed traceback.

## Environment

 - PyTorch Version: 1.0.0.dev20190328
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Python version: 3.7
 - CUDA/cuDNN version: 10.1

Could you please give me any tip about this? Thanks!

[2020-09-29 23:42] vedanuj commented on #577
The link should be https://mmf.sh/api/lib/common/registry.html

[2020-09-30 06:05] vedanuj commented on #590
Which version of vqa-maskrcnn-benchmark did you install? Can you also try upgrading pytorch to latest version 1.6?

[2020-09-30 07:25] apsdehal commented on #590
I was trying to clone the vqa-maskrcnn-benchmark from scratch today and saw this error, this got fixed when I recompiled it with torch 1.6 and latest torchvision version. For brevity, here are the steps I followed:

[code]

[2020-09-30 23:07] g-luo commented on #589
How did you resolve the registered loss error? I'm getting the same issue with an unregistered builder object.

What command do we run to make sure that the registry is up to date, even though we have already run register_x() when creating a class?

[2020-09-30 23:32] apsdehal commented on #589
Hi,
(i) Are you registering the new builder under same name as one of the original ones that MMF provides?
(ii) Are you up mmf_cli.run programmatic API to run the job in colab?

[2020-09-30 23:39] g-luo commented on #589
(i) No, I'm using a unique name
(ii) I am using mmf_cli.run in colab
![Screen Shot 2020-09-30 at 4 37 49 PM](https://user-images.githubusercontent.com/36020488/94750632-5b05e980-033b-11eb-80a7-dfe085e16100.png)
![Screen Shot 2020-09-30 at 4 38 17 PM](https://user-images.githubusercontent.com/36020488/94750635-5ccfad00-033b-11eb-8eb8-8e9fd8efa998.png)

It seems to me that the registry is up to date

[2020-09-30 23:41] apsdehal commented on #589
What error do you see btw?

[2020-09-30 23:41] g-luo commented on #589
![Screen Shot 2020-09-30 at 4 41 38 PM](https://user-images.githubusercontent.com/36020488/94750813-d36caa80-033b-11eb-879e-c09df7e83e62.png)

[2020-09-30 23:46] apsdehal commented on #589
Interesting, did you try the kdd tutorial colab notebook? Did it work?

[2020-09-30 23:50] g-luo commented on #589
I did not; I have no idea if it works.

[2020-09-30 23:53] apsdehal commented on #589
Jupyter notebook is a runtime environment, so you need to do everything programmatically to make sure registry is updated. if you run without programmatic api, it will launch using the binary execution file which would have no idea about your runtime. Let us have a look at why isn't it working for you.

[2020-09-30 23:53] apsdehal commented on #589
Alternative way which I suggested to @mmiakashs is to create your own user_dir as in the example repo I shared above and use `MMF_USER_DIR` environment variable to specify where it is.

[2020-09-30 23:56] g-luo commented on #589
Would another valid workaround be defining my classes (and registering) in a python file?

[2020-09-30 23:57] apsdehal commented on #589
I ran the kdd_tutorial colab, it seems to work fine, did you run the cells in a sequence? (The cells that define the builder should be run before the mmf_cli.run cell)

[2020-09-30 23:57] apsdehal commented on #589
Yes. That would work. Let us know if it doesn't. But we should try to debug why colab isn't working.

[2020-09-30 23:58] g-luo commented on #589
Yes, I ran it sequentially; I can share the notebook I'm working on https://github.com/g-luo/foil_mmf

[2020-10-01 00:01] apsdehal commented on #589
Can you update the notebook with your latest code? I don't see the block for running the mmf_cli.run.

[2020-10-01 00:03] g-luo commented on #589
It's updated.

[2020-10-01 00:03] apsdehal commented on #589
Cool, thanks. Give us some time to have a look at this.

[2020-10-01 01:08] apsdehal commented on #589
Hi again,
I had a look at your jupyter notebook. I replaced your dataset in-place with a numbers dataset and it seems to be working for me. Can you make replace back your content in place into this colab notebook and try again: https://colab.research.google.com/drive/1bFO9FwrwA_5gVQZsrMhKL1CG9ute3BBw?usp=sharing

Also to download from dropbox you need to add `?dl=1` at the end of the url from drop

[2020-10-01 01:50] g-luo commented on #589
Yes, the Colab works. I think this is a multithreading issue in mmf_cli > run.py since the colab only uses one cpu, and if I comment out all multithreading in run() (while running on cluster with multiple gpus) the error no longer appears.

[2020-10-01 01:54] apsdehal commented on #589
Yeah, if you are using it in multithreading scenario, colab is not the way to go. Since multithreading will spawn a new process, it will lose all of the variables or changes from the parent. For multithreading scenario and if you are planning to add your code to a script and run using `MMF_USER_DIR` instead. Easier way to run only on 1 GPU is to set `CUDA_VISIBLE_DEVICES=0`.

I don't recommend com

[2020-10-01 01:54] g-luo commented on #589
Gotcha; thanks for all the help!

[2020-10-01 23:57] mmervecerit opened #593 "Downloading MMF Dataset - Checksum doesn't match & Cuda is not present"
## ❓ Questions and Help

Hi, I am trying to download HM dataset from drivendata, mmf_convert_hm gives

`AssertionError: Checksum of downloaded file does not match the expected checksum. Please try again.`

It also gives a user warning:

[code]

I tested twice in different machines, 1 Tesla T4 Colab Machine, the other is a VM with CPU(Using Conda, installed MMF from the source, Python 3.7 + Pytorch

[2020-10-01 23:59] apsdehal commented on #593
Hi,
MMF hasn't been updated according to new files. We will update it soon.

[2020-10-02 00:00] mmervecerit commented on #593
Thanks @apsdehal!

[2020-10-02 00:18] yangapku opened #594 "The movie_mcan.grid.vqa2_vg checkpoint in the model zoo cannot reproduce the reported score on VQA"
## ❓ Questions and Help
Hi, I tried to use the provided movie_mcan.grid.vqa2_vg checkpoint to reproduce the reported test-dev result (73.92) following this guide [link](https://mmf.sh/docs/projects/movie_mcan/). However, when I submitted the predicted result, I got a much lower evaluation test-dev score (overall 72.58, yesno 88.73, number 54.83, other 62.8). The score on number questions are espec

[2020-10-02 00:28] apsdehal commented on #589
Closing this as resolved for now! If new issue happens, please feel free to open up a new issue.

[2020-10-02 00:28] #589 closed

[2020-10-02 01:56] mmiakashs opened #596 "Experiments and Model Hyper-parameters Sweep on Slurm"
## ❓ Questions and Help

I was considering to conduct hyperparameters sweeps on slurm. I was following this tutorial: https://mmf.sh/docs/tutorials/slurm
Here, it was trying to sweep the experiments related to hyper-parameters (batch size/ learning rate). However, is it possible to conduct both experiments related to hyper-parameters (listed in exp_config.yaml) as well as model related hyper-param

[2020-10-02 16:39] #593 closed

[2020-10-02 21:02] vedanuj commented on #596
You can change the values of a `hyperparam` to a list for any model config parameters to sweep over those list values.

For example :

[code]

Does that answer your question?

[2020-10-02 21:40] mmiakashs opened #597 "Error in MMF weighted_softmax Loss"
## ❓ Questions and Help

I was trying to train the model using _weighted_softmax_ . I could train my model using mmf pre-defined _cross_entropy_ loss. However, when I switch to _weighted_softmax_ it gives me the following error. I tried to debug a bit, but no luck.

[code]

[2020-10-02 22:20] mmiakashs opened #598 "Warning in Loading VisualBERT pretrained weights in MMF"
## ❓ Questions and Help

I was trying to load VisualBERT weights from the pretrained model, key: _"visual_bert.pretrained.coco"_. I am confused about whether MMF could load the weights, as I got the following warning when it tries to load the weights. Is it an expected warning message for loading VisualBERT weights using MMF?

[2020-10-02 22:43] mmiakashs commented on #596
Thanks, @vedanuj for the explanation. I have very novice level questions: in the hyperparameters sweep, why do we need to add a prefix of _model_config_ in front of the _model_config_ hyperparameters, whereas we do not need to include the _exp_config_ in front of the exp_config parameters (in the above cases _batch_size_ and _lr_)? is it default behavior?

[2020-10-02 22:46] vedanuj commented on #598
Yeah that is an expected warning. This is the stage where during model init it tries to load the BERT model weights from transformers. You can ignore this. The checkpoint loading starts when you see this in your logs :

`mmf.utils.checkpoint: Loading checkpoint`

[2020-10-02 22:49] vedanuj commented on #596
You should check this tutorial about configurations to understand this in detail.

https://mmf.sh/docs/notes/configuration

[2020-10-02 23:19] mmiakashs commented on #598
@vedanuj Thanks. I didn't see that message in the log. I was trying to load VisualBERT pretrained model weight in the following way. Is it the right way to load the VisualBERT pretrained model weights?

[code]

[2020-10-02 23:28] apsdehal commented on #598
Yeah. This should load. Log that Vedanuj is talking about appears if you load using mmf_run and checkpoint utils.

[2020-10-03 02:23] yangapku commented on #594
Hi, may I ask whether there is any progress on this issue? Thank you! Besides, I notice that the config yaml for the downloaded checkpoint has some different options with the config trained by myself using the default config files (batchsize=512 max_features=100 compared with mine batchsize=64 max_features=1024). Is this model zoo checkpoint trained with different options and will that cause this

[2020-10-03 22:06] g-luo opened #600 "Issue Fine-tuning / Training on multiple GPUs"
## ❓ Questions and Help

Hello, I'm getting an issue when I'm trying to fine-tune on a system with multiple GPUs. It seems to load the custom dataset (foil) and pertained model (visual_bert.pretrained.coco) correctly, but when it starts running training I get this error:

![Screen Shot 2020-10-03 at 3 02 34 PM](https://user-images.githubusercontent.com/36020488/95002492-87af4080-0589-11eb-8783-d9f

[2020-10-03 22:08] g-luo commented on #600
Also random followup, but instead of this issue I get a "CUDA out of memory error" when training on one GPU. I tried decreasing the batch size, but for some reason the available memory would shrink as I adjusted that. Is there something else I should do to resolve this?

[2020-10-03 22:12] g-luo commented on #600
Here's my train.log as well:
[train.log](https://github.com/facebookresearch/mmf/files/5322359/train.log)

[2020-10-03 22:30] ajandrey commented on #264
But this is VQA.
This issue is about the Captioning Demo, that is still with error.

[2020-10-03 22:38] ajandrey opened #601 "BUTD Captioning DEMO is not working"
I saw a similar question in https://github.com/facebookresearch/mmf/issues/264 and it is improperly closed.

The error reported by others remains unresolved. The request was closed stating that the mmf demo was working (https://colab.research.google.com/drive/1Z9fsh10rFtgWe4uy8nvU4mQmqdokdIRR?usp=sharing.)

However, the MMF Pythia Demo does not do image captioning. Do you have a preview of the dem

[2020-10-04 01:26] apsdehal commented on #594
@yangapku We are looking into it. Expect a reply soon by our collaborator responsible for movie+mcan soon.

[2020-10-04 01:28] apsdehal commented on #600
For now, can you train with `training.num_workers=0`? We got aware of this bug recently and are looking into it. Thanks for your patience.

[2020-10-04 03:21] g-luo commented on #600
Thanks! That resolved the issue.

[2020-10-05 06:42] vedanuj commented on #594
@yangapku Can you try with this PR #604 and check if you can get test-dev score of 73.92 ?

[2020-10-05 07:00] yangapku commented on #594
Ok, I will have a try. Meanwhile, may I ask whether I need to apply this PR if I want to do training as well?

[2020-10-05 08:08] g-luo opened #606 "Loading Pretrained BERT Model"
## ❓ Questions and Help

Hello, I am trying to fine tune a text only BERT model.

I was wondering if there was a model in the model zoo I could use--I could only find a unimodal text model finetuned on hateful memes. I was also having trouble loading Base BERT given by Google since it has a ckpt.data-000... and ckpt.index file, and I wasn't sure how to load them.

For context, I'm just trying to r

[2020-10-05 08:31] vedanuj commented on #594
Yes, apply this to training as well.

[2020-10-05 10:14] yangapku commented on #594
Thank you the PR works! Now I get the test-dev score of 73.92. May I ask another question? If I want to train another movie+mcan model to reproduce the around 73.92 test-dev score (for model ensemble), do I need to change any default yaml configs of this project? I notice that the config yaml for the downloaded checkpoint has some different options with the default config files (batchsize=512 max_

[2020-10-05 14:55] NohTow opened #607 "Importing LXMERT pre-trained weights"
## ❓ Questions and Help
Hello,

I encountered a strange behavior while tuning LXMERT.
I tuned both ViLBERT and VisualBERT without any issues using pre-trained weight from the model zoo, yet LXMERT is not in the zoo.
So I trained LXMERT using `mmf_run config=projects/lxmert/configs/hateful_memes/pretrain.yaml model=lxmert dataset=hateful_memes`, yet I realized that it should be "vanilla" LXMERT (wi

[2020-10-05 16:24] vedanuj commented on #594
You should use the batch size=64 and max_features=1024 as provided in the defaults.yaml config. The batch size in the checkpoint config was used for inference. max_features=100 won't work sue to some later changes.

[2020-10-05 16:57] apsdehal commented on #606
Hi,

If you use unimodal_text model and include `configs/models/unimodal/bert.yaml` in your experiment config, you would get a text bert model initialized from bert-base-uncased checkpoint from Google. Let me know if something isn't clear in how to use it now.

[2020-10-05 16:58] apsdehal commented on #601
Hi,

We haven't fixed the captioning demo yet and this may take some time. In theory, you can take the changes applied on original Pythia demo to migrate it to MMF demo to captioning demo as well to get it working. Please expect a delay on resolution of this from our side. If you plan to fix it, feel free to open up a PR on the `notebooks` branch of MMF which hosts all example notebook code under

[2020-10-05 16:59] apsdehal commented on #597
Thanks for reporting the issue. We will check and fix it if required. Expect a response from us soon.

[2020-10-05 17:00] apsdehal commented on #600
I am reopening this issue until we fully fix it.

[2020-10-05 17:02] apsdehal commented on #598
I am closing this issue as resolved. Feel free to open up a new one if our response didn't resolve your question.

[2020-10-05 17:02] #598 closed

[2020-10-05 17:34] g-luo commented on #606
Thanks! For some reason I'm getting this error when I try running fine tune on the bert model--do you have any advice for where this is coming from?
<img width="571" alt="Screen Shot 2020-10-05 at 10 33 50 AM" src="https://user-images.githubusercontent.com/36020488/95112842-54d68b00-06f6-11eb-99bd-26b705f95e49.png">

[2020-10-05 17:36] g-luo commented on #606
Additionally, I had a question related to prediction -- I'm running prediction and I'm a little confused about the output files. I just see a bunch of new folders in the save directory with nothing in them. (eg one folder is names foil_visual_bert_9859962/reports) and there is nothing inside. I'm running the following command:
`
MMF_USER_DIR="." mmf_predict config="./configs/foil_experiment_config

[2020-10-05 18:57] ajandrey commented on #601
Thanks for the feedback, it was very useful for me. I have a question: does the image captioning task return a captioning assertiveness rate? I really need to see it. I'm trying for version 0.1 (Pythia) and also for the MMF version, but still without success. For example, when using the MMF VQA demo, it reports an accurate % for each object identified.
Is there an option for image captioning? That

[2020-10-06 00:02] vvmar opened #610 "Add yaml configuration support for collection type parameters"
## 🚀 Feature

Add yaml configuration support for collection type parameters.
## Motivation

Adam optimizer's 'betas' parameter is an example of a collection type parameter that is not support in the current version of the library via yaml config.
## Pitch
Introduce an extension to the syntax that allows specifying a collection type parameter with values supporting type conversion from strings.
Exa